[2017-12-04 23:20] rbitia opened #1 "[Azure] case sensitive in az aks install-connector command"
When deploying the connector you can only use lower case names. This is probably a k8 issue but it's documented here for now.

ria@Azure:~$ az aks install-connector -g connectorDemo -n cluster --connector-name aciconnectorRia
Merged "cluster" as current context in /tmp/tmpxlp3utzn
Deploying the aci-connector using Helm
Error: release aciconnectorRia failed: Secret "aciconnectorRia-aci-connector" i

[2017-12-04 23:27] rbitia opened #2 "kubectl logs support"

[2017-12-05 00:40] rbitia opened #3 "[HELM] Can't access chart for helm w/ az aks install-connector"
Sometimes files aren't created when using helm.

The error people get when using the command
'az aks install-connector -g <rg> -n <cluster name> --connector-name <name>
Error: file "https://github.com/Azure/aci-connector-k8s/raw/master/charts/aci-connector.tgz" not found

https://github.com/kubernetes/helm/issues/2071

Work around:
‘helm init’
‘helm repo update’

Assuming you are on windows naviga

[2017-12-05 18:20] bketelsen opened #5 "circle-ci changes"
circleci configuration should use the Makefile targets for build & test

[2017-12-05 18:20] bketelsen opened #6 "dockerfile changes"
the dockerfile should use the Makefile targets for building.

[2017-12-05 18:55] #6 closed, assigned to nobody

[2017-12-06 21:21] aaronwalker opened #12 "[AWS] implement provider for ECS and Fargate"
### Summary
Add a provider for AWS ECS and Fargate

### Description
Provide the ability to use kubectl to deploy a pod spec to AWS ECS and also to AWS Fargate.

It should be possible to support deploying to both native ECS and to Fargate using the same provider. There are only slight differences is the task definitions between the two.

[2017-12-06 21:22] aaronwalker commented on #12
I will mostly start working on an implementation of this in the coming weeks

[2017-12-06 21:23] jessfraz commented on #12
Awesome!!! Thanks can’t wait to see :)

[2017-12-06 21:40] rbitia commented on #12
Very exciting!! Let us know if you run into anything!

[2017-12-07 04:48] mumoshu opened #13 "Cluster Networking"
Hi, Thanks for starting the great project!

One of my concerns on this kind of solution for me is that the possibility to support cluster ndtworking i.e. pods served by virtual-kubelet are able to:

* Communicate with each other via pod and service IP regardless of where the pods are - real or virtual nodes
* Discover each other across real/virutal nodes

How would it be possible?
Are there any on

[2017-12-07 05:27] neilpeterson opened #14 "Issue running Helm chart"
When running the helm chart as described in the README.md file, the following is returned.

[code]

I do not think this is related, but if helpful, here are the values used with the chart. Are these correct?

- env.azureClientId - Service principal app id
- env.azureClientKey - Service principal password
- env.azureTenantId - Service principal tenant
- env.azureSubscriptionId - Azure subscription

[2017-12-07 09:46] tobilg opened #15 "[Marathon] Add a provider for Marathon / DC/OS"
## Summary

Add a provider for Marathon (and DC/OS respectively)

## Description

Provide the possibility to deploy a pod spec to an existing vanilla Mesos or DC/OS cluster running Marathon as scheduler.

## Questions

* Are there any details regarding networking between pods/services running in different environments/platforms? That's something I didn't understand, but I'm quite new to k8s

[2017-12-07 19:15] MarkWme commented on #14
The CHART_URL is incorrect. It should be:

https://github.com/virtual-kubelet/virtual-kubelet/raw/master/charts/virtual-kubelet-0.1.0.tgz

I set CHART_URL to that and it worked just fine.

[2017-12-07 19:17] zoidbergwill opened #16 "Docs on recommended way to do development"
It's awesome that this using `~/.kube/config` means it so smoothly works, even with `minikube`.

It'd be great to have something in the README or in a separate development doc on the recommended way to work on existing providers or new ones.

Maybe it's just cuz I'm a noob, but I'm not sure if I'm doing it right, but I basically did this:

[code]

[2017-12-08 18:35] rbitia commented on #16
I agree! Check back in for improvements in the coming weeks.

[2017-12-08 21:41] dbenhur commented on #12
@aaronwalker This is pretty cool.  I imagine you're going to need to translate pods to ECS Tasks as that's the only public way to launch on Fargate atm.  You might find this container translation tool useful with that https://github.com/micahhausler/container-transform

[2017-12-09 21:56] khenidak opened #19 "TLS bootstraping + Node Authorization"
Low Pri? tracking

Virtual kubelet needs to support [TLS bootstraping](https://kubernetes.io/docs/admin/kubelet-tls-bootstrapping/) and consequently [Node Authorization](https://kubernetes.io/docs/admin/authorization/node/).

[2017-12-09 22:22] khenidak commented on #13
@ritazh @sozercan
I will just try to list the use cases, Please correct me if i am wrong.

**From** | **To** | **Notes**
--- | ---| ---
Virtual Pod | External IP | Currently possible
Virtual Pod | LoadBalancer Service | Possible on external ip *(insecure if no protocol level security)*
Pod | Virtual Pod External IP | Implementation specific, requires that the actual implementation (Azure/AWS) expo

[2017-12-10 01:45] listonb commented on #14
Thanks to @MarkWme This has been fixed with PR #17

[2017-12-10 01:45] #14 closed

[2017-12-11 16:54] rbitia commented on #13
Hi @mumoshu,  @erikstmartin was going to look into why the current implementation of "Virtual Pods to LoadBalancer service" because the currently the virtual kubelet breaks the LoadBalancer and external IPs aren't provisioned for new K8 services. I'm sure you could jump in there too or try to knock down the rest of the use cases Kal listed out. Email me ribhatia@microsoft.com if you want to get in

[2017-12-12 02:08] yolo3301 commented on #1
Why this issue belongs here?

[2017-12-12 02:54] prateekgogia opened #20 "virtual-kubelet crashes when connecting to an existing Kubernetes cluster"
As soon as I start virtual-kubelet, it crashes with the traces below.
Cluster is not having any daemonset applications. My guess is K8S is trying to schedule kube-proxy and networking components to the virtual-kubelet. Is there any plan on how to support kube-proxy scheduling ?

Kubernetes version:
[code]

[code]

[2017-12-12 15:28] erikstmartin commented on #20
This happens when you have a daemonset in the cluster? Does it occur when there isn't a daemonset?

[2017-12-12 15:34] erikstmartin commented on #20
There may still be something with daemonsets, but the taint on the virtual-kubelet should prevent daemonsets from running on it. I checked the code that was throwing the nil pointer exception and did find a copy/paste error with ConfigMap volumes. I've pushed a fix for that, it likely will fix this crash you're seeing.

Please let me know either way.

[2017-12-12 22:15] yihleong opened #22 "Plan to support OpenStack provider?"
Any plan to include support for OpenStack provider?

[2017-12-13 00:43] prateekgogia commented on #20
Thanks for the response. I created a new Kubernetes cluster, at this point no user applications are running. Following are the pods running -

[code]

I added a log to capture more details in virtual-kubelet code, it was crashing because the kube-proxy gets scheduled as soon it connects.
I also verified your fix, the crash is gone. However, kube-proxy scheduling won't work. This will require using

[2017-12-13 16:19] resouer commented on #22
The best candidate providers are expected to has a container instance API like Azure ACI, AWS Fargate and hyper.sh.

I am not sure if it's possible in OpenStack? Pure Nova? While Nova VM instances startup time may be kinda slow. Nova-docker? Anyway discussion and contribution are always welcome!

[2017-12-13 23:54] yihleong commented on #22
What about OpenStack Zun?
https://wiki.openstack.org/wiki/Zun

[2017-12-15 01:23] robbiezhang commented on #5
https://github.com/virtual-kubelet/virtual-kubelet/pull/25

[2017-12-15 01:23] #5 closed

[2017-12-15 01:28] robbiezhang commented on #1
k8s only allows lowercase alphanumeric and dashes '-' in the name. In the latest `az aks install-connector` command, we add validator to enforce it. The command will fail and print an error:

[2017-12-15 01:28] #1 closed

[2017-12-15 19:48] resouer opened #26 "[Hyper] Issue tracker of hyper.sh provider"
Jimmy and I are refactoring and testing https://github.com/hyperhq/hyper.sh-connector-k8s with virtual-kubelet recently, so we just create this issue to track this part of work.

We will update the tracker periodically, and also figure out which API can not be implemented for now.

- [x] CreatePod(pod *v1.Pod) error
- [x] UpdatePod(pod *v1.Pod) error
- [x] DeletePod(pod *v1.Pod) error
- [x] GetPod

[2017-12-16 14:53] Raffo commented on #13
@rbitia I would also love to stay in touch with that even though I don't have many use cases for Azure itself (as I am not an Azure user myself for now).

[2017-12-16 15:47] EamonKeane opened #28 "GCP Provider?"
This looks very promising as 'serverless' without the limitations (lock-in, function duration, event-driven model, resource size flexibility, tooling) for batch jobs that are not latency sensitive.

Does anyone know if GCP plans to launch a container instance service? If they offered pre-emptible instances this could result in very low cost containers.

[2017-12-18 03:08] resouer commented on #22
Zun looks promising. So you can write a provider for it. We are working out a working group to discuss the expectations to "providers".

[2017-12-18 03:12] resouer commented on #20
@erikstmartin I also noticed there's DS scheduled to virtual-kubelet. What's the policy of what we allow/disallow running on virtual-kubelet?

[2017-12-18 07:55] kevin-zhaoshuai commented on #22
@resouer I'm from Zun project and focusing on connect Zun with Kubernetes, we are considering to add support for virtual-kubelet to make Zun as a container backend for Kubernetes user. @yihleong  welcome to work together on this ticket.

[2017-12-18 21:26] prateekgogia commented on #20
@erikstmartin @resouer Will it be fair to consider that the workloads/pods which will be running on the virtual-kubelet(s) are special pods. As a user I know the specific pods which I want to run on the virtual-kubelet backends and I can add tolerations to these workloads, or there can be a custom admission controller, which can add these tolerations.

When virtual-kubelet is run, it can have a `r

[2017-12-18 22:13] prateekgogia commented on #20
Sorry, just saw `--taint` is supported already in virtual-kubelet. So, now it just needs documentation on how to use it to avoid scheduling `kube-proxy` pods on this node and add tolerations to pods / workloads which are supposed to be scheduled on virtual-kubelet.

[2017-12-18 22:48] resouer commented on #20
@prateekgogia Yes, that's what i am referring to. Also what I try to make sure with @erikstmartin  is the best practice (which daemonSets dose do support) we want there, and add it to the doc

[2017-12-19 00:22] avranju opened #29 "Panics with "runtime error: invalid memory address or nil pointer dereference""
When I run `./virtual-kubelet --provider azure` I get this:

[code]

I tried fixing `resource.go` to add some `nil` checks in `incrementRefCounters` but that didn't seem to make a difference. I am a _go_ language noob so its probably just my lack of knowledge. Do we know what's going on here? I setup the environment variables for `ACI_REGION`, `ACI_RESOURCE_GROUP` and `AZURE_AUTH_LOCATION` as well

[2017-12-20 02:06] AceHack opened #30 "Create provider for Service Fabric"
Please create a provider that will allow service fabric to act as virtual kubelet.

[2017-12-20 02:07] AceHack opened #31 "Create provider for docker swarm"
Please create a provider that will allow docker swarm to act as a virtual kubelet

[2017-12-20 02:12] AceHack opened #32 "Create provider for 2nd Kubernetes Cluster"
Please add a provider that will allow a 2nd kubernetes cluster to act as a virtual kubelet provider.

In this use case, this seems a lot like one-way cluster federation.

https://kubernetes.io/docs/concepts/cluster-administration/federation/

Seems like if Cluster A added a virtual-kubelet to Cluster B and Cluster B added a virtual-kubelet to Cluster A then this is effectively federation.

Curious

[2017-12-20 02:13] jessfraz commented on #32
What is the use case for this? Or are you just coming up with ideas?

[2017-12-20 02:16] jessfraz commented on #31
I’m not sure if a good use case for virtual kubelet is orchestrating other orchestrators? Seems like you’d want CRI-O then.

[2017-12-20 02:16] AceHack commented on #32
It's basically the same use case as one way Federation.  I have AKS cluster, GKE cluster, Amazon EKS cluster, and an on-premises cluster.  I would like to be able to have some level of control of all of them from a single cluster interface.

[2017-12-20 02:17] jessfraz commented on #32
Then why not use Federation?

On Tue, Dec 19, 2017 at 21:16 Aaron Stainback <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-12-20 02:20] AceHack commented on #31
CRI-O seems to be targeted at running a single container not being a "virtual machine" capable of running multiple containers, these are two different scenarios.  Thanks.

[2017-12-20 02:37] jessfraz commented on #31
PRs are welcome if you want to send one, thanks!

On Tue, Dec 19, 2017 at 21:20 Aaron Stainback <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-12-20 02:55] AceHack opened #33 "Please provide IoT Edge/AWS Greengrass like virtual-kubelet"
I could see a few options for this

1) Take advantage of IoT Hub/Edge servers and device runtime and just implement a virutal-kubelet that takes advantage of it.  Since right now IoT Edge seems to not allow any arbitrary container but needs it to adhere to a specific module interface this might not be ideal.
2) Take advantage of AWS Greengrass, this has similar drawbacks to IoT Hub/Edge.
3) Create

[2017-12-20 03:01] AceHack opened #34 "Please create matrix of limitations"
I found this on the old project site.

Limitations:
ConfigMaps
Secrets
ServiceAccounts
Volumes
kubectl logs
kubectl exec

Please create a feature matrix that contains native real kubelet features, potential virtual-kubelet features as defined by the virtual-kubelet interface, then features for specific implementations.  This will help with tagging and taint so deployment can be scoped accordingly.

[2017-12-20 03:28] AceHack commented on #34
Also when it comes to networking this is a good starting point, should be made first class in the documentation/limitations matrix.

https://github.com/virtual-kubelet/virtual-kubelet/issues/13

Would be nice to break it out by K8s names like ClusterIP, NodePort, LoadBalancer, Ingress, ExternalName, and ClusterIP=None

https://kubernetes.io/docs/concepts/services-networking/service/#headless-servi

[2017-12-20 03:41] AceHack commented on #32
@jessfraz For a few reasons,
#1 federation is very immature at this point (I know this project is too).
#2 I'm not sure if the managed K8s offerings like AKS, EKS, and GKE are going to allow federation it's unclear if it can be set up without the support of the cloud provider.
#3 it requires a global authoritative DNS zone like google or amazon dns.
#4 It's way more complicated.

This could solve

[2017-12-20 03:44] AceHack commented on #32
This could provide for a great provider reference example since it can have the most support out of the box.  Things like ACI and other provider will often lag behind what's possible until their PaaS vender adds needed support like volumes.  K8s already fully supports Kubelets so this would be a great starting point for a reference implementation of virtual-kubelets.

[2017-12-20 10:13] rimusz commented on #28
for now preemptible container optimised OS with specified docker image could be used

[2017-12-20 10:15] rimusz commented on #32
I like @AceHack idea, and he is right federation is very unmature yet

[2017-12-20 12:33] jessfraz commented on #32
Seems like one of you should open a PR then! Thanks!

[2017-12-20 17:20] rbitia opened #36 "Definition of a provider"
Create a definition of what it means to be a provider for Virtual Kubelet.

Some examples:
A provider is a company, or organization with a "Pods as a Service" service that they provide to customers.

A provider is anything that can replicate the create, delete, and more to what the Virtual Kubelet interface offers.

[2017-12-20 17:22] rbitia commented on #34
Working on this! Thanks! :)

[2017-12-20 20:27] rbitia commented on #34
#37

[2017-12-20 23:00] AceHack commented on #34
@rbitia This is a great start.  It would be great to get this broken out by a provider like the Pure Interface Limitations, Azure Limitation, Hyper.sh Limitation.

Also under limitations, don't specifically point out volume limitation, you point out what volume types you support but not which ones you don't support.

Also getting the networking piece added would be very helpful as well.

Specifica

[2017-12-22 18:25] Raffo commented on #12
With the only objective of hacking around for a few minutes, I get an ecs/fargate integration running for the only `CreatePod` part... it's highly incomplete but it can be used for a starting point of such implementation, you can find it here: https://github.com/Raffo/virtual-kubelet/tree/master/providers/ecs .
It would be interesting to discuss what would be the natural way of integrating such se

[2017-12-22 18:28] Raffo opened #39 "Writing back information to a pod"
Maybe I'm too dumb to figure it out, but it looks like that the current implementation of virtual-kubelet does not allow us to use the Pod to write some information that could ease the mapping between a Pod in Kubernetes land and the resource in the provider.
I would envision storing some annotation to actually make the mapping between the two different system much easier (i.e. the ARN of a task i

[2017-12-22 21:31] sioakim opened #40 "Pod scheduled at Windows kubelet should not mount any secret volume"
[error.log](https://github.com/virtual-kubelet/virtual-kubelet/files/1583501/error.log)
I use the attached xml to deploy to Windows kubelet.

The windows kubelet should accept nodes for "beta.kubernetes.io/os": "windows"

From "describe node I get:"
Labels:             beta.kubernetes.io/os=windows

I get error:
No nodes are available that match all of the following predicates:: MatchNodeSelector

[2017-12-22 21:38] sioakim commented on #40
FYI - i just replaced the attached xml with nginx and Linux and worked instantly.

[2017-12-22 22:17] robbiezhang commented on #40
@sioakim, can you double check the Linux pod runs on the virtual-kubelet for Linux?

The virtual-kubelet node has the taints "azure.com/aci:NoSchedule". If you want to schedule a pod to the virtual-kubelet, you need to add the following tolerations to your pod spec:

  tolerations:
  - key: azure.com/aci
    effect: NoSchedule

Seems like the example is missing this section. I'll update it.

[2017-12-22 23:20] sioakim commented on #40
You are right - the linux one started on the k8s node. I had some other example apparently that had started it on the ACI.

Can you please provide an example for Windows as well?

The below doesn't work for example:

[code]

[2017-12-23 06:24] AceHack opened #41 "Can't get Load Balancer IP for any service when installed"
I followed the updated documentation that was supposed to fix this by creating a more powerful service principle this but I still get this error.

Any service with external IP I try to deploy just stays pending forever

az ad sp create-for-rbac --name sp-arch-aks-aci --role=Contributor --scopes /subscriptions/{subscriptionid}/ --password {password}

When I look at the logs for

helm install --name

[2017-12-23 06:26] AceHack commented on #41
This was my original issue

https://github.com/Azure/AKS/issues/81

[2017-12-23 06:28] AceHack commented on #41
Here is my new error

Error creating load balancer (will retry): Failed to ensure load balancer for service jenkins/romping-leopard-jenkins: [ensure(jenkins/romping-leopard-jenkins): lb(kubernetes) - failed to ensure host in pool: "compute.VirtualMachinesClient#Get: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error. Status=404 Code=\"Resourc

[2017-12-23 06:44] AceHack opened #42 "Virtual Kubelet causes AKS upgrades to fail"
If you install virtual kubelet it will cause AKS upgrade failures

See issue

https://github.com/Azure/AKS/issues/83

[2017-12-23 07:17] AceHack opened #43 "Consider sidecar support"
I would like to be able to launch sidecars that are localhost to each other

[2017-12-23 08:12] sioakim commented on #40
Specifically the error for the above is:

2017/12/23 08:11:18 Error creating pod 'iis': api call to https://management.azure.com/subscriptions/9debe65e-7de1-48d8-9b1b-c22d8ef23c75/resourceGroups/SI-Containers/providers/Microsoft.ContainerInstance/containerGroups/default-iis?api-version=2017-12-01-preview: got HTTP response status code 400 error code "SecretVolumesNotSupportedInWindows": Secret vol

[2017-12-27 09:21] sioakim commented on #40
Updated to 1.8.2 (from 1.7.7) and the issue still persists.
I haven't been able to schedule a Windows container.

Anyone has been successful with Windows containers or no one has tried it?

[2017-12-27 10:24] radu-matei opened #44 "[Azure] Azure SDK for Go, update ACI"
Hi, everyone!
First of all, this is a really awesome project, congrats!

Now I have a couple of questions regarding the Azure Container Instance provider:

- why did you write your own client for ACI and not use the SDK?
- as far as I last tried, ACI supports update - I am currently working on a sample and would love to contribute here 😄

Thanks,
Radu M

[2017-12-27 20:31] robbiezhang commented on #41
This is a known issue. The current workaround is to create an external service before install the virtual-kubelet.

I'm looking into the upstream code these days, seems like adding this label

[2017-12-27 21:08] robbiezhang commented on #44
ACI supports "update" recently, after the current version virtual-kubelet is implemented. It's on our backlog to support "update" in virtual-kubelet, but you are welcome to contribute.

We didn't use the existing SDK for ACI because the available SDKs are based on api-version 2017-10-01-preview. It doesn't support secret volume, which is very important for the virtual-kubelet. So, we used the auto

[2017-12-27 23:28] robbiezhang commented on #40
@sioakim, short answer: you can add `automountServiceAccountToken: false` into your pod spec to workaround the issue.

The root cause is that k8s doesn't support secret volume for Windows. So, ACI forbids it in the API. However, the virtual-kubelet simulates the default service account for pod by using the secret volume. This is a bug in the ACI provider. I'll update the title to track it.

[2017-12-27 23:35] robbiezhang commented on #40
Upload the [example](https://raw.githubusercontent.com/virtual-kubelet/virtual-kubelet/master/examples/nginx-pod.yaml). It works for me.

[2017-12-27 23:46] robbiezhang commented on #39
@Raffo, thanks for the feedback. The annotation is a good use case. @erikstmartin, thoughts?

[2017-12-28 02:44] kevin-zhaoshuai commented on #22
I will do this now

[2017-12-28 11:37] arapulido opened #46 "[Hyper] If the config file is not set, hyper provider will crash when pulling images"
The AuthConfig is only set when there is a config file (and the env variables for key and secret are not set), but it is used by ensureImage nevertheless.

Steps to reproduce:

 * Set HYPER_ACCESS_KEY and HYPER_SECRET_KEY env variables
 * Create a pod using an image that you haven't pulled yet

Result:

The Hyper provider crashes:
[code]

[2017-12-29 04:25] DazWilkin opened #48 "Solution for `No Auth Provider found for name "gcp"`"
I'm hacking a (Docker) Provider to explore virtual-kubelet but encountered this error when attempting to start the virtual-kubelet against a [GKE](cloud.google.com/gke) ("gcp") cluster.

The solution is to add the following GCP-specific auth to the Provider

`_ "k8s.io/client-go/plugin/pkg/client/auth/gcp"`

Thank to https://github.com/kubernetes/client-go/issues/242

[2017-12-29 04:30] DazWilkin opened #49 "Adding a New Provider -- a missing step"
The Readme defines adding a new Provider as "Create a new directory for your provider under providers and implement the following interface. Then add your new provider under the others in the vkubelet/provider.go file."
https://github.com/virtual-kubelet/virtual-kubelet#adding-a-new-provider-via-the-provider-interface

It's also necessary to extend the switch in vkubelet.go with an alias to the ne

[2017-12-30 09:11] writeameer opened #50 "[Azure] The 'MemoryInGB' request is not specified"
Hi there,

Just trying to follow the docs in the README and ran the following command

[code]

I'm getting the following error:

[code]

Something about the "MemoryInGB" in the container group not being specified and being required in the preview. Any pointers in the right direction would be greatly appreciated.  Thanks so much.

Ameer

[2018-01-02 11:31] arapulido commented on #46
Closing this issue, as the fix was already merged

[2018-01-02 11:31] #46 closed

[2018-01-02 22:26] rbitia commented on #50
@neilpeterson that's actually a restriction we have within ACI. You can only deploy up to 20 instances within 5 minutes. We can up the limit for you though!
@writeameer can you upload your yaml file? I'm guessing you haven't specified a mem/cpu limit for the container but either way we should make some default restrictions for the Azure integration of VK.

Thanks!

[2018-01-02 22:54] robbiezhang commented on #50
@neilpeterson for your first issue, please use G instead of Gi in the resources.requests field:

ACI follows the kubernetes [meaning-of-memory](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-memory), but only supports the granularity of 0.1G

[2018-01-03 00:13] neilpeterson commented on #50
@rbitia - no worries on upping the limit if 20 for me. This seems to only have been an issue during a filed deployment.

As for default capacity values, it looks like some work has gone into this already?

https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/aci.go#L85

@robbiezhang - thanks, this fixed my issue.

[2018-01-03 07:45] sioakim commented on #40
Thank you - works with the workaround.

[2018-01-03 21:33] rbitia commented on #34
Gotcha thank you for the feedback! Work in progress

[2018-01-03 23:14] rbitia commented on #28
GCP doesn't have a "pods as a service" like product yet.. We will visit creating a provider once they do so closing this issue for now! Thanks!

[2018-01-03 23:14] #28 closed

[2018-01-04 00:17] rbitia commented on #29
Hi are you still getting this issue?

[2018-01-04 00:29] robbiezhang commented on #29
@avranju, can you check which pod is assigned to the virtual-kubelet node, and send us the spec?

[2018-01-04 01:32] avranju commented on #29
This issue appears to have been fixed in [this commit](https://github.com/virtual-kubelet/virtual-kubelet/commit/b870ac2eaa1cf79e7db2fdf473df9f66c194c255) now. I think its safe to close this. I am a tad more _go_ lang aware now and was able to patch this and get it to work as well. Thanks!

[2018-01-04 01:56] robbiezhang commented on #29
thanks

[2018-01-04 01:56] #29 closed

[2018-01-04 15:56] #2 closed

[2018-01-04 17:43] rbitia opened #51 "[Azure] Windows connector deploys 2 nodes rather than 1"
I deployed the windows connector using the az cli. I already had the linux connector deployed but then the windows one deployed both the windows and linux connector rather than one.

Rias-MacBook-Pro:examples riabhatia$ az aks install-connector -g virtualKubelet -n virtualK8sCluster --connector-name windows-connector --os windows
Merged "virtualK8sCluster" as current context in /var/folders/p2/6xn

[2018-01-04 17:47] rbitia opened #52 "[Azure] Removing the connector doesn't remove the node"
I removed the windows connector with the az cli and it removed the pod for the windows connector but not the 2 nodes it had also created.

Rias-MacBook-Pro:examples riabhatia$ az aks remove-connector --resource-group virtualKubelet --name virtualK8sCluster --connector-name windows-connector
Merged "virtualK8sCluster" as current context in /var/folders/p2/6xnh48154w5_g8k_8pkfvkhm0000gn/T/tmpreiq5g8

[2018-01-04 18:53] robbiezhang commented on #52
Kubernetes will remove the node automatically if the node doesn't update its status in 30 seconds. So, after you remove the connector pod, the virtual node will disappear in 30 seconds.

[2018-01-04 19:02] rbitia commented on #52
Ah yes I just double checked that.

Thanks! I'll close this.

[2018-01-04 19:02] #52 closed

[2018-01-05 00:47] robbiezhang opened #54 "[Hyper] Build Break after Run "dep ensure""
After I use the `dep ensure` to rebuild the vendor folders, files in the vendor/github.com/hyperhq folder change a lot, and cause build break:

[code]

`dep ensure` re-sync the code from github. However, the hyperhq code in the vendor folder doesn't match the github [one](https://github.com/hyperhq/hypercli)

[2018-01-05 01:03] resouer commented on #54
Will take a look, thanks for report.

[2018-01-05 18:46] #54 closed

[2018-01-05 23:20] rbitia commented on #51
This is the old connector in typescript - I wasn't running the latest version of the CLI. Closing for now

[2018-01-05 23:20] #51 closed

[2018-01-05 23:21] rbitia commented on #43
Sidecard work with the ACI implementation and we talked today about that:) Closing this comment for now if there's no more questions on it!

[2018-01-11 06:28] bnookala commented on #41
Hi @robbiezhang, @rbitia, @ritazh asked me to take this on - just a heads up :D

[2018-01-11 19:01] robbiezhang commented on #41
@bnookala, thanks for picking this up.

[2018-01-12 18:31] rbitia opened #59 "[Azure] remove-connector functionality"
I'm trying to remove the aci connector through the command line and I've forgotten what I named my connector but I'm not able to figure out what I named it through the az commands.

I'm pretty sure I named it linux-connector but helm can't find the release.

Rias-MacBook-Pro:local riabhatia$ kubectl get pods -o wide
NAME                                             READY     STATUS    RESTARTS   AG

[2018-01-17 21:04] rbitia commented on #59
This happens if you are using the new version of the cli to delete the old connector..

[2018-01-17 21:04] #59 closed

[2018-01-17 21:05] rbitia commented on #50
@writeameer Were you able to fix your issue with specifying the resource amounts in the pod spec? If so I'll close this issue!

Thanks

[2018-01-17 21:06] #43 closed

[2018-01-17 21:06] rbitia commented on #42
I'll test this out and see what's going on here. Thanks!

[2018-01-18 02:14] yolo3301 commented on #50
@writeameer This is actually caused by daemon set. I assume you're using aks, which will create 2 daemon sets by default. I ran into the same issue. A workaround is to specify `--taint` when you start virtual-kubelet. And in your pod template, specify `toleration` for the taint.

[2018-01-18 23:07] rbitia commented on #41
Thanks!

[2018-01-18 23:08] rbitia commented on #42
Alright so upgrading your AKS cluster w/ the ACI Connector installed does work as I just tried it! But the Connector has a bug where any service that's deployed will not be provisioned an IP from the load balancer-> though that issue is being tracked here #41. I'll close this issue for now, unless you have any other issues with upgrade in the context of the Connector.

[2018-01-19 01:45] rbitia opened #63 "[Azure] VK crashing"
Installed the connector last week and now it's crashing:

goroutine 1 [running]:
github.com/virtual-kubelet/virtual-kubelet/manager.(*ResourceManager).incrementRefCounters(0xc42005dea0, 0xc42024d180)
        /go/src/github.com/virtual-kubelet/virtual-kubelet/manager/resource.go:260 +0xda
github.com/virtual-kubelet/virtual-kubelet/manager.(*ResourceManager).SetPods(0xc42005dea0, 0xc42031c380)

[2018-01-19 21:52] robbiezhang opened #64 "[Azure] EmptyDir volume cannot be used"
If we use emptyDir volume in a pod, it will get the following error:

got HTTP response status code 400 error code "InvalidRequestContent": The request
    content was invalid and could not be deserialized: ''Could not find member ''medium''
    on object of type ''EmptyDirVolume''. Path ''properties.volumes[0].emptyDir.medium'',
    line 1, position 1052.''.'

The root cause is that the ACI provi

[2018-01-20 13:44] writeameer commented on #50
@rbitia and everyone else - thank you so much. Yup - once resource amounts we specified all was good. Appreciate the help. Awesome project.

[2018-01-20 13:44] #50 closed

[2018-01-22 18:58] #64 closed

[2018-01-22 19:00] rbitia commented on #63
#65 fixes this.
Check out the azure provider readme to update the virtual kubelet docker image to be able to use empty dir w/ ACI. Closing for now since I've verified the fix.

[2018-01-22 19:00] #63 closed

[2018-01-22 19:38] robbiezhang commented on #40
Close the issue, as the fix is merged. Plan to release in v0.2

[2018-01-22 19:38] #40 closed

[2018-01-22 22:06] rbitia opened #68 "[Azure] VK Node deleted"
The node deleted itself while the pod is still running. I didn't remove the connector or delete the node.

Rias-MBP:community riabhatia$ kubectl get po
NAME                                                    READY     STATUS    RESTARTS   AGE
demo-fr-backend-867bc8fc46-xdj7l                        1/1       Running   0          2h
demo-fr-frontend-5577d588f9-m647s                       1/1       R

[2018-01-22 22:36] robbiezhang opened #69 "Re-register the Node when it happens to disappear."
https://github.com/virtual-kubelet/virtual-kubelet/blob/f78a8e9522bca27f1785d3e654abbf10887e9e40/vkubelet/vkubelet.go#L232-L235

[2018-01-22 22:37] rbitia commented on #69
#68

[2018-01-23 16:46] rbitia opened #71 "[Azure] authorization failed issue"
2018/01/23 01:25:25 api call to https://management.azure.com/subscriptions/resourceGroups/akscentralusrg/providers/Microsoft.ContainerInstance/containerGroups?api-version=2017-12-01-preview: got HTTP response status code 403 error code "AuthorizationFailed": The client 'with object id ' does not have authorization to perform action 'Microsoft.ContainerInstance/containerGroups/read' over scope '/su

[2018-01-23 18:56] rbitia commented on #71
We believe the SP error is an AKS install connector bug: "basically, we assume the AKS's SPN has Contributor permission on the resource group of the AKS instance, but it's not" @robbiezhang

[2018-01-25 17:57] rbitia commented on #71
To add the SP:
cat ~/.azure/aksServicePrincipal.json (file might be acsServicePrincipal.json)
Copy the number after service_principle
In your aksResourceGroup add an IAM contributor role to the SP #

Delete the pod and it will come back up on its own: kubectl delete po myaciconnector-linux-virtual-kubelet-1466967171-hbnvj’

[2018-01-25 20:52] gabrtv opened #73 "Illegal base64 data when using imagePullSecrets"
Receiving the following error when using `imagePullSecrets` specified in the default service account:

[code]

Removing the `imagePullSecret` from the service account resolves the error.  Note the same pull secret is working for other non-VK workloads.

[2018-01-25 23:32] robbiezhang commented on #73
Guess it's because we don't support all types of image pull secrets.

https://github.com/virtual-kubelet/virtual-kubelet/blob/3668b0d6b9973df14646fd23e5824d1fb95c981c/providers/azure/aci.go#L367-L369

@gabrtv, can you send me the pod spec the image pull secret?

[2018-01-26 01:20] bnookala commented on #41
@rbitia, @robbiezhang sorry for the delay - I'm still making some slow progress on this, and may have something that works for 1.9 clusters by end of week, assuming some manual configuration can be done on the orchestrator itself.

Is there anything that can be done for < 1.9 clusters? I see that that the `ServiceNodeExclusion`, which should allow for the `alpha.service-controller.kubernetes.io/ex

[2018-01-26 05:09] bnookala commented on #41
Got it working! There's a few things that needed to be done here:

- 1. Add `alpha.service-controller.kubernetes.io/exclude-balance` as a label to Virtual Kubelet, it's currently an annotation. I'll make a PR for this.
- 2. Add support for the `ServiceNodeExclusion` flag to acs-engine's kubernetesConfig.

![screen shot 2018-01-25 at 9 03 39 pm](https://user-images.githubusercontent.com/87996/35425

[2018-01-26 05:27] AceHack commented on #41
Does this only work in ACS?  Not AKS?

[2018-01-26 05:28] AceHack commented on #41
Also, does this mean you cannot load balance over ACI services via a kubernetes load balancer?

[2018-01-26 06:18] bnookala commented on #41
@AceHack ACS and AKS (managed) are both based upon acs-engine (unmanaged), but currently don't deploy Kubernetes 1.9 clusters (acs-engine can, and both ACS and AKS will eventually).

Kubernetes 1.9 introduced the `ServiceNodeExclusion` flag for the cluster controller, which allows us to fix the behavior you had observed.

As far as load balancing over ACI - I've not yet tried it out myself. Maybe

[2018-01-26 07:13] AceHack commented on #41
To my knowledge AKS has no ability to change cluster controller flags and all alpha features are disabled so I don't think this is going to work for AKS.

[2018-01-26 19:50] robbiezhang opened #78 "[VK] If the pod is removed from the provider, VK behaves badly"
If the pod is removed from the provider, the VK will not re-create it, but continue getting the pod repeatedly. It might cause the provider throttling.

[2018-01-29 17:32] radu-matei commented on #44
What to keep in mind discussion the update is that there is downtime when "updating", but keeps the same IP address...
Is this a stopper for the current provider implementation?

[2018-01-29 18:07] #73 closed

[2018-01-29 21:57] rbitia opened #80 "[Azure]"
Add an --upgrade flag for the azure cli to upgrade the VK to the latest version
https://github.com/Azure/acs-engine/releases
^ Implement something like this for releases

[2018-01-29 22:19] rbitia opened #81 "[VK] add conformance testing"
add kubernetes conformance testing for VK

[2018-01-29 23:55] rbitia opened #82 "[Azure] support docker json config"
https://github.com/virtual-kubelet/virtual-kubelet/blob/6486f651664ee35fa9b71f98311e4b2eb6110631/providers/azure/aci.go#L367-L369

[2018-01-29 23:56] rbitia commented on #82
@resouer we will add support in VK soon so the hyper provider will also need to do this

[2018-01-29 23:59] resouer commented on #82
Got it! Let me check the details.

[2018-01-30 00:29] AceHack commented on #41
This should not be closed for AKS.  It is managed and you cannot turn on alpha features.

[2018-01-30 00:31] AceHack commented on #41
Also from my understanding, this would remove ACI from any load balancers.  This does not seem like a workable solution.

[2018-02-02 20:33] PatrickLang commented on #71
Hmm, I can't seem to create the assignment:
`az role assignment create --assignee `cat ~/.azure/aksServicePrincipal.json | jq '.[]
 .service_principal'` --resource-group $RGNAME --role Contributor`

Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url: https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/getObjectsB
yObjectIds?api-version=1.6

[2018-02-02 20:37] spboyer commented on #71
Created the IAM contributor on RG and getting
`tls: failed to find any PEM data in certificate input`
but not the fail to `tls`

[2018-02-06 15:34] nonokangwei opened #86 "kubectl create pod with multiple containers"
---

### Environment summary

Provider (e.g. Azure, Hyper)
azure
Version (e.g. 0.1, 0.2-beta)
latest version
K8s Master Info (e.g. AKS, ACS, Bare Metal)
AKS
Install Method (e.g. Helm Chart, )
Helm
### Issue Details
create pod with 2 containers, the second one keep restart

acidemo                                               1/2       Waiting   6          9m

### Repo Steps
pod yaml
apiVersion: v

[2018-02-06 18:46] rbitia commented on #71
@spboyer you should be good to go - that error is because a cert isn't being passed through for kubectl logs but o.w. the connector will work fine!

[2018-02-06 20:07] robbiezhang commented on #86
The 2nd container (debian) doesn't have an override command, so it will exit after start. Since you didn't specify the RestartPolicy, it uses the default value "Always", and restart any exited container. That's why it keeps restart.

[2018-02-07 00:48] nonokangwei commented on #86
thanks, Robbie, double check the debian image it has problem.
close this thread.

[2018-02-07 00:48] #86 closed

[2018-02-07 01:31] nonokangwei opened #87 "[Azure] Concatenate command and args for ACI"
---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure
Version (e.g. 0.1, 0.2-beta)
latest
K8s Master Info (e.g. AKS, ACS, Bare Metal)
AKS
Install Method (e.g. Helm Chart, )
Helm
### Issue Details
create pod by using pod yaml file include command & args parameters, the pod not create successfully
### Repo Steps
apiVersion: v1
kind: Pod
metadata:
  name: debiandemo
spec:

  volumes:
  - n

[2018-02-07 01:59] robbiezhang commented on #87
Thanks for reporting! This is a bug in ACI provider: ACI doesn't support args. The ACI provider doesn't concatenate command and args and send it to the ACI.

@nonokangwei, the workaround is to concatenate the command and args into the command property:

[2018-02-07 16:54] rbitia commented on #71
The PEM error is different from the Authorization error - I'll split out the issues to make more sense.

[2018-02-07 17:00] spboyer commented on #71
If you are still getting the error after assigning the role and deleting the connector pod, delete the pod again. I had to 2x before success.

[2018-02-07 17:13] rbitia opened #88 "PEM cert error"
2018/01/23 01:25:24 tls: failed to find any PEM data in certificate input

### Repo Steps
Install the connector

This cert is for kubectl logs -> if you don't add a cert you will get this error but it won't effect the connector

[2018-02-08 01:03] yolo3301 commented on #87
@robbiezhang We can concatenate command + args when converting from pod to container group. But how to know if a user specified args when converting container group back to pod?

[2018-02-08 03:34] nonokangwei commented on #87
Thanks @robbiezhang , also it seems if the pod yaml has args parameters, which will trigger the virtual-kubelet pod restart.
wei@Azure:~$ kubectl get pod
NAME                                                  READY     STATUS    RESTARTS   AGE
aciconnector-linux-virtual-kubelet-7d6bb5f576-749pl   1/1       Running   57         1d

[2018-02-08 07:04] yolo3301 commented on #87
@nonokangwei I don't think that's related. Because of this bug, the command + args is missing args, so the container will complete instantly. Because the restart policy is always, it automatically restarts. After the fix, this shouldn't happen.

[2018-02-09 19:19] rbitia opened #90 "[VK & Azure] add DNS name support"
Add DNS name support to Vk and connect the ACI api to it. Use an annotation within ACI pod specs to create a DNS name but we will not resolve conflict if used within a kubernetes deployment for ACI through the connector.

---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal)

Install Method (e.g. Helm Chart, )

#

[2018-02-09 22:18] rbitia opened #91 "[Azure] arm throttling limits due to incorrect region"
We need to add a check in our provider to see if the user is trying to spin out container instances in an unsupported region, if so DO NOT call arm and throw a helpful error instead

---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure
Version (e.g. 0.1, 0.2-beta)
latest
K8s Master Info (e.g. AKS, ACS, Bare Metal)
AKS
Install Method (e.g. Helm Chart, )
helm chart
### Issue Details
ARM

[2018-02-10 00:45] bnookala commented on #91
@rbitia I'd like to do this!

[2018-02-10 20:31] rbitia opened #93 "[VK] time for AGE goes backwards"
---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure
Version (e.g. 0.1, 0.2-beta)
latest
K8s Master Info (e.g. AKS, ACS, Bare Metal)
AKS
Install Method (e.g. Helm Chart, )
helm
### Issue Details

My ACI pods go "back in time" the seconds seem to be off....

Rias-MBP:aci-demos riabhatia$ kubectl get po
NAME                                                 READY     STATUS    RESTARTS   A

[2018-02-11 04:31] bnookala commented on #93
@rbitia just speculating from your console output - it looks like `demo-fr-ir-aci-944532873-lbgdt` and `demo-fr-ir-aci-944532873-gjqrd` are new pods, possibly accounting for the "going back in time" issue you noticed. is it possible that `demo-fr-ir-aci-944532873-lbgdt` and `demo-fr-ir-aci-944532873-9fkr7` encountered an error and were restarted?

[2018-02-13 17:47] flynnduism opened #95 "[Proposal] Project logo/icon"
Recently @rbitia had asked for help making a logo for virtual kubelet. I figured I'd post some ideas here to get the ball rolling - any other ideas, discussion or feedback would be awesome.

🎉

* 01 simple V blue logo
  ![virtual-kubelet-01](https://user-images.githubusercontent.com/686194/36213036-8965b9aa-119d-11e8-8fb3-9b641ac10546.png)

* 02 subset of the k8s logo, isolating two of the wheel h

[2018-02-13 17:49] jessfraz commented on #95
omg no 2, but I love them all <3 <3

On Tue, Feb 13, 2018 at 12:47 PM, Ronan Flynn-Curran <
notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-02-13 17:55] conorgriffin commented on #95
#2 👍🏻

[2018-02-13 17:58] gooodmorningopenstack commented on #95
#3

[2018-02-13 18:30] brion25 commented on #95
#1

[2018-02-13 18:31] Raffo commented on #95
Number 2!

[2018-02-13 18:45] robbiezhang commented on #95
2

[2018-02-13 18:57] listonb commented on #95
2

[2018-02-13 19:07] shahiddev commented on #95
Seem to be in the minority but 3 for me

[2018-02-13 21:09] tylerauerbeck commented on #95
2

[2018-02-13 21:37] slamp commented on #95
3

[2018-02-13 21:43] abraithwaite commented on #95
Number 2! But maybe move it up a smidge.  I don't think the other spokes of the wheel will really hurt the design.

[2018-02-14 07:12] bnookala commented on #90
@rbitia I'd like to take an attempt at this, if it's unassigned!

[2018-02-14 08:11] avik-so commented on #95
2

[2018-02-14 15:30] jairovm commented on #95
1

[2018-02-14 15:47] flynnduism commented on #95
Thanks for the votes and comments.
@abraithwaite - good idea, I've bumped it up a bit more. The images above have been updated.

---

By the end of the day, I'll PR the leading contender into the readme if that sounds reasonable.

Votes so far:

* Option 1 - 1 vote
* Option 2 - 7 votes
* Option 3 - 3 votes

[2018-02-14 19:38] thockin commented on #95
#2 is similar to minikube.  http://blog.arungupta.me/wp-content/uploads/2016/09/minikube-logo.jpg

#1 is OK, but doesn't say anything to me.

#3 is pretty sparse.

We don't have a general "node" image, though sometimes we use a small tower-style PC icon.  To make it "virtual" maybe make it translucent or even a starwars style hologram (with scan lines)?

[2018-02-14 22:47] yolo3301 commented on #95
![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlXrZqbHyTwFXxflMxCVnbaLz86SzIw6xcwQTqZAFuQDWRUvU_)

How about something this? Haha. Under the **mask**, which stands for virtual.

[2018-02-15 18:29] robbiezhang commented on #93
They are different pods, their name are different. Guess these pods are auto re-created by the deployment, because they are not "Running" in time. Please check
1. Whether they are assigned to the virutal-kubelet node by running `kubectl get po -o wide`
2. Check the virtual kubelet pod log to see why the old pods are not created.

[2018-02-15 19:40] robbiezhang commented on #87
the fix is in 0.2-beta-7 or above

[2018-02-15 19:40] #87 closed

[2018-02-15 19:46] robbiezhang commented on #68
I hit this issue once because I call `aks install-connector` right after `aks remove-connector`. The VK doesn't re-register or update the status of the node since during that period, a phantom node is still there. The issue should have been fixed in the new `az aks remove-connector` (2.0.27). If you still use the old, the workaround it to delete the node explicitly after you run the `aks remove-co

[2018-02-15 19:48] robbiezhang commented on #69
dup #68

[2018-02-15 19:48] #69 closed

[2018-02-17 00:08] lcastellano opened #98 "Virtual Kubelet crashes when joining existing cluster and using mock provider"
### Environment summary

Provider: Mock

Version: a99f2d0

K8s Master Info: Ubuntu VM

Install Method: manual

### Issue Details
virtual-kubelet crashes with:

[code]
### Repo Steps
Run virtual kubelet **with --provider mock**, allow virtual kubelet to join an existing cluster.

[2018-02-21 17:55] rbitia commented on #41
@AceHack you are correct this isn't the actual solution we are looking for - it's just a workaround. To update everyone we have fixes going upstream in K8 and then fixes in acs-engine itself to enable load-balancing to work across pods in cluster w/ the connector installed w/out any extra tinkering. Once this is enabled in AKS I'll close this issue and open another one for load-balancing across po

[2018-02-22 18:15] flynnduism commented on #95
I've been taking another look at this based on the feedback above - as @thockin pointed out, #2 is waay too close to the MiniKube icon. I like the idea of doing something more descriptive with portraying a k8s 'node' in some way. Though I find the use of icons that evoke PCs/physical hardware to represent nodes a bit redundant as we abstract our tools more and more.

@yolo3301 the anonymous mask i

[2018-02-22 21:52] avik-so commented on #95
I still like 2 best.

Having two spokes making a v is different enough for me from minikube.
These tools are all in the same ecosystem, they don't have to be completely
unique. Shared imagery is useful.

On Feb 22, 2018 8:16 PM, "Ronan Flynn-Curran" <notifications@github.com>
wrote:

[2018-02-23 01:33] rbitia commented on #95
I like number 3 on the new list. Very abstract :D

[2018-02-23 01:47] abraithwaite commented on #95
:+1: # 3

[2018-02-23 02:03] rbitia commented on #90
#97

[2018-02-23 18:01] samkreter commented on #95
I like number 1 and 2 from the original list. It would be cool if number 2 had would lower the k8s logo to look a little more like a V but still great work.

[2018-02-23 19:31] #98 closed

[2018-02-23 23:05] rbitia opened #100 "[Azure] upgrade connector in az cli"
Add an --upgrade flag for the azure cli to upgrade the VK to the latest version

---

### Environment summary

Provider (e.g. Azure, Hyper)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal)

Install Method (e.g. Helm Chart, )

### Issue Details

### Repo Steps

[2018-02-23 23:06] rbitia opened #101 "[Azure] query for dns name in az cli aks namespace"
make  the query for the dns namespace more obvious through the az aks namespace

[2018-02-24 06:09] thockin commented on #95
I strongly disagree with original #2.  I didn't even see the V, I just saw minikube.

@flynnduism I like the new #2, but maybe you can make it a heptagon?  Like take the main heptagon shape (inverted) and stretch the bottom and compress the top?

[2018-02-26 02:04] rbitia commented on #90
merged so closing

[2018-02-26 02:04] #90 closed

[2018-02-26 13:52] yokawasa opened #102 "Pod error: ACI only supports Public Azure. 'AzurePublicCloud' is not supported"
---

### Environment summary
- Provider (e.g. Azure, Hyper): Azure
- Version (e.g. 0.1, 0.2-beta): virtual-kubelet:0.2-beta-6
- K8s Master Info (e.g. AKS, ACS, Bare Metal): AKS
- Install Method (e.g. Helm Chart, ): Helm

### Issue Details
My virtual-kubelet-for-aks pod failed to start container. Here is pod logs:
[code]
Here is the cluster info
[code]

### Repo Steps

Deploy the ACI provider in my

[2018-02-26 16:10] shahiddev opened #103 "az aks install-connector fails"
---

### Environment summary

Provider (e.g. Azure, Hyper): Azure

Version (e.g. 0.1, 0.2-beta): 0.1

K8s Master Info (e.g. AKS, ACS, Bare Metal): AKS (1.8.7)

Install Method (e.g. Helm Chart, ): AZ cli (running on Windows)

### Issue Details
Trying to install the ACI connector on Windows using AZ cli, fails with error:
**Error: failed to download "https://github.com/virtual-kubelet/virtual-kubele

[2018-02-26 18:59] robbiezhang commented on #100
@yolo3301 will take a step to implement this.

[2018-02-26 19:21] robbiezhang commented on #103
It's more like the helm is not initialized properly. Did you run `helm init` and `helm repo update`

[2018-02-26 19:22] bnookala commented on #101
The current way to do this is using `az container show`, and querying the output. Example, for a pod named `helloworld`:

`az container show -g myResourceGroup -n default-helloworld --query ipAddress.fqdn`

If a pod is deployed to the kubernetes namespace default, the user would have to be aware of this and prepend `default-` to the name of the running pod, and query the output for the bound fqdn.

[2018-02-26 19:23] robbiezhang commented on #102
Thanks for reporting the issue. We had fixed the issue in image tag 0.2-beta-8, but missed to update the default value for the helm chart. I'll have a quick fix.

[2018-02-26 23:05] yolo3301 commented on #100
https://github.com/Azure/azure-cli/pull/5668

[2018-02-27 14:59] shahiddev commented on #103
I had initialised helm but not updated the repo but that doesn't work still failing with same error

[2018-02-27 18:57] #102 closed

[2018-02-27 19:47] robbiezhang commented on #103
It's more like an issue in helm for Windows.
Can you check #3?

[code]

[2018-02-27 20:22] rbitia commented on #103
https://github.com/kubernetes/helm/issues/2456 linking the Helm issue to track in VK

[2018-02-27 20:45] rbitia commented on #91
@robbiezhang comfortable closing this one?

[2018-02-28 01:02] yolo3301 commented on #91
I think in general we should have proper backoff when we hit throttling.

[2018-02-28 01:39] robbiezhang opened #105 "[Azure] ACI Provider requires Proper Retry and Back-off Logic when Calling ARM"
---
### Issue Details
ACI provider doesn't retry properly on ARM failure, and doesn't regard the 429 status code from ARM. It will cause throttling easily.

### Repo Steps

[2018-02-28 01:40] robbiezhang commented on #91
I just created #105 in general to track the throttling issue for ACI provider. We can close this issue.

[2018-02-28 01:40] #91 closed

[2018-02-28 17:53] shahiddev commented on #103
@robbiezhang I was using Helm 2.8.0

[2018-02-28 18:54] robbiezhang commented on #103
The helm issue is mentioned in #3. Can you check the following files?

[code]

[2018-02-28 19:56] yolo3301 commented on #105
As a first step, should we migrate to use the official azure go sdk? It seems has better error type defined? https://github.com/Azure/azure-sdk-for-go/blob/master/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/containergroups.go

[2018-02-28 20:17] robbiezhang commented on #105
This is a good idea. We explored it before and found 2 issues:
1. The SDK has it's own release schedule, and is not always up-to-date.
2. All the properties are defined as pointers. They are inconvenient to use.

[2018-02-28 21:26] noelbundick commented on #105
Does the scope of this issue include not retrying at all on all types of failures that will never succeed? ex: trying to run pods with the ACI provider that have not specified a CPU/memory request

[2018-02-28 23:58] robbiezhang commented on #105
@noelbundick, this is a good point. I think the current VK already covered the missing resource request issue.

[2018-03-01 11:03] shahiddev commented on #103
The second file was missing, creating that as per your instructions sorted it.

Thank you, its installed now.

I'll close this issue and will take a look at the helm issue you mentioned to see if I can help out.

[2018-03-01 11:03] #103 closed

[2018-03-01 18:31] robbiezhang commented on #105
@noelbundick, I guess the retry happened in the k8s deployment in your case. The pod is marked as "ProviderFailed" if the resource request is not specified. So, the deployment will spin up another pod immediately, which still fails. From the VK side, we can fix the particular issue by fill the required fields with a default value.

[2018-03-01 18:47] noelbundick commented on #105
@robbiezhang yeah, it was a deployment. Makes sense that it could have been deployment causing VK to try a bunch of different pods instead of VK retrying ARM calls on the same pod. I'd have to spin something back up again to verify.

I'd be happy with some sensible defaults that are well-documented - maybe ones that match the Azure CLI defaults - and/or better validation in the ACI provider to jus

[2018-03-05 13:16] nonokangwei opened #106 "[Azure] ACI kubectl exec suppot"
when will the aci to support the kubectl exec? in the readme it set status as a current limitation.

[2018-03-05 18:50] robbiezhang commented on #106
It's on the top of ACI's task list, and you will probably be able to use the `exec` in ACI in a couple weeks. The work to support it in VK will start after the API is available.

[2018-03-05 19:48] rbitia opened #107 "[Chart] Grant Service Account Permssion in RBAC Cluster"
---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure
Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal)
ACS-Engine
Install Method (e.g. Helm Chart, )
helm chart
### Issue Details
NAME                                               READY     STATUS             RESTARTS   AGE
virtual-kubelet-virtual-kubelet-6cf6c967b9-dx7ng   0/1       CrashLoopBackOff   2

[2018-03-05 20:11] robbiezhang commented on #107
Is it a customized helm chart? Please attach if yes.

[2018-03-05 21:09] chzbrgr71 commented on #107
Followed these steps from the docs: https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md

[2018-03-05 21:57] robbiezhang commented on #107
What's the acs-engine version and the config in API model? Did you enable the RBAC?

[2018-03-06 01:37] yolo3301 commented on #100
PR merged

[2018-03-06 05:36] nonokangwei commented on #106
@robbiezhang thanks robbie, look forward to this capability.

[2018-03-06 18:19] robbiezhang commented on #107
Yes, the "enableRbac" is set to true. We'll have to create a cluster role binding to grant the service account permission. Update the title.

[2018-03-07 20:49] rbitia commented on #100
closing issue thanks Chen!

[2018-03-07 20:49] #100 closed

[2018-03-08 19:06] robbiezhang commented on #107
@chzbrgr71, as a workaround, you can `kubectl create` for the following cluster role binding in your cluster.

[code]

[2018-03-09 22:11] countspongebob opened #110 "Microsoft CLA is a blocker to contribution."
Propose changing CLA to CNCF.

Am happy to do a pull request if approved.

[2018-03-09 22:30] rbitia commented on #110
https://github.com/kubernetes/community/blob/master/setting-up-cla-check.md

I'm working through this documentation but I'm waiting on the secret for the webhook so it can be added.
@countspongebob do you know of an easier/simple way to get it w.out adding the webhook?

[2018-03-10 00:26] PatrickLang commented on #103
Seems to be working for me too. I didn't need any workaround.

az aks install-connector --resource-group plang-aks0309rg  --name plang-aks0309  --connector-name vkwin1
 --location eastus --os-type Windows
Merged "plang-aks0309" as current context in C:\Users\plang\AppData\Local\Temp\tmps1tn48fz
Deploying the ACI connector for 'Windows' using Helm
NAME:   vkwin1-windows
LAST DEPLOYED: Fri Mar  9 16

[2018-03-10 02:41] countspongebob commented on #110
I don't know, but I'm happy to reach out to the CNCF folks for some help.

[2018-03-11 00:07] rbitia opened #111 "[Azure] Authorization issue"
---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure
Version (e.g. 0.1, 0.2-beta)
latest cli version

K8s Master Info (e.g. AKS, ACS, Bare Metal)
AKS
Install Method (e.g. Helm Chart, )
az cmdline
### Issue Details
https://management.azure.com/subscriptions/2ce4ca73-8bf4-45d5-aa55-b37121fd51a6/resourceGroups/allhandsdemorg/providers/Microsoft.ContainerInstance/containerGroups/default-ng

[2018-03-11 19:06] rbitia commented on #71
still getting this error :(

[2018-03-11 19:44] rbitia commented on #111
Jk had to delete my connector and re-install

[2018-03-11 19:44] #111 closed

[2018-03-12 16:45] rbitia commented on #110
Just merged the new CLA! Let me know if you need anything else to contribute :)

[2018-03-12 18:06] inkel opened #116 "Merge conflict committed in examples directory"
In the current `master` (b35c50f7c54a339a32901aecc87cfc32b713f10c), the [`examples/nanoserver.yml`](https://github.com/virtual-kubelet/virtual-kubelet/blob/b35c50f7c54a339a32901aecc87cfc32b713f10c/examples/nanoserver.yaml) was committed with an unresolved merge conflict: https://github.com/virtual-kubelet/virtual-kubelet/blob/b35c50f7c54a339a32901aecc87cfc32b713f10c/examples/nanoserver.yaml#L20-L2

[2018-03-12 18:45] rbitia commented on #116
Ah thanks for the issue. Thought I resolved this but it seems I didn't. It should be the nanoserver.yaml edit.

[2018-03-12 19:43] countspongebob commented on #110
Looks good, thank you!

[2018-03-12 19:43] #110 closed

[2018-03-12 22:38] robbiezhang commented on #116
Fixed in #117

[2018-03-12 22:38] #116 closed

[2018-03-14 17:49] PatrickLang commented on #3
BTW - there are Windows paths in the original report but this can also happen on Linux.

1. Run `helm init` on one machine to get tiller running in your cluster
2. Go to another admin machine (Linux or Windows - doesn't matter), run `helm list` - it works
3. Try running `az aks install-connector ...` there. It will fail with the error:

[code]

*Workaround*
Run `helm init` on each machine first

[2018-03-15 02:51] countspongebob opened #118 "Apache2 license preferred by CNCF/Kubernetes"
Given the code might end up as a sub project in Kubernetes SIG node, suggest moving the license switched from MIT to Apache2.

[2018-03-15 18:22] #93 closed

[2018-03-21 17:18] bnookala opened #119 "ACI provider should read docker config secrets from .dockerconfigjson"
Thanks to @evillgenius75 for uncovering this one

---

### Environment summary

Provider (e.g. Azure, Hyper)

Azure

Version (e.g. 0.1, 0.2-beta)

Any

K8s Master Info (e.g. AKS, ACS, Bare Metal)

1.9.3

Install Method (e.g. Helm Chart, )

Helm

### Issue Details

1. Newer versions of kubectl (ie 1.9.5) create secrets with `.dockerconfigjson` as the key.
2. Pods scheduled with the above secret wil

[2018-03-21 18:31] bnookala commented on #119
Workaround for this (for now) is to create a manifest and deploy it manually:

ie:

[code]

where `baseSixtyFourEncodedJsonBlob`, when base64 decoded resembles:

[code]

[2018-03-22 18:16] evillgenius75 commented on #82
#120

[2018-03-22 19:04] #119 closed

[2018-03-22 19:04] robbiezhang commented on #82
Fixed in #120

[2018-03-22 19:04] #82 closed

[2018-03-25 03:51] rbitia commented on #106
@robbiezhang if you have a proposed design for exec add it here so we can get the community more involved w/ helping us add core VK functionality

[2018-03-27 09:59] davidchua opened #122 "Unable to create route on acs-engine when deploying virtual-kubelet"
---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)
virtual-kubelet-0.1.0

K8s Master Info (e.g. AKS, ACS, Bare Metal)
ACS

[code]

Install Method (e.g. Helm Chart, )
Helm Chart

### Issue Details
- Followed this instruction: https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/azure (Manual setup)
- virtual-kubelet pod is deployed and

[2018-03-27 17:31] robbiezhang commented on #122
The FailedToCreateRoute is a known issue, but it does not harm. Trying to repo.

[2018-03-27 18:08] robbiezhang commented on #122
@davidchua , can you send me the deployment spec?
`kubectl get deploy <vk deployment name> -o yaml`

[2018-03-28 02:58] davidchua commented on #122
@robbiezhang thanks for looking into this!

My specs below:

[code]

[2018-03-29 23:33] robbiezhang opened #123 "Support Downward API"
---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)
0.2-beta-8

K8s Master Info (e.g. AKS, ACS, Bare Metal)
AKS

Install Method (e.g. Helm Chart, )
Helm Chart

### Issue Details
VK doesn't support Downward API in the pod.

### Repo Steps
Sample pod snippet:
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              api

[2018-03-29 23:46] robbiezhang commented on #123
Kubelet Implementation:
https://github.com/kubernetes/kubernetes/blob/d7f61541364134a03a89fc3e836ad7a6c4a84384/pkg/kubelet/kubelet_pods.go#L800

[2018-03-30 00:14] robbiezhang commented on #122
@davidchua, the deployment spec looks good. I found that the pod spec in the README.md missed the tolerations. Since the VK node has the taint (azure.com/aci), pod without the tolerations will not be scheduled to it. I've updated the sample, basically add the following properties:
[code]
Can you please have a try?

[2018-04-02 03:44] davidchua commented on #122
Thanks @robbiezhang!

Unfortunately, adding the toleration doesn't seem to work, its still in `Pending` after redeploying the Pod.

[code]

[code]

[2018-04-02 17:26] robbiezhang commented on #122
@davidchua , your `helloworld` pod seems to be in the `kube-system` namespace, while your virtual-kubelet only monitors the pods in `default` namespace.

[code]

Hope it work. Cheers.

[2018-04-03 06:17] davidchua commented on #122
Thanks @robbiezhang! That looks like its it!

Pod is now running when in `default` namespace. Would removing the `--namespace` flag allow virtual-kubelet to monitor pods cluster-wide?

[2018-04-03 17:29] robbiezhang commented on #122
yes, it will.
https://github.com/virtual-kubelet/virtual-kubelet/blob/e1b9475511e6557dea593e99317cabf7cb401375/cmd/root.go#L122-L124

[2018-04-05 21:58] robbiezhang commented on #122
Close the issue as we have fixed the wrong sample pod.

[2018-04-05 21:58] #122 closed

[2018-04-06 14:07] giggio opened #124 "VK pods fail with CrashLoopBackOff"
### Environment summary

Provider: Azure
Version latest
K8s Master Info: AKS, 1.9.6
Install Method: az

### Issue Details

After running

[code]
The pods fail to start and stay on `CrashLoopBackOff`. They keep restarting but never come back.

The log shows:

[code]

### Repo Steps

Create a 1.9.6 aks cluster, init helm, and try to install the connector with az.

[2018-04-07 17:05] shahiddev commented on #124
Same error trying to install only the os-type Windows

[2018-04-07 17:44] dewalds commented on #124
Also getting it since upgrading cluster to 1.9.6

[2018-04-08 12:32] ofiliz opened #125 "Hypersh provider breaks the build on Windows"
---

### Environment summary

Provider (e.g. Azure, Hyper)
Hyper

Version (e.g. 0.1, 0.2-beta)
Latest

K8s Master Info (e.g. AKS, ACS, Bare Metal)
N/A

Install Method (e.g. Helm Chart, )
N/A

### Issue Details
Hypersh provider depends on hypercli package, which itself depends on a very old version of github.com/Azure/go-ansiterm package. Hypercli package uses a few exported types (winterm.WORD, wi

[2018-04-08 12:41] arjanschaaf commented on #124
Ran into this on a new cluster running 1.9.6 in westeurope as well. Deleted this cluster and recreated a new cluster with kubernetes version 1.8.10 => same problem.

```container init caused \"rootfs_linux.go:54: mounting \\\"/etc/kubernetes/azure.json\\\" to rootfs \\\"/var/lib/docker/overlay2/495e5449e0981f163f9f8003e01f8c02e5f30441506530aeeab36854d9ace03d/merged\\\" at \\\"/var/lib/docker/overl

[2018-04-09 17:47] robbiezhang commented on #124
It looks like a regression in k8s 1.9.6 that it doesn't allow to mount a single file.

[2018-04-09 18:37] arjanschaaf commented on #124
@robbiezhang : I've just tested this to confirm that it is a regression problem on k8s 1.8.x. I've replaced my 1.8.10 cluster with a new 1.8.7 cluster and then I'm able to launch the virtual-kubelet pod successfully. So it is also a regression problem between 1.8.7 & 1.8.10

[2018-04-09 19:02] robbiezhang commented on #124
@arjanschaaf, thanks for the info! A workaround for the VK is to mount the /etc/kubernetes folder from the host to the VK pod at /etc/virtual-kubelet/acs, and set env "ACS_CREDENTIAL_LOCATION" to /etc/virtual-kubelet/acs/azure.json
[code]

I can update the helm chart soon with this.

[2018-04-09 20:50] robbiezhang commented on #124
Fix: #126

[2018-04-09 20:51] robbiezhang commented on #125
@resouer please take a look

[2018-04-10 07:02] arjanschaaf commented on #124
@robbiezhang : Thanks for the quick fix! Is your workaround a fix for something that should really be fixed in Kubernetes upstream because somehow in 1.8.x & 1.9.x they introduced an unwanted regression bug? Or is it rightfully so that the old approach of mounting the file instead of the folder isn't allowed anymore by Kubernetes? In case of a kubernetes bug, maybe an issue should be filed in upst

[2018-04-10 07:05] johanneswuerbach commented on #12
I took another try at connecting virtual-kubelet and AWS Fargate, feedback welcome https://github.com/virtual-kubelet/virtual-kubelet/pull/127

[2018-04-11 19:04] robbiezhang commented on #124
@arjanschaaf : thanks for the comments! I agree with your point. I'm pretty sure it's a regression bug in the k8s upstream, and create an issue there: https://github.com/kubernetes/kubernetes/issues/62417.
I can repo the issue by using the following simple spec, and the issue only happens when the hostPath file is mounted to the directory mounted by the secret volume. If the directory is mounted b

[2018-04-11 23:04] rbitia commented on #95
hey all! did we come to a conclusion? @flynnduism which one do you think won out?

[2018-04-11 23:55] dbenhur commented on #95
I like #2 original, but agree with @thockin that it's confusingly similar to [Minikube logo](https://github.com/kubernetes/minikube/blob/master/logo/minikube-logo.png).

In the revised set, I like #3 and don't care for the other two at all.

[2018-04-12 00:50] squillace commented on #95
FWIW, I like the second round # 2, the symmetric inverted diamondish thing, and I do also like # 3, _with the exception of the imbalanced diamond top_. What's that supposed to mean? The thing I like about it quite a bit is the two-tone nature of it, but I like the depth/length of the diamondish thing on second # 2.

I wonder if any of that makes sense. :-)

[2018-04-12 01:27] karenhchu commented on #95
Ronan -- do you think you can create these iterations for review?

- #2 with a heptagon outline instead of the hexagon
- #2 with some sort of a dimension drop shadow (like in the old #1 design)
- #3 with the more symmetrical diamond shape from #2 (keeping the two-tone design)

Thank you!

[2018-04-12 16:03] flynnduism commented on #95
Thanks for the input folks!

I'm working on those new iterations @karenhchu, which incorporate the different comments and requests in a neat way. Will post new work later today.

[2018-04-12 18:32] dcieslak19973 opened #129 "Question on bringing your own VNET"
---

### Environment summary

Provider (e.g. Azure, Hyper): Azure

Version (e.g. 0.1, 0.2-beta): any

K8s Master Info (e.g. AKS, ACS, Bare Metal): acs-engine

Install Method (e.g. Helm Chart, ) Helm

### Issue Details

When using virtual-kubelet on a K8s cluster provisioned by acs-engine using Azure networking and a custom VNET, will containers deployed to the virtual-kubelet get IP addresses in t

[2018-04-12 19:10] robbiezhang commented on #129
It depends on provider. Currently, ACI doesn't support VNET, so VK will create a container group with a public IP address. If you create a service and use the label selector to select the pod created by VK, it will forward the request without problem.
When ACI support VNET, VK can specify the VNET when creating the container group. It will be in the VNET, and the real host of the ACI container gro

[2018-04-12 20:33] robbiezhang commented on #124
Fixed in #126

[2018-04-12 20:33] #124 closed

[2018-04-13 13:25] giggio commented on #124
I just tested it and the connector pods are up! Tks!

[2018-04-13 14:59] flynnduism commented on #95
I've posted new iterations here to a **poll for people to vote on** - have a look and let's pick a preferred direction: [https://flynnduism.typeform.com/to/Z5gpxA](https://flynnduism.typeform.com/to/Z5gpxA)

[2018-04-13 21:44] resouer commented on #125
Let me check it, thanks

[2018-04-14 08:39] flynnduism commented on #95
Thanks everyone who voted. We have a winner!

<img width="680" alt="screen shot 2018-04-14 at 9 30 40 am" src="https://user-images.githubusercontent.com/686194/38766248-15ac97b0-3fc7-11e8-9b73-4e7faef8e963.png">

--

<img width="1056" alt="screen shot 2018-04-14 at 9 36 41 am" src="https://user-images.githubusercontent.com/686194/38766289-95e91f98-3fc7-11e8-98e4-1027074f2155.png">

This will make

[2018-04-14 08:39] #95 closed

[2018-04-16 13:44] erjadi opened #136 "[Azure] ACI backed pods never leave "pending" state - cannot LoadBalance them + proposed solution"
### Environment summary

Provider : Azure
Environment: AKS
Version: Tested on v1.7.7 and v1.8.10 masters

### Issue Details

Any pods that are scheduled to run their containers on ACI never fully leave their pending state. All containers might be in "Running" state and the deployment can be successful, even "kubectl get pods" will show that the pod is ready. However, the status icon on the dashboa

[2018-04-16 18:18] robbiezhang commented on #107
@shanepeckham we missed one thing in your last PR. The helm chart package for the 0.1.1 is not created.
#137 to create the package.

[2018-04-17 14:32] lioncruise opened #139 "[HELP] cannot find package while making test"
Problem is as follows, I omitted many similar outputs. These packages cannot be found in the vendor, do I need to make some pre-operations before make test?

[code]

[2018-04-17 18:43] robbiezhang commented on #139
@lioncruise I guess you are working on your fork. Here is a good reference to setup your local environment:
http://code.openark.org/blog/development/forking-golang-repositories-on-github-and-managing-the-import-path

[2018-04-17 20:37] robbiezhang commented on #136
I think we can hard-code the 3 conditions to true, when the provisioningState(aciState) is "Running" or "Succeeded". @erikstmartin

[2018-04-17 23:35] corrieb opened #140 "ResourceManager.watchSecrets() isn't implemented correctly"
Just looking at the code, it would appear that there's a cut and paste error in ResourceManager.

It seems like watchConfigMaps() was copied to watchSecrets(), but wasn't updated to make the correct call or evict entries from the correct map. Result is that secret updates won't be picked up by the VK.

I would fix this myself, but am still going through VMware legal to get permission to contribute

[2018-04-17 23:39] robbiezhang commented on #140
Good catch.
#132 fixed it, but blocked by the CLA

[2018-04-18 08:47] lioncruise commented on #139
@robbiezhang I didn't fork this repository, these missing packages cannot be found in the vendor. Are you sure we can compile this project directly commanding make test without other operation?

[code]

[2018-04-18 11:21] lioncruise opened #142 "Failed to make test on AliCloud ECS"
---

### Environment summary

Provider: AliCloud ECS

Version: latest version

Error occurred while make test.

### Issue Details

[code]

### Repo Steps

[2018-04-18 12:31] lioncruise commented on #139
I found the reason. I used `git clone` instead of `go get`. I'm gonna close this issue.

[2018-04-18 12:31] #139 closed

[2018-04-18 17:47] #140 closed

[2018-04-18 19:09] robbiezhang commented on #142
This is expected since you didn't setup the Azure credentials locally.
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/client/README.md

You can ignore them if you didn't change the Azure provider.

[2018-04-18 19:09] #142 closed

[2018-04-18 21:40] brobichaud opened #143 "Controlling the location ACI instances are created in"
---

### Environment summary
ACS cluster with Windows nodes, k8s v1.7.7-7. Windows Server 2016 RTM.

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)
microsoft/aci-connector-k8s:canary

K8s Master Info (e.g. AKS, ACS, Bare Metal)
ACS

Install Method (e.g. Helm Chart, )
kubectl & yaml

### Issue Details
All ACI instances created are in the WestUS region. How is this controlled?

###

[2018-04-18 21:44] brobichaud opened #144 "Controlling ACI instance size"
---

### Environment summary
ACS cluster with Windows nodes, k8s v1.7.7-7. Windows Server 2016 RTM.

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)
microsoft/aci-connector-k8s:canary

K8s Master Info (e.g. AKS, ACS, Bare Metal)
ACS

Install Method (e.g. Helm Chart, )
kubectl & yaml

### Issue Details
I'm trying to get a larger ACI instance size. It seems to always default to 1Cor

[2018-04-18 22:44] robbiezhang commented on #143
@brobichaud, please use microsoft/virtual-kubelet:latest image.
You can set the environment variable ACI_REGION to your desired region.
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/charts/virtual-kubelet/templates/deployment.yaml

I would also recommend you to use the Helm chart to install the VK. Here is the instruction:
https://github.com/virtual-kubelet/virtual-kubelet/blob/ma

[2018-04-18 22:47] robbiezhang commented on #144
@brobichaud, please use microsoft/virtual-kubelet:latest as the image.
Please use G as the unit of the memory instead of Gi

[2018-04-19 13:26] lioncruise opened #145 "[HELP] start multiple virtual kubelet node on one machine"
---

### Environment summary

Provider (e.g. Azure, Hyper)

AliCloud ECS

Version (e.g. 0.1, 0.2-beta)

latest

K8s Master Info (e.g. AKS, ACS, Bare Metal)

1.8.4, installed by kubeadm

### Issue Details

I have successfully start a virtual kubelet with the following steps, it's ok to get the virtual-kubelet node ready, and is able to place pod on virtual-kubelet node.

[code]

Then I start a new

[2018-04-19 17:18] brobichaud commented on #143
@robbiezhang I've tried the ehlm install approach as the instructions reference AKS and I am using old-school ACS (because I need Windows nodes). It wasn't clear to me if I'd get myself into trouble with the AKS instructions. Do you think that would work with ACS?

Until I hear back I will move to the latest image and deployment.yaml you referenced (I was not using that, I was using the one Anthon

[2018-04-19 17:28] robbiezhang commented on #143
The [link](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#manual-set-up) contains the instruction about how to use Helm chart to install VK in any k8s cluster including ACS. Please take a look.

[2018-04-19 18:12] robbiezhang commented on #145
@lioncruise why you want multiple VK running on the same machine? VK is supposed to be run in a pod, so that it has an isolated environment, since it largely relies on the environment variables. The recommendation is to run the VK in pod, and you can run multiple VK pod in a k8s cluster. Please also make sure they monitor different pods (os, namespace), so that it won't cause conflict.

[2018-04-19 18:14] robbiezhang commented on #107
#138

[2018-04-19 18:14] #107 closed

[2018-04-19 20:34] robbiezhang commented on #143
You can add a node selector in the VK pod spec:
[code]
[Reference](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector)

[2018-04-19 20:39] brobichaud commented on #143
Yeah I am familiar with nodeSelectors (I'd use beta.kubernetes.io/os: linux), but when using helm to deploy I don't seem to have access to the pod spec. How do I change that? Full disclosure: helm newbie

[2018-04-19 20:47] robbiezhang commented on #143
I see. The chart doesn't set the nodeSelector. I'll add it now.
The Helm will create a deployment according to the Helm chart in your cluster. As a workaround, you can always edit the deployment to make it work for you.

[2018-04-19 21:52] robbiezhang commented on #143
#146

[2018-04-19 21:54] robbiezhang commented on #144
@brobichaud I assume you have figured it out. Close it now. If you any questions, feel free to open issues.

[2018-04-19 21:54] #144 closed

[2018-04-19 22:24] erjadi commented on #136
Hi guys, I took the liberty of creating a pull request (https://github.com/virtual-kubelet/virtual-kubelet/pull/147) , hope that's ok.

[2018-04-19 22:44] brobichaud commented on #143
Ah yes, manually updating the pod spec. Was aware of that option but had never needed to use it. Success, virtual-kubelet pod now running.

Thanks for the #146 update. Not knowing helm, does that pull request eventually end up in the chart referenced in the install instructions as: https://github.com/virtual-kubelet/virtual-kubelet/raw/master/charts/$VK_RELEASE.tgz ?

[2018-04-19 22:51] brobichaud commented on #143
OK, as I continue down this journey of using the latest kubelet please tell me if you'd prefer a new issue created @robbiezhang.

I am now trying to deploy a Windows ACI and am having a hard time. Below is my pod spec. If I try and create this I see an immediate error in the k8s dashboard where the new pod has a bang icon and the tooltip is simply "this pod has errors". I don't know how to debug t

[2018-04-19 23:16] robbiezhang commented on #143
Yes, #146 includes the Helm chart package update.
Your pod spec uses the k8s "Downward API" feature, which is not supported by VK yet.

[code]
I believe the issue will be fixed if you can replace the "valueFrom: ..." to "value: ..." since you know their values (metadata.name => "worker", spec.nodeName => your VK node name)
To troubleshoot the issue, you can run `kubectl logs <vk pod>` or `kubectl

[2018-04-19 23:41] brobichaud commented on #143
Indeed the Downward API env variables were causing a problem. I can work past those given your advice. Now when I use this resource request:

[code]

I see this error in the pod logs:

So I though I should also add a limits using the resources section below:

[code]
And I now see this error in the pod logs:

This led me to one last experiment that actually worked. Any idea what's up?

[code]

[2018-04-19 23:44] brobichaud commented on #144
I was able to work around this as you can see in #143. But should this be considered a bug since it doesn't follow the k8s pod spec (G vs Gi)?

[2018-04-20 01:38] robbiezhang commented on #144
Unfortunately, this is by design, as ACI doesn't want to too many fragments.

[2018-04-20 02:58] lioncruise commented on #145
@robbiezhang Thanks a lot for you recommendation, I will have a try. I'm doing a large-scale cluster scheduling simulator based on k8s API, so I want to simulate thousand of  node on the several machines I have.

[2018-04-20 18:19] brobichaud opened #148 "Support Job spec and ReplicaSet spec"
---

### Environment summary
ACS cluster with Windows nodes, k8s v1.7.7-7. Windows Server 2016 RTM.

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)
0.1.1

K8s Master Info (e.g. AKS, ACS, Bare Metal)
ACS

Install Method (e.g. Helm Chart, )
Helm chart

### Issue Details
Is there any intention to support Job specs or ReplicaSet specs?

Jobs actually make a lot of sense for ACI. In m

[2018-04-20 18:25] rbitia commented on #123
how do we implement internal ip - dynamic fields are harder to implement in the downward api

[2018-04-20 18:28] rbitia commented on #123
we will pass in a "fake" value for ip to pass the conformance test for now

[2018-04-20 18:29] rbitia commented on #118
@resouer Are you okay with this?

[2018-04-20 18:37] rbitia commented on #78
To be fixed eventually..

[2018-04-20 18:38] rbitia commented on #68
expected behavior so closing

[2018-04-20 18:38] #68 closed

[2018-04-20 18:41] rbitia commented on #88
Make the experience easier to add a cert to enable kubectl logs
Ideally the apiserver certificate should be signed by the CA certificate in the master node.

[2018-04-20 20:39] countspongebob commented on #118
If I opened a PR to change the license and then we had all the contributors reivew/approve the PR, would that suffice?

[2018-04-22 05:12] rbitia commented on #148
Hey @brobichaud once you deploy your workload as a pod you can scale it up as a replica set. You could also add those fields in your pod spec itself! It will work. We are building VK so most K8 concepts will seamlessly work :D

[2018-04-23 07:27] erjadi commented on #106
In case anyone else is looking into it as well, please be aware that the documentation on https://docs.microsoft.com/en-us/rest/api/container-instances/startcontainer/launchexec is inaccurate

The fields in entity "terminalSize" are actually called "rows" and "cols", not "row" and "column".

[2018-04-23 14:56] arjanschaaf commented on #71
same here: getting this error and I don't see how I can fix this...

[2018-04-23 17:13] robbiezhang commented on #145
@lioncruise I believe you can run multiple VKs with mock provider on the same machine, however, it is not formally support.

[2018-04-23 18:11] brobichaud commented on #148
@rbitia I'm not sure what you mean? In order to scale up a pod don't I need a ReplicaSet or Deployment to wrap it? Are you saying that in my pod spec I could somehow specify the number of pods to create? Or are you saying that the virtual kubelet supports a replicaset spec now?

[2018-04-23 18:25] brobichaud opened #151 "Virtual kubelet pod restarting"
---

### Environment summary
ACS cluster with Windows nodes, k8s v1.7.7-7. Windows Server 2016 RTM

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)
0.1.1

K8s Master Info (e.g. AKS, ACS, Bare Metal)
ACS

Install Method (e.g. Helm Chart, )
Helm chart

### Issue Details
I've been running the virtual kubelet since last friday and just this morning noticed a high restart count. It see

[2018-04-24 01:44] lioncruise commented on #145
@robbiezhang Yes, what you believe is right, I have successfully run multiple VKs on the same machine with mock provider. The reason I did this is machine resource is not enough, and it's totally OK for a simulator.

But now I face the new challenge,  one machine can't support over 100 VK processes. I'm looking for bottlenecks. And I'm wondering whether multiple-thread approach is more effective t

[2018-04-24 02:53] lioncruise opened #152 "virtual-kubelet process exited after a period of time"
---

### Environment summary

Provider (e.g. Azure, Hyper)

Aliyun ECS

Version (e.g. 0.1, 0.2-beta)

latest version

K8s Master Info (e.g. AKS, ACS, Bare Metal)

v 1.8.4 installed by kubeadm

### Issue Details

Using `nohup ./virtual-kubelet --provider mock --nodename node-1` to start a VK, after a period of time, VK process exited and node became NotReady. As is shown above, VK process is runnin

[2018-04-24 07:15] arjanschaaf commented on #88
I also so this error when I install the connector. I don't see it when I follow the manual install guideline: https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#manual-set-up
Does this basically mean that the connector installation is broken?

[2018-04-24 07:40] arjanschaaf opened #153 "Schedule a pod in ACI example needs to sets resource limits in order to work"
---

### Environment summary

Provider (e.g. Azure, Hyper)

Azure

Version (e.g. 0.1, 0.2-beta)

virtual-kubelet-for-aks-0.1.3

K8s Master Info (e.g. AKS, ACS, Bare Metal)

AKS

Install Method (e.g. Helm Chart, )

Helm Chart

### Issue Details

When deploying a pod with the example YAML (https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#schedule-a-pod-in-aci)

[2018-04-24 08:04] arjanschaaf commented on #148
I was wondering about the same thing. Some examples on how to configure a Job / ReplicaSet to work with the virtual-kubelet taint configuration would be a big help.

[2018-04-24 10:01] arjanschaaf opened #154 "Azure AKS virtual-kubelet pod gets an public ip instead of a cluster ip"
---

### Environment summary

Provider (e.g. Azure, Hyper)

Azure

Version (e.g. 0.1, 0.2-beta)

virtual-kubelet-for-aks-0.1.3

K8s Master Info (e.g. AKS, ACS, Bare Metal)

AKS

Install Method (e.g. Helm Chart, )

Helm Chart

### Issue Details

After deploying a single pod on the virtual-kubelet node in my environment, I wanted to go a couple of steps further. I wanted to create a kubernetes deplo

[2018-04-24 12:37] arjanschaaf commented on #154
Interesting @erjadi that would help with the status of the ReplicaSet. Which is half of the problem I'm seeing. The other half is that these pods get a public IP which is a situation I don't want and need. I just need an IP address for my pod that is reachable within the Kubernetes cluster. I'll take care of the external visibility of pods that I want to expose by deploying an Ingress object for t

[2018-04-24 12:43] erjadi commented on #154
Unfortunately I believe that is a limitation of the design. The Container Instance that is running your pod does not have direct access to your AKS cluster which means on a network level there is no way of establishing a connection without assigning a public IP.

I think to fix this we would first need ACI to support deployment inside VNets, but I'm not sure if that's on the roadmap...

[2018-04-24 16:37] robbiezhang commented on #152
same as #151

[2018-04-24 16:37] #152 closed

[2018-04-24 16:41] robbiezhang commented on #153
Good catch. Fixed in #155

[2018-04-24 16:58] corrieb opened #156 "Feature: Node bootstrapping and certificate rotation"
**POC for Alpha**

We need a means for VK to participate in node bootstrapping, such that its certificates are correctly configured for authentication with the API server. This capability should work in the same way as a regular Kubelet in being able to refresh certificates as needed.

[2018-04-24 17:02] corrieb opened #157 "Feature: Exec and attach support"
**Alpha release**

Add necessary capabilities to enable a Provider to support Exec and Attach from Kubectl. Note that the Provider does not have to implement this, so there needs to be a mechanism for gracefully failing the request.

[2018-04-24 17:06] corrieb opened #158 "Feature: Support secret and configmap updates"
**Alpha Feature**

Currently, there is no way to propagate updates to secrets or configmaps to a Pod in VK. There needs to be a control loop that polls the API server for secret and configmap updates and this should then be pushed to the Provider either via the UpdatePod() function or via some explicit functions. See #159 as this is related

[2018-04-24 17:13] corrieb opened #159 "Feature: Design and implement UpdatePod() mechanism"
**Alpha Feature**

Currently, there's an UpdatePod() function in the Provider interface, but it is not driven by anything currently. There are two things that we need to accomplish here:

1) Decide on whether the Provider is responsible for caching Pod specs and doing the comparison work to figure out what updates need to be made to the Pod. If this is something every provider would need to do (it

[2018-04-24 17:16] corrieb opened #160 "Feature: Implement GRPC out-of-tree provider support"
** Alpha Release **

We need to enable Providers to be hosted out of tree. The mechanism by which this will work is to replace the existing compile-time dependency on Providers to a GRPC plug-in mechanism.

[2018-04-24 17:46] corrieb opened #161 "Feature: Design and Implement support for Services"
** Alpha Feature **

High-level requirement is to enable services to be created that front pods provisioned by Virtual Kubelet. This comprises 4 types of communication:

- service to service
- pod to service
- external service

It should be possible to support the above scenarios in two cluster types:

1) A hybrid cluster of Kubelet nodes and VK nodes
2) A nodeless cluster of just VK nodes

This i

[2018-04-24 18:06] corrieb opened #162 "Feature: Disable privileged containers for VK"
We need to figure out how to stop the API server from deploying Privileged containers to VK. This includes DaemonSets. This would likely be the mechanism we would use for preventing kube-proxy from coming up on the node.

[2018-04-24 18:39] corrieb opened #163 "Feature: Pass Service definitions to the Provider"
**Alpha feature**

See #161 for high-level feature

VK should listen for Services being created on the API server and pass those to the Provider with enough information that the Provider can set up the appropriate routes.

[2018-04-24 18:44] corrieb opened #164 "Feature: Specify or learn CIDR range for pods"
**Alpha feature**

It should be possible to specify a CIDR pod range for a VK when it's created and it should also be possible for VK to learn a CIDR range from the API server if that is desired. This should then be passed to the Provider so that it can allocate IP addresses to pods correctly.

[2018-04-24 18:51] corrieb opened #165 "Investigation: Decide how affinity constraints can be passed through to a Provider"
A VK node may represent multiple failure domains and there may be a separate scheduler that sits behind the VK that can handle affinity policy. In that respect, it should be possible for a node to advertise the fact that it represents multiple failure domains and can handle affinity policy for multiple pods.

This is something that needs to be raised with #sig-architecture.

[2018-04-24 18:59] corrieb opened #166 "Investigation: What can be gained from having a VK admission controller"
There are various aspects of control that's desired with respect to scheduling pods to Virtual Kubelet which may fall outside of the scope of taints and tolerations. This includes:

- Preventing VK from deploying privileged pods
- Preventing VK from deploying daemonset pods
- Possible role in enforcing per-tenant resource limits to VK nodes
- TBD (we need to clarify these requirements better)

Thi

[2018-04-24 20:47] corrieb commented on #159
We should review the syncPod code in Kubelet if it's helpful in determining an exhaustive list of what's possible to update. If that list is small, it might be worth adding granular calls to Provider. Otherwise a callback that allows Provider to compare Pod Specs would be useful.

[2018-04-24 21:16] corrieb opened #167 "Feature: External volume support"
**Alpha Release**

Virtual Kubelet already handles any volumes that are host-based: emptyDir, secrets, configmaps etc. However a volume that requires external storage to be provisioned, such as a block device, is currently not supported.

There are two key pieces of information in order to provide this support (1) The binding between the pod and a volume and (2) The lifecycle management of the vol

[2018-04-24 21:18] corrieb opened #168 "Investigation: Pod Metrics"
We need to investigate and propose a mechanism for Pods to report metrics back to the API Server

[2018-04-24 21:18] corrieb opened #169 "Investigation: Events"
We need to understand what business value is delivered by the VK sending events back to the API Server. What classes of events do we want to support and how does that link into the Provider?

[2018-04-24 21:36] corrieb opened #170 "Feature: Implement Port forwarding"
**Alpha Release**

There's a need to be able to open a port on the host running kubectl and tunnel through to a port on a Pod. We need to implement this capability in VK, which will likely require an update to the Provider interface.

[2018-04-24 21:38] corrieb opened #171 "Investigation: Do we need NodePort support?"
General feeling is that NodePort probably doesn't make sense for VK given that there's no node to open a port on. We should investigate the use-case for this and ultimately make a decision.

[2018-04-24 21:51] corrieb opened #172 "Feature: Improve Debug Logging and log persistence"
The VK codebase currently has a rather ad-hoc approach to logging. It doesn't currently have any formal approach for log persistence/rotation. We should come up with a standard approach for debug logging, add some better logging to the code and then publish the guidelines to the contributor FAQ.

[2018-04-24 22:59] robbiezhang commented on #154
@erjadi I've merged #147, and will push a new image soon. @arjanschaaf VNet support is on ACI's roadmap, and we are actively working on it.

[2018-04-25 08:35] erjadi commented on #157
Hi @corrieb , there is a similar Issue already opened https://github.com/virtual-kubelet/virtual-kubelet/issues/106
Although it specifically asks for the ACI provider implementation, it implies that VK code would need to be updated.

[2018-04-25 08:57] arjanschaaf opened #174 "Using env.valueFrom instead of env.value breaks deployment on ACI"
---

### Environment summary

Provider (e.g. Azure, Hyper)

Azure

Version (e.g. 0.1, 0.2-beta)

virtual-kubelet-for-aks-0.1.3

K8s Master Info (e.g. AKS, ACS, Bare Metal)

AKS

Install Method (e.g. Helm Chart, )

Helm Chart

### Issue Details

Instead of simply specifying an pod environment variable by its name & value:
[code]
you can also use the *valueFrom* For example to pass pod information t

[2018-04-25 17:51] robbiezhang commented on #174
Same as #123

[2018-04-25 17:51] #174 closed

[2018-04-25 17:58] robbiezhang commented on #143
It's a bug in the ACI provider. If the resources.limits is not specified, it will give a default value to 1.0 CPU and 1.5G memory. However, in the ACI side, it will verify that the limits of each container should be less than the sum of resources requested from all the containers in the pod. So, if you only have 1 container in the pod, and the resources.requests is no larger than 1.0 CPU and 1.5G

[2018-04-25 22:49] corrieb commented on #157
Thanks @erjadi I can close this as a duplicate. We just need to ensure that that issue gets the "alpha release" label.

[2018-04-25 22:49] #157 closed

[2018-04-26 01:01] asrivas-vmw commented on #160
@rbitia You can assign this issue to me.

[2018-04-26 10:41] aku105 opened #177 "[Azure] Kubectl logs not working."
---

### Environment summary

Provider (e.g. Azure, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)
Tried Release v0.2-beta-11 as well as built new one from Master HEAD.

K8s Master Info (e.g. AKS, ACS, Bare Metal)
Provisioned using acs-engine.

Install Method (e.g. Helm Chart, )
Installed as an add-on on acs-engine.

### Issue Details
I can create a pod on the ACI using the virtual-kubelet, but I'm no

[2018-04-26 18:06] #12 closed

[2018-04-26 21:15] rbitia commented on #177
Hey @aku105 you need to do some extra configurations to enable kubectl logs: https://ritazh.com/understanding-kubectl-logs-with-virtual-kubelet-a135e83ae0ee
Rita wrote up a great article on it, scroll down to the bottom to see how to set it up!

[2018-04-27 08:48] erjadi commented on #88
I've experienced the same issue with the packaged installer, when I check my corresponding kubernetes secrets they would turn up empty. Just like @arjanschaaf I am using the manual installation steps without issues.

[2018-04-27 15:14] aku105 commented on #177
Thanks @rbitia, seems like it's an implementation issue in acs-engine.

[2018-04-27 15:14] #177 closed

[2018-04-27 16:07] rbitia commented on #71
@arjanschaaf have you tried these steps?:
To add the SP:
cat ~/.azure/aksServicePrincipal.json (file might be acsServicePrincipal.json)
Copy the number after service_principle
In your aksResourceGroup add an IAM contributor role to the SP #

Delete the pod and it will come back up on its own: kubectl delete po myaciconnector-linux-virtual-kubelet-1466967171-hbnvj’

[2018-04-27 18:13] rbitia commented on #71
Use this when you create the aci connector:

--aci-resource-group MC_[aks resource group name]_[aks name]_[aks location]

[2018-04-29 20:24] arjanschaaf commented on #71
@rbitia I worked around it by manually installing it following https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#manual-set-up
Maybe these additional steps should be added to the https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#quick-set-up-with-the-aci-connector segment. The current documentation suggests that installi

[2018-04-30 19:18] ewbankkit opened #180 "Support additional Fargate AWS regions"
---

### Environment summary

Provider **Fargate**

Version **v0.2-rc-1**

K8s Master Info **EKS**

Install Method **N/A**

### Issue Details

Fargate [now supports](https://aws.amazon.com/about-aws/whats-new/2018/04/aws-fargate-now-available-in-ohio--oregon--and-ireland-regions/) three additional AWS regions:

* us-east-2
* us-west-2
* eu-west-1

Ensure that VK's Fargate provider runs in these re

[2018-04-30 19:51] jmezach commented on #143
@robbiezhang Perhaps the docs should be updated to reflect this. Ran into the ContainerLimitGreaterThanContainerGroupTotalRequest error as well, but Googling the error yields no results (which is a first ;)). Took me quite some time to figure out what was going wrong.

[2018-05-01 14:53] #180 closed

[2018-05-02 20:00] pierreroman opened #184 "Error: Get http://localhost:8080/version: dial tcp [::1]:8080: connect: connection refused when installing connector"
---

### Environment summary

Provider : ACI
K8s Master Info : AKS
Install Method : Helm Chart

### Issue Details
trying to deploy virtual-kubelet to AKS cluster in Azure from Windows 10 bash using azure-cli.

az aks install-connector \
    -n openhackk8s \
    -g openhack \
    --connector-name aci-connector

keep getting errors:

Merged "openhackk8s" as current context in /tmp/tmpx5h_q43x
Deploy

[2018-05-02 21:20] robbiezhang commented on #184
please run `helm init` before running the install-connector command

[2018-05-02 21:30] pierreroman commented on #184
i did that,  sorry i did not include it in the problem description

[2018-05-02 22:26] robbiezhang commented on #184
Looks like a helm issue: https://github.com/kubernetes/helm/issues/3460

Can we take a look at the tiller log first?
[code]

[2018-05-03 00:32] bacongobbler commented on #184
workaround is `helm init --service-account default` until we release v2.9.1.

[2018-05-03 07:06] ssudake21 opened #185 "[AWS Fargate] Fetching in-cluster config fails from farget container."
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper) Farget

Version -  Latest 18adde2aca4ebe72aee1c0320e9affad218e1933

K8s Master Info  - Cluster created with Kops on AWS

Install Method (e.g. Helm Chart, ) Manually. Referred steps in https://aws.amazon.com/blogs/opensource/aws-fargate-virtual-kubelet/

### Issue Details

I am trying to run a pod which uses in cluster configurat

[2018-05-03 10:33] rbitia opened #186 "Wrong node name -lack of error"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )
az aks install-connector
### Issue Details
If you use the wrong node name it's really hard to figure out what went wrong.. Need to improve the exp.
### Repo Steps
Install the connector through the az cli
Create

[2018-05-03 16:49] pierreroman commented on #184
had to tear down tiller.  re-install and it worked.

closing this issue

[2018-05-03 16:49] #184 closed

[2018-05-07 22:31] robbiezhang commented on #186
It's k8s behavior. If you use a wrong name in the podName property, the pod will disappear soon. Recommend you use nodeSelector or affinity.nodeAffinity in the sample.

[2018-05-07 22:57] robbiezhang commented on #186
looks like we don't have the common label `kubernetes.io/hostname` on the VK node.

[2018-05-07 23:17] robbiezhang commented on #186
Fix in #188

[2018-05-08 06:17] rtyler opened #189 "Failing to schedule pods on nodes with node selectors"
---

### Environment summary

Provider: ACI

Version: whatever `az aks install-connector` installs

K8s Master Info: AKS 1.9.6

Install Method: `az`

### Issue Details

I seem to be unable to provision a pod using Node Selectors, rather than a node name, via the ACI connector in this AKS environment. Provisioning with a node name does work on this cluster, but no dice with selectos only.

The virt

[2018-05-08 18:04] robbiezhang commented on #189
@rtyler, I notice the "PodToleratesNodeTaints(2)" in the message of the FailedScheduling event.
I suspect that you don't have the tolerations in your pod spec?
[code]

[2018-05-08 18:13] rtyler commented on #189
@robbiezhang No, I don't have tolerations in my pod spec, I wasn't aware that those were necessary for the use of virtual-kubelet

[2018-05-08 20:01] ewbankkit opened #190 "make clean failing"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper): N/A

Version (e.g. 0.1, 0.2-beta): latest

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): N/A

Install Method (e.g. Helm Chart, ): N/A

### Issue Details

`make clean` is failing.

Seems to be a hangover from https://github.com/virtual-kubelet/virtual-kubelet/commit/1a62e34104f17188dd13c1ade221a95c6e9d4fd3.

### Repo Steps

[2018-05-08 21:58] rbitia commented on #148
This demo goes through how to make a replica set for the azure container instances that get spun up from vk: https://github.com/rbitia/aci-demos

Does this help clear up the questions?

[2018-05-08 23:12] rtyler commented on #189
Yeah, that seems to be the issue I was having :smile:

[2018-05-08 23:12] #189 closed

[2018-05-09 04:28] jmshal opened #192 "[Azure] Using Service Principal credentials to pull private image in ACR"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)

ACI

Version (e.g. 0.1, 0.2-beta)

`microsoft/virtual-kubelet:latest` (aka. 0.2-beta-12)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

AKS

Install Method (e.g. Helm Chart)

`az aks install-connector [...]`

### Issue Details

When specifying a private image hosted on an ACR (Azure Container Registry), the Azure AD Service

[2018-05-09 13:38] rbitia commented on #192
Thank you for all the detail! The AD service principle creds do not get passed down to ACI so your workaround to create a secret is the recommended way to pull from ACR. I agree you shouldn't need to think about where your pod is running ACI vs. in cluster so in the future we will figure out how to enable that workflow.

[2018-05-09 19:41] ewbankkit opened #193 "[AWS Fargate] ClientException: Fargate requires task definition to have execution role ARN to support log driver awslogs."
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper): AWS Fargate

Version (e.g. 0.1, 0.2-beta): latest

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): N/A

Install Method (e.g. Helm Chart, ): N/A

### Issue Details

In `fargate.toml` I specify a CloudWatch log group name but no execution IAM role.
Virtual Kubelet starts but I get errors as I try to create pods:

[code]

This c

[2018-05-09 21:03] jmshal commented on #192
Thanks @rbitia! It's great to have that clarification.

[2018-05-09 21:57] erjadi commented on #106
Hi everyone,

I've given this a first stab and I'd love to know if anyone here would be willing to give me a hand. Right now I've only implemented exec in my fork, since I think it's quite a way off from becoming a pull request. It's currently very limited:

- Only implemented ACI provider
- Only works from Kubernetes UI (not kubectl command line)
- Clean up of terminal routines is buggy, kubectl

[2018-05-10 17:37] #193 closed

[2018-05-10 17:54] #190 closed

[2018-05-11 04:28] corrieb opened #196 "ResourceManager needs to index by namespace for objects"
Currently the ResourceManager has a single map for each object and indexes by object name. The object name is only unique within a given namespace, so you could have multiple objects of the same name within different namespaces.

As currently written, the maps can only capture one object per name, assuming it's unique. The simplest solution would be to create a composite of "namespace.name" as the

[2018-05-11 05:03] corrieb commented on #163
Thinking about the architecture for this. There's a clear separation in the codebase between the control loop that updates the Provider with Pods (in the main server) and the control loop that updates secrets and configmaps (in resourcemanager). The difference seems to be that secrets and configmaps are specifically bound to pods when pods are created and it was probably assumed that the Provider

[2018-05-11 19:29] ofiliz commented on #164
I expect the way pod CIDR range is specified to be different for each provider. For Fargate, the CIDR range is implicit in the VPC subnet being passed in provider configuration. The solution needs to be flexible to account for that.

[2018-05-14 19:18] robrich opened #198 "[Azure] Run on master node"
I'm confident this isn't the right place, but not seeing a better place, here goes:

**Problem Statement:** I'm trying to run a 0-node cluster on AKS (v 1.9.6).  E.g. the ACI-connector will be the only worker node on the system.  However, when I delete the vm worker nodes on the AKS account, it shuts off tiller and the aci connector.  It makes sense: they were running on a worker node.

**Desired

[2018-05-14 20:46] robbiezhang commented on #198
It's not supported now. The virtual-kubelet (ACI-connector) must be run on a worker node.

[2018-05-15 16:26] rbitia commented on #157
I will start adding labels as "alpha"

[2018-05-15 19:33] bacongobbler commented on #184
This has been fixed with helm v2.9.1, which was released yesterday. Please upgrade to get the fix or use the workarounds provided in kubernetes/helm#3985 if you're on v2.9.0. Thanks! :)

[2018-05-16 07:45] erjadi commented on #33
Hi @AceHack , it seems an IoT Edge vk provider was released last week. See https://azure.microsoft.com/en-us/blog/manage-azure-iot-edge-deployments-with-kubernetes/

Haven't tried it out myself though, let us know your experiences if you have!

[2018-05-16 18:18] rbitia opened #202 "link to vk drive"
https://drive.google.com/drive/folders/19Ndu11WBCCBDowo9CrrGUHoIfd2L8Ueg

[2018-05-16 21:46] asrivas-vmw commented on #160
I spent some time researching this last week and it looks like we will need to either pull in all K8s types as part of the protobuf definition, or limit the provider interface to something that is a subset of a pod spec. The latter sounds undesirable so I'm looking for ways, if folks are aware of any, to pull in all of the podspec into a protobuf without having to re-define each and every field ex

[2018-05-16 22:07] rbitia commented on #106
@sflxn

[2018-05-17 04:59] erjadi commented on #106
Thanks guys! @sflxn currently I believe ACI only supports exec, not attach, which was my first motivation to try my hand at this.

Once we do agree on the implementation for exec, I believe we could already add the interfaces for attach on the vk side since they are almost functionally the same.

[2018-05-17 13:25] lioncruise opened #203 "Print "open : no such file or directory" when create VK node"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)

AliCloud ECS

Version (e.g. 0.1, 0.2-beta)

latest version

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

1.8.4 installed by kubeadm

### Issue Details

When I start a VK node with mock provider, it always prints a message "open : no such file or directory" as following. The debug message is written by me to locate this pro

[2018-05-17 19:17] ofiliz commented on #160
I had also proposed the approach @sflxn described above during the VK offsite. This is similar to what CNI does: Build functionality as a library that plugins can link to.

I don't think having "many variants of the virtual-kubelet floating around" is a problem. That should actually be the desired behavior. If I don't have to distribute other provider logic in my own Fargate provider, I don't have

[2018-05-18 08:00] d-nishi commented on #203
@rbitia  this is an error within virtual-kubelet but not specific to --provider aws rather --provider mock that simulates the expected behavior on the client side. I am looking at this but just want to confirm if the "label" reflects a provider error or if it reflects who is assigned to the bug?

@lioncruise looking at the problem - will revert!

[2018-05-18 08:16] d-nishi commented on #185
@ssudake21 will respond as soon as I have a clear path forward here!

[2018-05-18 11:09] ssudake21 commented on #185
Sure @d-nishi . Thanks for acknowledgement.

[2018-05-18 17:47] rbitia commented on #202
#204

[2018-05-18 17:47] #202 closed

[2018-05-19 00:26] sflxn commented on #106
[code]
I think the answer to this is that the VK just needs 3 streams (for stdin, stdout, stderr) from whatever runtime the provider provides.  How you get the 3 streams should be up to the provider.  In this case, you're passing the password to ACI so that's setup work and should be in the provider itself.

[code]
I'm not sure what you mean by this.  Are you referring to the terminal resizing?  W

[2018-05-21 01:00] d-nishi commented on #203
Thanks @ofiliz for removing aws label

[2018-05-22 03:37] rbitia commented on #203
ah yeah I thought it was a provider specific one so ignore that label :)

[2018-05-22 06:55] d-nishi commented on #203
@rbitia thats fine!

@lioncruise this is not happening because of Run() function in vkubelet.go file
It is happening when the mock provider tries to run `go ApiServerStart(p)` here: https://github.com/virtual-kubelet/virtual-kubelet/blob/master/vkubelet/vkubelet.go#L125

1. Lets prove this 1st. I am using virtual-kubelet release v0.2-beta-11
Modify the cmd/root.go file here and make build. Then ru

[2018-05-22 12:21] erjadi commented on #106
Hi @sflxn , thanks a lot for the feedback, really appreciate it. A lot of points I've figured out since I posted, and like you said there's a bunch of provider specific actions that need to be moved out of the VK. This implementation was mostly a way to see if I could make ACI exec work, and that's why the VK code is not up to scratch (and why it's not a PR but a fork). I'll do a clean implementat

[2018-05-22 22:55] gamer22026 opened #208 "Pod not rescheduled if corresponding Fargate task is stopped manually"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
**AWS Fargate**
Version (e.g. 0.1, 0.2-beta)
**v0.3**
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
**1.8.12 via kops**
Install Method (e.g. Helm Chart, )
**manual**
### Issue Details
Killing a Fargate task via ECS dashboard that was started by a kubernetes deployment leaves pod in Pending mode. Would expect the deployment to

[2018-05-23 19:05] sflxn opened #209 "Vendoring in kubernetes is breaking the build after dep ensure"
The current repo will fail to build if we perform dep ensure on the repo.  Vendoring kubernetes is causing this breakage.  It causing breakage within other vendored libraries:  client-go and hyperhq's libcompose.

[code]

[2018-05-23 19:18] robbiezhang commented on #156
#88 #203

[2018-05-23 19:22] robbiezhang commented on #203
Similar to #88 and related to #156. The VK needs a SSL certificate to start the "apiserver" to serve the interactive requests from kube-apiserver, i.e. logs, exec, attach, etc. As we tested, a self-signed certificate will work, if kube-apiserver doesn't turn on the TLS validation. Otherwise, you need to give a certificate signed by the ca of the cluster. Close as a dup.

[2018-05-23 19:22] #203 closed

[2018-05-23 19:30] robbiezhang commented on #209
@resouer can you take a look?

[2018-05-23 20:22] sflxn commented on #106
Hi @erjadi, in regards to the size events, are you sure about this?  I believe I saw the kubectl code that creates a stream just for size.  On the kubelet side, there is a goroutine that reads the stream and signals the size channel.

[2018-05-23 21:06] lcastellano opened #210 "Virtual kubelet fails initialization when using a config file with clusterrole = system:node"
---

### Environment summary

Provider: mock

Version (0.2-beta)

K8s Master Info (ubuntu VM, vSphere)

Install Method (Hard Way)

### Issue Details
When given a correct kubelet config file (with clusterrole system:node), the Virtual Kubelet fails to start. It exits with a ###Forbidden error message when trying to register a watch for either: configmaps and secrets. This is the correct authorizati

[2018-05-24 01:08] erjadi commented on #106
Hi @sflxn, I've done a clean implementation now and I'm happy to see that kubectl exec -it works.

I may have not expressed myself clearly: I did not handle the resize events **after** I've created the websocket to the backend (since there is no resize on ACI). So in that sense both exec from the UI and the command line should be the same (i.e. I wait for the first resize event and then open up th

[2018-05-24 09:29] fisherxu commented on #196
Has sent a PR to fix this, PTAL. @rbitia @robbiezhang @corrieb

[2018-05-24 11:05] erjadi commented on #106
I've created https://github.com/virtual-kubelet/virtual-kubelet/pull/212
We will need to fix the above two points before merging.

[2018-05-25 18:00] sflxn commented on #160
Per our conversation at the VK weekly meeting on 5/23, we all agreed to go ahead and do the library approach.  We can always move back to the independent binaries communicating with GRPC later.

[2018-05-26 15:48] ntfrnzn commented on #209
note https://github.com/kubernetes/client-go/issues/417#issuecomment-391358008
[code]
will help with client-go.  iirc there's a particular yaml version necessary also.

[2018-05-28 20:19] AaronFriel opened #213 "Virtual Kubelet fails to start pod with multiple containers"
### Environment summary

Provider: Azure

Version: `microsoft/virtual-kubelet:latest`, which is resolving to 0.3.0 / `sha256:9aa45256ca11dc7ade4c4f0058bd848bb864e73c685f2d4f7e39739be263f669`.

K8s Master Info: AKS

Install Method: `az aks install-connector`

### Issue Details

GitLab's Kubernetes executor launches a two-container (`build` and `helper`) pod. By using a fork of the Gitlab-Runner by

[2018-05-29 02:43] AaronFriel commented on #213
Update: I thought that the `gitlab/gitlab-runner-helper:x86_64-unknown` image could be causing the problem, but that wasn't it either. I also tried manually setting `resources` on each pod to no avail. Even manually trimming down the pod to a minimal set of configuration keys doesn't seem to do it:

[code]

I am at a loss. The helloworld pod schedules fine, this sits in `pending`. 😞

[2018-05-29 12:06] lawrencegripper commented on #209
Also seeing this as an issue with #133

Would be nice to add a `dep ensure` task to the build process to make sure everything is lined up before PR can be merged. Happy to do this as a PR if it would be of use.

[2018-05-29 21:42] stevenpall opened #215 "Reason for Having Two Helm Charts"
Hi there,

I'm considering submitting a pull request to generalize the existing virtual-kubelet Helm chart(s) and I was wondering why there are currently two separate chart directories (`virtual-kubelet` and `virtual-kubelet-for-aks`). From what I can tell, these are very similar, especially considering the `virtual-kubelet` chart is really only useful on AKS at the moment anyway.

As the number "

[2018-05-30 18:03] rbitia commented on #215
Agreed, having a generic pluggable chart would work. Maybe creating one for the sample CRI provider would make sense?

From there each provider could add their own specific chart in the charts folder for easy access or we can move them all to the separate provider folders.

[2018-05-30 18:04] rbitia commented on #213
hey Aaron! Sorry for the late reply. Can you get any logs from the connector itself?

[2018-05-30 18:05] rbitia commented on #213
Also feel free to email me at ribhatia@microsoft.com and set up sometime. We can dig into your issue more deeply :)

[2018-05-30 18:07] rbitia commented on #210
@corrieb can you take a look at this one?

[2018-05-30 18:08] rbitia commented on #209
@lawrencegripper go ahead and take it on :)

[2018-05-31 15:00] lawrencegripper commented on #209
So enabling dep in the CI was easy and fixing the `client-go` issues was too thanks to @ntfrnzn

Just trying to work out how to make things play nice for hyperhq's libcompose which is taking some more time.

[2018-06-01 01:18] rbitia opened #217 "[Azure] make connector name optional"
Today in the az cmdline as a user you need to add a --connector-name connectorname when in reality this can be a default value.

[2018-06-01 19:48] rbitia opened #218 "Hypothetical issue of "too many virtual kubelet pods""
Is there a limit for "too many" connectors other than the packing of the VK pods on nodes on the physical agents in the cluster.

[2018-06-04 21:15] rbitia commented on #170
What does port forwarding enable since we have exec already?

[2018-06-04 21:17] rbitia commented on #164
So is this provider specific? Does VK need to understand CIDR ranges?

[2018-06-04 21:20] rbitia commented on #164
We think this isn't necessary?

[2018-06-04 21:24] rbitia opened #221 "Labels for VK nodes"
will add description soon

[2018-06-05 20:50] Nalgmann opened #222 "[Azure] Routes cannot be created in virtual kubelet: instance not found"
---

### Environment summary

Provider: Azure

Version: `microsoft/virtual-kubelet:latest`, resolving to `0.3` at Jun-05

K8s Master Info: AKS, `version 1.9.6`

Install Method `az aks install-connector`

### Issue Details

Following the steps in README.md the connector (whether windows o linux) is deployed, but after a little while this restarts. Also the pod assigned to the deploy is scheduled to

[2018-06-05 20:58] robbiezhang commented on #222
this is expected, since the virtual-kubelet node doesn't exist in the ARM control plane. However, it should not impact any functionality. @Nalgmann do you have any concern on the route error?

[2018-06-05 21:12] Nalgmann commented on #222
The thing is, after a while, the node doesn't exists, it is restarted. The virtual kubelet appears after 10-20 minutes and after a minute restarts again, becoming unavailable.
[code]

I don't know if that is normal, but I think that may not happen. And when a pod is scheduled to the kubelet, it stays in pending. The longest I waited is 15 minutes, and it was still pending.

This is a sample of the

[2018-06-05 21:58] Nalgmann commented on #222
This is the output of the description when the VK node dissapears:
[code]
And this is the pod log:
[code]
I know the cert is not a problem. It should run anyway

[2018-06-05 23:35] robbiezhang commented on #222
thanks for sharing. it's more like #151. The virtual-kubelet process somehow exits in the VK pod, and the pod restart the container with the default backoff interval. During the interval, the node will be removed by the apiserver since it's not in the ARM control plane. I'll try to add a loop in VK to mitigate the issue.

[2018-06-06 06:35] kevin-zhaoshuai commented on #22
Finished all the gophercloud support work for Zun now. Gophercloud is the OpenStack golang client. The WIP code for virtual-kubelet is in my [Repo](https://github.com/kevin-zhaoshuai/virtual-kubelet), will refine the code and submit a PR here in a few days.

[2018-06-06 19:51] rbitia opened #223 "[Azure] VK is not cleaning up after deleted aci pods"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)
latest
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
az cli command
### Issue Details
Rias-MacBook-Pro:vk-tensorflow-demo riabhatia$ helm del --purge demo
release "demo" deleted
Rias-MacBook-Pro:vk-tensorflow-demo riabhatia$ helm install charts/tensorstuf

[2018-06-06 21:05] asrivas-vmw commented on #160
Agreed, that does sound like the better short term approach for sure rather than redefining all of the Kubenetes types and interfaces as part of the protobuf. I'm happy to look into this when I get a chance, but if anyone is interested in getting this done soon, let me know and I can re-assign it.

[2018-06-07 00:09] Nalgmann commented on #222
So it seems it is something weird the cluster does sometimes. Thank you so much for your time, @robbiezhang. I see that is not so trivial than I thought.

[2018-06-07 01:16] martell opened #225 "[Azure] Number of containers per container group limit"
I'm glad to see great work has been done with migrating from the js/typescript version to the provider agnostic go version that is virtual-kubelet. Great work by all involved

I'm looking at rolling this out with some level of scale once the exec spec and been formalized and merged with aci support.

Looking at the MS documentation for limits.
https://docs.microsoft.com/en-us/azure/container-insta

[2018-06-07 22:47] sflxn commented on #167
I have an initial design proposal awaiting feedback from internal people.  I hope to present that at the next nodeless architecture meeting.

[2018-06-11 21:09] #151 closed

[2018-06-11 21:34] Nalgmann commented on #222
Update: I used a YAML instead `az` command to try the implementation of the connector based on [this page](https://anthonychu.ca/post/windows-containers-aci-connector-kubernetes/). This is the deploy:
[code]
When I deploy my pod in `aci-connector` I get this output with `describe`:
[code]
I hope this can be useful.

[2018-06-12 22:36] robbiezhang commented on #222
the latest images (0.3.2) should have fixed the issue.

[2018-06-12 22:36] #222 closed

[2018-06-14 14:40] neumanndaniel commented on #215
With the AKS GA release and RBAC support available in AKS it is important to have them merged together. Per default az aks install-connector is using virtual-kubelet-for-aks without RBAC support. --chart-url does not work currently for me specifying the virtual-kubelet Helm chart. I am getting Error: gzip: invalid header

[2018-06-14 22:47] Nalgmann opened #228 "[Azure] Cannot get metrics from virtual kubelet (Unable to get metrics for resource cpu: no metrics returned from heapster)"
Hi! I hope you have a nice day. I'm having a detail:

### Environment summary

Provider: Azure

Version: `microsoft/virtual-kubelet:latest`, resolving to `0.3.2` at Jun-14

K8s Master Info: AKS, version `1.9.6`

Install Method: `helm install`, due to get logs from pods and nodes

Complete command:
`$ helm install "$CHART_URL" --name "$RELEASE_NAME" --set env.azureClientId="$AZURE_CLIENT_ID",env.az

[2018-06-15 11:44] jpds opened #229 "virtual-kubelet show error 'interface public not found'"
### Environment summary

Provider: AWS Fargate

Version: v0.3.2

K8s Master Info: kops AWS

Install Method: virtual-kubelet binary on EC2 node

### Issue Details

When we run the virtual-kubelet on our EC2 node, we always see this as the first line of output:

[code]

I've tried grep'ing this git repo to find out where this comes from but I can't find where this is coming from.

[2018-06-15 16:44] jpds commented on #229
This is possibly related to https://github.com/cloudnativelabs/kube-router/issues/468

[2018-06-16 01:28] robbiezhang commented on #228
VK doesn't provide container/pod metrics today. We have an investigation item #168. Ideally, it should simulate the cAdvisor service or kubelet:10255.

[2018-06-18 17:21] #223 closed

[2018-06-19 03:58] pavanagrawal123 commented on #41
@rbitia have there been any updates in the department of load balancing on AKS w/ an ACI-connector?

[2018-06-20 15:38] jpds commented on #20
Interestingly, calico appears to be configured to ignore taints completely and so virtual-kubelet keeps trying to schedule its daemonset onto Fargate/other: https://github.com/kubernetes/kubernetes/issues/57120

[2018-06-20 16:40] sabbour opened #232 "Virtual Kubelet podWatcher watches in the installed namespace only"
Design document says Virtual Kubelet defaults to monitoring all namespaces but it seems from this line that it actually defaults to monitoring the namespace that the Virtual Kubelet has been installed in.

https://github.com/virtual-kubelet/virtual-kubelet/blob/8068f3cac80a2cbc64e97af040ffd2caf3234f1e/vkubelet/vkubelet.go#L208

[2018-06-20 17:41] sabbour commented on #232
Created a PR https://github.com/virtual-kubelet/virtual-kubelet/pull/233

[2018-06-20 17:42] sabbour commented on #229
I've seen that error on AKS as well.

[2018-06-20 23:50] robbiezhang commented on #232
s.namespace is determined by the `--namespace` input parameter.
https://github.com/virtual-kubelet/virtual-kubelet/blob/027b76651da0735fa84758d8d7928e336afaf791/cmd/root.go#L75

We uses "default" namespace in the helm chart, but you can update the deployment to customize your VK. If you want the VK to monitor all namespaces, you can remove it from the start up command.
https://github.com/virtual-k

[2018-06-20 23:50] #232 closed

[2018-06-21 04:13] sabbour commented on #232
Thanks for clarifying @robbiezhang , though I think this should be a parameter in the Helm chart with a default value instead of being hardcoded. If you don't mind, I can do a PR for that.
One other aspect of this, it should be configurable from the az CLI, somewhere around this line I suppose: https://github.com/robbiezhang/azure-cli/blob/e3f6d714554c316903d850a4c0ef16f7cb8a7382/src/command_modul

[2018-06-21 04:17] sabbour commented on #232
Also I'm confused this:
The command says `kubernetes namespace (default is 'all')` but the Helm chart is hardcoded to use `default`.

[2018-06-21 04:30] rbitia commented on #225
So we have a limit of about 60 containers within a container group. A container group matches what a pod is in Kubernetes. For the number of container groups you can create itself there's a limit of 20 (but this can be increased if you talk to us).

The way you create container groups is the way you create a pod in kubernetes and if you scale that up you will have multiple container groups or pods

[2018-06-21 05:17] #217 closed

[2018-06-21 05:17] #218 closed

[2018-06-21 05:18] rbitia commented on #210
Ah is this because we haven't enabled cluster roles?

[2018-06-21 08:35] sabbour opened #234 "Build is broken on MacOS"
---

### Environment summary

[code]

### Issue Details

Build is broken on MacOS

[code]

### Repo Steps

[code]

then apply the fix in https://github.com/virtual-kubelet/virtual-kubelet/pull/231
then try to build

[code]

[2018-06-21 08:36] sabbour commented on #234
Pinging @sflxn and @corrieb since it appears both are from their commits.
Is this supposed to build on MacOS?

[2018-06-21 08:52] ofiliz commented on #234
I don't think we care about macos. That is neither a container-capable operating system nor a Kubernetes platform. On the other hand, these changes probably broke Windows, too, which is both a container-capable operating system and a Kubernetes platform.

You can cross-compile for Linux by setting your env GOOS=linux.

[2018-06-21 09:57] sabbour commented on #232
Created a PR https://github.com/virtual-kubelet/virtual-kubelet/pull/235

[2018-06-21 17:47] robbiezhang commented on #229
The error message is printed before the first message of the virtual-kubelet. I can see the message even I just run `go run main.go`
The error message is first seen in tag 0.3.1. It doesn't appear in 0.3.0. I tried all commits between these 2 tags, and find commit 513cebe7b7cf590cd53c02ea8da1a20b58dd8f18 (#206) probably is the one introduced the issue.

@sflxn, can you take a look at this issue?

[2018-06-21 21:38] sflxn commented on #234
@sabbour Yeah, my code will not build on Mac or Windows unless you do as @ofiliz suggested.  Our code wasn't designed to run on Mac or Windows.  Another suggestion is to use a linux VM to do all your work.

[2018-06-21 21:44] Nalgmann commented on #228
Oh, I see. All right. Thank you so much for your response. Sorry for not responding earlier. I thought metrics were simpler

[2018-06-21 22:34] Nalgmann opened #237 "[Azure] Cannot get more than 3 replicas scaling deployment"
---

### Environment summary

Provider: Azure

Version: `microsoft/virtual-kubelet:latest`, resolving to `0.4` at Jun-21

K8s Master Info: AKS, version `1.9.6`

Install Method: `helm install`, due to get logs from pods and nodes

Complete command:
[code]
### Issue Details
I have an image that checks every X minutes the number of requests made to a deployment. If the number of requests gets over a

[2018-06-21 23:04] robbiezhang commented on #237
Looks like it failed to create the pod in the ACI. Thus, you won't be able to see any log from the pod. Are you out of ACI quota? You can get more details from the VK pod.

[2018-06-22 00:56] Nalgmann commented on #237
I'm not sure if my ACI quota is out. In fact, I don't know if that is possible or qhat that implies, but I can share VK pod logs:
[code]
Other pods can be noted because I made some tests about it. Some of the errors (like `ResourceNotFound`) I imagine is for checking ACI status in azure.

[2018-06-22 06:03] rbitia opened #238 "Add a liveness probe"
We need to add liveness probes into VK :)

[2018-06-22 06:16] jskulavik commented on #238
What context should they run in?  Probes need to be external to the cluster, VM, process, etc in order to be effective and reliable.

[2018-06-22 17:08] lcastellano commented on #210
I don't think that is related enabling clusterroles. Here are mode details.
The regular Kubelet runs with cluster role: **system:node**. This role is more restrictive than **admin**.  Specifically an account with **system:node** role is forbidden to perform watch operations on the resources **secrets** and **configmaps**. The following commands can be used to find the permissions of the admin role

[2018-06-22 17:39] robbiezhang commented on #237
I cannot repo the issue in my AKS-VK cluster. I checked the server side log, and don't think it's ACI or VK issue. VK doesn't know about the deployment/replicas. The scale up/down is done by the controller, and VK will not delete pod proactively.
Do you have other component operating the deployment? Can you check the desired replicas number in the deployment spec?
According to the log, the pod pjx

[2018-06-22 18:31] robbiezhang commented on #210
@lcastellano Thanks for sharing the information. I believe the VK needs the watch permission to get notified effectively when the secret/configmaps is changed. I'm curious about how kubelet implement to re-mount the secret volume when secret is changed. Do you have any idea?

[2018-06-22 23:36] Nalgmann commented on #237
I have a load balancer to manage the app based on a selector. The number of replicas configured in the deployment is 1. Attach a definition of my deployment:
[code]

[2018-06-22 23:45] robbiezhang commented on #237
Can you run `kubectl describe deploy clientsv3-staging`? It might give you some idea.

Here is my test deployment. I can scale up to 10 and 30 without any problem. All the pods are up and running soon.

[code]

[2018-06-22 23:58] Nalgmann commented on #237
This is what I get when the deployment is described:
[code]
3 pods are requested but after a moment the deploy is downscaled

[2018-06-23 00:00] robbiezhang commented on #213
@AaronFriel, I read the thread again, and realize that the gitlab pod's namespace is **gitlab**. While the VK installed by `az aks install-connector` only watches the pods in the **default** namespace.

#235 will fix your issue. For now, you can update the VK deployment by removing the `--namespace` option
[code]

[2018-06-23 00:05] #209 closed

[2018-06-23 01:18] robbiezhang commented on #237
Can you describe of the replicaset? You may have multiple replicasets associated with the deployment. Describe the one with 2 pods.

[2018-06-23 01:53] Nalgmann commented on #237
These are my replica sets:
[code]
This says I have no more replica sets pointing to my deployment.
This is the description:
[code]
`max-replicas=3` says something, but `desired-replicas=2` is kind of strange.

[2018-06-24 07:53] sabbour commented on #234
The `export GOOS=linux` workaround did the trick. Thanks.

[2018-06-24 07:53] #234 closed

[2018-06-26 20:30] rbitia commented on #238
Here's some context: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-liveness-probe

We are looking within the container at runtime to make sure the app is running the way it should.

[2018-06-28 23:19] Nalgmann commented on #237
All right. I removed the `strategy` from my deployment and the cluster created ACIs as replicas I requested. It seems it was due some kind of guess in resources usage. I think the cluster, unable to get metrics (VK) supposed just 2 replicas was necessary by the moment, terminating the others (maybe the `25% max surge` was involved).

I think this issue can be closed. This is not a bug but misknowl

[2018-06-28 23:19] #237 closed

[2018-06-29 21:42] AaronFriel commented on #213
Oh thank you!

[2018-06-30 07:15] fisherxu opened #245 "KubeNamespace for VK"
Now the kubeNamespace is "all" in default, but if we set it to a specified value(ns), the VK only accepts pods under ns. But the schduler has no the strict, it can schdule pod in any namespace to VK, so pods not in ns will exec failed. So the kubeNamespace be really useful in VK? I think we should accept all pods like a node.
/cc @rbitia @robbiezhang

[2018-07-01 15:15] sabbour commented on #245
@fisherxu are you seeing the same behavior my comment here: https://github.com/virtual-kubelet/virtual-kubelet/pull/235#issuecomment-399740348 or is this a different issue?

[2018-07-03 15:41] glikson commented on #145
@lioncruise can you, please, share the steps to run mutliple VKs successfully?

[2018-07-05 07:32] ofiliz commented on #208
Hi @gamer22026,
Sorry for the delayed response. You are right that the Fargate task needs to be rescheduled in this case. I am rethinking the Kubernetes <-> Fargate interaction design at a larger scale, and this issue is a manifestation of a more generic problem. I will update the design, which will also fix this issue.

[2018-07-06 18:46] rbitia opened #250 "performance of VK"
cache controller to improve performance

polling pod status from ACI could also effect the performance

[2018-07-06 23:05] asrivas-vmw commented on #160
There is an easier way to do this, which is to let VK be the main process but let the providers be dynamically loadable Go plugins[1]. All the providers can be built as plugins and on invocation of VK, one of them can be chosen based on a string parameter it takes in when it starts up. That way we don't need to librarify VK but we still get the benefits of out of tree support.

[1] https://medium.

[2018-07-08 22:03] mqliang commented on #203
@d-nishi
Hi.

I meet the same issue. However, it seems that it is NOT because the mock provider tries to run `go ApiServerStart(p)` here https://github.com/virtual-kubelet/virtual-kubelet/blob/master/vkubelet/vkubelet.go#L147

I tried to modify the code as:
[code]
So if provider is mock, it will not  run `go ApiserverStart(p)`. But the error log still there.

[2018-07-08 22:41] mqliang opened #251 "proposal: single mock virtual-kubelet simulate multiple kubelet instances"
We are currently working on evaluating a scheduling policy, with virtual-kubelet simulating a bunch of nodes.

However, current virtual-kubelet mock provider can only simulate a single node, in other words, to simulate N nodes, we need launch N virtual-kubelet instances.

I am thinking using single virtual-kubelet to mock multiple nodes. WDYT?

@robbiezhang
cc @glikson

[2018-07-08 22:50] mqliang commented on #251
FYI: @lioncruise

[2018-07-09 03:34] lioncruise commented on #251
@mqliang  I have already used a VK process to mock multiple nodes by multiple-threads. See
 repos `https://github.com/lioncruise/virtual-kubelet`. In my experiment, it can perfectly support 500 k8s nodes's scheduling simulation with third-party scheduler.

[2018-07-09 03:45] lioncruise commented on #145
@glikson Sorry for the delay of reply. You can specify the name of node by parameter `nodename`. For example, `virtual-kubelet --provider mock --nodename node1`, and then start multiple processes. BTW, there is another more effective way. I changed the code of mock provider to let a VK process to simulate multiple nodes, see #251.

[2018-07-11 00:36] #251 closed

[2018-07-11 00:47] mqliang opened #256 "proposal: provider specific label"
Does it sounds good to add a `Labels() (map[string]string)` method to provider interface, and merge the provider specific labels and VK generic labels (https://github.com/virtual-kubelet/virtual-kubelet/blob/master/vkubelet/vkubelet.go#L174-L179)

provider specific labels can been read from provider config files. This feature is very useful for using the mock provider to simulate a bunch of hetero

[2018-07-11 00:48] mqliang commented on #256
@robbiezhang
cc @glikson

[2018-07-11 18:43] robbiezhang commented on #256
Agree. #221 was created to discuss this issue. We also have such requirement, and we believe other providers might also need this feature.
Some ideas:
1. Do we allow the provider to overwrite the common VK labels?
2. Shall we validate the label upon k8s label name convention in the VK? https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set
3. How many la

[2018-07-11 21:37] rbitia commented on #164
In controller manager we might need to delegate the pod CIDR.  --allocate-node-cidr
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/
so do we support this or not.. or do we delegate whether this flag is true or false for your K8 service?

[2018-07-11 22:06] rbitia commented on #172
TBA

[2018-07-11 22:10] rbitia commented on #164
Needs more experimentation in VK so see what the "pod cidr" field in the node status is

[2018-07-11 22:16] asrivas-vmw commented on #170
Its slightly different; yes exec can be used to check on the health of the service but it cannot verify behavior and expose service internals which are possible via kubectl port forward.

[2018-07-11 22:17] rbitia commented on #169
Look at VK features and the corresponding events for that actual feature to create the events based off of that.

[2018-07-11 22:18] rbitia commented on #169
Event mechanism in VK? so the provider can tell VK to send an event back.

[2018-07-11 22:19] rbitia commented on #169
Still needs more investigation for which objects need events. Might require changes in the provider API

[2018-07-11 22:22] rbitia commented on #168
Need to port metrics to the metrics server. The API server calls a port for the metrics. annotate for "don't scape this node for metrics." needs more investigation.

[2018-07-11 22:38] rbitia commented on #160
for the above proposal users would need to know/have:
Go 1.10
Only works on Linux
other options:
1. what cni does: Publish plugins and provide a call with the object and a standard specification
2. grpc: pattern for cloud providers-> defining a protobuf was difficult and it was pulling in all of k8s
3. convert VK into a shared library

**Investigate the plugin model for Go**

[2018-07-11 22:44] rbitia commented on #166
extend kubernetes with this controller that can be edited at runtime
cloud provider limitations and specifications can go through here too
possibly make it general

or we could make a new kubernetes resource (like gpus) and make some sort of capacity and auto annotations.

[2018-07-11 22:46] rbitia commented on #165
Do we push this to the provider or vk to answer?
Virtual failure domain tied to policies to the pod? w/ labels
still open to discussion

[2018-07-11 22:51] rbitia commented on #161
environment variables injected into the pods for the services
might be deprecating this feature in k8s??

[2018-07-11 22:55] rbitia commented on #161
@corrieb will PR the initial code he's worked on

[2018-07-11 22:57] rbitia commented on #159
**We need this.**

[2018-07-12 02:41] jlegrone commented on #215
I'm happy to take a crack at this.  Just need to get an AKS subscription set up for testing. 😄

[2018-07-17 20:37] jlegrone opened #259 "Support configuring node taint value and effect"
Providing a node taint with a key would enable supporting multiple providers with the same key:

[code]

[code]

While also being able to schedule workloads on any virtual-kubelet node:

[code]

Supporting effect configuration meanwhile would be advantageous for use cases where virtual-kubelet nodes are meant to handle excess workloads, using `PreferNoSchedule`.

Reference: https://kubernetes.io/d

[2018-07-17 20:47] jlegrone commented on #259
A few related questions:

1. Should providers be able to override or add their own taint(s)?
1. Would it be worthwhile to provide a flag to create a default taint (like the provider example above)?
1. What flags should be used to specify taint value and effect?

[2018-07-17 22:33] cpuguy83 commented on #78
Is this fixed by #227?

[2018-07-17 22:42] cpuguy83 commented on #118
Resolved by #214

[2018-07-17 22:42] #118 closed

[2018-07-17 22:45] cpuguy83 commented on #136
Is this resolved by #147?

[2018-07-18 01:50] robbiezhang commented on #78
Yes, the throttling issue is fixed.
I'm wondering whether we should reconcile the pods, since the pods in provider side seems out of sync. Currently, we only reconcile on ADD/UPDATE/DELETE pod event.

[2018-07-18 01:51] robbiezhang commented on #136
Yes.

[2018-07-18 01:51] #136 closed

[2018-07-18 21:13] asrivas-vmw commented on #160
Initial investigations with Go's plugin model have not been very promising. It turns out that there are a number of problems with the current model for how vendored dependencies are managed in plugins and the main binary that make the current plugin model quite untenable. Some of these are being tracked in github issues within the golang community:

https://github.com/golang/go/issues/20481
https:

[2018-07-18 22:46] zootalures commented on #160
gRPC extension via unix sockets  feel like norm/future trajectory for Kube generally  - (e.g. CSI https://github.com/container-storage-interface/spec/blob/master/spec.md, Device plugins: https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/ etc)  while there is a alot of investment in getting the machinary working it pays off in future in consistency,familiarity

[2018-07-18 23:14] cpuguy83 commented on #160
Its seems like providers all package their own VK. Do we need to use plugins here rather than taking the library approach?

[2018-07-20 16:11] asrivas-vmw commented on #160
@zootalures brings up a good point regarding licensing, that is definitely something to stay clear of. Since Go statically links all its dependencies, I would assume that more restrictive licenses could end up tainting the binary.

@cpuguy83 I guess we are back to the VK as a library approach then.

[2018-07-20 22:37] robbiezhang commented on #136
Yes, or just delete the existing VK pod, and let the deployment to re-create it.

[2018-07-22 23:43] #213 closed

[2018-07-23 18:57] jeremyrickard opened #263 "Update ACI API version"
Currently, the ACI provider is using a rather old version of the ACI API:

[code]

The latest version is:
[code]
The provider should be updated to use the latest api.

[2018-07-23 19:12] #263 closed

[2018-07-24 00:41] jeremyrickard opened #266 "aci provider: Add Liveness and Readiness Probes to ACI SDK"
The ACI API now supports Liveness and Readiness Probes. We should enhance the ACI SDK to support these.

[2018-07-24 01:29] jeremyrickard opened #268 "aci provider: Support Pod Readiness and Liveness Probes"
Currently, the ACI Provider does not handle Pod readiness or liveness probes. Once #267 is resolved, the ACI provider can be updated to support creating these.

[2018-07-24 01:30] jeremyrickard commented on #268
Dupe of #238

[2018-07-24 01:30] #268 closed

[2018-07-24 01:52] rbitia commented on #259
So we do want to move to this model. Issue is backwards compatibility. We also don't want to host all providers in one chart but having a generic taint is helpful for users.
Should providers be able to override or add their own taint(s)?
Probably not.
Would it be worthwhile to provide a flag to create a default taint (like the provider example above)?
yes
What flags should be used to specify taint

[2018-07-24 20:50] sdanbury opened #270 "Building the release binary"
I know the Makefile is probably good enough for most people at explaining how to get/build the binary, but could you respond, or add to the docs, steps on exactly the commands one would need to run to get the binary please?

Thanks!

[2018-07-24 20:52] sdanbury commented on #270
I ran `make deps` and got the following error:

[code]

[2018-07-24 20:58] robbiezhang commented on #270
https://github.com/goreleaser/goreleaser/issues/585
Try upgrade your go binary to 1.10+.

[2018-07-24 21:00] robbiezhang commented on #270
`make build` will build out the binary in Linux.
You can also build the docker image by using the Dockerfile.
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/Dockerfile

[2018-07-24 21:06] sdanbury commented on #270
Awesome, thanks for the mega quick response. The Dockerfile worked well, thanks.

[2018-07-24 21:06] #270 closed

[2018-07-24 22:08] #266 closed

[2018-07-25 16:02] stevenpall opened #273 "Fargate Provider Does Not Appear to Set Environment Variables"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
Fargate
Version (e.g. 0.1, 0.2-beta)
0.3
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AWS, self-hosted (kops)
Install Method (e.g. Helm Chart, )
Helm chart (testing https://github.com/virtual-kubelet/virtual-kubelet/pull/258#pullrequestreview-140047435)
### Issue Details
From what I can tell, pods that specify environment va

[2018-07-25 16:10] ofiliz commented on #273
@stevenpall Thanks for reporting. I will investigate.

[2018-07-26 00:19] robbiezhang commented on #229
The error is from this line:

https://github.com/virtual-kubelet/virtual-kubelet/blob/ef6ae9ecf4163441fbe3bcf1bcc9e04d0402389f/vendor/github.com/vmware/vic/lib/apiservers/engine/network/utils.go#L66

@sflxn

[2018-07-26 14:14] mqliang opened #277 "proposal: flag to disable pod statuses updating"
Hey, does it sounds good to add a flag to disable pod statuses updating?

In our use case, we use VK (with the mock provider) to simulate nodes, and we have a controller to simulate the completion of pods, in other words, we have a controller to update pod status, which may conflict with VK because VK will always update pod status as "Running", even if our controller update status as "Succeeded",

[2018-07-26 17:58] jbenettius commented on #154
Is there an ETA yet for VNet support with ACI?

[2018-07-26 19:45] robbiezhang commented on #154
@jbenettius, ACI VNet support for Linux will private preview soon. If you are interested, ping me in the slack for details.

[2018-07-27 01:59] mlda065 commented on #222
I still have this issue. (I just tried today)

[2018-07-29 02:57] abizake opened #278 "Pods go in CrashLoopBackOff state"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
Latest

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS , version 1.10.5

Install Method (e.g. Helm Chart, )
Helm (Both Manual and Auto)

### Issue Details
When I create Virtual Kubelet following the read me file for Azure AKS , the connector pod for both windows and linux go in CrashLoopBa

[2018-07-29 05:14] abizake opened #279 "Pods (Container Instances) not able to publish metrics"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
AKS : 1.10.5
Vkubelet :- 1.8.3
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
Helm and Install ACI connector
### Issue Details
I implemented the pod auto scale and below are the events from it
Events:
  Type     Reason                        Age

[2018-07-30 15:32] abizake commented on #278
@jeremyrickard  Hello There,
The Cluster has RBAC enabled.

[2018-07-30 15:33] jeremyrickard commented on #278
@abizake thank you for that confirmation. I'll investigate a little more!

Thanks again!

[2018-07-30 19:32] jeremyrickard commented on #278
@abizake This is being caused by the current state of RBAC support in both the AKS VK helm chart and the `az aks install-connector`. In short, when you use the aks vk chart (directly or with `az aks install-connector`), RBAC is being ignored. We're working on a fix to this, will update this when we have a fix ready to go.

[2018-07-31 13:47] mqliang opened #283 "proposal: mock provider: enable resource validation?"
Hey, we want to use VK to simulate nodes to test our scheduler. However VK does not validate resource usage, so theoretically you can bind as many pods as possible to a VK node.

All provider VK do report its "Capacity" (cpu/mem/numPods), so it's sounds reasonable add validation to the mock provider (e.g. if total cpu/mem/numPods exceed VK node capacity, sort all pods by creation time and update e

[2018-07-31 19:07] robbiezhang commented on #277
@mqliang I think it's not a generic scenario for VK. Your issue is mainly because the mock provider doesn't collaborate with your controller well - both of them updates the pod status, and cause conflict. I don't know whether other provider have such requirement, so I would recommend you make the change
in the mock provider only. An easy trick is to add a flag to always return null in GetPodStatus

[2018-07-31 19:38] robbiezhang commented on #283
Sounds good to me.

[2018-08-02 16:08] jeremyrickard commented on #170
#dibs

[2018-08-03 17:15] jeremyrickard opened #291 "go deps not correct after servicefabricmesh provider was added"
Looks like we need to bump the azure-go-sdk dependency for the service fabric mesh provider:

[code]

[2018-08-03 17:26] cpuguy83 commented on #291
How did CI pass?

[2018-08-03 17:32] robbiezhang commented on #291
CI runs `go get`
https://github.com/virtual-kubelet/virtual-kubelet/blob/bcea8b955bfcbf8aba4863146313918a05c11814/.circleci/config.yml#L20

Shall we remove it?

[2018-08-03 17:32] jeremyrickard commented on #291
Yes, CI should verify that any new PR doesn't introduce a new dependency. The build should fail if that's the case.

[2018-08-03 17:33] jeremyrickard commented on #291
We also _REALLY_ need to update our dep config to pin versions. To fix this, I now have updates to all kinds of stuff, including the vic provider.

[2018-08-03 19:00] #273 closed

[2018-08-03 19:06] jeremyrickard opened #296 "ACI provider doesn't handle empty environment variables well"
### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
*ACI*

Version (e.g. 0.1, 0.2-beta)
*Master*

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
*AKS*

Install Method (e.g. Helm Chart, )
*Helm Chart*

### Issue Details
When you create a pod with an environment variable without a value, ACI returns an error:

[code]

The error indicates that _both_ are being sent. In reality, there i

[2018-08-04 08:41] davidobrien1985 opened #299 "Could not create route - pods never leave pending state (ACI)"
---

### Environment summary

ACI

latest version via `az aks install-connector`

AKS version 1.10.6

### Issue Details

I followed https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet#prerequisite , however, when deploying the sample apps the pods never leave `pending` state.
I checked with `kubectl describe node virtual-kubelet-virtual-kubelet-linux-westus`:

[code]

AKS has not been deplo

[2018-08-06 14:18] jeremyrickard commented on #299
Thank you for the issue report @davidobrien1985. Could you share the output from when you ran `az aks install-connector` if you have that handy?

[2018-08-06 17:40] rbitia opened #300 "getting logs from the vk node"
Could we enable "getting logs" from the node and it routes to the pod's logs?

[2018-08-06 17:49] robbiezhang commented on #299
@davidobrien1985, can you also share the virtual kubelet pod logs? It smells like the RBAC issue (#278) which blocks the VK pod registering the VK node.

[2018-08-06 17:55] #296 closed

[2018-08-06 17:58] robbiezhang commented on #300
is there a corresponding `kubectl` command?

[2018-08-06 23:39] jlegrone commented on #259
do you mean key for prefix?

@rbitia in the above examples I used `virtual-kubelet.github.io` as the prefix.  I can't find up to date documentation at the moment but this seems to be a good explanation (I believe the same rules probably apply for taints):
https://github.com/brendandburns/kubernetes/blob/25b37b6978709aa83d808d368af846e7536f7383/docs/labels.md#syntax-and-character-set

To avoid brea

[2018-08-07 00:07] KnicKnic opened #301 "virtual-kubelet does not compile under windows"
### Issue Details
Tried to compile commit a1677ce5e0acbd2e62c9a7e8a5f5583806fa56c8

### Repo Steps
[code]

[2018-08-07 15:57] jeremyrickard commented on #259
@rbitia @jlegrone I have a follow up question

Instead of providing a flag to create a default taint, should we just build one like in the example above if one isn't provided?

if noTaint {
  taint := virtual-kubelet.github.io:<provider>:NoSchedule
}

I feel like just providing a default (that you can override) would be better for the user experience, vs requiring a flag to generate a default one

[2018-08-07 16:46] #215 closed

[2018-08-07 18:18] sflxn commented on #229
Looking into it.

[2018-08-07 18:28] rbitia commented on #299
It was an authorization failure and we fixed it by using --aci-resource-group and then we ran into a api server restart error. Fixed the immediate errors for now so closing this issue :)

[2018-08-07 20:07] davidobrien1985 commented on #299
Thanks for meeting with me today and fixing my issue @rbitia .

[2018-08-07 20:07] #299 closed

[2018-08-07 21:29] rbitia commented on #279
We will have metrics enabled within the next week! Thanks

[2018-08-07 21:30] robbiezhang commented on #301
This is expected. Please use a Linux VM or install the docker for Windows and build the Dockerfile instead.

[2018-08-07 21:42] ofiliz commented on #301
This looks easy to fix. Just make CRI provider build only on Linux.

Generally speaking, there is no reason why VK shouldn't work on Windows. Especially given the fact that Windows is a Kubernetes platform.

If you need this just for cross-development, building on Windows targeting Linux works:
[code]

[2018-08-07 22:34] KnicKnic commented on #301
To be clear, I tried to build this targeting windows. I accomplished by deleting the CRI & VIC providers. I then pointed the resulting windows binary at azure and was able to spawn containers.

[2018-08-08 01:09] sflxn commented on #229
To fix this issue within this project, I had to update the vendor with dep ensure -update github.com/vmware/vic to pick up the changes.  We were doing something in the go initializer that didn't belong there.

[2018-08-08 04:55] abizake commented on #279
@rbitia Thanks for the update.

[2018-08-08 16:54] rbitia opened #304 "Kubernetes version of VK"
Maybe we could have VK's version align with K8s and test against that K8s version so we know the functionality is stable. This will make the version make more sense to customers.

[2018-08-08 23:45] cpuguy83 commented on #304
This can get quite hairy, especially since VK is not really a GA product yet (TMK).

[2018-08-10 17:06] smahalingam commented on #300
I am also seeing issue with getting POD logs
<img width="2560" alt="screen shot 2018-08-10 at 18 05 16" src="https://user-images.githubusercontent.com/6057889/43971205-2141d9ce-9cc8-11e8-80b7-2b73fa8640dd.png">

[2018-08-10 21:45] KnicKnic commented on #301
Closing as this now builds.

[2018-08-10 21:45] #301 closed

[2018-08-12 14:53] santiagopoli commented on #234
+1 for compatibility with MacOS. As far as I know, virtual-kubelet is a CLI, so it should work on MacOS and Windows as A LOT of developers use these OS in their workstations. You can get away with this by building the binary for Linux and wrapping it in a Docker Container, but it seems very hacky.
For me its like saying that kubectl should not work on Mac because is not a Container Capable Operati

[2018-08-12 17:48] arashbina commented on #238
Is anyone looking into this? I can work on it if no one is.

[2018-08-13 17:48] #291 closed

[2018-08-14 14:40] rbitia commented on #259
That's a good idea @jeremyrickard let's have a default taint and have user's override it with specific providers if they so choose.

[2018-08-14 19:17] jeremyrickard opened #314 "Move to "official" releases"
We should move to "official" releases that include:

* Tagged Docker Images
* Updated helm chart (instead of using :latest)
* Updated chart tgz per tag

[2018-08-14 19:53] robbiezhang opened #315 "Node Event Complains "Could not create route ... for node VK. instance not found""
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)
0.4.1
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
Helm Chart
### Issue Details
If the k8s cluster use the kubenet, you will see such error complaining about the VK node in the event from the route_controller:
Node                  Warning   FailedToCrea

[2018-08-14 23:23] jlegrone opened #316 "Remove deprecated `taint` flag"
This flag should be removed after external virtual-kubelet integrations have had time to update to the new taint key configuration method.

[2018-08-14 23:47] #259 closed

[2018-08-14 23:49] robbiezhang commented on #300
@smahalingam can you share the VK deployment spec? Seems like you've registered the VK node on "aci-connector" domain instead of an IP address.

[2018-08-14 23:54] cpuguy83 commented on #300
I ran into this same issue. Couldn't resolve it without rebuilding the cluster.
The annoying thing is both clusters were built identically from the same acs-engine template.

[2018-08-15 00:28] jlegrone commented on #316
...and the winner is 5115c1e5cd00fdec15a8f46da6d29f0a98c453e5!

`git revert 5115c1e5cd00fdec15a8f46da6d29f0a98c453e5` should do the trick when the time comes.

[2018-08-15 23:40] robbiezhang opened #321 "VK Node will be removed if VK Pod is unable to connect to API server"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)
0.4.1
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
Helm Chart
### Issue Details
Since the VK node is a virtual node, which means it’s not in the cloud provider control plane, the k8s node_controller will delete it from the apiserver, 40 seconds (dependin

[2018-08-18 16:00] bremnes opened #324 "virtual-kubelet binary not available"
### Request for documentation improvement or releasing the binary
As I'm starting to research and try virtual-kubelet, I found this step to be non-intuitive. Several places the binary `virtual-kubelet` is being referenced, but there's no documentation on how to produce, download or install that binary. Perhaps I'm not seeing the obvious, but I am not able to find it.

Yes, there is a makefile and

[2018-08-20 18:39] robbiezhang commented on #324
The quickest way to try the VK is to use the helm chart we released in the repo.
https://github.com/virtual-kubelet/virtual-kubelet/tree/master/charts

Here is an instruction about how to use ACI in the AKS cluster:
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#quick-set-up-with-the-aci-connector

I don't run VK binary on a Windows machine, unless running

[2018-08-21 20:01] bremnes commented on #324
Thanks for the feedback @robbiezhang. I noticed the charts, but they seemed kind of Azure oriented. Even though we are probably going to use it on AKS, we are testing against hyper.sh right now.

Based on the non-aks chart and [hyper.sh provider doc](https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/hypersh) I added the environment variables `HYPER_ACCESS_KEY` and `HYPER_SEC

[2018-08-21 20:21] robbiezhang commented on #324
Hmmm, looks like the hypersh provider is broken for a long while...
The exception is thrown from here:
https://github.com/virtual-kubelet/virtual-kubelet/blob/v0.5.1/vkubelet/vkubelet.go#L177

It didn't implement the NodeDaemonEndpoints function well:
https://github.com/virtual-kubelet/virtual-kubelet/blob/89921a08c1d5536db363c27ded55733764f1f221/providers/hypersh/hypersh.go#L445-L447

Actually, I

[2018-08-22 17:25] lachie83 opened #331 "Named port resolution doesn't work"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)

ACI

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

AKS

Install Method (e.g. Helm Chart, )

Helm Chart
### Issue Details

A Pod spec with a named port yields a 500 on ACI.

[code]

Changing the ports to the container port number resolves the issue. In the API request sent to ACI, the port numbe

[2018-08-22 18:24] rbitia opened #332 "Be more flexible w/ mem and cpu limits"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)
latest
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
cli
### Issue Details
In pod specs people have to specify "G" rather than GB, Gi, or other units of measurement for memory. Can we try and translate the other units to G so users aren't throttled by ACI

[2018-08-22 23:57] robbiezhang commented on #332
I'll take a look, but ACI provider converts the memory and CPU usage to make sure it satisfy ACI requirements. Can you give me an example?

https://github.com/virtual-kubelet/virtual-kubelet/blob/bb8ba567e3a33c827e0ffa56755e3fdeabb9af53/providers/azure/aci.go#L713-L744

[2018-08-23 17:01] gonarys commented on #177
I had this problem and it turned out that I had a resource that used the subnet dedicated to AKS. you have to check this and if so, remove the resource.

[2018-08-24 16:32] rbitia commented on #332
Yea I couldn't repro the issue. Super strange. Let's keep an eye out for floating memory issues in the future but closing for now :)

[2018-08-24 16:32] #332 closed

[2018-08-26 13:46] zodraz commented on #278
So how we can fix this at this stage and move one? Could you provide instructions?

[2018-08-26 15:11] jeremyrickard commented on #278
@zodraz are you still encountering this?

If you have an older installation, I'd recommend first removing the aci connector. First, ensure you have the latest version of the Azure CLI.

To remove the connector:

[code]

You should then be able to reinstall the connector and everything should work. If you're still experiencing issues after doing that, please share the output from the virtual kubele

[2018-08-27 17:08] rbitia opened #336 "Web provider RBAC support"
We need to add RBAC support to the web rust provider

[2018-08-30 19:35] ellesde commented on #278
@jeremyrickard

I have a similar issue in that the vk pod goes into CrashLoopBackOff state, however I don't think it is rbac related.

Installed on AKS (k8s v1.11.2) using azure-cli v2.0.45 and helm v2.10.0.

Below is logs from pod:
[code]

Below is describe of pod:
[code]

[2018-08-30 21:08] robbiezhang commented on #278
@ellesde thanks for reporting. We are investigating the issue.

[2018-08-31 18:27] robbiezhang commented on #278
@denisborovnev exactly. The issue is in the acs-engine, and cause the malformed file in AKS . The fix will roll out soon.
https://github.com/Azure/acs-engine/pull/3774

[2018-09-05 15:34] ellesde commented on #278
@robbiezhang Confirming that acs-engine v0.21.2 fixes the issue I had.

[2018-09-06 20:07] cberthiaume commented on #324
I'd like to second this request. I'm not a Go developer and it took some fumbling and frustration to get this built. Step 2 in [this|https://aws.amazon.com/blogs/opensource/aws-fargate-virtual-kubelet/] AWS document helped out quite a bit. It would much nicer if something like that was included in the documentation here.

The other problem I encountered was [this](https://stackoverflow.com/questio

[2018-09-14 17:31] atrauzzi opened #347 "Love this project, but how do I install it?"
Would love to see more detailed installation steps.  Bonus points for MSI+chocolatey on Windows, ppa on Ubuntu and homebrew for macOS!

❤️

[2018-09-14 18:06] cpuguy83 opened #348 "Refactor Go API interfaces"
In light of https://github.com/virtual-kubelet/virtual-kubelet/issues/160 (making VK a library)

I wanted to propose some changes to the (go) API surface:

1. Make a clean split between services provided by virtual-kubelet
i. Examples of the mentioned services: a daemon, a control loop, HTTP API routers for exec, logs, and metrics
ii. e.g., the vkubelet package should not be automatically starting

[2018-09-14 18:06] cpuguy83 commented on #348
ping @jeremyrickard @rbitia @robbiezhang

[2018-09-14 18:07] cpuguy83 commented on #160
I opened https://github.com/virtual-kubelet/virtual-kubelet/issues/348 to discuss some of the changes I see that need to be made to the code base.

[2018-09-18 20:58] rbitia commented on #347
Hey Alexander! Do you want to use Virtual Kubelet with a Kubernetes cluster? If so where is the k8 cluster running?

[2018-09-19 18:14] rbitia opened #352 "[Azure] OMS inventory"
We need to populate the ACI image, tag, start time and finish time.

[2018-09-20 23:56] cpuguy83 commented on #279
This was completed in #306

[2018-09-20 23:56] #279 closed

[2018-09-20 23:56] cpuguy83 commented on #228
This is completed in #306

[2018-09-20 23:56] #228 closed

[2018-09-20 23:57] cpuguy83 commented on #168
This was completed in #306

[2018-09-20 23:57] #168 closed

[2018-09-23 18:42] abonillasuse opened #358 "DOC? - ContainerInstance Resource Missing"
---
When deploying virtual-kubelet against ACI - the aci connector requires a ContainerInstance resource.

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
1.11.2

Install Method (e.g. Helm Chart, )

### Issue Details
time="2018-09-23T18:31:40Z" level=error msg="Error creating pod" error="api call t

[2018-09-23 20:43] rbitia commented on #358
@robbiezhang can we do this within the ACI for provider?

[2018-09-24 17:58] robbiezhang commented on #358
No, VK doesn't have permission to register RP by default.
It requires "Contributor" permission of the **subscription** to register the RP. However, VK only has the "Contributor" of the **resource group**, according to the AKS setting.

[2018-09-26 15:32] dcieslak19973 commented on #129
Bump; looks like ACI now supports "Bring your own VNET"...

[2018-09-26 17:29] robbiezhang opened #363 "[VK] --log-level doesn't work"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)
0.7.0
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
Helm Chart
### Issue Details
--log-level parameter doesn't take effect. I tried to set to to debug or trace, it doesn't print out the debug or trace log.

### Repo Steps
Install the VK via Helm chart, an

[2018-09-26 17:29] #105 closed

[2018-10-04 04:50] jmajoor opened #364 "OsVersionNotSupported"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )

### Issue Details
I am getting an "OsVersionNotSupported" when deploying my container. The container is a Server 1803 image. The pod has been assigned to the windows virtual kubelet.

Is this a restriction o

[2018-10-04 06:00] jmajoor commented on #364
Although I still like to know, when ACI is going to support Server 1803, the issue is not related to the virtual kubelet project. So I will close the issue.

[2018-10-04 06:00] #364 closed

[2018-10-05 00:44] jmajoor opened #367 "[ACI] Volume Mounts in Windows fails"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )

### Issue Details
I have tried several ways to get a volume mounted, but without success.
For example a configMaps mount:
volumeMounts:
    - name: config
      mountPath: "c:/Config"
volumes:
  - name: conf

[2018-10-05 00:52] robbiezhang commented on #367
It's ACI constraints. Basically, Windows container doesn't support any volume mount.
Here are the public docs about the Windows constraints:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-secret
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quotas

[2018-10-05 01:03] robbiezhang commented on #367
PV and PVC is not supported by virtual-kubelet.

Can you try to use the secret environment variable to work around your case?
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-environment-variables

If you want to mount an Azure file share into your Windows container, you can workaround it by override the start command to run ` net use I: \\\\<storage_account>.file.cor

[2018-10-05 02:06] jmajoor commented on #367
If PV and PVC were supported by virtual-kubelet then I would still have the issue that for windows containers you can't mount that in ACI. Or will this also work for windows containers?

I have tried secrets and config maps through environment variables, which works for some of my variables but I also have a file that I need to pass in (hence the config map as a volume). Passing the content of tha

[2018-10-05 17:32] robbiezhang commented on #367
Did you try to use the Azure file share by using `net use` in your container? It should work for your persistent data requirement. Not a k8s way, but should work around.

[2018-10-05 17:46] jmajoor commented on #367
As you mentioned that is really not the k8s way. Sure creating a net share like that will work, but then I have to make the entire command configurable through container environment variables, make sure that each instance has its own data and I need to change my app which currently looks in the "data" directory which may or may not be a mount. May also have problems with latency on a file share as

[2018-10-05 19:15] robbiezhang commented on #367
Yes, that's a constraint from ACI Windows container, and also from k8s.

[2018-10-05 19:31] robbiezhang commented on #367
I mean k8s WIndows. https://kubernetes.io/docs/getting-started-guides/windows/#volumes

[2018-10-05 19:40] jmajoor commented on #367
Ok, thanks for all the information. Looks like windows containers remain the underdog.  I guess there is nothing that can be done until Azure takes windows containers seriously (sad). We can probably close this issue other than it being a request to support PV/PVC.

[2018-10-12 09:07] alexellis commented on #154
@robbiezhang is there an update on this?

[2018-10-12 17:20] robbiezhang commented on #154
ACI VNet for Linux is public preview now. The latest VK image (^0.6.0) and the helm chart have integrated with it. @rbitia is updating the doc #354.

[2018-10-15 12:35] erjadi commented on #352
Maybe a dumb question: Is VK aware somehow we are running it with OMS?

Because I think part of the solution would require VK to deploy OMS agent as a sidecar to each ACI pod in the same containergroup. However it would require VK to be aware and have access to the parameters it requires to start up OMS agent.

[2018-10-15 23:36] rbitia commented on #358
We do have this in the ACI readme! It's in this doc https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/azure

LMK if you want us to move it elsewhere.

[2018-10-18 15:50] mcraken commented on #228
is the stats endpoint running now for the virtual kubelet? I see from the metrics server that it is still not able to scrap metrics because it can not find the stats endpoint. The virtual kubelet version is 1.11.2.

[2018-10-18 17:57] cpuguy83 commented on #228
@mcraken Should be. It defaults to port 10255 on all interfaces.
Should be able to `curl localhost:10255/stats/summary`.

[2018-10-18 20:06] mcraken commented on #228
@cpuguy83 thanks for your reply! I changed the port in the metrics server deployment. The error stopped popping up, however, I still see logs saying that it could not get pods metrics of which are deployed to the virtual Kubelet.

Any suggestions ?

[2018-10-18 20:13] cpuguy83 commented on #228
Are you on ACI? Do you get stats from the above URL? Might be helpful to pipe that to `jq .pods` to filter out any noise that may be there.

[2018-10-18 20:14] cpuguy83 commented on #228
Also does metrics-server have any logs on the issue?

[2018-10-18 21:51] #143 closed

[2018-10-18 22:07] robbiezhang commented on #352
ACI supports OMS(LogAnalytics) integration to send the container log and metrics to OMS. However, it doesn't use the omsagent container, as omsagent needs privileged permission and mount the several path from the host. The missing data type, ContainerInventory, is collected from the docker socket by the omsagent. I prefer to simulate it in the VK.

[2018-10-19 07:11] mcraken commented on #228
I have an ACI connector that is pretty much it, I don't have any other configurations for ACI. Do you have to do special configurations for ACI independently for this to work?
I'm gonna reinstall the AKS, start from a clean slate since I did some changes in the cluster before trying to install the virtual kubelet and then share the logs with you.

[2018-10-19 16:04] cpuguy83 commented on #228
@mcraken

Nope.

[2018-10-19 17:21] mcraken commented on #228
@cpuguy83 after some investigation I found out three things

1- I was using older version of the metrics server, after I updated it, it kept complaining that there is no https endpoint on port 10255 which makes sense.

2- the older version version of the metrics server, you can basically disable expecting an https response but it kept complaining that it can’t find cpu or pod container metrics.

3

[2018-10-22 06:54] benzhi2011 opened #383 "aci-helloworld linux get status ProviderFailed"
---

### Environment summary

Provider AWS

Version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c212

[2018-10-22 19:28] razi-rais opened #384 "ACI-Connector Error: The Deployment "nanoserver-iis" is invalid: spec.template.metadata.labels"
### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
**ACI**

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
**AKS**

Install Method (e.g. Helm Chart, )
**Helm Chart**

### Issue Details
I am following article (https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet) to run a Pod with windows container in ACI using virtual kubelet but running into the

[2018-10-22 19:48] robbiezhang commented on #384
@razi-rais did you paste the right spec? According to the error, it's an issue in your deployment spec that the spec.selector.matchLabels doesn't match spec.template.metadata.lables.
Please double check.

[2018-10-22 19:51] HannoSolo opened #385 "Deploying private Windows image from ACR"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
AKS

Version (e.g. 0.1, 0.2-beta)
1.11.3

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )

### Issue Details
After creating the windows Virtual kubelet node I try to deploy a windows sample image from ACR and when looking at the pods it shows "Provider Failed".

If I describe the pod I se

[2018-10-22 23:48] robbiezhang commented on #385
@HannoSolo did you include the private ACR secret in the imagePullSecrets in the pod spec? I didn't see it in the `kubectl describe pod` result. Please double check your pod spec.
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-in-the-cluster-that-holds-your-authorization-token
https://kubernetes.io/docs/concepts/containers/images/#using-azure-

[2018-10-22 23:51] robbiezhang commented on #383
@benzhi2011 can you run `kubectl describe po` on your pod and paste the result here?

[2018-10-23 07:37] benzhi2011 commented on #383
@robbiezhang I created a new AKS this morning and Virtual Kubelet seems working fine.

[2018-10-23 11:36] HannoSolo commented on #385
@robbiezhang Thanks Robbie I will check out those links you provided, I figured that's what I needed to do just didn't know how.

[2018-10-23 17:43] #383 closed

[2018-10-23 18:33] ai2admin commented on #154
@robbiezhang how do I prevent my Windows containers instantiated via ACI from being exposed via public IP?

[2018-10-23 19:15] robbiezhang commented on #154
@ai2admin VNet for Windows ACI is not ready yet. Targeting early next year.

[2018-10-23 21:32] erjadi commented on #352
Thanks @robbiezhang , does this mean that when a container instance is created through VK, it's already set up with log analytics in a way that it ends up interrogating VK if it accesses the local docker host?

Is there any way to recreate this within the container itself? I'm just thinking it would be nice during development if I could connect to docker.sock myself from the container to verify th

[2018-10-23 22:48] erjadi commented on #352
Would it be better if the monitoring is somehow done through the omsagent container that's started up on ACI anyway as part of the omsagent daemonset? VK would be providing the data, but omsagent will request it. That way we leave the "initiative" to oms agent but the actually ContainerInventory data can be provided by VK (because it has a view of everything running).

This seems closer to how the

[2018-10-24 11:01] HannoSolo commented on #385
@robbiezhang Got it working with the instructions you provided, thanks a bunch!

[2018-10-24 11:01] #385 closed

[2018-10-24 13:37] ai2admin opened #386 "Cannot deploy an ACI container from ACR to non-default namespace"
---

### Environment summary

Provider: ACI

K8s Master Info: AKS

Install Method: Helm Chart

### Issue Details

If my deployment spec creates a pod in a non-default namespace, I can still use **imagePullSecrets** for a secret defined in the default namespace.

However, if I do the same deployment selecting a virtual-kubelet node, the deployment fails:

time="2018-10-24T13:07:10Z" level=error msg

[2018-10-24 17:37] robbiezhang commented on #386
Looks similar to #192. According to the [k8s document](https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod)
"Pods can only reference image pull secrets in their own namespace, so this process needs to be done one time per namespace."

So, I doubt it uses the secret in the default namespace in your cluster node case.
@ai2admin did you grant the AKS service pr

[2018-10-24 17:41] ai2admin commented on #386
@robbiezhang : you are right, apparently it's the principal reader permissions that are used for the k8s own nodes, so the issue indeed boils down to #192

[2018-10-29 16:35] razi-rais commented on #384
I manage to resolve this issue by updating the spec to match the labels. The spec provided in the article (https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet) was not correct and that is what caused let to this issue.

[2018-10-29 16:35] #384 closed

[2018-10-29 21:04] robbiezhang commented on #384
@razi-rais thanks for the information. I've submitted an issue and provided an updated yaml.
PR is pending merge.
https://github.com/MicrosoftDocs/azure-docs/pull/17859

[2018-10-29 23:34] robbiezhang commented on #386
close as a dupe

[2018-10-29 23:34] #386 closed

[2018-10-30 15:34] CharlesCara commented on #192
Could I make a request that you add a note to the existing virtual kubelet documentation about needing to add a kubernetes secret to the pod spec?  Would have saved me a fair amount of time today.

[2018-10-31 14:58] dhkhan commented on #154
@robbiezhang Does this mean that if I try to connect to a MySQL service on a normal AKS node(Linux) from a PHP WebApp hosted on IIS which is on the Windows Virtual Kubelet. It won't work?

I can expose an external IP to connect but I would want to communicate via a DNS name instead. Is it possible?

[2018-10-31 18:01] robbiezhang commented on #154
Correct., it doesn't work now. You need a public DNS instead of cluster DNS.
Windows ACI is not aware of the VNet or ClusterDNS.

[2018-11-02 22:28] cpuguy83 opened #397 "Startup takes a LONG time when pods already exist"
When pods already exist that VK needs to handle, VK startup takes a long time because each pod ends up getting deleting and recreated with only a single goroutine.

[2018-11-02 23:35] cpuguy83 opened #399 "Failed pods not reconciled"
When a pod fails we set the reason "ProviderFailed" but the pod state still says "Pending".
This state never gets reconciled and a pod deployment will be short until the pod is either deleted by the user or it's state updated to Failed.

[2018-11-02 23:39] cpuguy83 opened #400 "Dropping events"
Pod synchronizer will drop events if there is any kind of error from the provider (including rate limiting).

This is an issue for create because of #399

This is an issue for delete it never ends up getting deleted in the provider.
We could reconcile this occasionally, such as #391 will do, however it would be nice to make sure these get deleted as soon as possible since this can translate into $

[2018-11-02 23:51] robbiezhang commented on #399
This is in purpose, as marking pod phase to Failed will make the deployment create new pods.
We assume the provider should handle retry-able errors, and only return non-retry-able ones, for example a spec error, which will never get created.

[2018-11-03 00:04] robbiezhang commented on #400
My $.02:
1. For the delete error, we need to retry since it leaves the k8s control plane, and might not be triggered by new event.
2. For the create error, my idea is that provider need to tell the VK whether it is a retry-able error or not.
The current implementation actually assumes the error from the provider is always non-retry-able. Thus, we don't re-create the pod and forbid the deployment t

[2018-11-05 16:36] cpuguy83 commented on #399
Ok, that makes sense, however this feels like duplicated behavior (which I don't think is implemented) for all providers and I think would require blocking the calling thread for retries.

If we can implement an error type that providers can return we can pull this behavior into core.
Perhaps an error interface like:

[code]

[2018-11-05 17:16] cpuguy83 opened #401 "panic on exit due to send on closed channel"
This happens if there is an inflight send when VK is shutting down.

[code]

[2018-11-05 19:35] robbiezhang commented on #399
Yup, this is some what's planned to do from a long time.

[2018-11-05 19:37] #401 closed

[2018-11-07 18:46] robbiezhang commented on #399
@cpuguy83, will you add the RetryableError in the strongerrors repo?

[2018-11-07 19:42] cpuguy83 commented on #399
The error from strongerrors would be the `Unavailable` error (https://github.com/cpuguy83/strongerrors/blob/master/defs.go#L29).

We may not need to do communicate the retry time and instead just queue it up to retry in some offset, like 5 minutes.

I think this is just a nice to have for providers that do have details about when we should retry... I think the Azure errors have this info at least.

[2018-11-07 20:17] robbiezhang commented on #399
Sounds good. Minor thing: prefer using `retryAfter time.Duration`, which align with the Azure standard.

[2018-11-07 21:08] cpuguy83 commented on #399
The only reason I used a `time.Time` is the error will return a duration and then I want to tell the caller you can retry after the "current time when we received the error + duration" rather than "time you, the caller, read the error + duration", but it's probably moot.

[2018-11-09 01:07] cpuguy83 opened #404 "consolidate logging and tracing"
Logging and tracing log a lot of the same information, it would be nice if the handling of these are consolidated as much as possible.

[2018-11-10 17:10] pires commented on #348
@cpuguy83 what is holding this back?

[2018-11-12 07:50] Smithx10 commented on #238
I think we should use a Prometheus HTTP endpoint to report health, and put the responsibility on the application owner.   The probe struct will just inform the metric to watch for etc.    Has there been any progress on this?   I am very interested in helping.

[2018-11-12 09:24] AfreenShaha opened #408 "kubectl describe : Not working, dashboard showing blank values for CPU usage for virtual kubernetes cluster"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
Helm
### Issue Details
Issue No : 1:

ABOVE COMMAND GIVES BELOW RESPONSE: even though "kubectl get pods -o wide" returns this pod
error: the server doesn't have a resource type "XXXXXXXXX"
Note: we are using

[2018-11-12 14:08] AfreenShaha opened #409 "How to scale virtual kubernetes, can we put load balancer for virtual nodes?"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
Azure Kubernetes Service
Install Method (e.g. Helm Chart, )
Helm
### Issue Details
Can we put a load balancer in yaml for virtual kubernetes pods?
Can we scale the virtual nodes on kubernetes?
Do we need to do scale  virtual kubernete nodes using

[2018-11-12 16:23] erjadi commented on #409
Hi AfreenShaha,

Yes you can load balance over ACI-backed pods but there are a few caveats:
- When deploying a LoadBalancer on AKS, it will actually deploy an Azure Load Balancer.
- Unfortunately a LoadBalancer cannot balance over non-VM resources, however the way networking works by default in AKS is that you can still reach your ACI pods through the overlay network.

Long story short:
- Loadbala

[2018-11-12 19:00] #41 closed

[2018-11-12 19:01] robbiezhang commented on #41
The issue is mitigated in AKS 1.9 cluster

[2018-11-12 19:41] robbiezhang commented on #409
Thanks Eric for the answer.
#41 is mitigated in AKS 1.9+ clusters. Loadbalancer service should work well with the VK now.
@AfreenShaha, as Eric mentioned, you need a load balancer service in the AKS cluster in front of the VK pods. You can follow the [k8s doc ](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/) to create the service and expose the pods.

Fo

[2018-11-13 08:16] AfreenShaha commented on #409
Thank you for a quick reply.
As per the discussion here is the flow, please correct me If I am wrong:
-Create azure kubernetes service
-Create the Load balancer
-Create azure container instance with windows as OS(as I have ASP.Net app deployed on windows container)
-Deploy the application YAML(I took the yaml definition reference  from here : https://docs.microsoft.com/en-us/azure/aks/virtual-kube

[2018-11-13 22:46] robbiezhang commented on #409
@AfreenShaha ACI for Windows doesn't yet report metrics, i.e. CPU, memory, etc. nor multi-container. So, your scenario will not work on the virtual node with ACI. There is a plan to support them in Windows Server 2019 containers. However, no ETA currently.

You can use the ARMClient tool to get the ACI capacity of your subscription in a particular region.
[code]
You can get the ARMClient tool from

[2018-11-14 05:31] AfreenShaha commented on #409
Thanks @robbiezhang  for a quick response on this.
Just to confirm, when you said scenario will not work, I believe you are talking about running 100 pods in a ACI? please correct me if I am wrong?

[2018-11-14 19:38] robbiezhang commented on #409
Nope, you can run 100 pods in ACI in a subscription without any problem. If you want to run more, you can request to increase the quota for your subscription.
The scenario I mentioned here is the HPA, since the ACI Windows container group doesn't report CPU/memory metrics.

[2018-11-15 18:26] vedant-khandelwal opened #411 "[ACI] Support ImagePullSecret without Username/Password"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
0.5.0

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm Chart with the following command:
[code]

### Issue Details
The connector is deployed with the AKS vnet configured for the container instances.

Pod goes into `ProviderFailed` state with the desc

[2018-11-16 12:11] AfreenShaha commented on #408
thanks @robbiezhang

[2018-11-16 12:13] AfreenShaha commented on #409
Thanks robbiezhang. If azure kubernetes directly support the deployment of windows containers then  it would be great.
Currently it just supports the linux containers.

[2018-11-19 18:30] robbiezhang commented on #411
@vedant-khandelwal Can you provide your pod spec, and the image pull secret spec? I suspect the image pull secret is not set properly.

[2018-11-19 22:45] rbitia commented on #3
We need to try this on a new windows machine before we can close this issue.

[2018-11-19 22:49] rbitia commented on #13
This matrix implemented for ACI and can be considered an implementation detail so we will close for now!

[2018-11-19 22:49] #13 closed

[2018-11-19 22:51] rbitia commented on #16
We should add documentation on recommending using a linux machine but otherwise your steps are correct for developing w/ VK.

[2018-11-19 22:51] #16 closed

[2018-11-19 22:53] rbitia commented on #19
We use service accounts in the namespace which runs VK. The node authorization is done through there.

[2018-11-19 22:53] #19 closed

[2018-11-19 22:57] rbitia commented on #20
It seems like Calico now regards taints when scheduling onto nodes. Wondering if it's okay to close the issue?

[2018-11-19 22:58] rbitia commented on #26
Hey! Are we good to close this issue?

[2018-11-19 22:59] rbitia commented on #30
We have a build of this. Please reach out if you want it!

[2018-11-19 23:02] rbitia commented on #32
We don't believe VK should represent another cluster in Kubernetes so closing this issue for now! Thanks!

[2018-11-19 23:02] #32 closed

[2018-11-19 23:03] rbitia commented on #31
There's no pod abstraction in docker swarm so a provider for it would be confusing. Closing this issue for now! :)

[2018-11-19 23:03] #31 closed

[2018-11-19 23:04] rbitia commented on #33
Azure released the IoT-Edge provider! Closing for now. 😄 😸 👼

[2018-11-19 23:04] #33 closed

[2018-11-19 23:06] rbitia commented on #34
I'll create a PR for this with a matrix with the providers we support.

[2018-11-19 23:08] rbitia commented on #36
Did this in our open source VK google drive. Take a look at our docs here: https://drive.google.com/open?id=19Ndu11WBCCBDowo9CrrGUHoIfd2L8Ueg

[2018-11-19 23:08] #36 closed

[2018-11-19 23:11] rbitia commented on #39
We might use this for pooling resources.

[2018-11-19 23:12] #39 closed

[2018-11-19 23:12] rbitia commented on #42
Closing the issue!

Thanks!

[2018-11-19 23:12] #42 closed

[2018-11-19 23:14] rbitia commented on #44
Hey @radu-matei we are going to continue to use our own implementation of the go SDK for updates and for stability reasons. Hope that's okay :)

[2018-11-19 23:14] #44 closed

[2018-11-19 23:15] rbitia commented on #48
Closing because it doesn't seem to be a core VK issue.

[2018-11-19 23:15] #48 closed

[2018-11-19 23:18] rbitia commented on #78
Robbie says it's fixed so closing for now!

[2018-11-19 23:18] #78 closed

[2018-11-19 23:21] rbitia commented on #101
Closing because I have never actually need this :)

[2018-11-19 23:21] #101 closed

[2018-11-19 23:22] rbitia commented on #106
Closing because this functionality has been added to VK. Thanks @erjadi!!

[2018-11-19 23:22] #106 closed

[2018-11-19 23:31] rbitia commented on #156
Implementation detail for the providers so closing for now!

[2018-11-19 23:31] #156 closed

[2018-11-20 08:51] sdanbury commented on #20
@rbitia I can try it out again this week and let you know.

[2018-11-20 09:02] resouer commented on #26
@rbitia Yes, Ria! The rest of tasks are already in, I will close it!

[2018-11-20 09:02] #26 closed

[2018-11-20 11:39] vedant-khandelwal commented on #411
That's not the case since when I reassign that pod to the AKS node using nodeSelector, it runs just fine. For sake of reproducing the issue, you can try using the sample template provided in the Azure docs:
[code]

[2018-11-20 19:47] rbitia opened #413 "Getting VK to 1.0"
Let's come up with a list of requirements and changes we'd like to implement before getting to a 1.0

[2018-11-20 22:14] brobichaud commented on #148
@rbitia I had to abandon ACI a while back because it only support Windows 2016 ltsc and I'd moved on to v1709, v1803 and soon v1809. I'm hoping ACI will catch up soon with v1809 support, at which point I will circle back and take another look.

[2018-11-20 22:54] cpuguy83 commented on #413
Just off the top of my head:

1. e2e test suite
2. Refactor provider interfaces (a couple of examples I can come up with that need work)
a. `Exec` implementation is pretty limiting, nice that it re-uses some existing stuff from k8s, but ultimately it makes too many assumptions and is difficult to integrate with.
b. Logs should be an I/O stream all logs get dumped into memory.
c. Providers should n

[2018-11-21 14:01] faniereynders opened #414 "Unable to re-produce steps on README for ACI"
According to the [README](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#schedule-a-pod-in-aci), I should be able to schedule pods to virtual-kubelet nodes on my AKS cluster, but it is not working as I am getting the following error:

---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper): ACI

Version (e.g. 0.1, 0.2-beta): no clue

K8s Mast

[2018-11-21 17:50] pires commented on #238
VK already reports `PodStatus` per pod, as computed by the provider. Therefore, I think liveness/readiness probes are to be owned by the provider implementation.

If a probe fails, the pod status is updated and next time VK asks `GetPodStatus`, the failure is reported to the Kubernetes control-plane.

[2018-11-21 18:38] robbiezhang commented on #411
VK uses the standard way to fetch the secret from the k8s, which expects that the secret in the imagePullSecrets exist.
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-in-the-cluster-that-holds-your-authorization-token
I suspect that kubelet just ignores the non-existing secrets in the pod spec, but need investigate it. That's why the sample sp

[2018-11-21 20:41] pires commented on #165
Affinity is a scheduling predicate. VK doesn't handle or interfere w/ scheduling.

[2018-11-21 21:01] pires commented on #160
My opinion is that scoping VK as a library (building block), any provider can then import it, initialize it, run. By doing so, all problems related to out-of-tree simply go away.

Be careful when mentioning CSI and CNI and related because these own all the types used in their APIs. These APIs don't care about Kubernetes types. And as someone said above, VK does pass Kubernetes types to the provide