[2018-11-21 21:10] pires commented on #413
I second @cpuguy83's comment above and that's what I'm focusing on too.

I also did a pass on all the open issues and I found the following to be candidate for a GA milestone:

- #34
- #158
- #170
- #210
- #238
- #300
- #304
- #314
- #316
- #321
- #324
- #347
- #348
- #397
- #399
- #400
- #404

But more importantly, I think it's of paramount importance to define the scope for VK. Why? Because look

[2018-11-21 21:21] rbitia commented on #414
Do you mind pasting your pod spec in the issue?

[2018-11-22 06:13] faniereynders commented on #414
Sure, it's exactly the same as the one in the [Schedule a pod](https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/azure#schedule-a-pod-in-aci) section
[code]

[2018-11-22 11:56] pires commented on #413
I also suggest when there's agreement on what's going to be 1.0, a github milestone is created to keep track of related issues/PRs.

[2018-11-22 16:04] Smithx10 opened #418 "Virtual-Kubelet Metrics"
VKubelet should report metrics about itself,  preferably via Prometheus.

[2018-11-22 23:05] robbiezhang commented on #411
Your example doesn't have the tolerations, which didn't schedule in my cluster. It works fine for me once I append the tolerations. Here is the working version for me:

[code]
Here is my secret spec. I've removed the content. I created it by using the link I provided in my previous reply.

[code]
Can you inspect the secret?
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-privat

[2018-11-23 07:37] vedant-khandelwal commented on #411
I didn't require the toleration part because I had removed the taint from the virtual-kubelet node. I understand dockerconfigjson is supported. which is the type of secret I'm using.

The same spec that you're using doesn't seem to work for me. I get the same error as mentioned in the comments above. Could it be an issue with permissions? or any other configuration at the time of creation of the c

[2018-11-26 18:35] #49 closed

[2018-11-26 18:43] robbiezhang commented on #411
The early versions of VK doesn't support RBAC, and it works for the private repo on a non-RBAC cluster. So, your scenario should work. Can you open the VK pod spec and check whether it uses the **default** service account?
![image](https://user-images.githubusercontent.com/9003737/49034861-fb02f280-f167-11e8-9a3f-b40dfe017b31.png)
If not, can you try to install the VK with rbac.install=false?
http

[2018-11-26 19:36] rbitia opened #419 "vk collaboration"
Update collaboration details in the README with the new calendar link & meeting time details
Investigate getting a dev mailing list for VK

[2018-11-27 07:11] vedant-khandelwal commented on #411
I saw the serviceAccount was set to `virtual-kubelet` and not `default`.
Redeployed VK with rbac.install=false, and the VK has serviceAccount as `default`, but the pod still goes into `ProviderFailed` state with the same issue

[2018-11-27 18:33] robbiezhang commented on #411
Can you run this?

[2018-11-27 18:40] vedant-khandelwal commented on #411
My secret only has the auth and email fields. email field is empty. And there are no username and password fields

[2018-11-27 18:42] robbiezhang commented on #411
That's exactly the issue. ACI expects that the secret must contain the username and password.
Out of curious, is your registry public? How does the authentication work?

[2018-11-27 19:21] vedant-khandelwal commented on #411
I cannot share that information here. I can provide you with that through Microsoft Support if needed. Can changes be made to ACI to allow using only `auth` field

[2018-11-27 19:33] robbiezhang commented on #411
We need to understand the authentication protocol here. According to the same doc, the auth field contains the username and password. Is it the same in your case?

[2018-11-27 19:37] vedant-khandelwal commented on #411
It's the same. There's a special character in the username, which may be causing the problem

[2018-11-27 19:58] robbiezhang commented on #411
OK, it should be an easy fix in the ACI provider in the VK to fallback to use the auth field if username and password are not there.

https://github.com/virtual-kubelet/virtual-kubelet/blob/688c10fa8b25024ae093cccdbb000414878a7102/providers/azure/aci.go#L1015-L1019

[2018-11-27 21:47] asrivas-vmw commented on #238
Right, I agree with @pires. Liveness probes should not be part of VK itself, and can be implemented by the specific providers. I think we can close this issue unless someone vehemently objects to this.

[2018-11-27 21:59] pires commented on #238
@asrivas-vmw I'd argue we should document it before closing, though.

[2018-11-27 23:32] asrivas-vmw opened #423 "Rethink pod introspection provider APIs"
Currently, the way we deal with Exec and Logs in the VK is a little too opinionated and might not work as generically as providers would like it to. VK makes the assumption that the provider should not deal with the SPDY protocol options as it chooses,  and tries to parse these before calling into the provider. Instead, VK should just be a thin abstraction layer that proxies the HTTP requests dire

[2018-11-27 23:40] cpuguy83 commented on #423
So I do not agree with passing through the raw http objects to the provider, this is a breakdown of the interface.
VK needs to provide strong API guarantees to the client that should not be up to the provider to implement as it sees fit.

What kinds of things are you wanting to do in the provider with these streams?

[2018-11-27 23:42] asrivas-vmw commented on #413
Opened #423 to track these items.

[2018-11-28 00:01] asrivas-vmw commented on #423
Sure, that was just an example; we need not expose raw HTTP requests if there are better abstractions that we can use.

Parts of our provider are not in process and this would allow us to proxy the standard input output streams for these commands from another endpoint, kind of similar to what the CRI (Container Runtime Interface) allows for. We don't need to get hung up on the specifics of the int

[2018-11-28 19:33] #411 closed

[2018-11-28 22:36] pires commented on #419
Fixed by #420

[2018-11-28 22:37] pires commented on #419
Sorry, I closed because #420 was merged but it seems you want to do something more, such as finding a dev mailing list. I vote for google groups.

[2018-11-29 08:27] pires opened #427 "Feature: use node Lease API"
In versions of Kubernetes prior to 1.13, `NodeStatus` is the heartbeat from the `Node`.

Kubernetes 1.13 introduces the node-leases, a lighter, more scalable heartbeat indicator. Node leases are renewed frequently while NodeStatus is reported from node to master only when there is some change or enough time has passed.

More on this Kubernetes feature: https://github.com/kubernetes/enhancements/is

[2018-11-29 08:35] pires opened #428 "Feature: provide PodResources API"
In order to monitor resources provided by device plugins, monitoring agents need to be able to discover the set of devices that are in-use on the node and obtain metadata to describe which container the metric should be associated with.

The kubelet now provides a gRPC service (`PodResources`) to enable this feature.

I think it would be interesting for VK to abstract this (through Provider API or

[2018-11-29 10:03] vedant-khandelwal commented on #411
When will this be released?

[2018-11-30 00:22] rbitia commented on #418
VK reports metrics through the metrics server api, is that what you are looking for? VK itself is a pod that looks like a node so you can't get metrics from the node itself.

[2018-11-30 00:32] rbitia commented on #397
@cpuguy83 can you explain what you mean by this issue? What are you doing to get this behavior?

[2018-11-30 00:33] #358 closed

[2018-11-30 00:35] rbitia commented on #347
@pires I don't think we need this for 1.0.

[2018-11-30 00:41] rbitia commented on #321
#427

[2018-11-30 00:42] rbitia commented on #315
#427

[2018-11-30 00:43] rbitia commented on #304
^ Probably not going to be inline for a GA release but let's talk about the pros and cons.

[2018-11-30 00:45] rbitia commented on #283
If you want to add it to the mock provider go ahead but we don't see it as a pressing issue right now.

[2018-11-30 00:46] rbitia commented on #278
Closing! Thanks

[2018-11-30 00:46] #278 closed

[2018-11-30 00:48] rbitia commented on #256
We use taints to solve the same purpose. Is there a reason you would rather use labels?

[2018-11-30 00:58] rbitia commented on #225
Closing! thanks

[2018-11-30 00:58] #225 closed

[2018-11-30 01:02] rbitia commented on #172
I think we do this now. So I'll close the issue.

[2018-11-30 01:02] #172 closed

[2018-11-30 01:04] rbitia commented on #171
Yeah we agree. I'll close for now.

[2018-11-30 01:04] #171 closed

[2018-11-30 01:07] rbitia commented on #166
I'll add the admission controller to this repo. We have one for VK.

[2018-11-30 01:08] rbitia commented on #165
^ Agreed. We have specific azure documentation around affinities already. I think we should close this.

[2018-11-30 01:09] Smithx10 commented on #418
In my use case I will not be scheduling VK via Kubernetes.

I was hoping that there were some kind of VKubelet Internal Metrics that we would want to make available to operators.  Information about the run-time, and the application etc.

I am not referring to instances scheduled by VK, but rather VK itself.

For example:
![metrics](https://user-images.githubusercontent.com/12032554/49262038-b51d87

[2018-11-30 01:18] rbitia commented on #163
We have implemented this! Closing for now.

[2018-11-30 01:18] #163 closed

[2018-11-30 05:31] cpuguy83 commented on #418
+1 for metrics.
We have tracing in but have not done metrics yet as deciding what to track and how will take some thought.

[2018-11-30 10:56] pires commented on #347
@rbitia I just think it should be made clear in the docs whether these are the type of installs supported or not.

[2018-11-30 22:11] cpuguy83 commented on #397
I mean the reconciler that runs on VK startup is reconciling all pods sequentially.

When VK has been down and you bring it back up all the pods that were running are deleted by kubernetes since it didn't get a status update from VK, so all the pods must be deleted in ACI.

With this happening sequentially it takes a very long time when there are more than just a couple of pods.

[2018-12-03 07:36] vedant-khandelwal commented on #411
It seems major releases are monthly for VK. @robbiezhang do you have any date on when the VK-latest chart would be updated with this fix? Thanks

[2018-12-04 01:19] AceHack opened #434 "Should I use virtual-kubelet-for-aks or virtual-kubelet chart?"
It's not clear the difference or what one I should use.  Thanks.

[2018-12-04 03:15] cpuguy83 commented on #434
I believe the normal one will work just fine as long as you set the "targetAKS" when running on an aka cluster.

[2018-12-04 03:51] #434 closed

[2018-12-04 05:05] AceHack commented on #434
@cpuguy83 why are there 2 then?  Also, why was the virtual-kubelet-for-aks last updated more recently if virtual-kubelet is the correct one to use?

[2018-12-04 05:09] cpuguy83 commented on #434
History and maintaining both.

[2018-12-04 07:16] AceHack opened #435 "virtual-kubelet with custom vnet failed"
I'm getting the following error inside the container logs in kubernetes.

Internal error occurred: error getting container logs?): api call to https://management.azure.com/subscriptions/xxx/resourceGroups/MC_rgp-use-arch-aks_aks-use-arch-dev_eastus/providers/Microsoft.ContainerInstance/containerGroups/kayaks-helloworld-linux?api-version=2018-09-01: got HTTP response status code 404 error code "Res

[2018-12-04 19:30] rbitia commented on #435
Hey @AceHack how did you install the virtual kubelet? Can you also paste your pod spec here? And logs from the virtual kubelet pod, which is probably in the kube-system namespace.

[2018-12-04 19:51] rbitia commented on #34
Document functionality that virtual kubelet provides and then mention what the provider needs to do to support the following.

[2018-12-04 19:59] rbitia commented on #34
#238

[2018-12-04 20:00] rbitia commented on #238
Closing now that we have it in view to document that the provider is fully responsible for implementing this feature.

[2018-12-04 20:00] #238 closed

[2018-12-04 20:06] rbitia opened #436 "How do K8s users use 3rd party monitoring systems w/ VK?"
Let's figure out a good pipeline for VK users and list out what a provider needs to do to support this.
Logs, exec, port-forward

[2018-12-04 20:17] rbitia commented on #304
Pipe the VK version to the kubelet version to expose it. Otherwise the virtual kubelet version should follow the current K8s version of the cluster.

[2018-12-04 20:20] rbitia commented on #316
Check with @robbiezhang to see if we can close this guy.

[2018-12-04 20:30] pires commented on #321
I'll look into this.

[2018-12-04 20:31] rbitia commented on #413
#34
#158 & #159
#170
#210
#304
#314
#316
#321 & #427
____________________________________________
#324
#347
#348
#397
#399
#400
#404
#436

[2018-12-04 21:54] jlegrone commented on #316
@pires I believe this was related to https://github.com/virtual-kubelet/virtual-kubelet/issues/259 -- we discussed using an environment variable rather than the flag for setting a taint key. On the pull request that closed that issue, we decided not to remove the taint flag temporarily for backwards compatibility, and I think I filed this issue to track that work for later.

Relevant discussion fr

[2018-12-04 22:10] cpuguy83 commented on #316
fyi, discussed this today on the community sync and thought it better to keep the flag, reason being:

1) Removing it isn't really helping anything
2) Removing is however potentially breaking
3) In general we (on the call) prefer flags to env vars

[2018-12-04 22:21] AceHack commented on #435
virtual kubelet is in default.

operatingSystem=Linux provider=azure
time="2018-12-04T22:00:36Z" level=info msg="starting workers" namespace= node=virtual-kubelet-linux operatingSystem=Linux provider=azure
time="2018-12-04T22:00:36Z" level=info msg="started workers" namespace= node=virtual-kubelet-linux operatingSystem=Linux provider=azure
time="2018-12-04T22:17:29Z" level=warning msg="requeuing \

[2018-12-04 22:22] AceHack commented on #435
apiVersion: v1
kind: Pod
metadata:
  name: helloworld-linux
spec:
  containers:
  - image: microsoft/aci-helloworld
    imagePullPolicy: Always
    name: helloworld
    resources:
      requests:
        memory: "250Mi"
        cpu: "500m"
    ports:
    - containerPort: 80
      name: http
      protocol: TCP
    - containerPort: 443
      name: https
  dnsPolicy: ClusterFirst
  nodeSelector:

[2018-12-05 19:08] AceHack commented on #435
So I made the following modification to my manifest because my resource limits apparently were too small.

[code]

And now in the virtual kubelet logs I see

`time="2018-12-05T18:50:53Z" level=info msg="Pod created" namespace=default node=virtual-kubelet-linux operatingSystem=Linux pod=helloworld-linux provider=azure`

Nothing in the pod logs, it stays stuck in Waiting: Creating

In my MC_rgp-use-

[2018-12-06 02:46] AceHack commented on #435
FYI these are the instructions I followed.
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#create-an-aks-cluster-with-vnet

[2018-12-06 02:53] AceHack commented on #436
In our cluster we use Elastic Search/Logstash/Kibana, Prometheus/Grafana, and Zipkin for monitoring.  Would love to have full integration here.  ELK and Prom both use DaemonSets to run on each node and collect data from all the pods that way.

[2018-12-06 05:32] AceHack commented on #435
I re-built my cluster and things are now working.

[2018-12-06 05:32] #435 closed

[2018-12-06 05:45] AceHack opened #438 "Please explain monitoredNamespace in documentation"
What is monitoredNamespace?  Also can you please explain all the settings in the value.yaml in the documentation?  Thanks.

[2018-12-06 05:49] AceHack opened #439 "Can I install helm chart into any namespace?"
seems like helm chart defaults to default, but I would like to customize this.  Will this be okay?  Is kube-system okay?  Thanks.

[2018-12-06 06:39] AceHack opened #440 "ACI pods missing from Connected devices in vnet"
When I look at my vnet in the Azure Portal I don't see any of the ACI pods under Connected devices.

[2018-12-06 07:12] AceHack commented on #435
Any way you can re-open this.  I'm getting the same issue now but using a windows virtual kubelet.  The linux one is working fine in the same cluster.  Thanks.

[2018-12-06 08:37] AceHack opened #441 "configmaps volume mounts not supported?"
The following works:

[code]

The following is broken and fails:
[code]

[2018-12-06 09:13] AceHack opened #442 "default service account's image pull secret does not work"
In our cluster our default service account is an image pull secret so each deployment does not have to specify it.  This does not work with virtual kubelet.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account

[2018-12-06 15:18] Smithx10 opened #443 "Recording Events in a Provider"
---

### Environment summary
Provider (Triton)
Version (0...0..0.000..1)
K8s Master Info (minikube)
Install Method (go build)

### Issue Details
While developing the Triton Provider I ran into a scenario where I would like to pass Events to the user.  So they would appear in kubectl get events.

I looked how the regular Kubelet was doing so,  and they used a recorder.

https://github.com/kubernete

[2018-12-06 16:16] Smithx10 opened #444 "VK crashes when populating env var from non-existing secret"
---

### Environment summary

Provider (triton)

Version (0)

K8s Master Info (minikube)

### Issue Details
If you provide a secretKeyRef that doesn't exist VK dumps.

[code]

### Repo Steps

Configure a pod / replicaset / or deployment and provide a secretKeyRef that doesn't exist.

[code]

[2018-12-06 17:25] AceHack opened #445 "Can't talk to Service Bus from custom VNET ACI"
When I try to talk to service bus I get the following error but I have another pod running at the same time on a regular AKS node and things work fine.

Microsoft.Azure.ServiceBus.ServiceBusCommunicationException: Resource temporarily unavailable ErrorCode: TryAgain ---> System.Net.Sockets.SocketException: Resource temporarily unavailable
   at Microsoft.Azure.ServiceBus.ServiceBusConnection.Creat

[2018-12-06 19:09] rbitia commented on #439
Yes that's perfectly fine! We deploy to kube-system in the virual node public preview for Azure.

[2018-12-06 19:10] rbitia commented on #440
Hey! Can you paste a screenshot of what you see and what you would expect? Also is this Linux or Windows? How did you deploy VK, & what pod spec did you use?

[2018-12-06 19:10] rbitia commented on #441
Was this with a windows or linux deployment?

[2018-12-06 19:34] AceHack commented on #440
FYI these are the instructions I followed.
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#create-an-aks-cluster-with-vnet

[2018-12-06 19:41] AceHack commented on #440
![connected devices](https://user-images.githubusercontent.com/578953/49607757-eba05800-f964-11e8-803a-78bafb59471f.jpg)

I expect to see ACI instance use an IP address from here

[2018-12-06 19:41] AceHack commented on #440
no IP addresses show in use on the ACI subnet

[2018-12-06 19:49] AceHack commented on #441
Linux

[2018-12-06 19:50] AceHack commented on #440
Linux

[2018-12-06 19:51] AceHack commented on #439
Awesome, thanks.

[2018-12-06 19:51] #439 closed

[2018-12-06 20:33] AceHack opened #447 "Can't get hello world to work on custom VNET ACI windows"
I just get status: ProviderFailed, Linux VK in that same AKS cluster works fine.  Tried this in two clusters now, one in east us and one in west us.

From Pod:
`Error from server (InternalError): Internal error occurred: error getting container logs?): api call to https://management.azure.com/subscriptions/xxx/resourceGroups/MC_rgp-usw-arch-aks_aks-usw-arch-dev_westus/providers/Microsoft.Container

[2018-12-06 20:40] AceHack commented on #436
We use a combination of filebeats and logstash to get console out from AKS into elastic search
https://github.com/helm/charts/tree/master/stable/filebeat
https://github.com/helm/charts/tree/master/stable/logstash
https://github.com/helm/charts/tree/master/stable/elastic-stack

[2018-12-06 21:56] pires commented on #444
This seems quite easy to fix to I'm taking the opportunity to try and initiate a new contributor, by helping them figure out what the problem is and provide a fix.

[2018-12-06 23:01] jluk commented on #435
@AceHack not sure if you tried to setup Windows VK behind a VNET, but windows containers in ACI don't yet support VNETs so those windows vnet injection scenarios are expected to fail today. You should be able to provision non-vnet enabled windows container through VK though (abiding by the ACI Windows constraints (no mounts/pods/metrics, only WS2016 support, etc.).

[2018-12-06 23:10] cpuguy83 commented on #447
As far as I am aware, custom vnet does not work on Windows.

[2018-12-06 23:31] krancour opened #448 "ACI provider prematurely reports pods as ready when they, in fact, are unreachable"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)

ACI

Version (e.g. 0.1, 0.2-beta)

v0.7.4

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

AKS (k8s v1.11.5)

Install Method (e.g. Helm Chart, )

Helm chart-- the virtual-kubelet-for-aks chart, specifically

### Issue Details

Consistently, I can observe that pods scheduled to VK remain unreachable for sometimes as long as ap

[2018-12-06 23:41] krancour commented on #448
Cross-referencing https://github.com/osiris-org/osiris/issues/152

[2018-12-07 04:32] VenkateshSrini opened #449 "Virtual kubelet to connect Kubernetes in docker with service fabric cluster on premise"
Hi All,
I know my ask is slightly obligue. I have service fabric cluster running on my local machine. I also have a docker with Kubernetes enabled. I want to register Kubernetes on docker or mini-kube with Service fabric using virtual kubelet. Can this be done? My machine is Windows 10 Pro

[2018-12-07 05:24] AceHack opened #450 "Cannot kubectl exec into VK custom VNET pod"
After following this guide
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#create-an-aks-cluster-with-vnet

I cannot "kubectl exec" into any pod running on VK.  It sits for a long while and then returns nothing.

[2018-12-07 05:42] AceHack commented on #447
@cpuguy83 Awesome, thanks for the help.

[2018-12-07 05:42] #447 closed

[2018-12-07 05:53] AceHack commented on #450
It looks like this at the command line

[code]

It's about 30 seconds after I hit 'enter' on the first line and it just sits there and eventually returns nothing.

[2018-12-07 06:12] AceHack commented on #435
@jluk Thanks.

[2018-12-07 06:37] AceHack commented on #450
Also just to be clear, this is a Linux container, it's the nginx example here.
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/examples/nginx-pod.yaml

[2018-12-07 06:39] AceHack commented on #445
FYI this appears to be related to DNS, I can curl IP address from inside the pod but DNS does not work.

[2018-12-07 07:03] AceHack commented on #450
Found my problem, was missing the -it switch.  Thanks.

[2018-12-07 07:03] #450 closed

[2018-12-07 08:02] AceHack opened #451 "Expose POD info through environemnt variables does not appear to work"
I tried to access node name it does not work in VK, works fine on normal node.  Thanks.

https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

[2018-12-07 08:04] AceHack commented on #445
Following the "new" guide here.
https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli
Fixed my DNS issue.

The helm chart way
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#create-an-aks-cluster-with-vnet
I had the DNS issues above.

Thanks.

[2018-12-07 08:04] #445 closed

[2018-12-07 08:30] pires commented on #321
By looking at the code linked above (`node_controller.go`), this seems to happen only when:
- cloud-provider feature is enabled;
-  a node, or in this case the VK, reports its `node.status.conditions["Ready"]="false"`.

I'll talk to some people in sig/cloud-provider and propose the controller skips based on some annotation, e.g. `cloud.kubernetes.io/unmanaged`.

[2018-12-07 20:42] cpuguy83 commented on #397
This is fixed now that reconciliation is done in parallel for each pod.

[2018-12-07 20:42] #397 closed

[2018-12-07 21:26] cpuguy83 opened #453 "Clean up daemon CLI initialization"
The way the daemon CLI is created is becoming a huge problem for readability and maintainability.

It would be great to carry the work from https://github.com/virtual-kubelet/virtual-kubelet/pull/201 and clean this all up.

[2018-12-08 00:21] rbitia opened #455 "OMS add-on in old AKS clusters block virtual node add-on"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)
latest
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
virtual node add-on
### Issue Details
If you enable OMS before enabling virtual node as an add-on, and the cluster is "old" you will not be able to install virtual node as an add-on.
### Repo Steps
Crea

[2018-12-08 00:21] rbitia commented on #455
https://github.com/Azure/AKS/issues/746

[2018-12-09 00:44] xtophs opened #456 "AKS Connector KubeDNS Resolution and Service IP resolution is not working"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
Azure

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm Chart 0.5.0

### Issue Details
Resolution of DNS names for services running in the cluster is not running working from containers running in ACI.

A service `hostname` is deployed on a regular node i

[2018-12-09 23:33] caniszczyk opened #457 "Implement CII Best Practices Badge (CNCF requirement)"
CNCF requires all projects to go through the CII Best Practices badging exercise:
https://bestpractices.coreinfrastructure.org

[2018-12-09 23:34] caniszczyk opened #458 "Define security disclosure process"
I recommend creating a security disclosure process for the project. You can cargo cult Envoy:

https://github.com/envoyproxy/envoy/blob/master/SECURITY_RELEASE_PROCESS.md

[2018-12-09 23:36] caniszczyk opened #459 "Define a GOVERNANCE.md"
You list your maintainers but you don't have a process outlined on how to become a maintainer outside of emailing a maintainer. I'd advise you come up with a simple process, maybe a 2/3 super majority vote or so, you can look at what other CNCF projects do:

https://github.com/containernetworking/cni/blob/master/GOVERNANCE.md
https://github.com/envoyproxy/envoy/blob/master/GOVERNANCE.md
https://gi

[2018-12-10 02:02] yashdesai93 opened #460 "Populate configMap and secret in environment variables for Init containers"
`populateEnvironmentVariables` does not populate init container's env variables which are sourced from configMaps or secrets.

[2018-12-10 03:23] yashdesai93 opened #461 "VK ignores `EnvFrom` field for container spec."
From k8s.io/api/core/v1/types.go
[code]

[2018-12-11 04:08] xtophs commented on #456
Played more with dnsPolicies. After upgrading cluster to 1.10.9, I was able to configure a pod with

[code]

The errors from dig and nslookup go away. Now nslookup times out, presumably because it can't reach the dns server listening on 10.0.0.10.

Double-checking with `telnet 10.0.0.10 53` from a virtual kubelet pod and a pod running in the k8s cluster it looks like traffic from the virtual kubel

[2018-12-11 04:15] AceHack commented on #456
I had a very similar issue but then used the guide below and did things the CLI way and it started working.
https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli

My issue for reference
https://github.com/virtual-kubelet/virtual-kubelet/issues/445

[2018-12-11 14:35] pires commented on #461
What makes you think this is the case? See https://github.com/virtual-kubelet/virtual-kubelet/blob/master/vkubelet/pod.go#L44-L47

[2018-12-11 15:36] erjadi commented on #423
Hi @asrivas-vmw thanks for a thoughtful message on exec in VK, I actually originally implemented it in VK and the Azure provider so I read your comment with great interest.

The questions you raise are indeed valid points that actually crossed my mind when I did the first implementation, my original version was too provider specific in the VK interface and although I think the current version is w

[2018-12-11 15:40] erjadi commented on #170
Do we know if any providers would currently support this? Correct me if I'm wrong but I think most providers do not allow access to a port on a pod that hasn't been exposed at the time of deployment.

[2018-12-12 13:32] pires commented on #461
Meanwhile, a PR related to `envFrom` processing (#452) was merged.

[2018-12-12 13:34] pires commented on #460
I can confirm this is the case as VK is only processing `pod.containers`.

I have some related work to do as follow-up of #452, and I'll include this request too.

[2018-12-12 14:13] pires opened #465 "pod env var processing fails silently when facing errors"
### Environment summary

- Any provider
- As of master branch
- Any Kubernetes version

### Issue Details

From a Kubernetes API perspective, the VK fails silently when an error occurs processing a pod's environment variables references (`envFrom` `Secret` and `ConfigMap`). This means a user will never know a pod is failing to run just by querying the pod status from the API.

### Repo Steps

Crea

[2018-12-12 14:18] pires commented on #453
This is relateed to #348.

[2018-12-12 14:21] pires commented on #448
This seems a provider issue and not a VK issue.

[2018-12-12 18:04] pires commented on #461
Ouch, I just realized that we are not processing pod containers `envFrom` at all, but simply `env`.

[2018-12-12 18:09] cpuguy83 commented on #461
Can't believe "EnvFrom" is a thing... Guess we should support it.

[2018-12-12 18:21] pires commented on #461
@cpuguy83 yeah, I'm on it.

[2018-12-12 18:44] pires commented on #321
I've talked to one co-leads for sig-cloud-provider and we've agreed for me to come up with a proposal PR following https://github.com/kubernetes/kubernetes/pull/70344.

[2018-12-12 20:45] krancour commented on #448
That seems quite possible. I don't know the VK implementation well-enough to assume that. I figured this would a good starting point for getting this addressed.

[2018-12-12 21:00] pires commented on #448
@krancour thanks for clarifying. So yeah, it's an ACI provider issue as you reported in the issue description.

[2018-12-14 14:56] xtophs commented on #456
@AceHack Thanks. The installing the ace-connector with the AZ CLI instead of the helm chart fixed network access to services in the 10.0.0.0/16 network. DNS resolution is still broken, presumably because of the malformed `/etc/resolv.conf`.

For AKS clusters running 1.10 you can work around this with a custom `dnsConfig` for a pod:
[code]

[2018-12-14 21:01] dannymyers opened #467 "ACI support hostAliases"
### Environment summary

Provider ACI
Version v1.11 (?)
K8s Master Info AKS
Install Method Azure Portal

### Issue Details

[hostAliases](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/) do not work when using virtual-kubelets.

### Repo Steps

[code]

`kubectl logs hostaliases-pod`

Notice how host aliases are not in the output.

[2018-12-15 11:31] pires commented on #467
This is the responsibility of the provider of your choosing, not the VK.

[2018-12-18 18:12] rbitia commented on #440
@AceHack your problem was resolved over email correct? Can we close this issue?

[2018-12-18 18:13] rbitia commented on #440
Or you have the container instances receiving public IPs but you also would expect them to be within that portal view?

[2018-12-18 21:28] xinyanmsft opened #471 "Please support port-forward in virtual kubernetes"
Provider (e.g. ACI, AWS Fargate, Hyper): ACI
Version (e.g. 0.1, 0.2-beta): current
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): AKS
Install Method (e.g. Helm Chart, ): helm chart (via AKS)

### Issue Details
Currently virtual node on AKS does not support port-forwarding. Port-forwarding helps a lot of developers scenarios such as debugging into the container. Please consider support it. Thank

[2018-12-18 21:31] xinyanmsft opened #472 "Detailed events such as when the image is being pulled, and when the container is started are missing"
Provider (e.g. ACI, AWS Fargate, Hyper)  ACI
Version (e.g. 0.1, 0.2-beta)  Current
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)   AKS
Install Method (e.g. Helm Chart, ) Helm (via AKS)

Right now, running ‘kubectl events’ doesn't give me a lot of useful information, as compare to regular Kubernetes nodes. Detailed events such as when the image is being pulled, and when the container is started

[2018-12-18 21:41] cpuguy83 commented on #472
I don't think this is something we can necessarily support in the VK core and seems like a provider concern, though certainly the existing providers are not reporting this information.

[2018-12-18 21:43] xinyanmsft commented on #472
@cpuguy83 @rbitia  please advice where I can move this issue to. I do care about AKS / ACI. Thanks!

[2018-12-18 21:44] cpuguy83 commented on #471
This looks like a dup of https://github.com/virtual-kubelet/virtual-kubelet/issues/170

If so, can you close?

[2018-12-18 21:52] #471 closed, assigned to nobody

[2018-12-19 00:13] #460 closed

[2018-12-19 00:13] #461 closed

[2018-12-19 00:13] #465 closed

[2018-12-19 00:21] pires commented on #472
I'd say this is specific to a provider. For instance, for ACI it may make sense to report such events, while for other providers not. The provider may not even have access to such info, i.e. _pulled an image_.

Also, this relates to #443 where @Smithx10 has expressed the desire to record events from providers too.

[2018-12-19 01:08] #304 closed

[2018-12-20 16:35] rbitia commented on #472
@xinyanmsft This is on our schedule for next semester. Thanks for the issue :)

[2018-12-20 21:16] AceHack commented on #440
I would expect them to be in portal view they are not.

[2018-12-20 21:17] AceHack commented on #440
Also they are not public IPs they are private subnet IPs.

[2018-12-20 21:53] robbiezhang commented on #440
This is a good point. I think the network profile has all the information, but not exposed in the Azure portal. It's a feature request in Azure NRP.

[2018-12-21 18:20] cpuguy83 opened #475 "Support metrics-server v0.3"
metrics-server v0.3 seems to only support fetching metrics from the main kubelet interface rather than what v0.2 does (a separate endpoint on an unsecured port).

I've only looked at this while debugging some other issues, so I'm not sure if there is more to do than just adding the endpoints on the main interface.

[2018-12-21 21:30] dkkapur commented on #449
Hi - this can't be done at the moment, we don't have a VK provider for service fabric clusters yet. We have one for Mesh but that will not apply to a vanilla local cluster deployment or to a cluster on-prem / in Azure yet.

[2018-12-21 22:25] cpuguy83 opened #476 "async provider sync"
Right now VK loops every 5 seconds it goes through each known pod from the provider and updates k8s with any status changes.

Instead we should consider supporting some type of async API where we get notifications from the provider when something has changed state and VK can watch for these notifications.

[2018-12-21 23:57] xtophs commented on #456
@robbiezhang:

I know there's a lot of info in the thread. Trying to distill:

1. Following install instructions at https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md there are error messages from dig and nslookup inside a container. Services on the 10.0.0.0/16 appear not to be reachable. There are not extra steps to config NSGs, etc. Please see Repro steps ab

[2018-12-22 00:40] robbiezhang commented on #456
The repo steps confused me a lot, until I notice that you updated the deploy-vkubelet.sh to use the add-on extension recently. Can you confirm that you hit the DNS resolution issue when you use the script in your initial commit?
https://github.com/xtophs/aks-vkubelet-burst/blob/15e32f86dfaf73ecdca3ab79bbf1f2626326e972/deploy-vkubelet.sh#L6
The MASTER_URI should contains `https://`. This should fix

[2018-12-24 12:59] pires commented on #444
Interesting, seems reference `Optional` pointer can also be nil.

[2018-12-26 10:03] jovizhangwei commented on #456
In our cloud vpc network environment, currently we are using a simple hack solution to allow ECI(Alibaba Cloud Elastic Container Instance) pod access ClusterIP.

We add a new VPC route manually, to forward ClusterIP packet to real nodes(not virtual node), then real node's kube-proxy will resolve ClusterIP to pod IP.

[2018-12-27 02:33] wukong1992 opened #481 "does mock provider support general kubernetes cluster except minikube and docker for desktop"
---

### Environment summary

Provider mock

Version ：latest

K8s Master Info： private

Install Method ：git clone，make build，./bin/virtual-kubelet

I test the virtual-kubelet succed in minikube, but in company private kubernetes cluster, when i deploy pod the virtual node would be notready.

[2018-12-27 18:38] robbiezhang commented on #481
do you see any log from the VK?

[2018-12-28 01:41] wukong1992 commented on #481
How to see the log from VK, the events in the node is none, it's just be notready

[2018-12-28 02:44] muya-zj opened #482 "mock provider: timed out waiting for client to create streams when exec"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)

mock

Version (e.g. 0.1, 0.2-beta)

v0.7.3

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

minikube

Install Method (e.g. Helm Chart, )

### Issue Details

when we use kubectl exec ${container_id} xxx，func ExecInContainer of mock provider cannot be called.  The VK output some error log, like

ERROR: logging before flag.Parse

[2018-12-28 03:59] wukong1992 commented on #481
This is the stack when I run `./bin/virtual-kubelet --nodename vkubelet-mock-0 --provider mock --provider-config vkubelet-mock-0-cfg.json  --metrics-addr=:10258`

stack：
`2018/12/28 11:55:54 receive GetPod "calico-node-rv7w5"
E1228 11:55:54.120705   27871 runtime.go:69] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer deref

[2019-01-02 19:31] robbiezhang commented on #482
mock provider hasn't implement the ExecInContainer API.
https://github.com/virtual-kubelet/virtual-kubelet/blob/f7afeba12efee90a20e5b9d0b6ff49eeca6969fa/providers/mock/mock.go#L214-L219

[2019-01-03 02:53] muya-zj commented on #482
As I understand, although this function is not implemented, it should be triggered and output log printf when kubectl exec. Actually, errors occur before func ExecInContainer is called.

[2019-01-04 07:48] wukong1992 commented on #481
@robbiezhang

[2019-01-04 17:40] #15 closed

[2019-01-04 19:41] robbiezhang commented on #481
The log looks similar to #444. However, I don't think VK node can run Calico. Can you try to disable Calico on it?

[2019-01-07 22:14] cpuguy83 opened #486 "Split node registration from pod watch/sync"
Right now VK node registration and pod syncing are all tied together in one call to `Run`.
Implementors may want to have more control over node registration than this currently allows for.

I suggest that we split node registration and status update from the pod sync startup. This gives implementors a lot more control over when/how the node object is managed with the API server.

[2019-01-07 22:14] cpuguy83 commented on #486
ping @pires, thoughts?

[2019-01-08 00:54] cpuguy83 commented on #476
Here's what I'm thinking for this interface:

[code]

In the VK core we can enqueue changes to be handled by a set of workers much like we do from the k8s client.

[2019-01-08 07:47] inge4pres opened #488 "New provider: Firecracker"
### New Provider: Firecracker

Provider (e.g. ACI, AWS Fargate, Hyper)
Firecracker

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )
TBD

### Issue Details
This is a feature request to add a Firecracker provider to connect virtual-kubelet with the Firecracker REST API (and optionally with the experimental VSOCK API too 😄 ).
Pods in

[2019-01-08 12:33] pires commented on #486
Yes, I do. I'd even add that it's not just about node registration but any node resource operation, ie #427.

[2019-01-08 12:37] pires commented on #481
Also, please compile VK from [`pires/fix_env_ref_optional_nilptr` branch](https://github.com/virtual-kubelet/virtual-kubelet/tree/pires/fix_env_ref_optional_nilptr) and give it a try.

[2019-01-08 17:53] rbitia opened #490 "Http add-on doesn't install correctly"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI
Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
virtual node portal experience

### Issue Details
MININT-04PTR80:labs riabhatia$ az aks enable-addons --resource-group kubecon-seattle --name kubecon-user1  --addons http_application_routing
The behavior of t

[2019-01-08 18:22] jeremyrickard commented on #490
Hey @rbitia check your extension version:

[code]

This should have been fixed in the 0.2.0 release of the extension. It's also worth noting that it would be beneficial to try this out with the new AZ extension.

On a related note, we should maybe track this outside the VK github org since it's azure cli specific.

[2019-01-08 18:52] #444 closed

[2019-01-08 19:56] resouer commented on #488
One question is what would be difference with Firecracker + CRI work?

[2019-01-08 20:23] cpuguy83 commented on #488
I thought I commented on this, guess it didn't make it through for some reason.

Have you looked at https://github.com/firecracker-microvm/firecracker-containerd?
Since this is managing an actual node resource I'm wondering if integrating via containerd with the real kubelet is best.

[2019-01-08 20:35] raravena80 commented on #488
I guess the alternative would be CRI -> Containerd -> Firecracker.  Seems like that would work,  the limitation, for now, would be: launch one container per microVM

[2019-01-08 20:36] cpuguy83 commented on #488
Yeah, I believe firecraker-containerd has plans to support multiple containers in the microvm.

[2019-01-09 01:53] mumoshu commented on #185
@ssudake21 @d-nishi This is likely due to the current limitation of ECS and Fargate. I believe that we either need to implement sidecars for the fargate provider to exploit it, or wailt until Fargate/ECS implements a thing like "pre-populated volume mounts", or the EFS volume mounts gets supported for Fargate too.

The in-cluster configuration, AFAIK, works by mounting service account token at the

[2019-01-09 08:48] inge4pres commented on #488
I did not know of the existence of the containerd project in firecracker, thanks for pointing out!
@resouer I guess the only difference with a deployment through virtual kubelet provider would be that containerd would require the whole cluster to be setup with a CRI-containerd runtime, while with the virtual kubelet you could have only a subset of nodes provisioning firecracker VMs, isn't it?

[2019-01-09 10:16] lizrice commented on #185
I did get #484 working in my own fork, at least for what I was trying to achieve, but that PR here was inadvertent as it seems pretty hacky to me and I didn't really think anyone else would want it! But let me know if it would be useful for me to push any of it (or part of it) here.

[2019-01-09 10:51] johanneswuerbach commented on #185
Wouldn't it be possible to make this push based instead of pull? E.g. have the vk itself write the secretmap/configmap content to a shared storage (say S3) and then have a fargate sidecar polling this into a local volume? This would at least not create a per task api-client and might be more resilient against k8s master hiccups.

[2019-01-09 12:43] johanneswuerbach commented on #488
VirtualKublet generally defers the running of the kubernetes pod to a 3rd party provider (e.g. Azure ACI or AWS Fargate) so its actually never provisioning nodes or handling resource distribution.

While a firecracker provider might be possible it would be limited to spawning microvms on a single node or you would need to implement some scheduling to decide which node should be targeted etc.

As f

[2019-01-09 12:43] mumoshu commented on #185
That sounds like a great idea! The only challenge would be how we can safely open up s3 bucket access only to the sidecar. Altering the task role won't be an option.

Perhaps we can teach the fargate provider to automatically update the bucket policy to accept access from the pod on start, and to decline access on pod stop?

[2019-01-09 14:30] inge4pres commented on #488
Thank you all for the info provided, closing this for now 😄

[2019-01-09 14:30] #488 closed

[2019-01-09 15:32] rbitia commented on #490
Moved to AKS issues: https://github.com/Azure/AKS/issues/777

[2019-01-09 15:32] rbitia commented on #490
Closing the issue here!

[2019-01-09 15:32] #490 closed

[2019-01-09 18:56] pires commented on #481
Fixed by #491

[2019-01-09 18:56] #481 closed

[2019-01-09 20:56] cpuguy83 opened #494 "What to do with providers?"
Right now this repo is full of provider specific code which also has a separate maintenance flow from VK core.
Should this code continue to live in VK?

Part of the direction that I see for VK is to provide a good framework for providers to build their own integrations that integrate well with their infrastructure. Mostly I would expect to see that code live within a provider's org.

I do see some

[2019-01-09 21:01] cpuguy83 commented on #494
Added a bunch of people here, but sure other providers are missing... I didn't see them in the list... maybe @rbitia knows GH handles?

[2019-01-09 22:40] resouer commented on #494
My random thoughts is, eventually I believe providers could find a new home like [cloudproviders](https://github.com/kubernetes/cloud-provider-aws) in Kubernetes org. That said, it make a lot sense for VK to follow the same maintenance/migrate pattern in kube community.

The experience is, having providers in tree for certain period of time do benefit to accumulate issues/PRs/discussion in the sam

[2019-01-09 22:47] caniszczyk commented on #494
You can also host these providers as sub projects of the VK github organization as one path forward, each other their own maintainers/governance per sub project

[2019-01-10 15:40] pires commented on #494
+1 for making VK a clean framework anyone can use to build their provider with, and having providers living elsewhere. Eventually, a path for something like a _certified VK provider_ could be specified, which end result could be the provider code moving to the VK github org.

[2019-01-10 19:30] caniszczyk commented on #494
My advice to the VK project would be to create a GOVERNANCE.md that dictates how projects are added/removed along with maintainers, e.g.,

https://github.com/envoyproxy/envoy/blob/master/GOVERNANCE.md
https://github.com/coredns/coredns/blob/master/GOVERNANCE.md

[2019-01-10 19:39] odhekar commented on #441
This isn't working on our AKS cluster as well for linux deployments.

[2019-01-11 08:02] zanetworker commented on #494
Should gRPC be considered? communication between the daemon and the providers would be a matter of calling the right remote RPC.

[2019-01-11 08:31] pires commented on #494
gRPC would be an implementation detail. The discussion here is more about what VK is and what it can/shall become.

[2019-01-12 01:50] posix4e opened #503 "Azurebatch doesn't launch and logs don't show up, for larger kubectl jobs"
As much as it's lovely to have a tf config, it would also be lovely if you provided standalone instructions on how to attach azure batch to an existing cluster with a virtual kubelet. I have created a helm chart.

https://github.com/virtual-kubelet/virtual-kubelet/pull/504

 I am currently testing it however I am getting an error in the kubelet when I launch jobs against it. The pod has something

[2019-01-13 07:08] posix4e commented on #503
Perhaps a way to run only a subset of the terraform would be sufficient.

[2019-01-13 21:05] posix4e commented on #503
[code]
Seems not to work

[2019-01-15 06:55] muya-zj commented on #482
ping @cpuguy83

[2019-01-15 20:38] cpuguy83 commented on #482
If it's stuck in `createStreams` as the stack seems to indicate, then it seems like there is some issue negotiating the http stream.

I'm really not familiar with `remotecommand`, but it seems like you should be able to reproduce with just that library and not VK at all.

[2019-01-16 08:20] muya-zj commented on #482
I find the solution as follows,
[code]

[2019-01-16 08:21] #482 closed

[2019-01-16 22:52] cpuguy83 commented on #482
@muya-zj That makes sense. Did you want to open a PR?
I assume kubectl is sending these values?

[2019-01-18 13:50] andreslon opened #505 "imagePullSecrets does not working, later the configure the Virtual-Kubelet"
1. Create the Azure Kubernetes Service into Azure.
2. Create the Secret to ACR
3. Deploy any Linux image to AKS

**Does Working prefectly.**

4. Use Virtual Kubelet with Azure Kubernetes Service [(https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet)](https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet)
5. Try deploy again any image Linux or windows

**Does No working.**

The pods sta

[2019-01-22 12:34] pires commented on #321
Here's a tentative solution https://github.com/kubernetes/kubernetes/pull/73171.

[2019-01-24 15:22] byrneo opened #511 "ACI - VNET "subnet CIDR defined but no subnet name""
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
Latest (as of Jan 24, 2019)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
upstream k8s running on-prem (vpn to azure vpn gateway)

Install Method (e.g. Helm Chart, )
Helm 0.5

### Issue Details
Deploying the helm chart with VNET set to enabled and specifying subnet/cidr details, results in t

[2019-01-25 01:02] mattkelly commented on #32
@rbitia are there any resources (even if just meeting notes) you can point to that explain the decision to not implement this? I understand that it may be desirable to conflate this with [federation-v2](https://github.com/kubernetes-sigs/federation-v2) but without more context, the arguments presented earlier in this thread are still fairly compelling. Thanks!

[2019-01-25 16:25] sylus opened #512 "SFMesh panics when built off master branch"
### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper): sfmesh

Version (e.g. 0.1, 0.2-beta): master

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): Docker for Mac

Install Method (e.g. Helm Chart, ): Master build

### Issue Details

I got virtual kubelet working on my local docker-for-mac k8s cluster using ACI, but also wanted to try sfmesh but seems to panic. I checked i have all th

[2019-02-04 07:39] sargun opened #515 "[Proposal] Provider over RPC calls"
We need to write an internal provider for our own container manager. This provider is not useful to the general purpose audience, even though it is open source (https://github.com/Netflix/titus-executor). I'm curious, as to whether it makes sense to have a general purpose provider that can be used to attach to other providers over the network.

For example, I could implement the Titus provider and

[2019-02-04 15:15] cpuguy83 commented on #515
@sargun we are more focused on making VK easier to pull in as a library to make your own daemon implementations.

Note there is a "web" provider which can handle out of process providers, although I'm not really familiar with the protocol.

[2019-02-04 16:38] sargun commented on #515
Thanks! I think the web provider is exactly what I need. Any reason it's not part of the README.md doc?

[2019-02-04 16:54] thiagomancuzo opened #516 "Vvirtual"
---
Provider: ACI
Version (e.g. 0.1, 0.2-beta): latest
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): AKS
Install Method (e.g. Helm Chart, ): both Helm Chart and enable-extension

### Issue Details
After enable virtual node with the proper newtork configuration (vnet / subnet) and scale that pods, the new pods are scheduled up at virtual node. But i'm having two problems:

1. Pods on the virtua

[2019-02-04 19:59] thiagomancuzo commented on #516
I got the virtual node pod restart problem solved after remove the livenessprobe from my deployment.
But the HPA can't auto down-scale the auto-scaled nodes.

[code]

[2019-02-05 17:18] #456 closed

[2019-02-05 19:37] cpuguy83 commented on #423
@asrivas-vmw I think the best approach here may be to build a custom VK implementation, which is the direction I'm really wanting to take here.

Note that currently the API server is built at the daemon level... and in fact most things are, this would allow supplying a custom handler for Exec or any other endpoint.

The provider interface itself, I think, should be as simple as possible for this,

[2019-02-05 21:19] pires commented on #515
There is/was another discussion around exposing the Provider API through gRPC, but that complicated things because we would have to import many Kubernetes types, such as Pod and everything that can be part of a pod.

The web provider does seem the way to go in this case.

[2019-02-05 21:19] pires commented on #515
Guess we can close it @sargun?

[2019-02-05 21:20] #515 closed

[2019-02-06 01:02] cpuguy83 opened #520 "Provider interface changes"
To date, the provider interface is fairly broad and many parts are not even implemented in providers. Even things that are implemented are done so identically. Other parts are just using the exact values that were passed in from the command line options.

I've also found that node management is too tangled up with pod management. Ideally, implementers can specify their own node rather than doing t

[2019-02-06 03:38] cpuguy83 commented on #520
Maybe a 1.4.1 and 1.3.1 respectively?

[2019-02-06 23:16] Smithx10 opened #521 "Delete Pod Doesn't Handle Errors"
Context From Slack:
[code]

[code]
[code]
[code]

[2019-02-08 21:32] danielvmw commented on #520
Thanks for this proposal, @cpuguy83. Allow me to comment on the `GetContainerLogs` & `ExecInContainer` methods, sort of as a follow up to https://github.com/virtual-kubelet/virtual-kubelet/issues/423.

The problem I see with the proposed interface (and granted, that is a problem not too many providers are likely to have) is that it assumes local handling of the request. What we do is we use the pr

[2019-02-08 21:43] cpuguy83 commented on #520
@danielvmw I do not understand why an io.Reader/io.Writer is problematic in a proxy model. Can you explain more?
In this case it's just a raw I/O stream with the protocol abstracted away.

`ExecInContainer(w http.ResponseWriter, req *http.Request)` -- This is an http.HandlerFunc, why not implement this on the API side?

[2019-02-09 00:49] danielvmw commented on #520
Right, which means we need to somehow take care of putting all the stream data again into some form of protocol to get it to the final end point. So that means the spherelet is acting as a server and a client and needs to contain logic for all of that, which is extensive.
I believe we could equally well just establish the streams directly between the endpoint and the caller, and just stupidly prox

[2019-02-10 16:44] cpuguy83 commented on #520
Can you explain? This should be wiring up I/O streams from the container, the stream we pass to the Exec would be just the raw data stream, there should be no need for protocol interaction because the stream is literally just a stream of bytes, protocol is handled at the API layer. So I guess I'm really just not understanding the use case still.

Ultimately we are providing a framework to build on

[2019-02-11 17:47] danielvmw commented on #520
For, say, exec we have potentially three streams: stdin, stdout, and stderr. It is possible to establish three connections -- one for each stream -- and push the content over that byte-by-byte. For different reasons we do not want to do that but only have a single connection to the container. That means we need logic to multiplex those three streams onto a single one and recover the original three

[2019-02-14 18:41] cpuguy83 commented on #520
@danielvmw

This seems like a provider concern. Why wouldn't the request from the provider to the backend deal with this?

I've brought this up a few times with other people, I really want to push people to build their own implementations rather than piling everything into a generic virtual-kubelet binary. It will be a much better experience for all involved, I think.

But also again as I mentione

[2019-02-19 16:01] henrikrox opened #522 "No metrics from Windows Containers"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm

### Issue Details
Deployed this test app

`apiVersion: apps/v1
kind: Deployment
metadata:
  name: nanoserver-iis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nanoserver-iis
  template:

[2019-02-19 17:41] cpuguy83 commented on #520
One more concern here, the `GetPods` API is not great, particularly because this can consume lots of memory if there are many pods to fetch. Maybe something like this could work:

[code]

But maybe this is even lower level than we really need.
What this would really only be used for is initial state reconciliation on startup.

[2019-02-19 20:45] cpuguy83 commented on #520
I've updated the proposed interface to split out the container level actions into a separate interface. These are only called by the HTTP handlers and not the vk core reconciliation loops. I thought it was fitting to split them for this reason.
Also added port forwarding to this interface.

[2019-02-20 02:23] rbitia commented on #522
Known issue with ACI. We don't support much yet. @dkkapur to comment more

[2019-02-20 02:29] rbitia commented on #516
Hey @thiagomancuzo are you using windows or linux containers with ACI? How are you grabbing metrics from the pods? (link us to the things you deployed)

[2019-02-20 02:29] rbitia commented on #516
@dkkapur

[2019-02-20 02:31] rbitia commented on #512
@dkkapur if you have a chance here's something to take a look at.

[2019-02-20 02:40] rbitia commented on #511
Did you create the subnet and VNet within the AZ CLI before delegating it to ACI?

[2019-02-20 02:43] rbitia commented on #505
Hey @andreslon thanks for the issue! Sorry we didn't reply before but you created a secret on your cluster, correct? @dkkapur can you take a look?

[2019-02-20 02:44] rbitia commented on #503
Thanks for the issue! I'll delegate the issue to the corresponding provider :)

[2019-02-20 02:45] rbitia commented on #503
@lawrencegripper can you take a look?

[2019-02-20 09:29] lawrencegripper commented on #503
Thanks the info and detailed logs and working on a `heml` chart!

It looks like the underlying command which in getting generated and sent to batch is bigger than batch allows `Total size of commandLine cannot be more than 32768 characters`.

Do you have an example of the pod you are attempting to create in Batch? This would allow me to reproduce the issue locally and see what I can do to resolve.

[2019-02-21 14:50] patnaikshekhar opened #523 "Can't mount config map to Virtual Kubelet"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
 v1.13.1-vk-v0.7.4-44

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
kubectl apply

### Issue Details
When trying to mount a config map to a Pod in a virtual kubelet the provisioning fails with the error "ProviderFailed". Running a describe or logs on t

[2019-02-21 18:32] thiagomancuzo commented on #516
@rbitia I'm using linux containers with ACI and Heapster to get the metrics with HPA.

[Deployment](https://gist.github.com/thiagomancuzo/327785621051932e560ec289120edd8a#file-deployment-yaml)
[HPA](https://gist.github.com/thiagomancuzo/849d63eeb0b0be82c3a9a11839b40e32)

Thank you for your attention!

[2019-02-21 18:48] lucperkins opened #525 "Point users to official website"
As it stands, there's no indication in this repository that there's an official website for VK at https://virtual-kubelet.io. This should be added to the repo description and mentioned in the README.

[2019-02-22 19:36] #404 closed

[2019-02-23 00:23] srrengar commented on #522
Metrics with Windows containers in ACI is forthcoming in the next few months and will be the same as the Linux container metrics plus a few more. We will keep you updated!

[2019-02-25 15:24] radu-matei opened #530 "Init containers not working properly for ACI provider"
---

### Environment summary

Provider: ACI

Version: vk-v0.7.4-44-g4f3bd20e-dev

K8s Master Info: AKS, v1.12.5

Install Method: Helm chart

### Issue Details
`init` containers with shared `emptyDir` volumes do not work properly.

Not sure if this is a limitation of ACI, or VK mishandles `init` containers, but I didn't seem to find anything about this in the VK documentation -- sorry if I missed i

[2019-02-25 18:29] robbiezhang commented on #530
This is a limitation of ACI.

[2019-02-25 18:38] radu-matei commented on #530
Ok, thanks for the reply -- would you mind if I open a PR to add this to the list of limitations?

(Also, is this something on the roadmap for ACI?)

[2019-02-25 19:33] rbitia commented on #530
Yes please open a PR :) Thanks!!

[2019-02-25 19:34] rbitia commented on #530
Sravan or Deep would be able to comment on whether it's on the roadmap for ACI.

[2019-02-25 19:35] rbitia commented on #525
Agreed. I'll work on this.

[2019-02-26 06:19] patnaikshekhar commented on #441
I'm facing the same issue.

[2019-02-26 20:21] dsalamancaMS commented on #455
Did you guys figured it out? Im having the same problem.

[code]
[code]

[2019-02-27 19:49] erudinsky commented on #154
Looks like still the same with virtual kubelet for Windows (public IP). 1.12.5.

[2019-03-01 21:04] abhij22 commented on #441
I'm seeing the same issue as well.

[2019-03-04 16:40] posix4e commented on #503
Sorry for missing this. I use polyaxon and spawning anything with that will break it. https://github.com/polyaxon/polyaxon/issues/364

[2019-03-04 16:41] posix4e commented on #503
Why not upload it to azure storage as a zipf ile?

[2019-03-05 13:54] byrneo commented on #511
Sorry for late response. Yes, those were created via az cli. @robbiezhang suggested a temp workaround which i'm having some success with (crafting a /etc/kubernetes/azure.json and placing on nodes)

[2019-03-06 14:55] prochnowc opened #535 "ACI VNet with Windows Containers"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate): Azure
Version (e.g. 0.1, 0.2-beta) : 0.5.0
Install Method (e.g. Helm Chart, ): Helm Chart

### Issue Details

Virtual windows nodes cannot use VNet.
When i deploy windows container with configure ACI Subnet i receive this error in the log output of the virtual-kubelet-pod:
`Network profile is not supported before version '2018-07-01'`

[2019-03-07 17:55] srrengar commented on #300
@smahalingam @cpuguy83 are you still running into this?

[2019-03-08 19:34] cpuguy83 commented on #300
This was a one off occurrence, but I doubt it's fixed. Also I'm not sure if the issue is a VK issue or elsewhere.

[2019-03-08 22:29] srrengar commented on #300
@DulebT can we try to repro this with ACI?

[2019-03-11 15:10] lawrencegripper commented on #503
Yeah that is a possibility - one reason I avoided that originally is that I didn't want to persist secrets mounted by the pods onto a storage account somewhere. Guess they could be cleaned up afterwards but adds a bit more complexity.

[2019-03-11 15:17] posix4e commented on #503
Makes sense, maybe it's worth it to support both. Generally the secrets will already be installed in the cluster no?

[2019-03-11 15:39] lawrencegripper commented on #503
Yeah so the secrets already sit in the cluster but I wonder if people would be surprised to find that the Batch VK provider had been uploading them into the Azure Batch storage account. Probably not a big thing and just being overly cautious.

Depending on how well it compresses I'd think the simplest approach would be to gzip then base64 the output of `pod2docker` then pass this to a batch with s

[2019-03-11 19:54] posix4e commented on #503
Sorry I'm confused is that a change on my side or yours?

[2019-03-13 14:10] MarcosMMartinez opened #537 "Documentation - GPU-enabled ACI containers"
---

### Documentation Request

https://github.com/virtual-kubelet/virtual-kubelet/tree/master/providers/azure

Azure provider landing page for virtual kubelet shows GPU-enabled containers  currently have documentation pending? Do we have an ETA for available or perhaps this documentation is being curated elsewhere?

[2019-03-14 19:24] dylanjohnsonsfo commented on #40
automountServiceAccountToken: false doesn't work for me , its the istio-sidecar that is  throwing the error regarding.

```HTTP response status code 400 error code "SecretVolumesNotSupportedOnWindows" ```

[2019-03-14 19:36] dylanjohnsonsfo opened #540 "Istio Sidecar error - "SecretVolumesNotSupportedOnWindows""
---

### Environment summary

Provider (Azure)

### Issue Details

The istio sidecar will not start even with ```automountServiceAccountToken: false``` added to the istio-sidecar-injector spec.

Error = "SecretVolumesNotSupportedOnWindows"

### Repo Steps

[2019-03-15 17:37] srrengar commented on #516
@thiagomancuzo could you share the test(s) you ran to verify the HPA cannot scale down the ACI pods but can scale them up?

[2019-03-16 22:16] radu-matei opened #541 "Incomplete logs fom VK pods with Azure provider"
I'm running VK with the Azure provider and consistently see only the last few lines from the logs, making my particular use case unusable:

From Kubernetes:

[code]

From the Azure portal:

[code]

Is there a way I can get the complete logs?
Thanks!

Provider: Azure
Version: v1.13.1-vk-v0.7.4-44-g4f3bd20e-dev
K8s Master Info: AKS, v1.12.6
Install Method: Helm chart

[2019-03-17 20:30] snobu commented on #537
Until the docs are ready, a sample YAML that deploys a basic nvidia-smi pod would be tremendous.

[2019-03-18 17:18] srrengar commented on #455
@dsalamancaMS @rbitia  I was not able to repro this by following the doc below to create a cluster but also enable log analytics before virtual node. Can you see if you still face the issue?

https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli

[2019-03-18 18:35] ganga1980 commented on #455
@dsalamancaMS,  We have fixed this issue in Az CLI in Jan 19. Looks like you are using the old version of the CLI which  has this issue.  Can you please upgrade to latest version of the CLI and try out https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest?

[2019-03-18 19:09] srrengar commented on #455
Spoke with Denis and Ganga offline, the new CLI has the fix. @rbitia can you close the issue?

[2019-03-18 20:57] srrengar commented on #448
@krancour I am unable to repro this - I can hit the endpoint successfully within seconds after the pod is up. Could you see if you are still facing this issue?

I did install the connector with the virtual nodes add on, not helm but I'm not sure if that would matter?

[2019-03-18 21:18] srrengar commented on #448
with more investigation I found out that the liveness and/or readiness probes cause the container in the pod to restart repeatedly (I confirmed this with another pod as well) and these aren't supported yet with the ACI provider, so maybe that was the issue. @rbitia to add more if needed.

[2019-03-19 15:03] krancour commented on #448
It's been some time since I looked at this, but iirc, there may actually be differences between the two. @rbitia may know more.

Yes. That is the behavior I also encountered with the add-on (not the VK Helm chart). I seem to recall having opened a separate issue for that, internally.

i.e. Two separate options for installation-- two separate issues. This one is specific to VK as installed via Helm

[2019-03-20 02:10] cpuguy83 commented on #245
Yes, this should be looking at all namespaces.

[2019-03-20 02:12] cpuguy83 commented on #162
I think this is up to the implementation to deal with, and otherwise node taints seem appropriate.

[2019-03-20 02:16] fisherxu commented on #245
So, don't know which case the KubeNamespace option used for...

[2019-03-21 23:51] dkkapur commented on #505
@srrengar

[2019-03-22 00:16] srrengar commented on #505
@robbiezhang where should one include their secret when deploying from ACR into VK?

[2019-03-22 00:24] robbiezhang commented on #505
@srrengar
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret

[2019-03-22 00:28] robbiezhang commented on #541
did you try to append `--tail 1000` after the `kubectl logs` command

[2019-03-22 17:45] srrengar commented on #505
hi @andreslon I was able to create a pod successfully by following the docs that Robbie provided. When specifying the image, you need to include the full ACR server name, here is my YAML where the image name is **sravacr.azurecr.io/aci-tutorial-app:v1**. In your case I think it would be **sampleacrdev.azurecr.io/netframework-backgroundtask:277**

hope this helps!

`apiVersion: apps/v1
kind: Deploy

[2019-03-22 20:58] cpuguy83 opened #542 "vmware vic and the case of the captial S(irupsen)"
The vmware vic provider is currently pulling in github.com/vmware/vic which uses `Sirupsen/logrus` both directly and indirectly through an old checkout of docker/docker.
The issue here is that the logrus project was renamed to `sirupsen/logrus` (lower case).

This is causing some conflicts with dependency management.

Can we get these dependencies updated? Note that since we also use logrus in thi

[2019-03-22 20:59] cpuguy83 commented on #542
Ping @corrieb

[2019-03-25 18:11] rbitia commented on #494
We should have a list of guidelines for a beta through 1.0 status for providers.

[2019-03-25 20:29] rbitia commented on #3
Stale issue, so closing for now.

[2019-03-25 20:29] #3 closed

[2019-03-25 20:33] corrieb commented on #20
@sdanbury We're housekeeping old issues. Can you update or close the issue? Cheers.

[2019-03-25 20:33] cpuguy83 commented on #540
Thanks. It sounds like this is an issue with ACI not supporting secret volumes.
Ping @VDuleb who works on ACI.

Thanks!

[2019-03-25 20:35] srrengar commented on #541
@vduleb do you know what the default output is for logs in ACI?

[2019-03-25 20:35] corrieb commented on #30
Closing this as resolved. @rbitia has some code that apparently does this, but there's currently no intention of making this a public provider.

[2019-03-25 20:35] #30 closed

[2019-03-25 20:36] srrengar commented on #540
Adding @dkkapur too. Is this supported for ACI Windows?

[2019-03-25 20:38] lucperkins commented on #525
The official website is now linked in the repo description. In the future we should decided on a division of labor between the official docs and the README but this should be good for now.

[2019-03-25 20:38] #525 closed

[2019-03-25 20:41] rbitia commented on #34
Closing for now because we actually think it's up to the providers to provide what their limitations are.

[2019-03-25 20:41] #34 closed

[2019-03-25 20:43] rbitia commented on #71
@srrengar can you check the aci-connector documentation and see which steps/ parameters we need to add?

[2019-03-25 20:43] srrengar commented on #523
@VDuleb can you take a look at this?

[2019-03-25 20:44] rbitia commented on #81
#123 was the first step on implementing conformance testing around VK.
https://kubernetes.io/docs/setup/node-conformance/ < Documentation from K8s for running through the conformance testing.

[2019-03-25 20:45] srrengar commented on #535
hi @prochnowc VNets for Windows containers on ACI are not supported yet. @dkkapur can you give an estimate of when this will be available?

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#preview-limitations

[2019-03-25 20:46] rbitia commented on #123
#534 is the first PR to address this issue. We need to evaluate if we can close the downward API issue or not.

[2019-03-25 20:47] rbitia commented on #148
Sounds good! If you need any help just reach out. I'll close the issue for now.

[2019-03-25 20:47] #148 closed

[2019-03-25 20:48] srrengar commented on #537
@MarcosMMartinez @snobu we are merging GPU support upstream from a private branch and will publish the docs shortly after. @VDuleb can you provide an estimate on when the ACI connector will support GPUs?

[2019-03-25 20:50] rbitia commented on #154
@srrengar Do you think we need an issue for windows VNet specifically? AKS with Linux virtual node's does get private IPs.

[2019-03-25 20:52] srrengar commented on #530
This isn't on the near term roadmap currently, we will update the limitations once we provide support for this. @dkkapur feel free to add more or correct me

[2019-03-25 20:53] rbitia commented on #164
Alright so we decided this range was up to a provider to implement. Closing for now.

[2019-03-25 20:53] #164 closed

[2019-03-25 20:54] rbitia commented on #165
Closing from the above discussion.

[2019-03-25 20:54] #165 closed

[2019-03-25 20:56] rbitia commented on #166
It's a provider specific UX to provide an admission controller. Azure's is here for reference: https://github.com/Azure-Samples/virtual-node-autoscale/tree/master/vn-affinity-admission-controller

We don't need to have admission controllers mentioned in core vk, so I'll close this for now.

[2019-03-25 20:56] #166 closed

[2019-03-25 21:01] sdanbury commented on #20
Yep. I will close and create a new issue when I get round to trying this again. Thanks!

[2019-03-25 21:01] rbitia commented on #169
We send out events like create pods, delete pods, from VK. Providers can choose to send more events or add issues to add more events to the VK core.

Closing this issue since we do this today.

[2019-03-25 21:01] #169 closed

[2019-03-25 21:05] corrieb commented on #123
We've reviewed and merged #534. The degree to which this satisfies the requirement is yet TBD, so we should leave this issue open for now.

If attributes of a pod or container are going to show up in the filesystem of the container, that's something a provider is going to have to implement. The most that the core can do is to ensure that the resolved pod attributes are passed to the provider and t

[2019-03-25 21:07] rbitia commented on #170
Maybe we can implement this for CRI today and give an endpoint that a provider can take and provide port forwarding to the end user.

[2019-03-25 21:07] corrieb commented on #162
Yea I would agree.

[2019-03-25 21:07] #162 closed

[2019-03-25 21:09] srrengar commented on #154
There is an existing issue for Windows VNet for ACI - #535

[2019-03-25 21:09] #154 closed

[2019-03-25 21:13] srrengar commented on #521
Assigning to @cpuguy83

@rbitia we should add prescriptive guidance for how providers should report errors to the spec sheet we discussed

[2019-03-25 21:13] corrieb commented on #198
There's been no movement on this and @rbitia doesn't believe there are any immediate plans for it. Closing as stale.

[2019-03-25 21:13] #198 closed

[2019-03-25 21:14] srrengar commented on #520
@VDuleb can you take a look at what this would mean for the ACI provider

[2019-03-25 21:17] rbitia commented on #229
Closing this issue because it looks like VIC fixed their dependency errors.

[2019-03-25 21:17] #229 closed

[2019-03-25 21:18] srrengar commented on #516
@thiagomancuzo I could not repro this, feel free to mail me at srrengar@microsoft.com to discuss more. Thanks!

[2019-03-25 21:18] rbitia commented on #208
Closing because this issue is stale!

[2019-03-25 21:18] #208 closed

[2019-03-25 21:18] corrieb commented on #210
Clearly we need to investigate how Kubelet manages to watch for Secret / ConfigMap changes with a role that doesn't appear to have authorization to do so. There's likely some kind of magic involved. I agree this should be a goal for 1.0 that VK runs as the same role as regular Kubelet

[2019-03-25 21:21] rbitia commented on #250
Closing because @cpuguy83 has better descriptions for how we improve VK performance.

[2019-03-25 21:21] #250 closed

[2019-03-25 21:23] srrengar commented on #71
@arjanschaaf if you are using Linux containers with AKS, just enable the virtual nodes add on - https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli

We will review the docs on the project as well

[2019-03-25 21:23] cpuguy83 commented on #250
Plus we are doing caching in the controller now :)

[2019-03-25 21:24] srrengar commented on #512
@yaron2 can you take a look at this

[2019-03-25 21:26] lucperkins opened #545 "Clarify "inside" vs. "outside" in the documentation"
To write the [VK usage docs](https://virtual-kubelet.io/docs/usage/) I borrowed liberally from the README, which speaks in terms of "inside" and "outside" a Kubernetes cluster. This language is pretty confusing. We should refine the language and standardize on some terms.

[2019-03-25 21:26] yaron2 commented on #512
@srrengar The SF Mesh ARM spec has changed a few months back in a non-backward compatible way.
This effectively means most of the provider needs to be re-written.

[2019-03-25 21:27] Void-Barrie opened #546 "AKS Connector KubeDNS Resolution and Service IP resolution is not working (Windows Containers)"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
AKS / ACI

Version (e.g. 0.1, 0.2-beta)
1.12.6

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS (US West 2)

Install Method (e.g. Helm Chart, )
Helm (https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet)

### Issue Details
I would expect that windows containers running on ACI instances via Virtual Kublet would be able to res

[2019-03-25 21:29] srrengar commented on #512
@yaron2 thanks for letting us know. Can we remove this provider if it will not be rewritten?

+ @rbitia

[2019-03-25 21:34] cpuguy83 commented on #423
Just to document our discussion:

The HTTP server is setup in such a way that you can take it or leave it. In this case VK is just taking the HTTP request and passing things to the provider.

With splitting out the providers we expect to have each provider build their own daemon CLI's that would choose to use the built-in HTTP handlers or not.

I think the best approach is to just provide your own

[2019-03-25 21:36] rbitia commented on #321
Hey @pires do you need some air cover to help push the upstream PR. If so we can have Lachie from our side help out.

[2019-03-25 21:37] rbitia commented on #316
Closing!

[2019-03-25 21:37] #316 closed

[2019-03-25 21:38] yaron2 commented on #512
Yes, I actually don't see a reason to re-write it unless someone knows about concrete uses for it.

[2019-03-25 21:41] rbitia commented on #170
This is an additive change but we discussed in person and we don't think we need this for 1.0.

[2019-03-25 21:44] rbitia commented on #158
At our next VK community meeting let's go through a design for tackling this issue.

[2019-03-25 21:48] rbitia commented on #158
@corrieb proposed having a hook for listening to events for updates to config maps and secrets. Example name of the secret and key and value for it. Providers can choose to listen for them. @cpuguy83 will think on a design further.

[2019-03-25 21:52] rbitia commented on #314
Question: Do we want to maintain a single VK image for a first time user experience even when we split out providers to their own github repos?
Providers would have to PR changes into VK core for a single release.

[2019-03-25 21:54] rbitia commented on #314
Within 1.0 we can just provide github releases for the interface in Virtual-kubelet/virtual-kubelet and later we could provide an entire vk image of all providers integrated if we see interest.

[2019-03-25 21:56] rbitia commented on #427
#526

[2019-03-25 22:02] #427 closed

[2019-03-25 22:06] cpuguy83 commented on #486
Closing since #526 addresses both of these issues.

[2019-03-25 22:06] #486 closed

[2019-03-25 22:14] radu-matei commented on #541
@robbiezhang -- adding the `--tail 1000` flag works -- but as @srrengar suggests, I think the default should be consistent with the Kubelet implementation.

Thanks!

[2019-03-25 22:15] rbitia commented on #476
#493

[2019-03-25 22:16] rbitia commented on #160
Closing as this was an earlier discussion and we are thinking of new ways to implement these concepts.

[2019-03-25 22:16] #160 closed

[2019-03-25 22:18] asrivas-vmw commented on #423
Makes sense @cpuguy83. The Runtime API abstractions proposed in #520 should work for us.

[2019-03-25 22:18] #423 closed

[2019-03-25 22:22] rbitia commented on #167
We should add a watch on PVs and PVCs and providers can listen to the watch if they want. We can use the CRI provider to implement this first.

[2019-03-25 22:24] rbitia commented on #167
This doesn't effect the interface and is just an addition so we've removed it from the 1.0 milestone.

[2019-03-25 22:32] rbitia commented on #277
This isn't in the scope for VK, so we are closing the issue for the time being! Thanks for the issue!

[2019-03-25 22:32] #277 closed

[2019-03-25 22:33] rbitia commented on #453
We don't need this in 1.0 since we are splitting providers from core.

[2019-03-25 22:48] rbitia commented on #81
We should also automate a compatibility matrix and give access to folks.

[2019-03-25 23:02] rbitia opened #548 "Splitting out providers from VK core"
Process *WIP*
1. Figure out if you want to be in the Virtual Kubelet org or move somewhere else. We will create a repo under VK for you.
2. Move your provider code to the repo under VK
3. Create release lifecycles for your provider
4. Create a release lifecycle for security fixes
5. Maintain your project maintainers in the virtual kubelet community organization and your project.
6. Figure out a pr

[2019-03-25 23:39] cpuguy83 commented on #546
ACI does not support custom vnet on Windows which is what AKS uses to wire these things up.
Closing since this looks like a dup of #535

Let me know if you think otherwise. Thanks!

[2019-03-25 23:39] #546 closed

[2019-03-25 23:41] cpuguy83 commented on #20
Thanks!

[2019-03-25 23:41] #20 closed

[2019-03-26 02:41] andrewsykim commented on #321
After having more time to think through the discussion in https://github.com/kubernetes/kubernetes/pull/73171, I think a more reasonable solution is to embed a virtual kubelet ID into the node's provider ID. Maybe something like `aws://us-east-1a//virtual-kubelet-<fargate-id>`. Then as part of [EnsureInstanceExistsByProviderID](https://github.com/kubernetes/cloud-provider/blob/master/cloud.go#L168

[2019-03-26 11:37] pires commented on #321
Just to make sure we're on the same page, are you suggesting that changes need to be applied to both VK **and** cloud-provider(s) code?

[2019-03-26 14:34] atakanyenel opened #549 "Documentation - simple typo"
There is a typo in word `calander` at last paragraph. It should be `calendar`.

[2019-03-26 15:10] Void-Barrie commented on #546
The issue is:

I would expect that windows containers running on ACI instances via Virtual Kublet would be able to resolve K8s service DNS entries.

[2019-03-26 15:17] cpuguy83 commented on #546
Yes, the issue is Windows ACI does not have access to the aks network.

[2019-03-26 15:58] thiagomancuzo commented on #516
@srrengar at this time I don't have the AKS env configured but I wrote above metrics server logs like:

[code]
The pod named search-api-deployment-d5f5b68c8-tp5l5 is a virtual kubelet running pod.
So with one pod in the AKS node the HPA works fine to upscaling cause it can collect the AKS node's pod metrics, but when new pods are scheduled in the virtual kubelet, their metrics can't to be collecte

[2019-03-26 16:52] andrewsykim commented on #321
Sorry in advance that I'm not familiar with the VK code. I think there are two ways to do this:
* The provider implementation can return a VK specific [InstanceID based on the node name](https://github.com/kubernetes/cloud-provider/blob/master/cloud.go#L154). The trade-off here is that there are no changes required on the VK, but that requires we set a specific node name format that the provider c

[2019-03-26 18:21] cpuguy83 commented on #516
I believe this came down to the metrics provided for ACI not having good enough resolution and potentially even the actual collection being skipped due to load or other conditions.

[2019-03-26 23:13] #455 closed

[2019-03-27 18:31] srrengar commented on #367
Closing this based on the discussion. Will add docs around this when it's supported

[2019-03-27 18:31] #367 closed

[2019-03-27 18:58] srrengar commented on #505
@andreslon let me know if adding the full server name for ACR in the pod spec works, I believe that's what was missing so I am closing the iossue. Feel free to reopen the issue if there is more

[2019-03-27 18:58] #505 closed

[2019-03-27 19:04] srrengar commented on #516
There is a known issue with metrics from ACI pods having a slight delay due to Azure Monitor latency.

@thiagomancuzo if possible could you try to repro this with metrics server or Prometheus since heapster is deprecated in the latest K8 version - https://github.com/kubernetes-retired/heapster/blob/master/docs/deprecation.md

[2019-03-27 19:13] srrengar commented on #448
@robbiezhang is the VK installed via helm chart vs the virtual node add-on much different that it would affect pod scheduling and reporting when they are ready from ACI?

[2019-03-27 19:17] srrengar commented on #331
@VDuleb can you make sure Jeremy's fix is merged

[2019-03-27 19:22] srrengar commented on #300
Since this was a one off occurrence, I will close this and we can reopen if it resurfaces.

[2019-03-27 19:22] #300 closed

[2019-03-27 23:41] rbitia commented on #549
Thanks! Just fixed it.

[2019-03-27 23:42] #549 closed

[2019-03-27 23:50] rbitia commented on #545
Yeah or maybe "with or without a Kubernetes cluster." Are there other projects with needs for a similar language? Maybe we should check in to see what they do

[2019-03-28 00:33] srrengar commented on #523
This is from the logs of the aci connector

`got HTTP response status code 400 error code \"VolumesNotFound\": Volumes 'myconfig' in container 'configmaptest'are not found." namespace= node=virtual-node-aci-linux operatingSystem=Linux provider=azure`

@robbiezhang do you know why this may happen? is the volume not being deployed to ACI?

[2019-03-28 12:57] posix4e commented on #503
any updates?

[2019-03-31 10:31] rkttu opened #556 "Connection to master server fails after executing kubectl exec"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
Azure ACI

Version (e.g. 0.1, 0.2-beta)
0.5.0

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
Docker for Desktop (Windows)

Install Method (e.g. Helm Chart, )
Helm Chart

### Issue Details
We succeeded in distributing Windows Pod and Linux Pod one by one using ACI Connector. If you then use the kubectl exec to connect to the Pod, it

[2019-04-01 19:41] cpuguy83 commented on #245
@fisherxu I'm not sure why it was added, however I can see a case where you could have multiple controllers handling things differently per namespace... or scoping down access to a certain namespace.

I don't think it's bad to have, I'm not sure the implementation on the VK CLI is all that great for it.

[2019-04-01 19:49] cpuguy83 commented on #245
We can probably mark the flag deprecated and plan to remove for 1.0 unless someone has a solid use-case for the flag in the VK CLI.

[2019-04-01 22:51] cpuguy83 opened #560 "Makefile doesn't error out on subshell error"
When doing a `make build`, we process build tags to convert to add in all the providers (or filter ones from the old omission style build tags).

This is done in a subshell. If this shell errors, the build target still proceeds.
This is unexpected and I would expect the Makefile to actually halt progress from there.

[2019-04-02 00:13] cpuguy83 opened #561 "Use CRI API repo?"
Just writing this down so I don't forget... the CRI API now has it's own repo which was extracted from the kubelet codebase.

Is any of this usefull to the CRI provider?

https://github.com/kubernetes/cri-api

[2019-04-02 18:06] cpuguy83 commented on #476
This is completed in #493

[2019-04-02 18:06] #476 closed

[2019-04-03 22:25] AlverezYari commented on #523
Hit this today with virtual-node and ACI when trying to use Brigade with my new cluster. Same API error message.

[2019-04-04 03:07] VineethReddy02 opened #565 "Custom Resource Controller for VK"
As part of GSOC 2019  CRD controller will be implemented.

Description:
A Kubernetes Controller for Virtual Kubelet would manage the creation, updation, deletion of Virtual Kubelet nodes on a kubernetes cluster based on the config provided by the user using a Custom Resource Definition (CRD). By allowing users to specify a config, The provider config can be taken as a field in a CRD. This also hel

[2019-04-04 08:12] lawrencegripper commented on #503
Hi,

I'm still heads down with other work at the moment and it looks that way for the coming weeks, sorry.

Happy to review a PR if you wanted to take a look at compressing the command output sent to Batch.

I did get a change to spin up Polyaxion the other day and attempt to get a handle on the use case. One thing I noticed is that it has [a number of components such as Redis and RabbitMQ](https:

[2019-04-04 13:50] posix4e commented on #503
I believe all of that should be fine, networkwise. Interesting point
though. I’m still confused what I need to do to move this forward.
--
+14045076749 Alex

[2019-04-08 17:21] cpuguy83 commented on #565
I think this is a fantastic idea and serves to improve the experience around managing virtual kubelet instances quite a bit.

[2019-04-18 13:10] zlseu-edu opened #576 "Set wrong certificate path make virtual-kubelet pod crash."
---

### Environment summary

Provider : Alibaba

Version : master

K8s Master Info : ACS

Install Method : kubectl

### Issue Details

Set env in yaml for self signed cert, but the virtual-node pod crashed.

[code]
After trace the crash info, I found a logic bug in function `loadTLSConfig` of file `cmd/http/go`.

When error occurs, `nil` and `err` will be returned, thus assign `cancel == nil` and

[2019-04-19 11:22] Pothulapati opened #577 "GCP Cloud Run provider for VK"
GCP announced [Cloud Run](https://cloud.google.com/run/) recently, which is a way to run HTTP containers _serverlessly_ . It should be a very interesting provider for VK Because it follows the same Knative API, so supporting this would also allow VK to offload workloads to both Induvidual Clusters running Knative API and Cloud Run.

Iam willing to work on this, So Just wanted to give a heads up!

[2019-04-20 00:02] #453 closed

[2019-04-21 08:22] woshijpf commented on #576
😚Nice Catch!@zlseu-edu

[2019-04-21 18:40] hongbin commented on #22
The OpenStack Zun provider is implemented and merged: https://github.com/virtual-kubelet/virtual-kubelet/pull/239 . I guess we can close this issue?

[2019-04-22 05:42] sargun commented on #548
I noticed that @cpuguy83 started refactoring the project so outside users could use the CLI more easily, and wrap VK, with their own provider.

Is the plan to do something else with the current providers?

I started some very rough work on adopting go-plugin (https://github.com/sargun/virtual-kubelet/tree/add-plugin). I imagine that the built-in golang plugin stuff wont work because it does not wo

[2019-04-22 16:08] cpuguy83 commented on #576
Thanks, fix is in #579

[2019-04-22 16:08] cpuguy83 commented on #576
Was actually banging by head against my desk on Friday trying to understand why I was getting a panic myself. Thanks for spotting this!

[2019-04-22 16:13] cpuguy83 commented on #348
Just a status update on this.
Still working on re-doing some of the provider interfaces

- #578 (exec)
- #574 (log streaming)

After these, the other big thing is defining a strong error interface between providers and the core.
The split between the core framework and the built-in CLI/daemon implementation is complete.
Metrics still need to be defined and implemented.

[2019-04-22 16:15] cpuguy83 commented on #560
Probably for 1.0 I'll just remove this helper script, especially since we plan to push providers and their own respective CLI implementations out of tree.

[2019-04-22 16:28] cpuguy83 commented on #22
Yep, thanks!

[2019-04-22 16:28] #22 closed

[2019-04-22 17:31] #576 closed

[2019-04-22 19:51] pires commented on #577
Hey @Pothulapati! Thank you for the idea. However, the goal right now for VK is to move providers out-of-tree and ultimately have VK as a library one can use to build their providers. This means to me adding providers is not something we should look for at this point.

[2019-04-23 18:43] #331 closed

[2019-04-23 22:43] cpuguy83 opened #582 "Move helm charts to a different repo"
I closed #504 and #389 as "lets move this to a different repo", but do not currently have a solution for this.

Should these go into a common repo or in provider specific repo (or something else?)

[2019-04-24 16:49] zlseu-edu opened #583 "Pod status is inconsistent with containers status cause a nil pointer dereference error."
---

### Environment summary

Provider : Alibaba

Version : master

K8s Master Info : ACS

Install Method : kubectl

### Issue Details

Examples are as below. `Nginx` Container will exit after executing the command `ls -l`, all pods will in `CrashLoopBackOff` state. There has a small probability of `VK` crash again and again.

[code]

### Repo Steps

Crash info show a dereference nil poniter error

[2019-04-24 17:05] zlseu-edu commented on #583
give my pr. #584

[2019-04-24 20:51] cpuguy83 commented on #583
Can you paste the panic stack?

[2019-04-24 22:50] cpuguy83 commented on #158
Ok, here's what I'm thinking (and have largely built):

Create 2 new controllers which watch for `Update` events on configmaps and secrets and call `UpdateConfigMap` or `UpdateSecret`... but we'll also track which pods are referencing these objects and pass that along with these update calls... and of course if there are no references we don't call update.

[2019-04-25 01:57] zlseu-edu commented on #583
Please ignore the line number, I must add some debug line and `recover()` to catch the crash.
[code]

line `202` point to:

[code]

The pod's status debug info shows `Pod status is inconsistent with containers status`:

[code]

[2019-04-25 02:05] cpuguy83 commented on #583
I don't understand. Is vk crashing or is there some other bug?

[2019-04-25 03:20] zlseu-edu commented on #583
VK crash.
That code chunk try to change container state to `Terminated`, make `StartedAt = c.State.Running.StartedAt`, but it actually in `Waiting` state, `c.State.Running equals to nil`

[2019-04-25 23:21] cpuguy83 commented on #158
Here is a draft PR: https://github.com/virtual-kubelet/virtual-kubelet/pull/586

I'm not sure that we need this for 1.0 as it doesn't require changing existing interfaces, only additive optional interfaces.

[2019-04-26 16:45] sargun opened #587 "Pod Deletion Grace Period is 0"
Here, we delete pod resources:
https://github.com/virtual-kubelet/virtual-kubelet/blob/449eb3bb7d93dbc71c1f52f48a7de6f049c76074/vkubelet/pod.go#L128-L136

Where gracePeriodSeconds is defined by the [Kubernetes API docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#delete-pod-v1-core):

We delete with a grace period of 0, which means that the pod is immediately deleted from

[2019-04-26 19:55] cpuguy83 commented on #587
SGTM

[2019-04-27 05:58] faniereynders commented on #414
Any movement on this?

[2019-05-01 17:18] weinong opened #590 "[Azure] VK should not depend on azure.json"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
Azure

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details
VK currently [references azure.json](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/charts/virtual-kubelet-for-aks/templates/deployment.yaml#L63), this is a bad design.

### Repo S

[2019-05-01 17:19] weinong commented on #590
https://github.com/kubernetes/kubernetes/issues/77309

[2019-05-01 23:17] dannymyers opened #592 "[Azure] ProviderFailed ServiceUnavailable: The requested resource is not available in the location 'westus' at this moment"
### Environment summary

Provider ACI

Version: ???

K8s Master Info: AKS

Install Method N/A

### Issue Details

Message:            api call to https://management.azure.com/subscriptions/SOME_GUID/resourceGroups/SOME_CLUSTER/providers/Microsoft.ContainerInstance/containerGroups/SOME_NAME?api-version=2018-09-01: got HTTP response status code 409 error code "ServiceUnavailable": The requested reso

[2019-05-02 00:18] aledbf commented on #467
Any update on this?
Thanks

[2019-05-02 12:50] RehanSaeed opened #593 "Rebalancing Pods off of Virtual Kubelet"
Azure ACI is more expensive as compared to running pods on an AKS node but AKS nodes take minutes to be created during which time pods are created on Azure ACI. Once all scaling activities are completed, is there some way to rebalance pods, so that Azure ACI pods are stopped and replaced with new pods on AKS nodes to save money?

Is this something that the `preferredDuringSchedulingPreferredDuring

[2019-05-02 16:30] cpuguy83 commented on #593
Rebalancing is the work of the scheduler and not applicable to virtual-kubelet.
The way to force it to happen would indeed be to kill the pods running on ACI so that the pod gets rescheduled.
Maybe adding the VK node taint when you want it to use ACI and then removing when you don't is enough to trigger this?

[2019-05-02 20:11] sargun commented on #587
I have a few different suggestions on how we can handle this. We expose an option in Server to opt into soft-deletes mode. In soft-deletes mode, it will call the delete callback on the provider. Unfortunately, today, if we do soft deletes, it'll result in the API just going into a loop where:
1. It gets the pod object from the apiserver
2. It calls getPod on the provider

There are two ways I see

[2019-05-03 04:54] sargun opened #594 "Consider Adding Timeout in cache.WaitForCacheSync"
This can last forever: https://github.com/virtual-kubelet/virtual-kubelet/blob/1942522cf6ac050eb84ac437d3f28788035dea5d/vkubelet/podcontroller.go#L123-L125

The node will show up, and continue to heartbeat, but never get back into sync. I suggest two things:
1. That the node doesn't show up as up until this completes
2. We add a timeout here that's reasonable, or configurable.

[2019-05-03 07:47] sargun commented on #594
See: https://github.com/virtual-kubelet/virtual-kubelet/pull/597

[2019-05-03 08:05] sargun commented on #587
Also, API question:
Should we change DeletePod to optionally return a non-nil pod (status) object, as the terminal state? The entire point of this exercise is to signal northbound what happened to the pod at the end of its life.

I think that's a more difficult effort because the providers would be a pain to all change, but something maybe worth considering.

[2019-05-03 08:09] sargun commented on #587
see: https://github.com/virtual-kubelet/virtual-kubelet/pull/599

Another open question: Is there a way for providers to "say" they want soft deletes as well?

[2019-05-03 08:09] RehanSaeed commented on #593
I think most users of ACI would want to know how to trigger adding/removing the taint as you suggest automatically.

[2019-05-03 18:17] dannymyers commented on #592
This is related to limitations described [here](https://docs.microsoft.com/en-gb/azure/container-instances/container-instances-region-availability#availability---virtual-network-deployment-preview).

[2019-05-03 18:17] #592 closed

[2019-05-04 04:19] dotnetstep opened #601 "Azure Provider Virtual-kubelet not start with Error"
I get following error. ( this is message from kubectl log <<pod>>

Flag --taint has been deprecated, Taint key should now be configured using the VK_TAINT_KEY environment variable
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x1b33d27]

goroutine 1 [running]:
github.com/virtual-kubelet/virtual-kubelet/cmd.setup

[2019-05-06 07:34] sargun opened #602 "Pod Status Updates can be delivered out-of-order"
If you use the async provider implementation, under cases of heavy load, your updates can be delivered out of order because there's no per-pod serialization on the queue. In addition, since we don't have a round-trip necessarily to fully order the pod status updates, you get into a permanently bad state.

[2019-05-06 07:35] sargun commented on #602
Easy solution: Rather than having N workers read off 1 queue -- create N queues, for N workers, and at queue time do per-pod assignment to a queue.

[2019-05-06 16:54] cpuguy83 commented on #602
Can you explain further?
Right now the notification is added to a queue with just the `<namespace>/<name>` key, when the worker processes the notification it must fetch the pod to work on it.

[2019-05-06 17:03] cpuguy83 commented on #593
I couldn't really tell you how to do it automatically. The other option would be not to use the taint and delete the pods you want re-balanced.

Closing since this isn't really an issue and not something we can really control here.

[2019-05-06 17:03] #593 closed

[2019-05-06 21:58] sargun commented on #602
@cpuguy83 It seems like there can be multiple workers working on the same `<namespace>/<name>` at the same time.

The pattern seems:
1. Worker 1 gets a work item for default/pod1
2. Worker 2 gets a work item for default/pod1
3. Worker 1 does a GetPodStatus
4. Worker 2 does a GetPodStatus
-- At this point Worker 2's pod status is "in the future" compared to worker 1.
Worker 2 does a write, and upda

[2019-05-06 23:25] sargun commented on #594
Fixed!

[2019-05-06 23:25] #594 closed

[2019-05-06 23:48] cpuguy83 commented on #602
But shouldn't the queue be preventing multiple entries of the same item?

[2019-05-07 00:06] sargun commented on #602
hrm, you're right. I wonder if the pod is getting recreated and put in the pending state by something else.

[2019-05-08 16:15] #602 closed

[2019-05-16 03:44] pmould opened #622 "Support additional Fargate AWS regions (London, Seoul, Canada, N. Carolina, Mumbai)"
---

### Environment summary

Provider **AWS Fargate**

Version **0.9.1**

K8s Master Info **EKS**
Install Method **N/A**

### Issue Details
AWS Fargate now supports 5 other regions [1](https://aws.amazon.com/about-aws/whats-new/2018/11/aws-fargate-now-available-in-northern-california-and-seoul-regio/), [2](https://aws.amazon.com/about-aws/whats-new/2018/12/aws-fargate-now-available-in-canada--cen

[2019-05-16 06:24] pmould opened #624 "Cannot create deployment of nginx tasks definitions on AWS Fargate using virtual-kubelet"
---

### Environment summary

Provider **AWS Fargate**

Version 0.9.1

K8s Master Info  **EKS**

Install Method **N/A**

### Issue Details

I am unable to to deploy nginx containers using kubectl to AWS Fargate using virtual-kubelet. I am following this guide: https://aws.amazon.com/blogs/opensource/aws-fargate-virtual-kubelet/.
I am having an issue with Step 6: Create Kubernetes objects.
I would

[2019-05-16 16:31] srudin opened #625 "Can not connect to external net or other pods"
I have exactly followed the tutorial here: https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet
Also the cluster setup was done according to the quickstart link there.
I have then installed a container from the nanoserver image as shown in the example. It works and I can connect to eg. google.com from it, but not to any internal service.
I then installed another container based on the image

[2019-05-17 05:16] pmould commented on #624
This issue is resolved. I was able to create the AWS Fargate definitions by adding the ALB Security group to the fargate.toml file and by adding tolerations to the nginx.deployment.yaml file as shown below:

`
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:

[2019-05-17 05:16] #624 closed

[2019-05-19 20:41] sargun opened #632 "Dependency hell / import loop from mock to vkubelet package"
If we want to use any of the interfaces from the vkubelet in mock (for example, if you want to assert that you implement the PodNotifier interface), you cannot, because pod_test in vkubelet uses the mock provider to test.

This is due to a combination of:
* https://github.com/virtual-kubelet/virtual-kubelet/pull/626
* https://github.com/virtual-kubelet/virtual-kubelet/pull/613

It'd be nice if eit

[2019-05-19 20:43] sargun commented on #632
CC: @cpuguy83 @jeremyrickard

[2019-05-19 21:01] cpuguy83 commented on #632
I don't like either of these solutions.
For a the "remove server object" pr I just changed the one call in the mock provider to not call into the providers package.

Really we can make a mock in vkubelet for testing instead.

[2019-05-20 18:30] cpuguy83 commented on #601
Fixed by #579

[2019-05-20 18:30] #601 closed

[2019-05-20 18:52] cpuguy83 commented on #577
You should be able to build an integration out of tree at this point.
The package level API's are still subject to some change, though there shouldn't be much movement outside of what's opened in PR's now.

[2019-05-20 18:54] cpuguy83 commented on #542
The provider has been removed, and so this issue is no longer a problem.

[2019-05-20 18:54] #542 closed

[2019-05-20 22:50] cpuguy83 commented on #245
Since we won't be keeping a binary for the 1.0 release (providers will implement their own binary) I think we can safely close this.

We do look at all namespaces by default.

[2019-05-20 22:50] #245 closed

[2019-05-20 22:50] cpuguy83 commented on #159
Implemented in #613

[2019-05-20 22:50] #159 closed

[2019-05-20 23:02] cpuguy83 commented on #314
We do not plan to include a binary release for 1.0 and instead will depend on providers to build their own binaries.

[2019-05-20 23:02] #314 closed

[2019-05-20 23:26] cpuguy83 commented on #512
FYI, sfmesh was removed from the providers

[2019-05-20 23:26] #512 closed

[2019-05-20 23:32] cpuguy83 commented on #399
The state of this is a bit better today as we do retry, although the retry logic could definitely be better  (basically it always retries even on user error), and there is a max retries which when hit we end up dropping it.

[2019-05-21 10:30] rbitia opened #636 "Cut a 1.0 Release"
We are announcing 1.0 this week at KubeCon and we'd like to cut a symbolic 1.0 release this week. All the core maintainers should sign off on this issue before we cut the release. Also core maintainers, please comment on this issue with blocking issues or PRs for 1.0. Let's focus on pushing those forward for the next day or two!!

[2019-05-21 11:38] #632 closed

[2019-05-21 16:56] cpuguy83 opened #637 "Move vkubelet package to root"
The `vkubelet` package naming is redundant.
It exists because the CLI used to be in the repo root, but this has moved to cmd/virtual-kubelet.

I propose we move the package to the root of the repo for 1.0

[2019-05-22 17:20] grahamhayes opened #641 "virtual-kubelet has different DNS resolution behaviour to standard kubelet"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
ACI
Version (e.g. 0.1, 0.2-beta)
0.9.0
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
All
### Issue Details
When creating a pod, I expect `/etc/resolv.conf` to be populated like a standard AKS kubelet (or plain upstream kubernetes).

By default, the search domain is left blank, and while it can

[2019-05-23 17:24] devblackops opened #644 "Multiple vNet support for ACI"
It doesn't appear possible now, but would it be feasible in the future to have a single AKS instance support multiple vNets and allow vNet selection with deploying to ACI?

Reasoning: I'm exploring ways to manage multiple instances of an application with full network isolation from each other but minimize the number of AKS instances to manage.

[2019-05-23 19:46] srrengar commented on #644
I don't think this is on the roadmap, but you could potentially have those apps in different subnets and isolate that way?

[2019-05-23 19:48] devblackops commented on #644
It's my understanding (I could be wrong!) that the container groups are always deployed into the single subnet and we're not able to specify another one.

[2019-05-23 19:59] srrengar commented on #644
Yeah that is correct, I thought you were talking about apps on the AKS cluster too. This is good feedback though and we'll consider having a subnet selection in the future for pods deployed to ACI.

[2019-05-28 16:29] rbitia commented on #459
https://github.com/virtual-kubelet/community/pull/1
Added in our community repo

[2019-05-28 16:29] #459 closed

[2019-05-28 16:31] rbitia opened #645 "CNCF Incubating"
We would like to move from a sandboxed project to an incubating on within the CNCF. This issue is to track progress to achieve incubating status.

cc. @caniszczyk

[2019-05-28 16:32] rbitia commented on #158
Moving off the VK 1.0 milestone, we can this feature to our next release.

[2019-05-28 16:35] cpuguy83 commented on #636
I've pruned down the milestone, not that it is neccessarily an exhaustive list.

[2019-05-28 16:37] cpuguy83 commented on #459
🎉

[2019-05-28 16:39] rbitia commented on #582
I believe they should go into provider specific repos.

[2019-05-28 17:16] #622 closed

[2019-05-28 18:55] caniszczyk commented on #645
cool, let me know when you want to present to the TOC

Also you will have to go through full due diligence, I'd recommend finding someone on the TOC to prepare the document, like Brendan Burns maybe :)?

https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc#incubating-stage
https://github.com/cncf/toc/blob/master/process/due-diligence-guidelines.md

[2019-05-29 14:26] divgo opened #647 "CrashLoopBackOff with VMSS and RBAC AAD Enabled"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
ACI

Version (e.g. 0.1, 0.2-beta)
1.13.5

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Terraform

### Issue Details
ACI Container stays in CrashLoopBackOff status, constantly restarts. Following error is logged in the Container

[code]

### Repo Steps
1) Create New AKS Cluster in Azure using

[2019-05-29 17:17] divgo commented on #647
I attempted to recreate this cluster. I manually applied the Subnet Delegation for ContainerGroups ahead of time.

This time I received the following error on Cluster Creation;

[code]

It looks like we cannot use the Virtual Kubelet and the ACI Connector at the same time when the Kubernetes Cluster is created using VirtualMachineScaleSets.

Is this an expected issue?

[2019-05-29 17:51] srrengar commented on #647
That is correct, Virtual Nodes is not supported for VMSS on AKS while the latter is in preview

[2019-05-29 19:40] divgo commented on #647
I found an error in my Terraform, I was assigning the ACI Connector to the same Subnet as the nodes in my Kubernetes Cluster.

That said, I am seeing the ACI Connector working with VMSS.

[code]

However, while the Scheduling of Pods to the Virtual Kubelet works immediately, the actual Running of those Pods takes many minutes to even begin. Eventually though, the Pods are setup and running on ACI.

[2019-05-29 20:37] srrengar commented on #647
Ah that's great! It may work but all I'm saying is it's not officially supported yet.

[2019-06-01 15:39] pires commented on #321
Unfortunately, the change I proposed upstream was not accepted. Here's the current state of things https://github.com/kubernetes/cloud-provider/issues/35

[2019-06-01 16:03] pires commented on #636
I've added this issue to the same milestone.

[2019-06-01 16:18] pires commented on #123
VK cannot provide conformance guarantees. This has been discussed in the past so I'm removing the related label from this issue.

Actually, I'd suggest this issue is edited or closed, given the functionality requested here fits the provider and not the VK. cc @cpuguy83

[2019-06-01 16:20] pires commented on #436
@rbitia @cpuguy83 I've eliminated the `vk 1.0` label since we have now a milestone for it. Do you think this is reasonable to have as part of that milestone? I think not, as, according to my understanding, exposing metrics for monitoring must be done both by the VK and the provider.

[2019-06-01 16:22] pires commented on #210
@rbitia @cpuguy83 I've eliminated the `vk 1.0` label since we have now a milestone for it. Do you think this is reasonable to have as part of said milestone?

[2019-06-01 18:51] andrewsykim commented on #321
Worth noting there is a work-around that I think is reasonable until there's a longer term solution for this upstream. The VK when it initializes itself can set `node.Spec.ProviderID` to some well-known value (virtual-kubelet://<node-name>`). Then, if a cloud provider wants to support the VK use-case, as part of [InstanceExistsByProviderID](https://github.com/kubernetes/cloud-provider/blob/master/

[2019-06-01 23:17] pires commented on #321
When you say providers, you mean the cloud providers (implementations), right? Not the VK providers.

[2019-06-03 21:03] andrewsykim commented on #321
Yes, the cloud provider implementations on the cluster

[2019-06-03 23:11] pires commented on #321
Thank you for trying to help here, but my hunch is this is unreasonable. And even if it is and cloud-provider code owners would do it, we can't guarantee VK will run on a cluster atop cloud-provider X with the respective cloud-controller-manager (CCM) enabled, which seems to me would result in poor UX. At least with the current limitation we can say deterministically that VK won't work properly on

[2019-06-04 00:04] yashdesai93 opened #649 "Wasteful envvar population on podspec update check."
Currently we populate env vars every time we want to check is an existing pod's podspec has been updated.
here: https://github.com/virtual-kubelet/virtual-kubelet/blob/master/vkubelet/pod.go#L46

This is wasteful, since we don't allow env-vars to change.
It is also incorrect behavior, since configMaps/secrets might have been updated/deleted
since the first `CreatePod` call, and it can cause update

[2019-06-04 16:54] yashdesai93 commented on #123
https://github.com/virtual-kubelet/virtual-kubelet/pull/650 is a proposal to solve the remaining dynamic downward API envvar.

[2019-06-04 22:21] cpuguy83 opened #652 "Node defaults should be adjusted"
These were best guess at what should be default, I think they should be updated (and functional options adjusted) before 1.0

[2019-06-04 22:22] cpuguy83 opened #653 "Move Azure provider"
Related: virtual-kubelet/azure-aci#2

Tracking for milestone.

[2019-06-05 00:09] cpuguy83 opened #655 "Introduce a management agent"
Right now there is a lot of setup for consumers of the core.
It would be nice to introduce some sort of agent for setting up and managing the node and pod controller.

This could basically take a `kubernetes.Client` and node config, then handle the initialization... basically much of what is in `cmd/virtual-kubelet/commands/root/root.go` right now.

For performance the agent could allow callers to

[2019-06-05 18:56] cpuguy83 commented on #649
I think it's fine to change this to only populate on create.
However we should make sure the call to `UpdatePod` in the provider copies the existing pod env to the updated pod object.

[2019-06-06 16:48] makleboss commented on #647
Ok

[2019-06-06 23:42] anujgeek opened #656 "https://github.com/Azure-Samples/virtual-node-autoscale/issues/40"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details

### Repo Steps

[2019-06-06 23:44] cpuguy83 commented on #656
Is this an issue?

[2019-06-07 01:55] jamessamuelmd commented on #565
Yes, this will be really nice to improve experience

[2019-06-10 18:32] #652 closed

[2019-06-11 18:07] rbitia commented on #582
Moving out from 1.0 for now but will work on post 1.0.

[2019-06-11 18:13] cpuguy83 commented on #494
Just an FYI, I plan to start moving providers into their own repo in the VK org this week.
If you'd like to help with that, it would be amazing.

If you have some concerns with this please ping me ASAP.

[2019-06-12 12:11] #637 closed

[2019-06-12 12:18] pires commented on #655
I like this idea! We should aim to remove any setup that isn't strictly managed by the VK pieces.

[2019-06-12 18:37] cpuguy83 commented on #655
I don't think we'll need to break anything.
This would be a new object that consumers can use if they want to.
This would end up being a 1.X release.

[2019-06-12 19:54] pires commented on #655
Oh, if it's opt-in, OK then.

[2019-06-13 19:47] #653 closed

[2019-06-13 20:46] aledbf commented on #467
How can I help to get hostAliases support?

[2019-06-14 20:34] cpuguy83 commented on #494
@resouer I have created a repo for alibaba here: https://github.com/virtual-kubelet/alibabacloud-eci
PTAL and make sure it works for you.

Once you are good with that and #668 is merged (to avoid conflicts) I can open a PR to remove the provider implementation from virtual-kubelet/virtual-kubelet.

[2019-06-15 16:55] hongbin commented on #494
@cpuguy83 let me know if you need some helps for the OpenStack provider.

[2019-06-15 19:31] pires commented on #494
@hongbin yes, please.

[2019-06-16 07:25] wlodekb commented on #537
Any progress on that ?

[2019-06-17 15:56] srrengar commented on #537
Yes this has been merged. If you are using the ACI connector without VNets then it should now work, but there is a known issue when using GPU and VNets together that we are investigating

[2019-06-17 18:05] cpuguy83 commented on #494
@ofiliz I've created an aws-fargate repo: https://github.com/virtual-kubelet/aws-fargate

[2019-06-17 19:26] wlodekb commented on #537
Hi Stravan

Can you elaborate more on case with vnets ? It is part of my setup, so what is the issue (any link on GH) , and expected fix ?
thx/Wlodek
On Jun 17 2019, at 5:56 pm, Sravan Rengarajan <notifications@github.com> wrote:

[2019-06-17 21:06] cpuguy83 commented on #494
More repos:

https://github.com/virtual-kubelet/openstack-zun -- @hongbin
https://github.com/virtual-kubelet/nomad - @anubhavmishra
https://github.com/virtual-kubelet/huawei-cci - @fisherxu
https://github.com/virtual-kubelet/cri - @corrieb
https://github.com/virtual-kubelet/aws-fargate - @ofiliz

[2019-06-17 21:30] anubhavmishra commented on #494
Thanks @cpuguy83. Will have a look!

[2019-06-17 21:31] cpuguy83 commented on #494
And the final one (unless I"m mistaken): https://github.com/virtual-kubelet/web

[2019-06-17 22:56] cpuguy83 commented on #494
And here I've done one big PR to move stuff out, PTAL: https://github.com/virtual-kubelet/virtual-kubelet/pull/670

We can do it piecemeal if people are more comfortable with that.

[2019-06-18 10:11] #494 closed

[2019-06-18 22:31] cpuguy83 commented on #560
No longer an issue.

[2019-06-18 22:31] #560 closed

[2019-06-18 22:33] cpuguy83 commented on #520
These changes have been implemented.
The one thing that was not is a means of iterating over pods in the provider without having to instantiate all in memory at once.
We can address this separately as it does not necessarily mean we need to change the provider interface, and if can be done in an additive way.

[2019-06-18 22:33] #520 closed

[2019-06-18 22:33] cpuguy83 commented on #348
This is done.

[2019-06-18 22:33] #348 closed

[2019-06-19 21:39] #656 closed

[2019-06-19 21:42] anujgeek opened #673 "Cannot get prometheus to work AND cannot get autoscale to work if using pre-installed metrics-server instead of prometheus"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
ACI

Version (e.g. 0.1, 0.2-beta)
Kubernetes: v1.13.5

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm chart

### Issue Details
I created an AKS cluster with RBAC and virtual nodes enabled. Added app deployment of a .Net Core Web API project using a docker image hosted on ACR. The deploymen

[2019-06-22 00:40] rbitia commented on #636
@pires @corrieb @cpuguy83  as core maintainers can you ack that we are ready to cut a 1.0 release?

I myself believe we are. :)

[2019-06-22 11:24] pires commented on #636
@rbitia I do think we are ready but I'd like to propose we wait a few days for some community folks to validate the state of things while they build their provider from scratch. I'm looking specifically at @gabrielhartmann and a good example already is #676. This would definitely increase my confidence in all of the recent changes.

[2019-06-22 11:25] pires commented on #636
Also #674 seems like something you want to get in too, right @cpuguy83?

[2019-06-23 16:21] hongbin commented on #494
A question. After this change, how can I install Virtual Kubelet along with a particular provider. In before, I used to do:

$ go get github.com/virtual-kubelet/virtual-kubelet

above command doesn't seem to work properly recently.

[2019-06-23 16:33] cpuguy83 commented on #494
It is up to the provider to handle releases.
Note that installing from "go get" hasn't worked in some time since providers were only included via build tag.

The providers that were split from this repo, however, should be installable in this manner (at least currently) by go-getting <provider repo>/cmd/virtual-kubelet

[2019-06-23 18:54] varuzam opened #677 "Feature Request: make pod's cidr configurable in mock provider"
hello
I would like to use the virtual kubelet as ephemeral kubernetes node to expand cluster network across all servers. Is it possible to make pod cidr configurable in mock provider?

[2019-06-23 19:29] hongbin commented on #494
@cpuguy83 ,

Thanks for the reply. It looks I had errors on executing the command you suggested:

`
$ go get -v github.com/virtual-kubelet/openstack-zun/cmd/virtual-kubelet
go get: warning: modules disabled by GO111MODULE=auto in GOPATH/src;
        ignoring go.mod;
        see 'go help modules'
github.com/virtual-kubelet/openstack-zun/cmd/virtual-kubelet/commands/root
# github.com/virtual-kubelet

[2019-06-24 16:08] cpuguy83 commented on #494
@hongbin `GO111MODULE=on go get github.com/virtual-kubelet/openstack-zun/cmd/virtual-kubelet`

[2019-06-24 19:13] gabrielhartmann opened #678 "Allow Runtime Definition of Node Annotations"
---

### Environment summary

Provider: Generic
Version: N/A
K8s Master Info: Bare metal
Install Method: Custom

### Issue Details

Authors of Providers are unable to provide Annotations on Node metadata in the current `NodeFromProvider` function in `node.go`.  These Annotations are potentially important to arbitrary Kubernetes deployments.

Various fields are currently populated in the status and

[2019-06-24 19:55] cpuguy83 commented on #678
Thanks for opening this.

What I propose is to add something like this to the provider interface

[code]

This would replace the existing functions like `Capacity`, etc.
I say to handle it like this so we can set VK defaults, such as taints which is configured through the CLI anyway... but it gives the provider a chance to change whatever they need to in the node spec.

[2019-06-26 16:51] #678 closed

[2019-06-26 17:25] gabrielhartmann opened #681 "Allow Delegation of Pod Delete Responsibility"
Today the virtual kubelete (VK) is responsible for both telling the Provider to delete pods as well as deleting the pod objects form the API server.  It would be helpful to allow the responsibility of pod deletion to be delegated to a different component (scheduler) than VK.
 This avoids the scenario where a scheduler interested in the terminal states of pods misses the final status of a pod due t

[2019-06-28 16:20] gabrielhartmann opened #684 "GetPodStatus called after DeletePod"
### Environment summary

Provider: Generic

Version: N/A

K8s Master Info: bare metal

Install Method: custom

### Issue Details
The Provider interface has methonds: `GetPodStatus` and `DeletePod`.  `GetPodStatus` should not be called after `DeletePod`.  This can happen today if `DeletePod` initiates a call to the `PodNotifier` to update the final status of a pod.  For example the behavior below i

[2019-06-28 16:57] gabrielhartmann commented on #684
This bug boils down to the [behavior defined here](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/queue.go#L56-L58).  Quote:
[code]
Because the queue really only takes pods as `namespace/name` keys it must always query the `Provider` to get the latest state of a pod.  Event handlers subsequently use this more recent version of the pod.

[2019-06-28 18:30] cpuguy83 commented on #684
The queue works this way because we can end up getting multiple status updates... or basically the underlying pod state can change and we don't want to work with outdated information.

I agree this is funky for `DeletePod`.
perhaps `DeletePod`'s signature should be updated to return a pod status as well?

[2019-06-28 18:37] gabrielhartmann commented on #684
We could change the `DeletePod` interface, but I'd like to understand why multiple status updates is a problem, or outdated information is a problem.  If the pod transitions through intermediate states and arrives at the final status, all is well right?

[2019-06-28 18:48] cpuguy83 commented on #684
This requires updates to be processed in order, one at a time.
We also don't want unnecessary updates to the API server.

The other side of this is when we call `DeletePod`, currently we actually delete the pod from Kubernetes (though as I recall the error handling logic is a bit off and needs to be addressed), which means we aren't going to be able to apply any pod status updates anyway.

[2019-06-28 18:51] gabrielhartmann commented on #684
Processing updates in order, one at a time sounds like a good idea to me as long as each pod's updates are processed independently and deduplication logic is in place.

Yes this is related to #681 and #587.  Terminal states of pods are important and are currently lost / unable to be propagated.

[2019-06-28 20:30] gabrielhartmann commented on #684
Looking at the code changing the interface of `DeletePod` seems complicated given its interaction with the queueing system.  We may be able to address this issue and the others referenced above by decoupling the killing of a pod from the garbage collection of its representation.

The GC of pods could be driven by a component making decisions based on the GracePeriod.   It would observe API server

[2019-06-28 21:10] cpuguy83 commented on #684
If I understand your suggestion, you want to split termination from deletion. Is that correct?
I think this makes sense.

[2019-06-28 21:21] gabrielhartmann commented on #684
Yes.  Termination of a pod and deletion should be separated.

[2019-06-29 07:07] #521 closed

[2019-06-29 20:53] hongbin commented on #494
@cpuguy83 , Cool.

Sorry. I have one more question. Who are supposed to maintain individual provider repo? If possible, please grant me and @kevin-zhaoshuai proper permission on the openstack-zun repo. I would like to be able to merge PRs, install app (like https://github.com/apps/theopenlab-ci), etc.

[2019-07-02 15:46] dannymyers opened #689 "Pod In "NotFound" Status Virtual Kubelet"
---

### Environment summary

virtual-node-aci-linux   `v1.13.1-vk-v0.9.0-1-g7b92d1ee-dev`
AKS  `1.12.8`
Terraform/Helm

### Issue Details

We’re getting NotFound our pods that we are trying to run on virtual nodes.

[code]

Here is what I see in the aci-connector-linux logs:

[code]
### Repo Steps

I'm not sure how to repro this. Our other clusters don't have this problem and they were released w

[2019-07-02 16:38] cpuguy83 commented on #689
`NotFound` is set when the provider no longer has the pod, so generally it's been deleted.
Did you check if the containers exist in ACI?

[2019-07-02 16:47] dannymyers commented on #689
@cpuguy83 I am creating a kubernetes job which then spins up a pod. I don't see anything being
created in ACI. It goes directly from Scheduled->NotFound.

kubectl describe po somejob-4vq9r -n jobs
[code]

[2019-07-03 02:41] ffledgling commented on #34
@rbitia I see a family of issues asking for more clarity around the feature set (cluster networking, filesystem, liveliness/readiness probe etc) supported by VK closed with "up to the individual providers".

Would it be possible to have the limitations documented for the Azure Container Interface at least, or a different mock matrix of limitations that can be used a reference for what axes/paramet

[2019-07-03 03:56] AceHack commented on #34
@ffledgling +1million

[2019-07-03 07:17] ringtail opened #692 "How to distinguish virtual-node from kubernetes node"
### Environment summary

Provider: ECI，Alibaba Cloud

### Issue Details
Is there any specific label or other symbol to distinguish virtual-node from kubernetes node.
<a href="https://github.com/kubernetes-incubator/cluster-proportional-autoscaler">cluster-proportional-autoscaler</a> is a component autoscaler for coredns and others. It will calculate the replicas based on cores. So we need to ignor

[2019-07-03 09:04] pires commented on #692
There is not but I believe there should be. Working on it.

[2019-07-03 09:27] ringtail commented on #692
It will be better when there is a label.

[2019-07-03 11:35] pires opened #693 "make skaffold is broken"
The `README.md` we provide mentions at least three `skaffold` related calls, `make skaffold`, `make skaffold MODE=run` and `make e2e`. The first two are broken, at least on MacOS:

[code]

[code]

@cpuguy83 this is the result of the changes in #564. Can you, please, fix, so that the commands above work again? Thank you!

[2019-07-03 12:32] pires commented on #692
@ringtail PR is open. Please, try it out and report back.

Here's my output:
[code]

[2019-07-03 12:50] ringtail commented on #692
Cool ! That works well.

[2019-07-03 16:59] cpuguy83 commented on #693
I do not see these errors.
Though for me `make skaffold` is not working as expected, it seems to be calling `skaffold/.o` instead of `skaffold/$(MODE)`.
If I change the definition form

[code]

to:
[code]

it seems to work for me.
But again I'm not seeing the errors you mention in any case.

[2019-07-03 17:56] cpuguy83 commented on #693
Ok, I see.
`make skaffold` (no mode) is not working because `$(MODE)` is evaluated before `MODE` is set

[code]

And then if I set a mode on the CLI indeed I see the 2nd error you mentioned.
This occurs when `bin/e2e/virtual-kubelet` does not exist.
So setting `bin/e2e/virtual-kubelet` as a pre-req for `skaffold/%` would seem to do the trick.

[2019-07-03 19:43] pires commented on #693
That means that `make skaffold/delete` or `make skaffold MODE=delete` would run `bin/e2e/virtual-kubelet`, right?

[2019-07-03 19:44] cpuguy83 commented on #693
Yes, so instead I made it explicit to only be a pre-req on `skaffold/run` and `skaffold/dev`

[2019-07-03 20:00] #693 closed

[2019-07-03 21:26] cpuguy83 commented on #689
Can you share the pod spec?
The error seems to be: `unsupported fieldPath: status.podIP`
This is from the fieldpath package in k/k.

[2019-07-03 21:27] cpuguy83 commented on #689
Perhaps we need to also make sure not set set `NotFound` if the pod is already in a failed status.

[2019-07-03 21:34] cpuguy83 commented on #494
Since @kevin-zhaoshuai is the original contributor I've added him as an admin to that repo, I'll let him add new collaborators as needed.

[2019-07-03 21:51] dannymyers commented on #689
@cpuguy83  here's the podspec

[code]

[2019-07-03 21:59] dannymyers commented on #689
@cpuguy83  BTW the guidance I used for getting pod names and such is [here](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/).

[2019-07-05 18:09] dkkapur commented on #535
Hi folks - Windows VNet work is actively being work on and you can expect an update in the next several weeks on this front.

[2019-07-08 17:22] dannymyers commented on #689
@cpuguy83 where are you seeing `unsupported fieldPath: status.podIP`?

[2019-07-08 17:24] cpuguy83 commented on #689
It's in your log message:
`"failed to sync pod \\\"jobs/somejob-5ps2f\\\" in the provider: unsupported fieldPath: status.podIP`

However I'm wondering if this is for a different job since we do not update pod status to "NotFound" if the provider fails.

[2019-07-08 17:38] dannymyers commented on #689
I should have read the logs better. I'll remove that field and see if the problem goes away and report back.

[2019-07-08 18:03] dannymyers commented on #689
@cpuguy83 Removing the `status.podIP` field fixed the problem. Thanks for helping me read your log file :)

[2019-07-08 18:03] #689 closed

[2019-07-09 18:42] cpuguy83 commented on #692
Moving this issue to post-VK1.0 as the issue can be resolved by providers as is the referenced PR is a non-breaking change that can be added in a future release.

[2019-07-09 18:44] cpuguy83 commented on #636
Ok, tagging the 1.0 release now.

[2019-07-09 19:26] cpuguy83 commented on #636
https://github.com/virtual-kubelet/virtual-kubelet/releases/tag/v1.0.0

Preparing a blog post.
Also need to deal with helm charts, probably sooner rather than later.
I'm checking with the ACI team if they are depending on these charts at all.

[2019-07-17 23:17] anujgeek commented on #673
@srrengar Can you please help me with this case or include anyone who can?

[2019-07-19 04:18] kenans opened #704 "ACI NotFound by the virtual kubelet connector but the backing resource exists"
---

### Environment summary

Provider: ACI

Version: latest

K8s Master Info: AKS

Install Method: Helm

### Issue Details
We're using ACI virtual kubelets on AKS. Some of the pods status were NotFound but the backing ACI instances were still there. We're using deployments to manage pods so we ended up with new pods (and the backing ACI instances) created but old ones left behind.

![image](https

[2019-07-19 04:30] srrengar commented on #673
Are you using the Virtual Node add on with AKS? If so could you open a support case and we can take a look at what metrics of yours are collected by our monitoring agent

[2019-07-26 22:04] gabrielhartmann opened #712 "Retry of terminal pod status updates fail"
### Environment summary

Provider: N/A

Version: 1.0

K8s Master Info: N/A

Install Method: custom

### Issue Details
Failure to update API server with a terminal pod status is requeued for retry, but the retry trivially succeeds due the behavior of [skipping terminal pod status updates here](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/pod.go#L220-L222).

### Repo Steps
1.

[2019-07-30 17:01] srrengar commented on #704
This may be an issue on the ACI side for Windows. Can you open a support case to dig deeper?

[2019-07-30 17:06] srrengar commented on #644
This is on our roadmap now, closing this issue

[2019-07-30 17:06] #644 closed

[2019-07-30 17:12] srrengar commented on #516
@thiagomancuzo could you let me know if this is still occurring?

[2019-07-30 17:54] atakanyenel commented on #565
I can work on this probably. Currently for my master thesis I'm virtualising raspberry pi's as nodes. I have a listener for CRD and create a new pod as VK when a CRD is applied. Only parameter for now is the name but that can easily be extended.

[2019-07-30 21:09] atakanyenel opened #713 "How to do inter cluster networking ?"
I have Rpi with virtual kubelet installed. I have processes running on it exposing a localhost port. I believe (not yet implemented) I can reach the Rpi processes by returning the ipv6 address as `hostIP` and exposed ports as `podIP->"localhost:PORT"`.

How does it work the other way around ? How can I send a request from RPi Processes created by virtual kubelet to an internal service like `http:/

[2019-07-30 23:27] cpuguy83 commented on #713
@atakanyenel Networking is totally handled by the provider.
In ACI containers either get a public IP or indeed run on a private vnet.

[2019-07-30 23:39] atakanyenel commented on #713
Thanks. I will close the issue tomorrow, if no comments come up.

[2019-07-31 14:45] #713 closed

[2019-08-05 12:20] thiagomancuzo commented on #516
@srrengar yes, when I set HPA with default metrics (cpu/memory with default deployed metrics server or prometheus deployed metrics server) this had been ocurring. It looks like the metrics server can't read metrics from virtual node pods. The side effect, as I wrote above, is that HPA can auto upscaling my pods but can't auto downscaling them. I'm working around that with prometheus custom metrics

[2019-08-05 17:27] srrengar commented on #516
thanks @thiagomancuzo could you open a support case so we can look into it deeper from the ACI side?

[2019-08-05 19:12] #636 closed

[2019-08-12 17:25] sargun commented on #712
It eventually gives up after 20 times. What's your suggestion on how it should work?

[2019-08-12 19:47] poochwashere commented on #367
Is PVC,PV now supported for Linux containers running on an AKS Virtual Node?

[2019-08-14 15:38] rugwirobaker opened #737 "broken links in virtual-kubelet docs"
### Issue Details
On the page about [providers](https://virtual-kubelet.io/docs/providers/) there some links that are supposed to lead to code examples of the `Provider interface` implementation but they don't work.

At first I thought it was one link but after further investigation it seems all the links in that page leading to code docs or examples don't work.

[2019-08-14 16:13] rbitia commented on #737
@lucperkins are you able to fix this? :D

[2019-08-14 17:32] lucperkins commented on #737
@rbitia I can try to fix this but I'd recommend appointing somebody from amongst the VK maintainers to keep the site/docs in sync with changes in VK. I'm not sure, for example, what has happened to the `Provider` interface and wasn't aware that the provider implementations have been moved to separate repos.

[2019-08-14 17:56] lucperkins commented on #737
@rbitia Okay, I looked into this and I will unfortunately need to defer to others on this. The provider doc is essentially deprecated and will need to be rewritten, preferably by someone "closer to the metal" 😀

[2019-08-14 17:56] cpuguy83 commented on #548
This is all done.
Providers are now in separate repos. We do have a node-cli repo as well which allows providers to implement the same CLI that used to be in this repo.

[2019-08-14 17:56] #548 closed

[2019-08-14 18:02] cpuguy83 commented on #413
This is done!

[2019-08-14 18:02] #413 closed

[2019-08-14 18:58] cpuguy83 commented on #737
Best pace for docs right now would be godoc.
https://godoc.org/github.com/virtual-kubelet/virtual-kubelet

Will need to look into changes for the website.

[2019-08-14 18:59] cpuguy83 commented on #737
I'm taking the next couple of weeks off so it may take some time to be able to update this.

[2019-08-14 21:11] cpuguy83 opened #738 "Importable e2e test suites"
Most providers will have a common set of e2e/integration tests all testing common functionality. It would be great if we can provide a common set of tests that providers can use against their own providers.

[2019-08-15 20:38] mslonli opened #739 "virtual-kubelet dns resolution is not working"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
Azure
Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
Helm Chart
### Issue Details
Azure Vote Demo app doesn't work after deployed the front-end and back-end apps to virtual node AKS.
With the following config, the backend pod cannot be curled. After changing the val

[2019-08-15 21:40] #448 closed

[2019-08-15 21:43] srrengar commented on #467
This is not going to be supported in the near future

[2019-08-15 21:43] #467 closed

[2019-08-15 21:45] #503 closed

[2019-08-15 21:51] srrengar commented on #523
The fix is merged. it'll come out shortly with the next VK release.

[2019-08-15 21:55] #530 closed

[2019-08-15 22:01] srrengar commented on #556
we don't support this scenario

[2019-08-15 22:01] #556 closed

[2019-08-15 22:27] #647 closed

[2019-08-15 22:28] #704 closed

[2019-08-16 01:33] mslonli commented on #739
This dns issue will lead to the uwsgi failure which leads to curl request failure.

kubectl logs azure-vote-front-7bcf8b5655-lt5rd

Python main interpreter initialized at 0x557748d67d20
your server socket listen backlog is limited to 100 connections
your mercy for graceful operations on workers is 60 seconds
mapped 1237056 bytes (1208 KB) for 16 cores
*** Operational MODE: preforking ***
Failed to

[2019-08-16 02:06] krancour commented on #448
Was this fixed?

[2019-08-18 22:33] hongbin commented on #494
@cpuguy83 Thanks for the hints. Kevin has added me as an admin.

There is still an issue. I wanted to install a Github app for our provider repo, but it seems neither @kevin-zhaoshuai nor I has enough permission to do that. Please https://github.com/theopenlab/openlab/issues/255 for details.

Is that related to insufficient permission for the provider admins?

[2019-08-19 14:31] sargun commented on #587
I'm having issues with coming up with the right API semantics. What do we do if a pod is deleted from the provider, but the provider never ever sends a terminal status update? Do we just leave the pod in that state until time runs out?

[2019-08-19 22:03] sargun opened #744 "If Update Fails, Then Pod Status regresses to pending"
0. Make the provider return errors on Update
1. Create a pod with a restart policy of always
2. Wait until the pod is running
3. Update an updateable field of the pod.

Observed result:
The pod will go back into the pending state.

[2019-08-19 22:51] sargun commented on #744
@jeremyrickard see: https://github.com/virtual-kubelet/virtual-kubelet/issues/744

[2019-08-21 19:56] yevgenypats opened #747 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-27 14:43] matancarmeli7 opened #752 "virtual kubelet on prem"
---
I have kubernetes cluster on several vms in on prem environment and i want to connect to it several raspberry pi devices, i want to be able to run pods on the raspberry pi devices and control it from the kubernetes cluster.  Can i use virtual kubelet in this case or i just can add the raspberry pi devices as worker nodes to the kubernetes cluster?

[2019-08-27 18:30] gabrielhartmann opened #753 "Comparison of Pod resource limits panics"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate): On prem

Version (e.g. 0.1, 0.2-beta): 1.0 (master/9443e32ae7bf5aa3ec4b970cc8ed6df25ba039cf)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): Bare Metal

Install Method (e.g. Helm Chart, ): Custom

### Issue Details
Here's the stack trace:
[code]

### Repo Steps
Start a pod controller.

[2019-09-03 16:28] cpuguy83 commented on #752
In the general case I would recommend to add the Pi's as worker nodes on the cluster.

VK can, however, be used to do any number of things. It only provides the API's and runtime for operating a node in k8s, the actual implementation for how

[2019-09-03 16:28] #752 closed

[2019-09-03 17:54] sargun commented on #744
Made a PR: https://github.com/virtual-kubelet/virtual-kubelet/pull/745

[2019-09-03 17:58] cpuguy83 commented on #744
I guess there's 4 classes of errors here:

1. Some comm failure with the provider's backend (could be local could be remote), e.g. could not connect to cloud provider.
2. Provider throttling
3. Internal provider error (bug in the provider/provider backend)
4. Pod configuration error

I think 1-3 should stay pending (but for how long?), 4 is failed.

[2019-09-03 18:06] cpuguy83 commented on #744
Will need to take some time in the kubelet to see how it handles this.

[2019-09-03 18:13] cpuguy83 opened #756 "Release v1.1.0"
There are a number of fixes on master that would be nice to have in a patch release for 1.0.

As of this writing it seems like we can just fast-forward 1.0 to master.
The biggest point of contention here (I think) would be that we have updated k8s libs to v1.15 from v1.13 in order to fix some bugs.

[2019-09-03 18:13] cpuguy83 commented on #756
@sargun suggested to wait until #744 is fixed as well.

[2019-09-03 18:53] percy143 opened #757 "cant build virtual-kubelet"
---
i am cloning this git repository into the path /root/src/github.com/
my GOPATH=/root/src/
my GOROOT=/root/
my GOBIN="/root/src/github.com/virtual-kubelet/bin"
and i enter /root/src/github.com/virtual-kubelet directory and run the make build command, i get this error:

`which: no gobin in (/bin:/root/src/github.com//bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin:/usr/local/go/b

[2019-09-03 19:18] percy143 commented on #757
my GOROOT=/usr/local/go
my GOPATH=/root

[2019-09-03 19:26] chewong commented on #757
What is your Go version (`go version`)?

[2019-09-03 19:27] cpuguy83 commented on #757
virtual-kubelet is a library which does not produce an executable except for testing purposes.

That said there does seem to be some extra stuff in the Makefile that's no longer needed, including this lookup for `gobin`

[2019-09-03 22:49] cpuguy83 commented on #494
Thanks for your patience!

I've added the openlab app to the VK org for the openstack-zun.

[2019-09-04 14:19] sargun commented on #753
This appears to be from dependency versioning problems.

[2019-09-04 16:25] pires commented on #756
As mentioned over slack, Kubernetes 1.13 will be unsupported in a couple weeks so moving to 1.15 is recommended, if we are to make a new release.

[2019-09-04 20:16] #753 closed

[2019-09-04 20:17] sargun commented on #684
Fixed: https://github.com/virtual-kubelet/virtual-kubelet/pull/751

[2019-09-04 20:17] sargun commented on #684
Fixed: https://github.com/virtual-kubelet/virtual-kubelet/pull/751

[2019-09-04 20:17] #684 closed

[2019-09-04 20:25] cpuguy83 commented on #587
Can you explain what you mean here? Until what time runs out?
What state would it be in at this point? I'm assuming this is pod termination was requested and performed but we never got the status update?

[2019-09-04 21:25] #738 closed

[2019-09-05 17:00] sargun commented on #744
How do you differentiate case 4 from the others?

Also, it's not so much staying pending, but how do you handle the running case. If the pod is running, and gets an update, resulting in the VK having to call back to the provider, and the provider has an error, should we just retry? If we "run out" of retries, what should we do?

[2019-09-05 17:07] gabrielhartmann commented on #712
For terminal status, retry should continue until deletion grace period expires.
For non-terminal status, the virtual kubelet should be continuously reconciling state with the API server and never giving up on that.

[2019-09-05 17:25] sargun commented on #712
I suggest two things:
1. We use https://godoc.org/k8s.io/apimachinery/pkg/api/errors#SuggestsClientDelay in order to determine how to retry API requests.
2. We whitelist some errors which will retry forever. For example, `IsTooManyRequests`, `IsServiceUnavailable`, or `IsServerTimeout` should probably always be retried.

This doesn't *solve* the problem in all cases, but at least it makes it bette

[2019-09-05 17:30] gabrielhartmann commented on #712
Those both sound like good ideas to me, that don't preclude further improvements to the reconciliation logic in more challenging failure recovery scenarios.

[2019-09-05 19:21] sargun commented on #400
@cpuguy83 is this still a problem, given we have retries now?

[2019-09-05 19:52] cpuguy83 commented on #400
Probably not nearly as bad as it once was.
Maybe the best thing to do is to have a hook to notify that "we are dropping this even due to <error> after N retries"

[2019-09-05 22:18] gabrielhartmann opened #762 "Lost Pod Status Updates Result in Silent Pod Restart"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
    Custom

Version (e.g. 0.1, 0.2-beta)
    1.0

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
    Bare Metal

Install Method (e.g. Helm Chart, )
    Custom

### Issue Details
If VK crashes before status updates are propagated to the API server then silent restarts of pods are possible.  Pods crash and are restarted without without

[2019-09-05 22:23] gabrielhartmann commented on #762
In effect this behavior is implementing a `restartPolicy` of `Always` for lost status updates.

[2019-09-06 22:49] cpuguy83 commented on #762
What is step 3 exactly? Going into the backend and killing it?
Why is the pod being re-created? What is initiating that?

Could we work around this by enhancing our sync on init?

[2019-09-10 15:51] sargun commented on #762
I think the at startup, the pod state machine should state if the pod is in a non-terminal state, then do not call CreatePod, and if the pod is not found in the provider, then mark it as missing / podfailed.

[2019-09-11 21:11] gabrielhartmann commented on #762
@cpuguy83 : Step 3 was in my case `docker kill <id>`

[2019-09-13 17:15] ibabou commented on #523
@tamilhce we're awaiting a big release (v-node lib v1.0). so things got delayed a bit. we haven't yet pushed a new image with this being merged.

[2019-09-13 20:42] deepaksood619 commented on #367
+1 for PVC and PV in Linux AKS Virtual Node. Also is there a workaround for sharing AzureFile PVC between ACI and AKS

[2019-09-16 17:07] rbitia commented on #565
@atakanyenel I'm wondering if you continued to work through on your idea above ^

[2019-09-16 17:08] rbitia commented on #582
I think we can close this issue now right @cpuguy83 ?

[2019-09-16 17:12] rbitia commented on #681
@gabrielhartmann can we close this issue?

[2019-09-16 17:14] atakanyenel commented on #565
I'm still working on it, it's part of my thesis. What I have now is this:

I created a docker image with VK (node-cli version) installed. Using Docker-Compose I scale that container to 100-200 instances and easily simulate a 200 node Kubernetes cluster. I use docker compose because those containers are running outside kubernetes.
When one of the nodes go down, I have a node-watcher specific for VK

[2019-09-16 17:14] rbitia commented on #737
@lucperkins can we close this issue? Looks like @chewong provided some updates.

[2019-09-17 13:42] grahamhayes commented on #739
https://github.com/virtual-kubelet/azure-aci/pull/8 should fix this

[2019-09-17 15:40] cpuguy83 commented on #582
We have not made any changes for helm charts yet.

[2019-09-17 21:00] cpuguy83 commented on #756
On #764 it was decided that this update warrants a minor version bump rather than a patch version bump.

The reason for this is the k8s dependencies being bumped to 1.15 (from 1.13).
As such 1.1.0 was just fast forwarded to master since there are no other significant changes other than some minor features that are isolated changes.

[2019-09-17 21:01] cpuguy83 commented on #756
The release will be tagged from the release-1.1 branch.

[2019-09-18 23:23] cpuguy83 commented on #756
Release is done! https://github.com/virtual-kubelet/virtual-kubelet/releases/tag/v1.1.0

[2019-09-18 23:23] #756 closed

[2019-09-23 13:56] uzuku opened #767 "Fail to build new project depending on virtual-kubelet v1.1.0 with go1.13"
---

### Environment summary

go version
go1.13 darwin/amd64

### Issue Details

Fail to build a new project depending on `github.com/virtual-kubelet/virtual-kubelet/log` with go1.13

After i set up the repo and try to build for the first to resolve all the dependencies with `go build`

![image](https://user-images.githubusercontent.com/42673593/65431568-45b6cf00-de4c-11e9-9b2c-4f1d41f0442a.png)

[2019-09-23 14:34] Uzuku commented on #767
Also fail on go1.12.6 with GO111MODULE=on, no luck
![image](https://user-images.githubusercontent.com/42673593/65434450-69c8df00-de51-11e9-88c3-bb4ca76ce75b.png)

[2019-09-23 16:37] sargun commented on #767
@Uzuku Can you copy and paste the following into your go.mod:

[code]

[2019-09-24 06:35] Uzuku commented on #767
@sargun It works after i paste the replace statements into go.mod.
However i think it is necessary to do some fix here, as module indirectly depending on vk though my module will still fail, so currently i choose to explicitly depend on vk v1.0.0 to avoid it.
i tried to figure the fix out, but it seems that the v0.0.0 version of k8s.io/api is from k8s.io/kubernetes 1.15.2.

[2019-09-24 06:42] Uzuku commented on #767
Accidently close the issue...Reopen it

[2019-09-24 16:53] cpuguy83 opened #768 "Remove sync providers from core"
We would like to remove support for non-async providers.
This would be providers which do not support the `NotifyPod` function.

Currently if a provider does not support `NotifyPod` we spin up a loop goroutine which periodically probes the provider for all pod statuses and manually reconciles the state with k8s.
This is increasingly causing headaches for updating/adding functionality because we do

[2019-09-25 00:14] sargun commented on #767
How do you suggest we fix it?

[2019-09-25 16:19] sargun commented on #744
@rbitia I would argue this is a (big) bug.

[2019-09-25 16:20] sargun opened #773 "Mark Pod as Failed when CreatePod fails too many times"
When we call CreatePod, if it fails too many times, we just silently drop it. Instead, we should mark the pod as failed, and give up.

[2019-09-26 07:56] Uzuku commented on #767
@sargun I think depending on k8s internal packages is fine, as v1.0.0 also has these dependencies and do not trigger such problem. The concern is which version of k8s vk is depending on.

I digged it a little and find that the v1.0.0 depends on k8s.io/kubernetes v1.13.7, which didn't migrate to go mod yet, so version of k8s.io/api is resolved separately. But for k8s.io/kubernetes v1.15.2 depended

[2019-09-26 08:06] Uzuku commented on #767
https://github.com/kubernetes/kubernetes/issues/81878

seems that related issue has been opened in upstream.

[2019-09-27 17:50] Uzuku opened #775 "Incorrent log format with format specifier"
---

### Environment summary

### Issue Details

Currently the log methods supporting format specifier (`Debugf`, `Infof`, `Errorf`, `Warnf`, `Fatalf`) don't expand the args corrently, causing log format of

[code]

generates following logs

[code]

### Repo Steps

[2019-09-27 18:05] #775 closed

[2019-10-01 13:49] luddskunk opened #777 "AKS and ACI reporting slow to metrics server. Need faster scale out than 5 min."
---

### Environment summary

Provider: **ACI**

Version: **v1.13.1-vk-v0.9.0-1**

K8s Master Info: **AKS**

Install Method: **Azure Portal**

### Issue Details

I have setup a new AKS cluster with Virtual Kubelet enabled. Then I perform a load test with the help of JMeter on my pods. Together with a HPA I succesfully autoscale pods onto ACI instances. However, I have noted that the metrics server

[2019-10-01 21:31] cpuguy83 commented on #777
metrics-server collects metrics from nodes pretty much on demand.
It's likely the issue is related to slow or even missed collections from ACI itself (limitation in the platform).

Currently the best resolution we can even get from ACI is 1 minute (https://github.com/virtual-kubelet/azure-aci/blob/master/client/aci/metrics.go#L44), and that's in a best case scenario. Collections can get missed (wi

[2019-10-02 14:40] luddskunk commented on #777
Hello,

Thanks for the quick reply. Concerning the resolution, do you mean the flag (https://virtual-kubelet.io/docs/usage/#flags) **--full-resync-period duration** ?

I just want to ensure that we are on the same page concerning the ~5 minute delay we are experiencing. Since that would mean that we are unable to affect this value unless we turn to Azure ACI support?

Looking forward to your respo

[2019-10-02 15:34] cpuguy83 commented on #777
No `--full-resync-period` is related to the k8s client.
The delay is almost certainly internal to ACI itself.

When metrics-server requests metrics, the ACI VK provider fetches them from the ACI API immediately, but ACI itself doesn't publish live metrics, only a summary over a time interval (1 minute being the shortest interval).
ACI's internal metrics collection/publishing is low priority on the

[2019-10-02 17:03] abengtss commented on #777
Thanks @cpuguy83 for the great input. it sounds as if you are recommending the following page as a solution to this problem.
https://github.com/Azure-Samples/virtual-node-autoscale?source=post_page-----f66b908661c1----------------------

Cheers

[2019-10-08 23:24] sargun opened #778 "Cut Release?"
We've made a backward-incompatible change in the VK. We should cut a major release.

[2019-10-09 01:46] cpuguy83 commented on #778
Why?

[2019-10-09 01:48] cpuguy83 commented on #778
btw, I have a milestone to track the next release here: https://github.com/virtual-kubelet/virtual-kubelet/milestone/4

Target date is semi-strawman for Oct 23.

[2019-10-09 02:01] sargun commented on #778
It seems like go modules really want you to do semver. See: https://github.com/golang/go/wiki/Modules#semantic-import-versioning

Would v1.2.0 indicate a backwards incompatible release?

[2019-10-09 02:21] cpuguy83 commented on #778
I don't think we need to make a release only because of the change. I'd like to group things together.

As to whether or not it's backwards incompatible, that's hard to say. VK still works the same we just added a feature to the interface.
Of course this means anyone who wants to upgrade will need to make changes to their code.

We may also in the meantime realize we didn't need to make the change

[2019-10-09 20:42] cpuguy83 commented on #762
Ping @ibabou

[2019-10-15 17:45] ibabou opened #781 "VK v1.1.0 crash when provider returns nil, nil from GetPodStatus() during new creations"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
ACI

Version (e.g. 0.1, 0.2-beta)
VK 1.1.0

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Manual

### Issue Details
Crash happens when GetPodStatus() returns nil, nil (which currently the behavior in ACI's provider when it is not found). The crash happens for the newly created pods, while sync

[2019-10-15 21:21] scabana opened #782 "No version higher than 0.9.1 for AKS"
There seems to be no available image for provisioning a virtual-kubelet when running in AKS. No docke image seem to have been published since 0.9.1: https://hub.docker.com/r/microsoft/virtual-kubelet/tags?page=1

Is this the right repo? The helm chart source seems to be from here.

Thanks!

[2019-10-15 21:36] cpuguy83 commented on #782
This should go into github.com/virtual-kubelet/azure-aci
The team is aware and is preparing a release based on VK 1.1.

Thanks for reporting!

[2019-10-15 21:36] #782 closed

[2019-10-17 23:44] sargun opened #783 "If a pod has deletiontimestamp set the VK wont properly delete it at startup."
At startup, our reconcilePods code doesn't work correctly. If a pod (in API server) has DeletionTimestamp set, we won't delete it as a "dangling" pod. We should do that.

[2019-10-18 19:34] sargun commented on #783
This is fixed in master: https://github.com/virtual-kubelet/virtual-kubelet/pull/784

[2019-10-18 19:35] #783 closed

[2019-10-27 01:21] cpuguy83 commented on #768
You are correct.

[2019-11-01 16:29] cpuguy83 commented on #768
Closing, #786 is merged.
In the end this was a good exercise because the new code is much easier to test (and run the same set of tests against).

[2019-11-01 16:29] #768 closed

[2019-11-04 09:45] tghartland opened #788 "Node goes to NotReady status a short time after using NotifyNodeStatus callback"
After causing the NotifyNodeStatus callback to be used, the node goes into NotReady status after ~30 seconds and then recovers soon after.

The reason: after updating the node status the periodic update timer is reset, but it is always set to the statusInterval duration (1 minute) even when the periodic update is using Ping, which should be called every 10 seconds.

https://github.com/virtual-kube

[2019-11-06 10:41] MIBc commented on #757
I think you should download vendor with `go mod`  first.

[2019-11-07 02:55] cpuguy83 commented on #781
FYI we released 1.2.0.
We re-added support for synchronous providers. The crash should be fixed in the new implementation.

[2019-11-07 10:21] chechuironman opened #790 "FATA[0000] provider "cri" not found"
FATA[0000] provider "cri" not found

Following doc from https://github.com/virtual-kubelet/cri/blob/master/README.md#readme

any udea?

[2019-11-07 13:48] chechuironman commented on #790
Im a bit stupid...already working :)

[2019-11-07 13:48] #790 closed

[2019-11-11 10:58] lauly opened #791 "kubectl exec api conn idleTimeout 30s too short."
https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/api/exec.go
This code file ###idleTimeout := time.Second * 30### is too short,Can I config the idleTimeout param?

[2019-11-11 17:40] cpuguy83 commented on #791
If the Kubelet API has a param for this we could add support for it.
Otherwise, the design of this package is such that you can bring your own handlers.

[2019-11-12 17:49] #788 closed

[2019-11-17 19:49] michaelbpalmer commented on #537
@srrengar, do you have an ETA for a fix with the known issues of using GPU and VNets together? It appears that this still does not work (I see the same error that @wlodekb mentioned above).

[2019-11-19 00:33] cpuguy83 commented on #537
@ibabou

[2019-11-19 12:29] cwdsuzhou opened #796 "kubectl describe pod xxx can not show right events"
---

### Environment summary

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS) 1.12

Install Method (e.g. Helm Chart, )

### Issue Details
current version VK can not show event when we use `kubectl describe pod xxx`, though pod has failed. e.g. A pod failed due to not found image, when I use `kubectl get pod xxx`, I get as follow:
![image](https://user-images.githubusercontent.com/12230714/6914639

[2019-11-20 05:38] erewok commented on #367
We would love to be able to mount persistent volumes in AKS Virtual Node because we are using Keyvault Flexvol in all of our projects. Without being able to mount volumes, we *can't* use virtual-node.

[2019-11-29 03:34] cwdsuzhou commented on #791
I have the same issue

/help

[2019-12-05 03:19] S1yuan commented on #123
@cpuguy83 If any suggestion about how to deal with 'status.podIP' in v1.2.1 please let me know. Thanks!

[2019-12-05 03:48] cpuguy83 commented on #123
I think the best approach is to babe the provider deal with this.
We could make some helpers to make this simpler to implement, but I don't think there is anything else to do from the core the core runtime.
In fact I'd advocate for the provider handling all of the downward api through helper functions instead of implicitly through the runtime.

[2019-12-05 12:11] pires commented on #123
As [before](https://github.com/virtual-kubelet/virtual-kubelet/issues/123#issuecomment-497957676) I agree this should be the responsibility of the provider(s).

[2019-12-06 23:50] innerop commented on #577
Hi,

is there any community activity at this point around the idea of people building their own provider integrations?

I'm interested in the KNative provider.

[2019-12-08 06:04] weiwei04 opened #798 "Kubernetes Provider"
I am new to virtual-kubelet and invesgating to use virtual-kubelet to implement a cluster federation. But in the project readme it's not recommend  to use virtual-kubelet to implement kubernetes federation "However, it should be noted that VK is explicitly not intended to be an alternative to Kubernetes federation".

Like https://github.com/virtual-kubelet/virtual-kubelet/issues/32#issuecomment-35

[2019-12-12 07:13] sargun commented on #798
What aspect of Kubernetes are you trying to scale out in your implementation of K8s federation built on top of Virtual Kubelet?

[2019-12-12 07:14] #778 closed

[2019-12-12 22:25] brugidou opened #799 "Mesos Virtual Kubelet"
I have tried to leverage work from @pires and @jieyu to have an up-to-date virtual kubelet provider for Apache Mesos. Work is available at https://github.com/criteo-forks/virtual-kubelet-mesos/
Is there a way to get a repository in the virtual-kubelet organization (like virtual-kubelet/mesos)?

[2019-12-13 19:30] slack opened #800 "Update helm chart to support 1.16"
### Environment summary

Provider (e.g. ACI, AWS Fargate): na

Version (e.g. 0.1, 0.2-beta): chart in master

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): AKS Engine, v1.16

Install Method (e.g. Helm Chart): helm chart

### Issue Details

Kubernetes 1.16 deprecated `extensions/v1beta1` API for Deployment resource type. We are referencing that API in our chart and should test and bump to `apps

[2019-12-13 19:35] dineshgovindasamy commented on #800
thanks @slack. tagging myself so i can get an update when this issue is fixed @dineshgovindasamy

[2019-12-16 02:13] carmark commented on #798
@sargun I have also same requirement as @weiwei04 .  I need to provide a multi-tenant Kubernetes cluster to user, but they will share same super-master kubernetes cluster, like this architecture:

![image](https://user-images.githubusercontent.com/1132167/70874288-768e4680-1fec-11ea-982b-c108b35967f4.png)

[2019-12-16 18:50] cpuguy83 commented on #798
VK can indeed be made to do this, however there is no way to do things like influence scheduling decisions. There are probably many trade-offs that I could not list here since I have not tried to implement this.

Trying to treat a cluster as a node seems nice in principal but people should definitely be careful relying on that.

[2019-12-17 22:40] jeremyrickard commented on #800
@cpuguy83 and @rbitia I'd be happy to take a crack at updating the Helm chart if you'd like.

[2019-12-18 19:03] rbitia commented on #800
Would love the help @jeremyrickard!

[2019-12-18 19:10] rbitia commented on #799
Yes! We can create you a repo, would you be the project maintainer?

[2019-12-18 19:28] jeremyrickard commented on #800
@rbitia is the pattern of committing the chart tgz still in place? Doesn't look like there has been a version in quite some time.

[2019-12-18 19:29] cpuguy83 commented on #800
I would really like to see the charts move elsewhere.

[2019-12-18 19:29] cpuguy83 commented on #800
I've just been worried about breaking people.
Maybe anything new can go to a new repo.

[2019-12-18 21:27] brugidou commented on #799
Yes. I'm also open to having other maintainers if anyone is willing to help

[2019-12-21 01:31] adrienjt opened #802 "Client-go should be required at v0.0.0 in go.mod because it is replaced anyway"
I cannot import virtual-kubelet, because my project also depends on client-go at v0.17.0. The requirement in virtual-kubelet's `go.mod`, v10.0.0+incompatible, is... incompatible with my requirement (major version mismatch). However, virtual-kubelet also has a `replace` directive for client-go, so its requirement is superfluous and indeed too restrictive.
[code]
should be
[code]

[2019-12-21 02:19] adrienjt commented on #802
Nevermind, I can `replace k8s.io/client-go => k8s.io/client-go v0.17.0` in my project as a workaround (I only had it required before).

Actually, changing virtual-kubelet's `require` to v0.0.0 would still force me to `replace` it. Otherwise I'd get an `unknown revision v0.0.0` error message...

Go modules and Kubernetes on a Friday night...

[2019-12-21 02:19] #802 closed

[2019-12-30 12:47] brugidou commented on #799
Hey, any news?

[2020-01-06 16:48] tghartland commented on #798
I have been trying something like this. Our use case would be for batch processing, so pods have no inter-pod networking requirements, few or no requirements on other cluster resources, multi-cluster is only used to expand the processing capacity (prioritise using clusters in our own data center, bursting to commercial cloud providers when necessary). We would implement scheduling policies with [s

[2020-01-09 19:14] rbitia commented on #800
I can make a virtual-kubelet/charts repo?

[2020-01-10 00:12] #796 closed

[2020-01-10 00:56] cwdsuzhou commented on #798
We are also trying the similar thing. I think we could do this together @tghartland @cpuguy83

[2020-01-10 00:58] cpuguy83 commented on #798
If you can influence the scheduler it does change things a bit.

[2020-01-10 01:44] cwdsuzhou commented on #798
Based on the latest scheduler framework, we may implement it.

[2020-01-14 21:50] adrienjt opened #804 "Add multicluster-scheduler as a provider"
Hi, [multicluster-scheduler](https://github.com/admiraltyio/multicluster-scheduler) was recently partially redesigned as a virtual-kubelet provider. I propose adding it to the list of available providers in the website and readme. @rbitia suggested I create this issue.

**Use Cases**

Given that multicluster-scheduler works at the pod level, it can be used as a general-purpose multi-cluster schedu

[2020-01-15 19:11] adrienjt commented on #798
@weiwei04 @carmark @cwdsuzhou (I'm already in touch with @tghartland :wink:) [multicluster-scheduler](https://github.com/admiraltyio/multicluster-scheduler) implements virtual-kubelet (since last week). It uses a custom multi-cluster scheduling mechanism (with a rather simple resource-based algorithm for now), but I have plans to re-use most of the Kubernetes scheduler. Please let me know what you

[2020-01-15 19:13] #781 closed

[2020-01-15 19:14] adrienjt commented on #804
Related issues: #798 #32

[2020-01-16 06:47] cwdsuzhou commented on #798
oh, thanks. Looks amazing,  would you like to talk about it with me after I have read the design and code?

[2020-01-18 20:11] #791 closed

[2020-02-03 21:34] prashantchari commented on #535
Hey Deep, just wondering if you have an updated timeline for this ?

[2020-02-04 00:29] gabrielhartmann opened #807 "NodeConditions are Overwritten During Node Patch"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate): `N/A`

Version (e.g. 0.1, 0.2-beta): `v1.1.1-0.20191101162338-ba940a9739fe`

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): Bare Metal

Install Method (e.g. Helm Chart, ): Custom

### Issue Details

Node Conditions set on a Node Status object are overwritten by Virtual Kubelet node patches.  The patch mechanism isn't working, and i

[2020-02-05 10:59] pires commented on #804
I don't see any reason why this can't be added to the list of VK providers.

[2020-02-05 13:10] Jiajing-Hu opened #809 "Maximum number of pods in a node"
Hello there..
I want to build a cluster with vk.
but I wonder What is the maximum number of pods in one vk node .
thank you.

[2020-02-05 19:12] cpuguy83 commented on #809
VK does not impose any maximum itself, it is up to the implementation to do that.

[2020-02-05 19:16] cpuguy83 commented on #804
Indeed, I'd start by opening a PR to add it to the list. If for some reason you want to bring it into the VK org that's an option, but it seems like your project already has a fair bit of visibility.

We haven't really set any rules or guidelines for adding a project to the org. I'd prefer it to have a non-generic name if so, though.

[2020-02-05 19:36] adrienjt commented on #804
Thank you @pires and @cpuguy83, I'll open a PR. I don't see a reason to bring my project into the VK org at the moment. In my PR, I'll list the provider as "Admiralty Multi-Cluster Scheduler".

[2020-02-06 03:49] Jiajing-Hu commented on #809
Got it.. Thankyou!

[2020-02-06 03:49] #809 closed

[2020-02-07 00:18] #804 closed

[2020-02-07 01:56] k82cn opened #812 "Enhance Volcano Scheduler to support Virtual Kubelet"
### Description

Volcano is a kubernetes native batch system for AI/BigData/HPC workload. To make it better work other cluster, it's better to make its scheduler to support virtual kubelet. And it's also an good example for the scheduler on how to integrate with virtual kubelet :)

[2020-02-07 02:01] k82cn commented on #812
/assign

[2020-02-07 18:13] rbitia commented on #812
Thanks!! Does Volcano plan to become an official provider within VK?

[2020-02-07 18:21] k82cn commented on #812
Yes, that's also ok for Volcano to do that :)

[2020-02-09 10:46] onepiecelover opened #813 "how the VK sync pod status"
---

### Environment summary

Provider (N/A)

Version (master)

K8s Master Info (1.15.5)

Install Method (N/A)

### Issue Details
i can not find out how the `VK` sync pod status when the pod is created

### Repo Steps
1 i implement the provider(CreatePod && GetPod)
2 i create a pod
3 the pod status is always in pending(i find the `runSyncPodStatusFromProviderWorker` dont woking)

is there any sugg

[2020-02-10 09:07] #813 closed

[2020-02-10 09:09] onepiecelover commented on #813
i should implement the function to sync pod

[2020-02-18 21:56] myechuri commented on #773
When `CreatePod` fails, we [call `handleProviderError`](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/pod.go#L91) which [marks the pod as failed only if restart policy is set to never](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/pod.go#L125):

[code]
 Marking the pod as `PodPending` by default and blacklisting it as `PodFailed` only if restart is set t

[2020-02-19 05:35] csor-dev commented on #408
@rbitia I think we can close this issue

[2020-02-19 19:05] myechuri commented on #418
@cpuguy83 : is this issue still relevant? If so, i'd be happy to pick it up. Thanks!

[2020-02-19 19:50] cpuguy83 commented on #418
It is still relevant.
Ideally it would find a nice home like we have for the tracing package.

[2020-02-19 19:54] myechuri commented on #418
Great, thanks @cpuguy83 . Let me pick this up.

[2020-02-19 19:57] myechuri commented on #418
@rbitia : just noticed that the issue is assigned to you - want to confirm that you are not looking into it before assigning it to self. Can you please let me know? Thanks!

[2020-02-19 20:02] cpuguy83 commented on #418
I don't think anyone is looking into this yet.

[2020-02-19 20:14] myechuri commented on #418
Thanks, @cpuguy83 . Assigned to self.

[2020-03-02 21:04] myechuri commented on #418
Have scaffolding in place for metrics and want to run it by @cpuguy83 to see if i am on the right track. Here are the details:

1) [OpenMetrics](https://github.com/OpenObservability/OpenMetrics) is not yet ready for consumption, so, went with Prometheus go-client.

2) Draft for plumbing first set of metrics (basic golang runtime metrics, as suggested in [this comment](https://github.com/virtual-ku

[2020-03-02 23:54] cpuguy83 commented on #418
It's a start to at least get something out, but I'm not sure there is much value in adding it to the daemon being built from cmd here since that's only used for testing.

I would use the opencensus prom exporter here since we are already using opencensus for tracing.

[2020-03-03 00:23] myechuri commented on #418
Thanks for the quick and helpful feedback, @cpuguy83 !

Got it, thanks for clarifying. i was not aware that daemon built here is only used for testing. Let me look through tracing one more time to see if there is a way to have metrics as a common functionality across vk built via all providers.

Makes sense. Let me rework to use opencensus prom exporter and ping when ready. Thanks!

[2020-03-03 00:56] cpuguy83 commented on #418
@myechuri Publishing the metrics to an HTTP endpoint can be configured here, which some providers use: https://github.com/virtual-kubelet/node-cli/

However the real power will come from being able to integrate metrics produced by the VK runtime into consumers of the VK library.

[2020-03-03 01:51] myechuri commented on #418
Thanks! Elotl's provider (to be open sourced soon) is using above as well:

[code]

Agree 100%. It would be great to VK metrics out of the box for consumers of the VK library. Let me play around a bit and report back in a week. Thanks again for the helpful guidance, @cpuguy83 !

[2020-03-09 07:11] cwdsuzhou opened #819 "Enhancement: add some metrics for vk"
### Description

Add some metrics for vk, e.g. provider success rate

[2020-03-09 19:15] cpuguy83 commented on #819
Dup of https://github.com/virtual-kubelet/virtual-kubelet/issues/418

[2020-03-09 19:15] #819 closed

[2020-03-10 04:59] cwdsuzhou commented on #418
Is this work still in progress ?

[2020-03-10 05:18] myechuri commented on #418
@cwdsuzhou : yes, i'll share status update by the end of week. Thanks!

[2020-03-16 06:00] cwdsuzhou opened #820 "VK do not support `logs --since` and `logs --limitBytes`"
VK do not support `logs --since` and `logs --limitBytes`

[2020-03-16 11:53] cwdsuzhou opened #822 "Add flags to expose qps"
VK as the entrance of a cluster, may run many pods on it. Default QPS setting of k8s client is obviously not enough for large-cluster, we need expose the qps and burst, e.g. the case in our cluster.

![image](https://user-images.githubusercontent.com/12230714/76755931-b4536480-67bf-11ea-99fb-f36f77f0cd89.png)

[2020-03-16 11:53] cwdsuzhou commented on #822
/assign

[2020-03-16 11:53] cwdsuzhou commented on #822
/assign @cwdsuzhou

[2020-03-18 12:51] Icedroid commented on #753
I meeted the same probelm.  @sargun How to solve?

[2020-03-23 20:39] justnoise commented on #541
I've stumbled upon this issue as well when running the K8s conformance tests with a Virtual Kubelet provider.  Some conformance tests have their containers write output to the logs, the tests then query the logs looking for expected output.  Limiting the output to the last 10 lines can be too limiting for some of the tests (e.g. printing out all environment variables).

On a standard kubernetes no

[2020-03-23 20:49] justnoise commented on #541
Just a note that we've run into this issue as well when running when running conformance tests with a Virtual Kubelet provider.  Some conformance tests have their containers write output to the logs, the test then queries the logs and looks for expected output.  Limiting the output to the last 10 lines can be too limiting for some of the tests.

It seems that both https://github.com/virtual-kubele

[2020-03-24 16:23] #822 closed

[2020-03-31 08:14] srinat999 commented on #594
Hi. I'm facing this issue too. What was the solution at the end? I tried using --startup-timeout option, but the startup just exits once the timeout has reached.

[2020-04-01 17:03] PerilousApricot commented on #799
I am very interested in this as well

[2020-04-04 08:32] wuestkamp commented on #689
This issue was caused by an injected Istio proxy sidecar container. Once I disabled sidecar injection the error went away.

[2020-04-09 18:25] truman303 commented on #535
Also looking for an update here. I would like to use ACI directly rather than AKS for my setup.

[2020-04-10 22:27] nishanperera commented on #523
Any updates on this ?

[2020-04-23 07:36] clarkmcc opened #831 "Running VK Securely Outside of Cluster"
I’ve got an interesting use case where we are using VK to manage binary workloads running on client machines. We like the idea of taking advantage of the scheduler, secret management and “pod” status tracking while bootstrapping our own use case into the system.

The hang up right now is that VK authenticates with a master using a kubeconfig file, which is obviously not something we can put on a c

[2020-04-23 20:36] cpuguy83 commented on #831
VK only takes a Kubernetes client. How you get that client is up to you.
Probably most of the implementations out there using VK use a kubeconfig, though.

[2020-05-13 08:32] mrshengzyzy commented on #790
I am still stupid :)

[2020-05-28 17:09] cpuguy83 commented on #800
Charts are deprecated since we split providers out of the repo.
Providers should, if they desire, host their own charts where it makes sense.

Thanks!

[2020-05-28 17:09] #800 closed

[2020-06-02 17:12] arkoc opened #832 "Support for Azure File share in linux ACI containers"
### Environment summary

Provide: ACI
K8s Master Info: AKS

### Issue Details
Couldn't found any documentation describing are Azure File shares supported for Linux ACI containers or no, so I tried following:

[code]

### Repo Steps

1. Apply pod described above.
2. Wait 10+ minutes.

Expected Result:
Pod should be up and with Azure file mounted.

Actual Result:
Pod stack at status Creating.

This

[2020-06-02 17:36] #832 closed

[2020-06-02 23:13] k4korea commented on #677
I am also interested.
If you have any progress, please

[2020-06-03 19:29] cpuguy83 commented on #677
I do not understand this request.
The mock provider here an internal tool for e2e tests.
If you need a mock as well, please copy and use as needed... honestly I even find the mock provider annoying to use because of the weird config format.

Closing since folks should just build the mock they need.

[2020-06-03 19:29] #677 closed

[2020-06-04 18:06] ldx commented on #475
Metrics-server now defaults to the https kubelet server (10250), since the readonly port (10255) has been disabled by default: https://github.com/kubernetes/kubernetes/pull/59666#issuecomment-373829976

You can still enable the readonly port and configure metrics-server in your cluster to use that port without TLS via `--kubelet-port=10255 --deprecated-kubelet-completely-insecure=true`.

@cpuguy83

[2020-06-04 18:14] cpuguy83 commented on #475
SGTM

[2020-06-06 11:36] #820 closed

[2020-06-06 11:45] cwdsuzhou opened #836 "NotifyPods may not work when vk starts up"
---

When vk starts up, updatw pod status may failed. There is a race between we get pod from KnowPods and and to Known pods.

https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/podcontroller.go#L246
notifyPods add pods the statusQueue

https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/podcontroller.go#L267
here we add to KnownPods

https://github.com/virtual-kub

[2020-06-11 16:43] sargun commented on #836
Looks right. Thanks for spotting this. This should just be a matter of moving:

[code]

above

[code]

[2020-06-12 00:14] cwdsuzhou commented on #836
Yes, I think so

[2020-06-12 00:55] sargun commented on #836
Let me know when you submit a PR.

[2020-06-17 03:13] cwdsuzhou commented on #798
@cpuguy83  @sargun  we have implemented a k8s provider, including a vk scheduler. How could we contribute to this repo.

[2020-06-17 16:54] cpuguy83 commented on #798
We can add a repo for it in the vk org.
On Wed, Jun 17, 2020 at 3:13 AM GitHub <notifications@github.com> wrote:

“@cpuguy83@sargun we have implemented a k8s provider, including a vk scheduler. How could we contribute to this repo.”

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-18 08:54] cwdsuzhou commented on #798
Thanks @cpuguy83 ,  please let me know if you have added a repo for it or anything else we should do before you add the repo.

[2020-06-18 12:43] tghartland commented on #798
@cwdsuzhou @cpuguy83 Please let me know once you've got the code moved into a VK repository, I'd like to give it a try. (Or if you've got another repository I could start looking at already).

[2020-06-18 16:54] cwdsuzhou opened #840 "DefaultControllerRateLimiter may cause slowly update"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details

DefaultControllerRateLimiter may cause slowly update.

When we delete large number of pods, we found some pods cannot be deleted in time. We would like send a PR to expose the qps limit of the default

[2020-06-24 19:01] rbitia commented on #798
Hey wanted to double check, I can create a repo for y'all called "tensile-kube." I also need one or two names, github ids, email addresses and companies to list in our project maintainer list.
Thanks!

[2020-06-25 02:40] cwdsuzhou commented on #798
Please add me.
Name, ID, email, company
Weidong Cai, cwdsuzhou, cwdsuzhou@gmail.com, Tencent

Thanks!

[2020-06-26 13:19] DreamRivulet commented on #475
@ldx @cpuguy83 May I know whether there is an ETA for virtual kubelet to support kubelet summary API on 10250? Currently virtual kubelet doesn't support metrics-serverv 0.3 which caused k8s HPA not working for pods on virtual kubelet.

[2020-06-26 15:57] rochaporto commented on #798
@rbitia we have a similar implementation internally that we've started deploying, @tghartland mentioned it above. It would be great to combine this effort with others, ping us as well if there's a common repo coming up.

[2020-06-26 17:11] ldx commented on #475
@DreamRivulet it's on my todo list, but I don't have an ETA. You can reconfigure metrics-server to use the read-only port as a workaround for now.

[2020-06-26 17:24] cpuguy83 commented on #475
VK is only a library. You configure listeners.

[2020-06-29 14:19] DreamRivulet commented on #475
@ldx  Thanks a lot. We're using the AKS cluster, and it's not possible for us to reconfigure metrics-server. Besides, kubelet is using 10250 port for summary API, if we change metrics-server to use 10255, it will not be able to get metrics from kubelet.

[2020-06-29 22:52] #840 closed

[2020-07-01 04:02] cwdsuzhou commented on #798
@ritazh can you grant me `write` access to `tensile-kube`, otherwise, we can not merge/review PRs

[2020-07-01 04:04] cwdsuzhou commented on #798
@rbitia can you grant me write access to tensile-kube, otherwise, we can not merge/review PRs

[2020-07-02 05:40] cwdsuzhou commented on #798
We have moved the codes to https://github.com/virtual-kubelet/tensile-kube

[2020-07-02 14:49] tghartland commented on #798
@cwdsuzhou thanks for letting me know, I'll give it a try.

[2020-07-02 20:27] cpuguy83 commented on #475
I opened https://github.com/virtual-kubelet/node-cli/pull/27 to update this on the cli lib that some projects are using.

It disables the metrics port by default and serves metrics on the main port.

[2020-07-03 14:38] cpuguy83 commented on #561
All providers are moved out of tree, and I also don't think we'll continue developing for cri.

[2020-07-03 14:38] #561 closed

[2020-07-06 17:33] #475 closed

[2020-07-06 18:11] cpuguy83 commented on #831
VK does not deal with auth, but we could consider a helper package to set up custom k8s clients. I'm not sure what is available in client-go for this already.

[2020-07-07 20:59] clarkmcc commented on #831
I was able to solve this problem for myself like this

[code]
Where the `ca` and `token` are referring to a service account.

[2020-07-17 05:30] sargun commented on #807
Fixed.

[2020-07-17 05:30] #807 closed

[2020-07-17 05:30] sargun commented on #767
This should be fixed with the work done by @adrienjt.

[2020-07-17 05:31] sargun commented on #767
(or at least much better)

[2020-07-17 05:31] #767 closed

[2020-07-24 02:50] sureshsankaran commented on #831
On similar lines, when running vk outside of cluster, how secure is the communication from api server to vk ? Do we really need a tunnel for this type of usecase between vk and apiserver ? @cpuguy83

[2020-07-28 06:01] sureshsankaran opened #864 "Doc needed - How to secure communication between vk and Api server"
Could you please share/point to any document on the recommendation to setup secure communication between api server and vk (and vk to api server as well) ? I am planning on using vk for this scenario: cloud vendors managed k8s cluster with raspberry pi based vk. So all the details to keep this channel between endpoints are appreciated.

Thanks

[2020-07-28 06:55] sargun opened #865 "With* should perform validation."
IMHO, With* functions should perform validation. If the input is invalid, we should just straight up panic.

[2020-07-28 16:07] cpuguy83 commented on #865
👍

[2020-07-29 12:25] RyanAoh opened #867 "Pod recreated during pod.DeletionGracePeriodSeconds will be forcibly deleted"
### steps to reproduct it:
1. Run `kubectl delete po testpod` (pod.DeletionGracePeriodSeconds=30s), [these](https://github.com/virtual-kubelet/virtual-kubelet/blob/5a39c167a67dfc636325f2bc07aac96b5f5157da/node/podcontroller.go#L484) code were called to guarantee it would be deleted in the provider and Kubernetes.
[code]
2. In my case, the old pod was successfully deleted in 5s (shorter than pod.De

[2020-07-29 17:57] cpuguy83 commented on #798
Closing since it seems like this is completed.
Please let me know if that is not correct.

Thank you!

[2020-07-29 17:57] #798 closed

[2020-08-04 05:36] #836 closed

[2020-08-16 03:00] wenn32 commented on #535
sorry, we would like an update on this topic!
Contemplating to start learning AWS.

[2020-08-31 02:46] LeoLiuYan opened #875 "Should we support leaderelection?"
When deploy a virtual-node which use the virtual-kubelet lib, we wish the virtual-node have HA traint to prevent the virtual-node down and then pods running in virtual-node migrate to other nodes. The virtual-node may be a cluster which many pods running in it. For example, in tensile-kube we treat a cluster as a virtual-node.

![image](https://user-images.githubusercontent.com/5344039/89849408-08

[2020-08-31 02:47] LeoLiuYan commented on #875
cc @cwdsuzhou

[2020-09-02 14:03] sumitkute commented on #52
I tried the steps in https://github.com/Azure/AKS/issues/1427 but it was still showing in kubectl get node. Even the portal was showing virtual-node disabled. I then ran this command

and it worked for me. Now kuebctl do not show virtal node

[2020-09-17 16:24] lachie83 commented on #737
I believe this issue is resolved via PR #754. We can close this

[2020-09-17 16:25] #737 closed

[2020-09-17 16:47] lachie83 commented on #537
Is this still an issue? If so, I would request you reopen under the provider repo - https://github.com/virtual-kubelet/azure-aci

[2020-09-17 16:55] #545 closed

[2020-09-17 17:00] lachie83 commented on #408
This can be closed.

[2020-09-17 17:01] lachie83 commented on #192
I believe this issue has been addressed. Closing

[2020-09-17 17:01] #408 closed

[2020-09-17 17:02] #192 closed

[2020-09-17 17:09] #419 closed

[2020-09-17 21:31] cpuguy83 commented on #537
Agreed, let's move to azure-aci if it is still an issue.

[2020-09-17 21:31] #537 closed

[2020-09-22 07:29] sargun opened #886 "Handle case where node is deleted"
Right now, if the node is deleted, and recreated, it completely breaks leases. I think that we should aggressively deprecate our current lease approach, and move towards the more traditional model proposed in: https://github.com/virtual-kubelet/virtual-kubelet/pull/880

Opinions?
CC: @cpuguy83

[2020-09-22 17:09] sargun opened #887 "Proposal for handling v1 Leases"
I propose we adopt v1 leases, and we adopt them how Kubelet uses them, as a reachability check and not a healthcheck. Kubernetes 1.17 is now the [oldest supported version](https://kubernetes.io/docs/setup/release/version-skew-policy/#:~:text=Supported%20versions&text=The%20Kubernetes%20project%20maintains%20release,9%20months%20of%20patch%20support) of Kubernetes. Given this, 1.17 clusters should

[2020-09-22 19:26] pires commented on #887
+1 breaking w/ node updates to move to Leases v1.

I'm fine w/ a minor release that breaks with certain Kubernetes versions from the past. Having a major release is quite painful when dealing w/ Go modules. We should announce it as a breaking change in the release notes.
Also, it's up to providers to import the newer modules or not so breaking with older versions of Kubernetes is really an option

[2020-09-23 03:04] sargun commented on #887
@cpuguy83 suggested that we introduce a NodeControllerV2 that would have this behaviour.

I think my primary worry is either we end up with a bunch of "copy pasta" between the v1 and v2 implementations, or there will be a bunch of shared code and testing will become harder. I also think that doubling our CI/CD time doesn't see super appealing.

[2020-09-23 10:05] pires commented on #887
I agree w/ @sargun.

[2020-09-24 07:11] Poor12 opened #888 "Is there a provider that supports Podman?"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details
Does VK support some container runtime like katacontainer or podman?
### Repo Steps

[2020-09-24 16:13] cpuguy83 commented on #888
None that I know of. There was a generic CRI provider that was very incomplete.
I looked at enhancing it (the CRI provider) but CRI is really not great for this and might as well use kubelet if going with a CRI implementation.

[2020-09-24 17:48] cpuguy83 commented on #887
I would like to be able to support v1.16 at least still.

@sargun mentioned issues with the existing automatic fallback behavior where if we can't create a lease (assumming the feature is not enabled) we just do node status updates. VK ends up in this behavior where it always hits the fallback behavior due to issues on the cluster.

Splitting up these into separate controllers instead of the singl

[2020-09-29 16:55] sargun commented on #887
@cpuguy83 So you're fine deprecating the autofallback behaviour?

[2020-10-02 21:44] cpuguy83 commented on #887
@sargun Yes, absolutely.

[2020-10-05 20:17] subodh-dharma opened #889 "Update Helm chart artifacts of `virtual-kubelet-for-aks` to ensure compatibility with k8s version 1.16+"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
Azure AKS

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
1.16+ AKS

Install Method (e.g. Helm Chart, )
Helm Chart

### Issue Details

* Helm chart for virtual-kubelet-for-aks needs to be updated to make Deployment compatible with `apiVersion: apps` instead of `apiVersion: extensions/v1beta1.`

* Add `sp

[2020-10-05 21:27] cpuguy83 commented on #889
These charts are in https://github.com/virtual-kubelet/azure-aci
Does this work for you?

We don't intend to update the helm charts in this repo.

[2020-10-05 21:33] subodh-dharma commented on #889
So the `virtual-kubelet-for-aks` chart is equivalent to `virtual-kubelet-aci-for-aks.tgz` or `virtual-kubelet-latest.tgz` ?

[2020-10-05 22:51] cpuguy83 commented on #889
Yes, they should be.

[2020-10-06 10:46] turkenh commented on #399
We assume the provider should handle retry-able errors, and only return non-retry-able ones, for example a spec error, which will never get created.

@robbiezhang I am confused here. Pod phase is actually not marked as `Failed` but `Pending` which seems not aligned with the purpose you mentioned.

We are also having the same problem mentioned here and I couldn't get why we don't sync pod status ba

[2020-10-06 19:25] subodh-dharma commented on #889
Leaving here if anyone stumbles on this:

Updated charts can be found here: https://github.com/virtual-kubelet/azure-aci/tree/master/charts

[2020-10-06 19:25] #889 closed

[2020-10-12 18:03] gabrielhartmann opened #890 "PodStatusUpdate Spans Have Incorrect Phases"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
Custom

Version (e.g. 0.1, 0.2-beta)
v1.3.1-0

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
Bare metal

Install Method (e.g. Helm Chart, )
Custom

### Issue Details
The handling of pod status update queue items never shows an update with a succeeded or failed Phase.  It looks like the updates may have phase information which is one

[2020-10-23 22:30] DanielMSchmidt opened #893 "Docs: Mention E2E tests on Providers page"
---

### Issue Details

Currently the [Providers Page](https://virtual-kubelet.io/docs/providers/) on the website does not mention that there are E2E tests ready to use. Maybe people starting a new provider are missing out on this great feature because of this.
I would have done a PR already, but I am not sure if the best course of action is to add a link to the github page of the E2E tests or cop

[2020-10-26 08:52] danopia commented on #888
This is an existing incomplete effort I know of using podman's varlink API: https://github.com/virtual-kubelet/podman though I'm not sure what about it makes it CRI tied so maybe that's another codebase.

I've been working on a rather opinionated VK effort using podman's REST API @ https://github.com/danopia/kube-pet-node & it will never be feature complete with Kubernetes, there's too many podspe

[2020-10-29 11:48] dirien opened #896 "AKS (1.19.0) pending Loadbalancer external IP"
---

### Environment summary

Provider (ACI)

Version (v 1.14.3-vk-azure-aci-vv1.3.0)

K8s Master Info (AKS)

### Issue Details
Running VK via ACI on a AKS Cluster with the Kubernetes Version 1.19.0 results in pending Loadbalancer für external IP Adress and following error: not a vmss instance.

![image](https://user-images.githubusercontent.com/38325136/97564307-ad8f0000-19e4-11eb-8a9e-3f553b3a18

[2020-10-30 17:04] TomaszKlosinski opened #897 "Helm chart error: can't give argument to non-function not .Values.apiserverCer"
Hello,

I'm trying to install virtual-kubelet with helm but I'm getting an error:
[code]

My helm version:
[code]

Any clue what is wrong here?

[2020-10-30 17:17] #897 closed, assigned to nobody

[2020-10-30 18:00] TomaszKlosinski commented on #897
Ok, I don't know what and how and why, but something was misformated and now it works:

[code]

[2020-11-04 11:56] turkenh commented on #399
@cpuguy83 @robbiezhang could you please have a look my PR: https://github.com/virtual-kubelet/virtual-kubelet/pull/898

[2020-11-06 14:35] turkenh opened #899 "Pod status out of sync after being marked as not ready by controller manager"
---

### Environment summary

Provider: Custom provider for Kubernetes

Version: v1.3.0

K8s Master Info: GKE

Install Method: Raw manifest

### Issue Details

After pods created, if pod status in k8s updated by another entity (e.g. controller manager), status never gets synced from provider, because of this check: https://github.com/virtual-kubelet/virtual-kubelet/pull/824

### Repro Steps

1. Cr

[2020-11-06 17:22] sargun commented on #899
@cwdsuzhou I suggest we completely remove the check, or we add an additional check when we get new pods from K8s to see if our pod status does not match theirs and if we skipped an update, and if so, trigger re-update on our side.