[2020-11-07 00:38] cwdsuzhou commented on #899
IMO we should not remove this check. Maybe we should trigger re-renque of pod in provider if pod status in K8s change rather than remove this change. If remove this change, we would get more and more requests of pod status update.

[2020-11-07 02:30] sargun commented on #899
@cwdsuzhou Did you see https://github.com/virtual-kubelet/virtual-kubelet/pull/902?

[2020-11-07 14:19] swapnika436 opened #906 "kubectl logs doesnot give logs for azure container instances"
---

### Environment summary

Provider (Azure Container Instances)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (AKS)

Install Method (e.g. Helm Chart, )

### Issue Details

### Repo Steps

kubectl logs <<pod name>>  and  logs = v1.read_namespaced_pod_log(<<pod name>> ,<<namespace>>)
doesnot give any logs.

[pod_template.txt](https://github.com/virtual-kubelet/virtual-kubelet/files/5504876/pod_t

[2020-11-12 08:43] cwdsuzhou opened #907 "Race issue between k8s and provider when deleting pod"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

k8s

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details
1. Create Pod
2. Delete pod and re-create the pod in k8s.
3. pod re-created may be deleted again by provider

https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/pod.go#L384

### Re

[2020-11-12 09:21] sargun commented on #907
Someone already filed this bug: https://github.com/virtual-kubelet/virtual-kubelet/issues/867

[2020-11-14 19:35] Romiko commented on #641
Any update on this being resolved? Excuse the pun.

[2020-11-15 00:34] Romiko opened #911 "Insufficient cpu - virtual-kubelet - GKE + Azure ACI Provider"
---

### Environment summary

Provider **ACI**

**Version latest**

K8s Master Info
1.16.13-gke.401

Helm Chart

### Issue Details
I deployed the Virtual-Kubelet in GKE to use the Azure Container Instances. I am able to successfully schedule pods to Azure.

However the virtual-kubelet is causing an issue in the GKE cluster. Existing pods that run on physical nodes such as prometheus get unschedule

[2020-11-15 01:36] Romiko commented on #911
The prometheus pod that got unscheduled has the following limits.

   Limits:
      cpu:     100m
      memory:  25Mi
    Requests:
      cpu:        100m
      memory:     25Mi

Looking at the cluster, there is over 90% cpu available on all nodes. When I remove the aci  virtual node, pods return back to normal.

[2020-11-15 03:56] Romiko commented on #911
Hi,

I think the source of the problem is when virtual-kubelet is deployed it is spawning a lot of kube-dns pods. Not sure why it is doing this.

![image](https://user-images.githubusercontent.com/579058/99162510-a5f48880-2752-11eb-9b24-87c67d61cc02.png)

[2020-11-15 04:18] Romiko commented on #911
Temporary fix
`
kubectl scale --replicas=0 deployment/kube-dns-autoscaler --namespace=kube-system
kubectl scale --replicas=1 deployment/kube-dns --namespace=kube-system
`

[2020-11-16 04:30] dkkapur commented on #641
Redirecting this to @macolso @MikkelHegn for latest updates!

[2020-11-16 08:13] miekg opened #912 "k3s + virtual kubernet: something about storage"
See this issue https://github.com/miekg/vks/issues/1

I'm trying to make a virtual kubelet that interacts with systemd and I'm using k3s to try it out (I'm unsure this is a virtual kubelet or k3s issue)

### Environment summary

Provider: systemd implement in https://github.com/miekg/vks/blob/main/systemd/systemd.go

Version: master

K8s Master Info: k3s (latest release 1.9.x something, tried olde

[2020-11-16 08:31] miekg commented on #912
and fixed via https://github.com/miekg/vks/commit/2ed019d82b2217dab0b0bee9a97e04d3dd74dd10

[2020-11-16 08:31] #912 closed

[2020-11-16 09:40] henrybeen commented on #535
Any update on this? Exploring ACI for an application, but would vnet integration. Given the reply by @dkkapur in 2019 I hope there is more to share by now?

[2020-11-16 22:11] #399 closed

[2020-11-20 17:16] miekg opened #920 "Process of getting a repo under virtual-kubelet?"
Hello,

I'm working on a virtual kublelet that works with systemd: https://github.com/miekg/vks (Jury is still out if this is a good or bad idea), but I'm wondering what the process is to get this under the virtual-kubelet org?

Thanks!

[2020-11-28 22:05] danopia opened #921 "Multiple NodeAddresses of one NodeAddressType causes merge corruption"
### Environment summary

Provider (e.g. ACI, AWS Fargate): Bare Metal

Version (e.g. 0.1, 0.2-beta): v1.3.0

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): GKE

Install Method (e.g. Helm Chart, ): manual

### Issue Details

I have VK nodes with dual stack networking and noticed that it was surprisingly tricky to add both IP addresses to nodestatus with the same NodeAddressType value.

If I adde

[2020-11-28 22:15] sargun commented on #921
Can you turn on auditing on our cluster and give us a dump of the bootstrap?

[2020-11-28 23:30] danopia commented on #921
It seems like GKE's operation logging isn't showing node updates, so I'm only seeing VK perform lease operations on startup:
![Screenshot 2020-11-29 at 00 29 23](https://user-images.githubusercontent.com/40628/100528177-f7ccf200-31d9-11eb-8c1e-ea0ca797481e.png)

Seems like I'll have to stand up a different kubernetes to capture apiserver-side logs of the operations at play

[2020-11-29 00:20] sargun commented on #921
How did you build your VK? Can you pass klog options / set klog debug to 100?

[2020-11-29 01:05] danopia commented on #921
I have a pretty straightforward VK I've written so I was able to add the klog flags and pass `-v 100` which is what I assume you refer to. I had to chop the bootstrap up pretty carefully because of the startup request storm haha

<details><summary>Relevant requests of bootstrap</summary>

[code]
</details>

<details><summary>Relevant bits of a IP change</summary>

[code]
</details>

Of note I thin

[2020-12-03 22:15] sargun commented on #920
This is cool!

I think @cpuguy83 might be able to help?

[2020-12-03 22:21] sargun commented on #921
🤦
We need to implement this apparently:
http://pr.k8s.io/79391

[2020-12-04 08:24] sargun opened #924 "Add klogv2 adapter for logging"
Right now we only have a Logrus impl. Add klogv2 since it implements the logr interface.

[2020-12-04 11:12] miekg commented on #920
note we are renaming vks to systemk

[2020-12-04 12:49] pires commented on #920
I totally support this!

[2020-12-04 17:41] cpuguy83 commented on #920
Created a `systemk` repo and invited you @miekg

[2020-12-04 18:29] miekg commented on #920
Saw it. Thanks! 👍

On Fri, 4 Dec 2020, 18:41 Brian Goff, <notifications@github.com> wrote:

[2020-12-04 18:39] miekg commented on #920
what's the minimum permission you can hand out to allow me to invite collaborators? I fear this may require setting a new team or something in the org?

[2020-12-04 18:52] cpuguy83 commented on #920
@miekg You should have privileges for this on the repo.

[2020-12-04 19:19] miekg commented on #920
[ Quoting <notifications@github.com> in "Re: [virtual-kubelet/virtual-kubele..." ]

hmmm, shouldn't I have a 'setting' item in the menu? I don't have that.

/Miek

--
Miek Gieben

[2020-12-07 14:59] miekg commented on #920
for this to work I need a 'settings' menu, which I def. don't have. I think Github makes you jump through hoops to make this work  (create a team -> and then some).

![systemk](https://user-images.githubusercontent.com/353371/101366407-37b06b00-38a5-11eb-9d4e-4c3d7dce484b.png)
![vks](https://user-images.githubusercontent.com/353371/101366410-38490180-38a5-11eb-9fd3-91323537d493.png)

I don't mind

[2020-12-10 08:40] miekg commented on #920
settings is there. Thanks! I'm moving the code into this org.

[2020-12-10 08:40] #920 closed

[2020-12-10 15:28] cpuguy83 commented on #920
Ah, sorry for the delay. Glad this worked.

[2020-12-16 12:19] pires commented on #799
Is this still something you maintain?

[2020-12-16 12:27] brugidou commented on #799
Unfortunately no it lost some traction mostly because I focused on something else.

[2020-12-16 12:37] pires commented on #831
Just build a kubeconfig that points to a TLS certificate signed by the same CA as used in your Kubernetes cluster. Said TLS certificate must abide to the following rules:
- `CN: system:node:<NODENAME>`
- `O: system:nodes`

Then run your provider binary with `--kubeconfig <path/to/your/kubeconfig>`.

[2020-12-16 12:55] pires opened #936 "Support TLS bootstrap"
VK requires that the user provides a kubeconfig that is then used to do its business, ie register as a Node, watch Pods/Secrets/ConfigMaps. Getting to the point of having a kubeconfig with proper credentials is a task not for the faint of heart and only folks very comfortable w/ Kubernetes innards can find their way quickly.

One option users have is to create a ServiceAccount with enough permissi

[2020-12-16 12:57] pires commented on #799
OK I'm sorry we didn't get anywhere in a timely fashion. If you ever (or someone else) picks it up again, let us know.

[2020-12-16 13:00] miekg commented on #936
but isn't this getting access to the API in the first place? Or do you propose this to keep everything up to date after having bootstrapped?

[2020-12-16 13:10] pires commented on #936
The options listed are steps that require human (cluster admin) intervention. Even TLS bootstrapping must be triggered by a human being somehow, e.g. provision bootstrap kubeconfig and run `./kubelet --bootstrap-kubeconfig <path/to/bootstrap.kubeconfig`. Tooling like kubeadm helps by providing UX such as `kubeadm join <API URL> <token>` but it's still manual.

Wrapping this to be hidden from the u

[2020-12-16 13:56] miekg commented on #936
why can't I use something like Let's Encrypt here?

[2020-12-16 14:14] pires commented on #936
Sure, you can use any CA out-of-band for as long as:
- it is the Kubernetes CA (``kube-apiserver --client-ca-file`)
- LE allows for `CN` and `O` to be what you need it to be, as I described above.

[2020-12-16 14:20] pires commented on #936
Forgot to mention that if the `Node` authorizer is enabled in `kube-apiserver`, TLS is the only way. Edited issue to include this.

[2020-12-17 00:45] cpuguy83 commented on #936
cc @gossion

[2020-12-23 00:20] turkenh commented on #899
I think this is fixed now with #902

[2020-12-23 00:20] #899 closed

[2020-12-23 23:21] pires opened #938 "DeletePod may not be called when a Pod status update fails"
This needs a bit more research on my side so assigning to me. If this proves to be a bug I must implement a test case that proves it.

### Repo Steps

- create pod
- have your provider provide a malformatted pod status, eg one condition timestamp with an invalid value
- Kubernetes API rejects the request and VK re-enqueues the change
- Delete pod
- DeletePod is not called
- resync happens and forc

[2021-01-08 16:01] miekg opened #940 "Import of k8s.io/kubernetes breaks Bazel"
It's impossible (*) to build VK (and systemk) w/ Bazel because the entirety of kubernetes is a dependency.
It seems to be because of this one file https://github.com/virtual-kubelet/virtual-kubelet/blob/master/internal/podutils/env.go

VK probably needs more stuff than the usual k8s client, but I think it worth copy and pasting a few bits and depending on *all* of kubernetes just to get a thing. Y

[2021-01-08 16:06] miekg commented on #940
in env.go only 3 functions are used, but there are more files:
[code]

[2021-01-08 18:46] cpuguy83 commented on #940
Yes, api/exec has definitely been on a todo to fix.
But as you say, it's really problematic... a lot to fork.

[2021-01-10 15:44] pires commented on #692
We now agree that this is the sole responsibility of the VK provider, or if the provider doesn't do it automatically, then it's up to the cluster administrator to do it.

Thanks for reporting and sorry it took this long to reach a consensus.

[2021-01-10 15:44] #692 closed

[2021-01-11 18:24] #924 closed

[2021-01-12 12:18] miekg commented on #940
I can't find v1alpha1.Summary anymore in the k8s repo, seems moved/gone. Found these issues: https://github.com/elastic/beats/issues/12792 and https://github.com/kubernetes/kubernetes/issues/68522

[2021-01-13 23:49] cpuguy83 commented on #887
V1 leases are merged, closing.

[2021-01-13 23:49] #887 closed

[2021-01-13 23:50] cpuguy83 commented on #886
Leases are merged. Can we close this one?

[2021-01-13 23:56] #886 closed

[2021-01-14 08:20] miekg opened #946 "`stats.Summary` doesn't exists anymore in upstream kubernetes"
This is a follow up from #940

In `node.go`:
[code]
`stats.Summary` is used, this pulls in kubernetes/kubernetes. While looking into copying a few files from k8s into VK it seems `stats.Summary` doesn't exist anymore - I'm unclear what the new shiny is though.

I'm inclined to remove this. Is that the best way forward?
Also happy to be pointed to the new shiny and seeing how we can incorporate tha

[2021-01-14 23:40] cpuguy83 commented on #946
Ugh, I wish I forked this...

That said I still see it on master: https://github.com/kubernetes/kubernetes/blob/bb6d0e7175e556c7f040678de4719553137f7ae6/staging/src/k8s.io/kubelet/pkg/apis/stats/v1alpha1/types.go#L24-L29

[2021-01-14 23:43] cpuguy83 commented on #946
I see there's a new set of endpoints.

[2021-01-15 08:44] miekg commented on #946
In 'staging'. OK. Do we care that after a code import that type is different?

[2021-01-15 19:00] cpuguy83 commented on #946
I'm not sure I ever understood the staging namespace for k8s.
It would be best to not have a change here if we can avoid it, but kinda seems SOL in that regard.

Any thoughts here @pires

[2021-01-15 19:05] pires commented on #946
`staging` is just a folder and carries no version stability version whatsoever.

The kubelet API has been getting some love and that's why we're seeing those APIs mutating. However... https://github.com/kubernetes/kubernetes/pull/92985

[code]

Guess it's just a matter of importing new paths.

[2021-01-15 19:08] miekg commented on #946
Ok. So this only means changing the import paths. That would be good!

That only leaves exec.go and the tests (care less about those, because when
not exercised Bazel should not care)

On Fri, 15 Jan 2021, 20:05 Pires, <notifications@github.com> wrote:

[2021-01-18 11:08] pires commented on #907
Closing as duplicate.

[2021-01-18 11:08] #907 closed

[2021-01-28 18:47] pires commented on #739
Seems to have been fixed already, thanks @grahamhayes

[2021-01-28 18:47] #739 closed

[2021-01-28 18:52] pires commented on #81
There were many discussions around this and IIRC we never settled down on what this would look like as clearly the VK cannot pass most conformance tests. There were even discussions around defining tests that would assert a Node + Pod controller should cover for, eg environment variables expansion such as for Downward API but. again IIRC, we found ourselves in a deep rabbit hole.

That said, my su

[2021-01-28 18:59] pires commented on #158
For reference, I built this into systemk as I think this should be delegated to the provider. VK can help by asking the provider for callbacks for ConfigMap and Secret updates, eg `UpdateConfigMap(pod, cm)`, and call those when an event arrives for the respective resources.

I think I have what it takes to pick this up but would like for us to agree if it's something we want right now or later, so

[2021-01-28 19:13] cpuguy83 commented on #81
I agree, this needs to be on the the provider to handle because VK core is intentionally implementing a very small set of behavior.

[2021-01-28 19:26] pires commented on #210
The issue described here is no longer valid as `system:node` cluster role can now watch for Secrets and ConfigMaps.

[code]

[2021-01-28 19:26] #210 closed

[2021-01-28 19:32] pires commented on #170
IIUC this is not as trivial as an interface addition but actually requires the VK to support SPDY (which is part of moby/spdystream) so the kube-apiserver can do async bidirectional streaming. SPDY is a deprecated in favor of HTTP/2 but Kubernetes still relies a lot on it and the only other supported alternative is Websockets, which I'm unsure if supports port-forwarding.

So is this something we

[2021-01-28 19:36] pires commented on #256
The `Provider` interface defines a func `ConfiguredNode` that the provider can use to handle the `Node` object before its registration. An example on how to use it is included in the `MockProvider`

https://github.com/virtual-kubelet/virtual-kubelet/blob/0d1f6f162509a9b4b73f1d23ac133541337545b0/cmd/virtual-kubelet/internal/provider/mock/mock.go#L346-L347

Another example is how `systemk` does it

[2021-01-28 19:37] #256 closed

[2021-01-28 19:39] pires commented on #324
VK is a Go library now and providers have been extracted to their own repos in this Github org and other orgs. Please, check github.com/virtual-kubelet/node-cli on how to build a binary for your VK provider.

[2021-01-28 19:39] #324 closed

[2021-01-28 23:56] pires commented on #315
#321 is also related and we hit a dead end, as the community was not willing to add an escape hatch for scenarios like the one described above.

Also, for reference, this code now lives in https://github.com/kubernetes/cloud-provider/blob/master/controllers/route/route_controller.go. `cloud-provider` is where CCM lives now and it's pluggable w/ others such as https://github.com/kubernetes-sigs/clo

[2021-01-28 23:59] pires commented on #321
Re-assigning to me since I don't see any activity from @VDuleb.

[2021-01-29 00:00] pires commented on #321
What I propose is to clearly identify the VK incompatibility w/ CCM in docs and even print a warning during VK initialization. @cpuguy83 wdyt?

[2021-01-29 00:01] pires commented on #315
What I propose is to clearly identify the VK incompatibility w/ CCM in docs and even print a warning during VK initialization. @cpuguy83 wdyt?

[2021-01-29 00:04] pires commented on #347
This no longer makes sense as the VK is now a lib and not a runnable daemon that users can use. Each provider will now provide its own binaries and respective instructions.

[2021-01-29 00:04] #347 closed

[2021-01-29 00:07] pires commented on #400
We do requeues now and we also have the full resync period that will re-trigger events in case we missed some event, ie a key is missing from the queue. I'm going to close this in hopes no one will re-open it because we're still observing it.

[2021-01-29 00:07] #400 closed

[2021-01-29 00:10] pires commented on #418
@myechuri I'm assuming you didn't get a chance to finish what you were working on, were you? Need help?

[2021-01-29 00:12] pires commented on #428
Two years and changes later, I still think this make sense. I can see providers exposing devices that are unique to their scenarios and leveraging that during scheduling.

[2021-01-29 00:15] pires commented on #438
@cpuguy83 I think recently it was agreed we'd remove the Helm stuff from the repo, since VK is just a library now?

But the monitored namespaces is a different subject and if I'm getting this right, I think me and you discussed this recently and kinda hinted at removing this in time for the next major. Slack thread https://kubernetes.slack.com/archives/C8YU1QP8W/p1610907649017600

[2021-01-29 00:15] pires commented on #438
My proposal to close this one is to remove Helm charts, deprecate the namespaced VK in the next minor release and drop it entirely in the next release.

[2021-01-29 00:18] pires commented on #441
They are but this is implemented as part of the provider, not the VK. For instance, the `systemk` provider does support ConfigMapVolumeSource and SecretVolumeSource.

[2021-01-29 00:18] #441 closed

[2021-01-29 00:19] pires commented on #442
Same as #441, mounting service account token (a SecretVolumeSource injected automatically) is the responsibility of the provider, not the VK.

[2021-01-29 00:19] #442 closed

[2021-01-29 00:24] pires commented on #443
I still share concerns about using the same Kubernetes client the VK uses to do its thing (track Pods, Secrets, ConfigMaps, the Node, send events). This means an option is for the VK to instantiate a second client and share listers + an event recorder the provider can use.

This aligns with what [I did in systemk](https://github.com/virtual-kubelet/systemk/blob/b1e585c6fce0b9cd86d0f109997482e8f515

[2021-01-29 00:26] pires commented on #449
Thanks, @dkkapur!

[2021-01-29 00:26] #449 closed

[2021-01-29 00:30] pires commented on #587
Is this something we lost track of? Maybe something for 2.0, if it means breaking UX?

[2021-01-29 00:31] pires commented on #577
@innerop definitely! There are many providers out there that leverage VK. Examples are the Azure ACI, AWS Fargate or systemk, all of them versioned in repos under this same organization.

[2021-01-29 00:32] pires commented on #577
I'm closing this as we haven't seen anyone stepping up to address the requested provider.

[2021-01-29 00:32] #577 closed

[2021-01-29 00:33] pires commented on #565
Would the operator be able to deploy different providers or just one particular provider? Is there a design of the CRD we can take a look at?

[2021-01-29 00:37] pires commented on #799
Closing due to inactivity.

[2021-01-29 00:37] #799 closed

[2021-01-29 00:38] pires commented on #812
Is there an issue in this Volcano project we can track VK integration? Otherwise, can you, please, help me understand why we have this issue here.? Thank you!

[2021-01-29 00:41] pires commented on #831
Just to clarify, what you're doing w/ your Go code above is exactly the same thing as kubeconfig file, just in Go. Kubernetes supports token-based authentication in the kubeconfig and it supports TLS too, and other mechanisms.

[2021-01-29 00:41] #831 closed

[2021-01-29 00:45] pires commented on #864
Hello @sureshsankaran! You can establish and secure your VK-apiserver communications with a kubeconfig that ensures the API certificate is valid and that VK uses a client certificate the apiserver recognizes too.

Here's an example that works for me when running one VK provider called `systemk`

[code]

[2021-01-29 00:49] pires commented on #888
Maybe @henryprecheur knows more?

[2021-01-29 01:06] pires commented on #921
Why hasn't this been fixed, @sargun? :-p

[2021-01-29 01:07] pires commented on #946
Pinging for approval since I mentioned it today as well during community meeting.

[2021-01-29 08:56] sargun commented on #946
I think it's fine. I don't think it puts us in any worse of a situation we are in today.

[2021-01-29 12:29] pires commented on #167
AFAIK in Kubernetes, the `PersistentVolume` creation/deletion, based on `PersistentVolumeClaim`, is the responsibility of a _provisioner_ defined as a `StorageClass`, which in our case would most likely be the [external-provisioner](https://github.com/kubernetes-csi/external-provisioner). The provisioner is the one doing the CSI talk to driver(s) that are then responsible of creating/deleting the

[2021-01-29 17:19] cpuguy83 commented on #443
It seems pretty tricky to do much here, because no matter what the provider is going to have to tell *something* that an event occurred. Why wouldn't that be a literal event recorder?

[2021-01-29 17:22] cpuguy83 commented on #167
Agreed. The best way to do this is to have a provider support it then figure out how we can abstract that.

[2021-01-29 19:29] pires commented on #443
My idea really is to provide an event recorder while making sure it's a client instance that is not used by VK, to avoid bad providers spamming events to mess w/ VK performance.

[2021-01-31 00:11] pires commented on #443
Feel free to unsubscribe @Smithx10 but I'll keep the issue open. Thanks for reporting!

[2021-02-05 23:15] Andycharalambous commented on #689
Is istio not supported under virtual-kubelet? Will it ever?

[2021-02-06 18:38] henryprecheur commented on #888
At Elotl we are working on adding support to Podman in Kip.

The work is still in the initial stage. I think we are about 50% there, but we have a project with higher priority right now. I can’t give you an ETA of when Kip will support fully the Podman runtime.

[2021-02-16 15:44] #867 closed

[2021-02-23 09:36] abhideodhar-coder commented on #34
yes - this is required ... +1

[2021-03-05 14:22] uzuku opened #956 "Several heartbeats with too long interval may result in a permanent NotReady virtual node"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Baidu BCI, currently in developing stage.

Version (e.g. 0.1, 0.2-beta)

v1.2.1

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

v1.18

Install Method (e.g. Helm Chart, )

Bare yaml.

### Issue Details

If VK sends several node heartbeats with too long interval, the node may be NotReady permanently.

This happens as below:

1. Durin

[2021-03-05 14:48] uzuku commented on #956
I've checked the latest code, and found the problem may have been resolved by separating the serverNode and providerNode in node controller. We are developing against k8s v1.16 , and the API has a breaking change from 1.16 to 1.18, so we cannot check to the latest release directly. Would you please back port the fix to the release-1.2 branch ?

[2021-03-25 01:40] liruishan opened #959 "I modified KUBELET_PORT=10260, why is it not effective?"
---

### Environment summary

Provider :CRI

Version :V1.5.0

K8s Master Info:V1.20.4

Install Method

### Issue Details
I looked at the following code in opts.go, and I think if KUBELET_PORT is set, then the listening port of virtual kubelet will be set to KUBELET_PORT, I did. Why didn't it take effect?
if c.ListenPort == 0 {
		if kp := os.Getenv("KUBELET_PORT"); kp != "" {
			p, err := strconv.A

[2021-03-25 02:35] arrowfeng commented on #959
You can debug to see if os.getenv() really has a value？

[2021-03-31 17:47] strowk opened #960 "Cannot read logs from iotedge device"
### Environment summary

Version (e.g. 0.1, 0.2-beta)
 - "microsoft/virtual-kubelet:latest"

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
 - k3d

Install Method (e.g. Helm Chart, )
 - helm chart

### Issue Details

Cannot get logs from pod.

### Repo Steps

Create k3d kubernetes.
Create Azure IoT Hub
Rollout virtual kubelet using iotedge - https://github.com/Azure/iot-edge-virtual-kubelet-prov

[2021-03-31 19:49] #960 closed

[2021-03-31 21:36] eugen-nw opened #961 "The pods fails on ASK that uses a system-assigned Managed Identity"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)
latest

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm

### Issue Details

### Repo Steps
1. I created the AKS instance in the Azure portal and picked to use a system-assigned Managed Identity

2. I installed the componentent using the command line: `helm inst

[2021-04-15 07:50] sargun opened #964 "Proposal for "VK V1 Incremental Evolution""
**VK 1-NG**

This is a proposal on how we can evolve the internal VK state reconciliation mechanism. The goal is to remain API compatible to 1.0, and not evolve where we do not need to.

One of the things that’s grown more complicated over the time in the VK is the management of state “Edges” -- If you imagine the VK as managing a bunch of state machines, and each state is a vertex, we take change

[2021-04-23 09:06] hidalgopl commented on #964
@sargun thanks for putting this together :open_hands: I'm not super familiar with VK codebase yet, so sorry if any of those question sounds silly.
If I understand correctly, this would change approach from being reactive to events (and have a logic that tries to figure out what VK should do) to one reconciliation loop where VK will pull pod states from k8s and Provider and based on those decides w

[2021-05-05 00:25] cpuguy83 commented on #946
What we can do for the purposes of supporting older k8s is copy the stats structs internally for now.
We can use a type alias to prevent further breaking when we are ready to make the hard cut to >= k8s 1.20.
e.g. `type stats.Summary = internalstats.Summary` for now, then we can update that use stats from `k8s.io/kubelet` later.

Thoughts?

[2021-05-05 08:40] pires commented on #946
Sure, why not?

[2021-05-13 23:26] #946 closed

[2021-05-18 16:26] cpuguy83 commented on #940
We are no longer importing k8s.io/kubernetes on master.
Looking to cut a release soon.

[2021-05-18 16:31] cpuguy83 commented on #959
How/what did you build? How did you start the process?
Is KUBELET_PORT set in `/proc/<VK PID>/environ`?

[2021-05-24 12:56] pires commented on #964
I tend to agree w/ the idempotent approach to the reconciler. This is actually how I'm used to writing controllers, using controller-runtime, which I would suggest to adopt here if it wasn't for the fact that it is non-trivial to get it to watch non-Kubernetes resources, ie the Pod in the Provider.

That said, here's a few comments:

A cached client may or may not receive an event when the Pod cha

[2021-05-24 12:58] pires commented on #964
Oh, as mentioned over Slack, I don't quite follow this:

We shouldn't scan and just rely on events which may arrive in near-realtime or during the full-resync period (relist).

[2021-05-24 17:42] sargun commented on #964
We should can as a matter of idempotency.

[2021-05-24 19:40] pires commented on #936
So far, the comments only covered client authentication but not the VK-API serving aspect. The `kubelet` exposes a configuration option `serverTLSBootstrap` that allows for it to request a certificate to be used to serve its API, eg for log fetching. When `rotateCertificates` is enabled, both certificates, client and server, are rotated which is pretty cool and would make things easy on many users

[2021-05-24 19:42] pires commented on #964
That's what `full resync period` is all about, the opportunity for controllers to relist the objects they care about and have client-go re-generate events that may have been lost, if any. Kubernetes is after all an eventually-consistent system :)

[2021-05-24 19:51] sargun commented on #964
I don't think that's a good idea -- to rely on the resync period. IMHO, ideally these should be "out of phase" with each other. Otherwise, you're combining a lot of load on API server simultaneously.

[2021-05-24 20:07] cpuguy83 commented on #936
We did some auth stuff in node-cli here: https://github.com/virtual-kubelet/node-cli/pull/35/files

[2021-05-25 10:13] pires commented on #936
Those changes are related to the VK API authn/authz and  this is just about TLS bootstrap, ie what happens before the VK API is actually served and any auth happens.

[2021-05-25 10:15] pires commented on #964
You can relist w/ field selectors, namely `nodeName==VKnodename` and reduce the load on both the API server and the client-go internals.

I need you to share your concerns in more detail on why you think full resync is not a good idea. _It is the way_!

[2021-05-26 13:05] miekg commented on #936
[ Quoting ***@***.***> in "Re: [virtual-kubelet/virtual-kubele..." ]

thanks for saying what I was thinking while looking at the code/PR.

[2021-05-26 16:09] sargun commented on #964
1. Under the hood, etcd doesn't index this, so the cost is not reduced on the underlying storage
2. Full resync is okay because from my understanding the apiserver is flakey, and you fundamentally need to handle this case. Putting a ton of load on API server from a LIST (iterative read), and THEN potentially doing a bunch of writes seems like a recipe for disaster.

[2021-05-26 16:39] pires commented on #964
(1) API server keeps its own cache to avoid overloading etcd when it can.
(2) Unless you can show the problem happening and at what scale it happened, I can't change my opinion. This is how pretty much every single controller out there, built-into Kubernetes and 3rd-party stuff, like Operators ensure they can recover from missing events.

[2021-07-21 15:19] Kent-H commented on #940
What is the ETA on this release?

I would very much like to pull this change into our project; but I would prefer a release version if possible.

[2021-07-21 16:28] cpuguy83 commented on #940
I've been seeing some deadlocks when running tests and have not had enough time to hunt down the issue.
It is likely related to the queue changes but I'm not sure.

I also want to get https://github.com/virtual-kubelet/virtual-kubelet/pull/975 into the release, or revert the ControllerManager all-together before the release.

[2021-08-05 04:34] abhideodhar-coder commented on #167
How to enable existing CSI drivers to work with VK?
Does VK implement the Device plugin registration and Node registrar functions to enable the VK provider? I briefly looked at the VK code and couldn't find the PluginWatcher implementation which watches the plugin socket file creation and enables CSI driver to register with VK. Is this planned?

[2021-08-05 20:58] cpuguy83 commented on #167
@abhideodhar-coder The only things VK provides today is tooling to help with spinning up a service that satisfies the API's needed to operate a node on k8s. CSI is implementation specific (to Kubelet) and there is nothing in VK that deals with it.

[2021-08-12 13:03] LeoLiuYan opened #977 "Should we safe delete pods in provider when it does not exist in upper kubernetes?"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details

As the title said, when we sync pod's status from provider to upper kubernetes,  if we found the pod does not exist in upper kubernetes,  is it safe to delete the pod in provider?

The related code may

[2021-08-16 07:10] ChangJH-Mark opened #978 "Failed pod due to deletion of provider can never retry"
https://github.com/virtual-kubelet/virtual-kubelet/blob/68347d4ed1023c6a1b3f1c3d0f29bec67e74e388/node/podcontroller.go#L562
Means that a failed pod will skip to sync from k8s，but at https://github.com/virtual-kubelet/virtual-kubelet/blob/68347d4ed1023c6a1b3f1c3d0f29bec67e74e388/node/sync.go#L191，a pod not found in provider will be marked as failed. Thus, if a pod is deleted  in provider unintentio

[2021-08-16 21:42] cpuguy83 commented on #978
What are you hoping to see happen?

If we have a pod in k8s that we cannot reconcile with the provider, that is a failure.
Marking it as failed allows, for instance, the deployment controller to create a new pod to replace it.

[2021-10-19 07:29] cbsfly opened #981 "I want to know whether virtual kubelet supports multiple replicas?"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details

### Repo Steps

[2021-10-20 02:22] cpuguy83 commented on #981
Virtual kubelet just runs pods.
Deployments are managed by the deployment controller and scheduler.
If the scheduler schedules a pod to vk, vk will try to run it.

[2021-10-20 13:32] cpuguy83 commented on #981
You can run multiple VK instances on the cluster as separate nodes, though.

[2021-10-21 02:50] cpuguy83 commented on #981
I think I see what you are asking now...

In theory you could create multiple nodes using a deployment but you would need to set the node name differently for each replica.

[2021-10-21 03:05] cbsfly commented on #981
/close

[2021-11-03 06:23] shsjshentao opened #982 "graceful deletion bug caused by #835"
I think it should not ignore podStatus change when enqueue.

If i set graceful deletion and delete pod, then all containers has exicted in advance, it should kill now instead of waiting graceful deletion.

I suggest revert this commit or let pod status of all containers died  pass.

[2021-11-22 04:08] fishman opened #986 "ACI Provider does not handle empty string secrets well"
### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
Master

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm Chart

###Issue Details

When I create a gitlab ci runner with an empty variable in the secrets it causes the following error

`  Warning  ProviderCreateFailed  44s (x17 over 11m)  virtual-node-aci-l

[2021-11-22 04:13] fishman commented on #986
Looks similar to #296

[2021-11-22 04:21] fishman commented on #986
Moved to https://github.com/virtual-kubelet/azure-aci/issues/175

[2021-11-22 04:21] #986 closed

[2021-12-25 09:50] cbsfly opened #989 "why force delete not running pod ?"
[code]

I want konw why force delete pod from apiserver but not call provider.DeletePod if pod is not running?
for example, i create a pod but is not running quickly, then i delete this pod, it will force delete but provider could not know

@cpuguy83

[2022-02-04 17:56] caniszczyk opened #992 "move to EasyCLA"
The LF has a new CLA system to replace the old one, we are asking all CNCF projects to move to it

[2022-02-04 17:56] caniszczyk commented on #992
@idvoretskyi will work with the project over the next week

[2022-02-07 10:15] ansjin opened #993 "Creation of a new provider"
---

### Environment summary

New Provider

### Issue Details

Hello,

I have created a new provider, and currently I am using it in place of the [mock](https://github.com/virtual-kubelet/virtual-kubelet/tree/master/cmd/virtual-kubelet/internal/provider) provider within virtual-kubelet repository.
I am testing it using `make skaffold` and is part of local virtual-kubelet repository.

However, I wa

[2022-03-05 08:11] alexellis commented on #13
@khenidak @rbitia not sure if you're both still working on this project, so excuse the ping if not.

What's the current state and recommendation for networking? I couldn't find details in the docs, I see good info on how to deploy a Pod, but not on how to make it accessible, or to access it in some way in a new Virtual Kubelet provider.

Thanks in advance

[2022-03-29 07:55] cheimu commented on #993
Use this repo: https://github.com/virtual-kubelet/node-cli

[2022-03-29 08:08] cheimu commented on #864
Hi, you can try to use k8s [csr](https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/)  to achieve it.
1. generate private key and content using
[code]
2. create csr, approve csr, and extract certificate
[code]
3. prepare cluster ca and set environment variable which is used when initialize virtual kubelet
[code]

[2022-05-02 21:42] cpuguy83 commented on #993
The godoc should give you what you need here.
I would recommend to look in at https://godoc.org/github.com/virtual-kubelet/virtual-kubelet/node/nodeutil which provides a nice higher-level integration point.

https://github.com/virtual-kubelet/node-cli is also available to get something up quickly.

[2022-05-02 21:42] #993 closed

[2022-05-02 21:42] cpuguy83 commented on #992
I believe this work is done, so closing this out.
Thanks!

[2022-05-02 21:42] #992 closed

[2022-05-02 21:47] cpuguy83 commented on #989
@cbsfly I could be mistaken, but I think in this case we should get the delete notification once the informer gets the event?

[2022-05-02 21:49] cpuguy83 commented on #956
If someone wants to make a PR to the release branch I'd be ok with it.

[2022-05-04 20:06] cpuguy83 commented on #655
This was added in node/nodeutil

[2022-05-04 20:06] #655 closed

[2022-05-05 02:20] cbsfly commented on #989
@cpuguy83 thanks your answer
but according to the logic of the native code, even if the informer gets the delete event, it will first join the syncPodsFromKubernetes queue (https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/podcontroller.go#L384)
It will eventually enter the syncPodInProvider function (https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/podcontroll

[2022-05-26 17:21] cpuguy83 opened #995 "Fix CI"
Circle CI is not triggering.
It would be nice to just move this over to github actions (which is part of the CNCF plan anyway).

[2022-05-26 17:35] cpuguy83 opened #996 "Dependabot"
We should keep deps up to date, dependabot can help.

[2022-05-26 17:39] cpuguy83 opened #997 "Update Kubernetes client-go"
We are way behind on client-go

[2022-05-26 17:42] cpuguy83 commented on #81
Closing this since VK can't really do conformance testing since it is just a library, this is going to require a particular provider to do that conformance.

[2022-05-26 17:42] #81 closed

[2022-05-26 17:45] cpuguy83 opened #998 "Downward API gotchas"
Today we support downard API, however there are some gotachas:

1. We are not telling the provider about updates to resources like configmaps/secrets
2. We cannot support some things like pod IP

I propose that we deprecate downard API support in VK core and instead provide libraries for downward API resolution that providers can use.

[2022-05-26 17:46] cpuguy83 commented on #123
Closing this since we've supported downard API for some time now, but there are some gotchas that are not easily resolved.
As such I opened a new issue: #998

[2022-05-26 17:46] #123 closed

[2022-05-26 17:46] cpuguy83 commented on #158
Closing in favor of #998

[2022-05-26 17:46] #158 closed

[2022-05-26 17:49] cpuguy83 commented on #167
Closing since this is not something we can support in the VK core.
Each provider will need to figure out how to support volumes for their own provider because it is provider specific.
We may be able to come up with something like a generic way to support, for instance, CSI that providers could use however the core VK runtime cannot directly handle volumes.

[2022-05-26 17:49] #167 closed

[2022-05-26 18:03] cpuguy83 commented on #170
Discussing this some more with azure-aci maintainers.
It looks like at this point what we need to do in the VK core is add a config option here https://github.com/virtual-kubelet/virtual-kubelet/blob/410e05878a80b9ce5e95efcfe40f801c57cdc144/node/api/server.go#L36-L46
as well as the appropriate route handling, but it will be up to the provider to wire that up.
This is very similar to how `kubectl e

[2022-05-26 18:38] pires commented on #170
Unless I'm missing something, this is not something you can handle w/ HTTP/1 like we do for `kubectl logs` (eg https://github.com/virtual-kubelet/systemk/pull/69 and https://github.com/virtual-kubelet/systemk/pull/70), since `port-forwarding and exec are bidireccional, while logs is request-response. Therefore, I think VK would require SPDY or maybe WebSockets (it's coming!! https://github.com/kub

[2022-05-26 22:31] cpuguy83 commented on #170
Correct the portfoward enpoint does is similar what the exec endpoint does: https://github.com/kubernetes/kubernetes/blob/fbffe056dd03bd9c746e8819ad22043d640a4489/pkg/kubelet/cri/streaming/portforward/portforward.go#L41-L53

Note that we already support exec.

[2022-06-05 23:39] ameyaagashe commented on #367
Is there support for Persistent Storage for Virtual Nodes or atleast if we can have a roadmap when it would be available?

[2022-06-08 11:24] yevgenypats commented on #747
Closing as fuzzit was acquired by GitLab

[2022-06-08 11:24] #747 closed

[2022-06-09 09:59] yabuchan commented on #997
Hi @cpuguy83, not only client-go but also k8s.io/api, k8s.io/apimachinery, and k8s.io/apiserver are also outdated.
May I send PR for this?

[2022-06-22 04:00] eagle9527 opened #1002 "unknown error"
I don't know. Where did this go wrong

[code]

[2022-06-23 09:57] #1002 closed

[2022-06-23 17:21] cpuguy83 opened #1003 "Improve e2e setup"
e2e tests currently have some hard-coded things for minikube and some specific docker contexts (e.g. docker-desktop) that makes it difficult to run in other environments.

It would be really awesome to have this be more generic and easier to get going.

[2022-06-23 17:28] cpuguy83 commented on #283
Discussing this on the VK community call:

It seems like the scheduler would be tracking the resource requests compared to what is advertised by the provider (e.g. what we set in the node object).
Maybe you can explain more what you are expecting to see?

Thanks!

[2022-06-23 17:37] cpuguy83 commented on #321
So it seems like a work-around for this can be made for some specific cases such as the azure-aci provider could return an instance ID that the azure cloud provider implementation can know how to deal with?

[2022-06-23 17:45] cpuguy83 commented on #418
Talking about this on the on the VK community call:

We should probably add opentelemetry support (and replace/augment existing opencensus support) to track the metrics.
Potentially we could add a way to attach a metrics HTTP handler to VK's HTTP server (optionally).

[2022-06-23 17:47] cpuguy83 opened #1005 "Add opentelemetry as tracing provider"
See the [trace package](https://github.com/virtual-kubelet/virtual-kubelet/tree/master/trace) which currently defines an interface as well as an opencensus implementation.

[2022-06-23 17:51] cpuguy83 commented on #428
Discussed on the VK community call:

Looks like this was promoted to GA: https://github.com/kubernetes/kubernetes/pull/92165

Seems like a good enhancement.

[2022-06-23 19:15] mxplusb commented on #1003
Would it be reasonable to replace `make` integration with [`mage`](https://magefile.org/)? It would make the build + test process a lot easier to manage and understand

[2022-06-30 19:22] tylerauerbeck commented on #995
@cpuguy83 I can take a look at this if nobody else is.

[2022-07-01 16:48] cpuguy83 commented on #995
@tylerauerbeck Thanks! Would love the help.

[2022-07-18 00:27] vincent-pli opened #1008 "Seems people do not working/maintain this project anymore, but why"
I'm curious that, seems people do not working here anymore. I have a little confuse, actually I think this project is great and usful, is that the reason the project is marure? or good enough, may I missing something?

[2022-07-18 00:44] vincent-pli commented on #1002
How do you resolve this problem, I hit same one @eagle9527

[2022-07-20 20:07] akonyer opened #1010 "Old installations of virtual-kubelet stopped working from helm charts"
---

### Environment summary
Kubernets

Provider (e.g. ACI, AWS Fargate)
Azure AKS

Version (e.g. 0.1, 0.2-beta)
1.4.1

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details

We used helm from this chart to install this previously:

https://virtual-kubelet.io/docs/usage/
The instructions on this website are still telling users to install this using

[2022-07-26 05:13] vincent-pli opened #1011 "How to handle status.hostIP status.hostIP"
---

### Environment summary
KinD v0.14.0
Provider (e.g. ACI, AWS Fargate)
mock
Version (e.g. 0.1, 0.2-beta)
master branch
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )
build from resource, run /bin/virtual-kubelet
### Issue Details
Seems we cannot handle downward API: `status.hostIP`, `status.podID`
will raise exception:
[code]
it raise the error at `podcont

[2022-08-17 16:09] MRVIOLETZ commented on #123
Hi.i'm interested

[2022-08-19 05:11] yueyongyue commented on #1002
How do you resolve this problem, I hit same one @eagle9527

[2022-08-19 20:36] pires opened #1012 "Support Bound Service Account t Token"
In Kubernetes 1.24, Service Account tokens will no longer be generated automatically and served through Secrets. Therefore, VK will stop being able to deliver said tokens.

IIUC, VK has to support TokenRequest API in order to request tokens for Pods bound to the VK instance. For more info, read
https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/1205-bound-service-account-tokens#a

[2022-08-31 01:03] #1010 closed

[2022-08-31 18:00] #995 closed

[2022-08-31 18:29] #1005 closed

[2022-08-31 18:38] helayoty commented on #998
@Fei-Guo

[2022-08-31 18:40] #996 closed

[2022-09-01 22:59] helayoty opened #1032 "Add an interface or a library to enables providers implement downward API"
_Originally posted by @cpuguy83 in https://github.com/virtual-kubelet/virtual-kubelet/issues/999#issuecomment-1233336562_

[2022-09-20 08:30] LuBingtan opened #1040 "Panic when using mock provider"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate): mock

Version (e.g. 0.1, 0.2-beta): master(latest)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): Bare Metal

Install Method (e.g. Helm Chart, ): Building from source

### Issue Details
I tried to run virtual kubelet with mock provider, and got erros:
[code]

### Repro steps
Provider config (mock_config.json):
[code]

Set environm

[2022-09-20 09:03] LuBingtan commented on #1040
It seems that the root case is [here](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/node/nodeutil/controller.go#L309). The `cfg.Client`  is used by `opts` func before initialization.

https://github.com/virtual-kubelet/virtual-kubelet/blob/fca742986c0f15929226b21ddbaf1b1ce58ba0f2/node/nodeutil/controller.go#L309-L325

[2022-09-27 16:49] cpuguy83 commented on #1040
Yeah.... I think we can do something like pre-initialize a default client before options are run.
Did you want to make a PR for that?

[2022-09-28 01:45] LuBingtan commented on #1040
yes, I'd like to make a PR

[2022-09-29 02:01] LuBingtan commented on #1040
@cpuguy83
Hi, I opened this PR https://github.com/virtual-kubelet/virtual-kubelet/pull/1043
PTAL

[2022-09-29 22:33] Sharathmk99 commented on #812
@pires can you share any example implementation of volcano with VK?

[2022-09-29 22:49] nate-double-u opened #1044 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-09-29 22:51] nate-double-u commented on #1044
Hi, this is something I can help with, but it looks like only CNCF folks are administrators on your Netlify team.

We should add at least one maintainer to this team, is there anyone for whom that would be an appropriate role? (any volunteers?)

[2022-09-30 16:08] #1040 closed, assigned to nobody

[2022-09-30 21:06] cpuguy83 commented on #1044
/cc @helayoty

[2022-09-30 21:08] helayoty commented on #1044
Hey, yes I can volunteer.

[2022-09-30 21:09] cpuguy83 commented on #812
I'm going to go ahead and close this issue.
There is nothing actionable here, and I have not seen anything going on here.

I think it would be best if someone does work on this integration to do so in a separate repo and if there are issues or changes required in VK a new issue can be opened here.

Thanks!

[2022-09-30 21:09] #812 closed

[2022-10-03 17:20] nate-double-u commented on #1044
@cpuguy83, @helayoty, I'm happy to invite. Please let me know which email address to use (either here, or in the CNCF slack)

[2022-10-04 15:47] helayoty commented on #1044
hebaelayoty@gmail.com

[2022-10-04 17:28] khagerma opened #1045 "Memory Leak in syncProviderWrapper"
TL;DR: The deletePods map in syncProviderWrapper grows without bounds.

In addition to this, the code which relies on deletePods only checks if the key exists, but the entire k8s Pod object is stored, amplifying the effects of this memory leak.

If it is not possible to automatically detect when pods are "gone forever", then pods should be removed from this list after some timeout (maybe 5 minutes

[2022-10-04 21:01] nate-double-u commented on #1044
invite sent!

[2022-10-04 23:25] helayoty commented on #998
@cpuguy83 any update on the downward interface?

[2022-10-05 01:25] cpuguy83 commented on #998
I don't plan to work on this.
I opened this issue to point towards for people looking to make contributions.

[2022-10-13 16:47] helayoty commented on #565
@atakanyenel @pires  I'd like to pick this work and continue the efforts. May I know the current progress?

[2022-10-13 18:34] pires commented on #565
Please, go ahead and pick it up if it's meaningful to you. IMO this is not a VK thing per se, but an accessory for operators deploying VK instances, so I suggest any work on this is to live outside this repo.

[2022-10-13 20:17] atakanyenel commented on #565
Feel free to take over the work. My thesis ended long ago and I don't work with Kubernetes anymore. Good luck :)

[2022-10-14 21:22] helayoty commented on #773
@sargun did we ever handle this? How can I help?

[2022-10-14 21:24] helayoty commented on #744
@sargun what is the status of this issue?

[2022-10-17 09:15] Mentality-is-better opened #1052 "How do I change the address of a <pause image tag> mirror"
How do I change the default pause image address of virtual-kubelet

virtual-kubelet has no specified parameter:
Flags:
      --cluster-domain string                 kubernetes cluster-domain (default is 'cluster.local') (default "cluster.local")
      --disable-taint                         disable the virtual-kubelet node taint
      --enable-node-lease                     use node leases (1.13)

[2022-10-17 09:16] Mentality-is-better commented on #1052
Our internal environment cannot access the external network and cannot obtain <<pause image>> images

[2022-10-20 01:01] #1052 closed

[2022-10-20 01:02] Mentality-is-better commented on #1052
Modify the containerd images

[2022-11-09 09:50] yueyongyue opened #1056 "How do I implement RunInContainer"
---
Provider  exec API return WebSocket， How do I implement RunInContainer？

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details

### Repo Steps

[2022-11-10 00:03] cpuguy83 commented on #1056
`RunInContainer` does not deal with any protocol level details, just stdio streams:

https://github.com/virtual-kubelet/virtual-kubelet/blob/704b01eac6bdf0472b9c93173e4cb64bd6e53e94/node/api/exec.go#L37-L43

The api handler in that same file deals with the websocket things.

[2022-11-23 00:24] nate-double-u commented on #1044
A friendly reminder that this needs to be updated. virtual-kublet.io builds will now fail if the image isn't updated.

[2022-11-24 16:11] skaegi commented on #997
I believe this should be closed now after https://github.com/virtual-kubelet/virtual-kubelet/pull/1042

[2022-11-24 19:24] #997 closed

[2022-11-26 20:41] Tanmoy741127 commented on #1003
Is anyone working on this issue ? If not , can anyone assign the issue .